{extend name="public/common"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.css">
<link rel="stylesheet" href="/home/css/approved/review1.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<style>
    body{overflow: initial;!important;font-size: 1.4rem;!important;background:#F5F5F5;}
</style>
{/block}

{block name="body"}
<div class="top">
    <div class="tab1"><img src="/home/images/approved/icon/1.png"/><span >新闻通知</span></div>
    <div class="tab2"><img src="/home/images/approved/icon/3.png"/><span >调解申请</span></div>
</div>

<div class="list-t-wrap">

    <!--新闻通知模块-->
    <div class="list-wrapper">
        <!--列表一定要放到容器内,因为会有一个div append到mui-scroll中,需要在底部才能起作用-->
        <div class="list-block" id="list-block-company">
            {notempty name="$list"}
            <ul class="views">
                {volist name="list" id="vo"}
                <li class="swipeout" style="margin-right: 3vw;">
                    <div class="swipeout-content" onclick="jump(this)">
                        <a href="{$vo.url}" class="list" style="width:100%;">
							<span class="yuan fl">
								<img class="yu lazy" data-original="{$vo.path}"  alt="" />
							</span>
                            <div class="fri fr">
                                <p class="title">{$vo.title}</p>
                                <span class="col" style="background-color: {$vo.color}">{$vo.status_text}</span>
                                <span class="time">{$vo.time}</span>
                            </div>
                        </a>
                    </div>
                </li>
                {/volist}

            </ul>
            {else/}
            <div id="nomessage">
                <img src="/home/images/nomessage.png" alt="无消息">
            </div>
            {/notempty}
        </div>
    </div>
    <!--调解申请模块-->
    <div class="apply">
        {notempty name="$list1"}
        <ul>
            {volist name="list1" id="vo"}
            <li class="swipeout clearfix" style="margin-right: 3vw;">
                <div class="swipeout-content" onclick="jump(this)">
                    <a href="{$vo.url}" class="list" style="width:100%;">
							<span class="yuan fl">
								<img class="yu lazy" data-original="{$vo.path}"  alt="" />
							</span>
                        <div class="fri fr">
                            <p class="title">{$vo.title}</p>
                            <span class="col" style="background-color: {$vo.color}">{$vo.status_text}</span>
                            <span class="time">{$vo.time}</span>
                        </div>
                    </a>
                </div>
            </li>
            {/volist}
        </ul>
        {else/}
        <div id="nomessage1">
            <img src="/home/images/nomessage.png" alt="无消息">
        </div>
        {/notempty}
    </div>
</div>
<!--加载更多-->
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>

    var scrollNow = true;

    var myApp=new Framework7;
    var $$=Dom7;
    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });

    var type= localStorage.getItem('num')==null?0:localStorage.getItem('num');
    // 初始化
    $(function () {
        $('.top>div').find("span").eq(type).click();
    });

    $(".list-t-wrap >div").hide();
    $(".list-t-wrap >div").eq(type).show();
    $('.top div').on('click',function(){
        var index=$(this).index();
        localStorage.setItem('num',index);
        $(".list-t-wrap>div").eq(index).show().siblings("div").hide();
        if(index == 0){
            $('.tab1 img').attr('src','/home/images/approved/icon/2.png');
            $('.tab2 img').attr('src','/home/images/approved/icon/3.png');
        }else{
            $('.tab1 img').attr('src','/home/images/approved/icon/1.png');
            $('.tab2 img').attr('src','/home/images/approved/icon/4.png');
        }
        $(this).siblings().find('span').removeClass('active');
        $(this).find('span').addClass('active');
        $(".tip,.loading").hide();
        loadScroll();
        $("img").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
        scrollNow = false;
    });

    // 初始化
    $(".top div").eq(type).click();

    //跳转新闻详情
    function jump(this_){
        var href = $(this_).find("a").attr("href");
        parent.location.href= href;
    }



    loadScroll();
    function loadScroll(){
        $(window).off("scroll").on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();

            if (type == 0) {
                var len = $('.views li').length;
                var type1 = 0;
                if (len >= 10) {
                    scrollNow = true;
                }
            }else {
                var len = $('.apply li').length;
                var type1 = 1;
                if (len >= 10) {
                    scrollNow = true;
                }
            }

            var tip = $(".tip");
            var loading = $('.loading');

            if(dh == end && scrollNow == true){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url: "{:Url('Audit/indexmore')}",
                    data:{
                        length: len,
                        type: type1,
                        status: 1
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.removeClass('hidden').show();
                    },
                    success:function(data){
                        console.log(data);
                        loading.addClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data);
                            if(data.data.length > 6){
                                tip.text('上拉加载更多');

                            }else{

                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                        } else {

                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if (type == 0) {
                html +='<li class="swipeout" style="margin-right: 3vw;">'+
                        '<div class="swipeout-content" onclick="jump(this)">'+
                        '<a href="'+list.url+'" class="list" style="width:100%;">'+
                        '<span class="yuan fl">'+
                        '<img class="yu lazy" data-original="'+list.path+'"  alt="" />'+
                        '</span>'+
                        '<div class="fri fr">'+
                        '<p class="title">'+list.title+'</p>'+
                        '<span class="col" style="background-color: '+list.color+'">'+list.status_text+'</span>'+
                        '<span class="time">'+list.time+'</span>'+
                        '</div>'+
                        '</a>'+
                        '</div>'+
                        '</li>';
            }
            else {
                html +='<li class="swipeout clearfix" style="margin-right: 3vw;">'+
                        '<div class="swipeout-content" onclick="jump(this)">'+
                        '<a href="'+list.url+'" class="list" style="width:100%;">'+
                        '<span class="yuan fl">'+
                        '<img class="yu lazy" data-original="'+list.path+'"  alt="" />'+
                        '</span>'+
                        '<div class="fri fr">'+
                        '<p class="title">'+list.title+'</p>'+
                        '<span class="col" style="background-color: '+list.color+'">'+list.status_text+'</span>'+
                        '<span class="time">'+list.time+'</span>'+
                        '</div>'+
                        '</a>'+
                        '</div>'+
                        '</li>';
            }
        }
        if (type == 0) {
            $(".views").append(html);
        }else {
            $(".apply").append(html);
        }
    }


</script>
{/block}