{extend name="public/common"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.css">
<link rel="stylesheet" href="/home/css/approved/review1.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<style>
	body{overflow: initial;!important;font-size: 1.4rem;!important;background:#F5F5F5;}
	body.stop-scrolling {overflow: initial;}
</style>
{/block}

{block name="body"}
<div class="top">
	<div class="tab1"><img src="/home/images/approved/icon/1.png"/><span >新闻通知</span></div>
	<div class="tab2"><img src="/home/images/approved/icon/3.png"/><span >调解申请</span></div>
</div>

<div class="list-t-wrap">

	<!--新闻通知模块-->
	<div class="list-wrapper" id="cccc">
		<!--列表一定要放到容器内,因为会有一个div append到mui-scroll中,需要在底部才能起作用-->
		<div class="list-block" id="list-block-company">
			{notempty name="$list"}
			<div style="width:100vw;height:5.55vh;line-height: 5.55vh;color: #999;font-size: .3rem;text-align: center;background: #eee;" class="top1"><img src="/home/images/approved/icon_left.png" style="width:.34rem;vertical-align: middle;"> 向左滑动</div>
			<ul class="views">
				{volist name="list" id="vo"}
				<li class="swipeout" style="margin-right: 3vw;">
					<div class="swipeout-content" onclick="jump(this)">
						<a href="{$vo.url}" class="list" style="width:100%;">
							<span class="yuan fl">
								<img class="yu lazy" data-original="{$vo.path}"  alt="" />
							</span>
							<div class="fri fr">
								<p class="title">{$vo.title}</p>
									<span class="biao">【{$vo.pre}】</span>
									<span class="time">{$vo.time}</span>
							</div>
						</a>
					</div>
					<div class="swipeout-actions-right">
						<a class="green" onclick='dispose1(this,{$vo.id},1,0)'>同 意</a>
						<a class="red" onclick='dispose(this,{$vo.id},-1,0)'>不同意</a>
					</div>
				</li>
				{/volist}

			</ul>
			{else/}
			<div id="nomessage">
				<img src="/home/images/nomessage.png" alt="无消息">
			</div>
			{/notempty}
		</div>
	</div>
	<!--调解申请模块-->
	<div class="apply">
		{notempty name="$list1"}
		<ul>
			{volist name="list1" id="vo"}
			<li class="lists celarfix" onclick="change(this)">
				<a href="{$vo.url}">
					<div class="fle1"><img class="tu image" data-original="{$vo.path}" src="/home/images/loading.jpg"  alt=""/></div>
					<div class="fri1">
						<p class="title1">{$vo.title}</p>
						<span class="time1">{$vo.time}</span>
					</div>
				</a>
			</li>
			{/volist}
		</ul>
		{else/}
		<div id="nomessage1">
			<img src="/home/images/nomessage.png" alt="无消息">
		</div>
		{/notempty}
	</div>

</div>
<!--加载更多-->
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>
	var scrollNow = false;

	//没有消息显示无消息提醒
	function check() {
		if ($(".list-block").find("li").length == 0) {
	        $(".list-block").append('<div id="nomessage"><img src="/home/images/nomessage.png" alt="无消息"></div>');
			$(".top1").hide();
		}
		else {
			$(".top").show();
		}
	}

var myApp=new Framework7;
var $$=Dom7;
$(document).scroll(function() {
    $("img").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold: 1
    });
});

 	var type= localStorage.getItem('num')==null?0:localStorage.getItem('num');


	$(".list-t-wrap >div").hide();
	$(".list-t-wrap >div").eq(type).show();

	$('.top div').on('click',function(){
		var index=$(this).index();
		localStorage.setItem('num',index);
		$(".list-t-wrap>div").eq(index).show().siblings("div").hide();
		if(index == 0){
			$('.tab1 img').attr('src','/home/images/approved/icon/2.png');
			$('.tab2 img').attr('src','/home/images/approved/icon/3.png');
		}else{
			$('.tab1 img').attr('src','/home/images/approved/icon/1.png');
			$('.tab2 img').attr('src','/home/images/approved/icon/4.png');
		}
		$(this).siblings().find('span').removeClass('active');
		$(this).find('span').addClass('active');
		$(".tip,.loading").hide();
        $(window ).scrollTop("0");
		type= localStorage.getItem('num');
		loadScroll();
		$("img").lazyload({
			placeholder: "/home/images/loading.jpg",
			effect: "fadeIn",
			threshold: 1
		});
		scrollNow = false;
	});

	// 初始化
	$(".top div").eq(type).click();

//跳转新闻详情
function jump(this_){
	var href = $(this_).find("a").attr("href");
	parent.location.href= href;
}
//同意操作
function dispose1(i,id,status,type){
    swal({
        title: ' ',
        text: '确认当前操作吗？',
        type: 'warning',
        confirmButtonText:'确定',
        showCancelButton:true,
        cancelButtonText:'取消'
    },function(isConfirm){
        //确认之后执行函数
        if (isConfirm) {
            $.ajax({
                type: "post",
                url: "{:Url('Audit/review')}",
                data: {
                    id: id,
                    status:status
                },
                success: function(data){
                    //成功后刷新页面
                    if(data.code == 1){
                        //swal回调里继续使用swal有时不会被触发
                        setTimeout(function(){
							swal({
								title: ' ',
								text: '操作成功!',
								type: 'success',
								confirmButtonText:'确定',
								timer: 1500
							});
							setTimeout(function () {
								//未审核页面有操作,审核页面用来判断刷新
								sessionStorage.setItem("review","true");
								$(i).parent().parent().fadeOut(500);
								$(i).parent().parent().remove();
								//判断是否还有消息
								check();
								// 加载操作
								loadScroll();
							},1500)
                        },200);
                    }
                    else{
						setTimeout(function(){
							swal({
								title: ' ',
								text: '操作失败!',
								type: 'error',
								confirmButtonText:'确定',
								timer: 1500
							})
						},200);
                    }
                    $('html').css('overflow','initial');
                }
            })
        }
    });
	$('html').css('overflow','hidden');
}

    //不同意操作
function dispose(i,id,status,type){
	swal({
		title: ' ',
		text: '确认当前操作吗？',
		type: 'warning',
		confirmButtonText:'确定',
		showCancelButton:true,
		cancelButtonText:'取消'
	},function(isConfirm){
		//确认之后执行函数
		if (isConfirm) {
			$.ajax({
				type: "post",
				url: "{:Url('Audit/review')}",
				data: {
					id:id,
					status:status
				},
				success: function(data){
					//成功后刷新页面
					if(data.code == 1){
						setTimeout(function(){
							swal({
								title: ' ',
								text: '操作成功!',
								type: 'success',
								confirmButtonText:'确定',
								timer: 1500
							});
							setTimeout(function () {
								//未审核页面有操作,审核页面用来判断刷新
								sessionStorage.setItem("review","true");
								$(i).parent().parent().fadeOut(500);
								$(i).parent().parent().remove();
								// 判断是否还有消息
								check();
								// 加载操作
								loadScroll();
							},1500)
						},200);
					}else{
						setTimeout(function(){
                            swal({
								title: ' ',
								text: '操作失败!',
								type: 'error',
								confirmButtonText:'确定',
								timer: 1500
							})
						},200);
					}
                    $('html').css('overflow','initial');
				}
			})
		}
	});
    $('html').css('overflow','hidden');
}

function aleats(msg,status){
	swal({
		title: ' ',
		text: msg,
		type: status,
        confirmButtonText:'确定',
		showConfirmButton:false
	},function () {},
		function (dismiss) {
			if (dismiss === 'timer') {
				history.go(0);
			}
		})
}


loadScroll();
function loadScroll(){
    $(window).off("scroll").on("scroll",function(){
        var dh = $(document).height();
        var end = $(window).height() + $(window ).scrollTop();

		if (type == 0) {
			var len = $('.views li').length;
			var type1 = 0;
			if (len >= 10) {
				scrollNow = true;
			}
		}else {
			var len = $('.apply li').length;
			var type1 = 1;
			if (len >= 10) {
				scrollNow = true;
			}
		}
        var tip = $(".tip");
        var loading = $('.loading');

        if(dh == end && scrollNow == true){
            scrollNow = false;
            $.ajax({
                type:"post",
                url: "{:Url('Audit/indexmore')}",
                data:{
                    length: len,
					type: type1,
					status: 0
                },
                beforeSend: function(XMLHttpRequest){
                    tip.hide();
                    loading.removeClass('hidden').show();
                },
                success:function(data){
                    console.log(data);
                    loading.addClass('hidden');
                    tip.show();
                    if(data.code == 1){
                        addLists(data);
                        if(data.data.length == 5){
                            tip.text('上拉加载更多');

                        }else{

                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                    } else {

                        tip.text('没有更多了');
                        $(window ).off("scroll");
                    }
                    scrollNow = true;
                }
            })
        }
    })
}
function addLists(data){
    var html = '';
    var lists = data.data;
    var len = lists.length;
    for(var i = 0; i< len;i++){
        var list = lists[i];
        if (type == 0) {
			html +='<li class="swipeout" style="margin-right: 3vw;">'+
					'<div class="swipeout-content" onclick="jump(this)">'+
					'<a href="'+list.url+'" class="list" style="width:100%;">'+
					'<span class="yuan fl">'+
					'<img class="yu lazy" data-original="'+list.path+'"  alt="" />'+
					'</span>'+
					'<div class="fri fr">'+
					'<p class="title">'+list.title+'</p>'+
					'<span class="biao">【'+list.pre+'】</span>'+
					'<span class="time">'+list.time+'</span>'+
					'</div>'+
					'</a>'+
					'</div>'+
					'<div class="swipeout-actions-right">'+
					'<a class="green" onclick="dispose1(this,'+list.id+',1,0)">同 意</a>'+
					'<a class="red" onclick="dispose(this,'+list.id+',-1,0)">不同意</a>'+
					'</div>'+
					'</li>';
        }
		else {
			html += '<li class="lists clearfix" onclick="change(this)">'+
					'<a href="'+list.url+'">'+
					'<div class="fle1"><img class="tu image" data-original="'+list.path+'" src="/home/images/loading.jpg"  alt=""/></div>'+
					'<div class="fri1">'+
					'<p class="title1">'+list.title+'</p>'+
					'<span class="time1">'+list.time+'</span>'+
					'</div>'+
					'</a>'+
					'</li>';
		}
    }
	if (type == 0) {
	    $(".views").append(html);
	}else {
		$(".apply").append(html);
	}
}


function change(this_) {
	var href = $(this_).find("a").attr("href");
	window.location.href = href;
}

</script>
{/block}