body{
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: "Microsoft yahei",sans-serif;
}
.top{
	padding:2.2vh 0;
	width:100%;
	height:8.4vh;
	background:#f5f5f5;
	text-align: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.list-t-wrap {
	margin-top: 8.4vh;
}
.active{
	color:#DD5D3A;
}
.top div{
	color: #333333;
	padding:.75vh 0;
	font-size:.3rem;
	height:100%;
	width:49%;
	float:left;
	line-height: 100%;
	text-align: center;
}
.tab1{
	border-right:1px solid #D1D1D1
}
.tab1 img{
	width:4.8vw;
	height:2.25vh;
	margin-right:2.6vw;
   vertical-align: middle;
}
.tab2 img{
	width:3.5vw;
	height:2.25vh;
	margin-right:2.6vw;
	vertical-align: middle;
}
/*.tab1 span{*/
	/*padding-left:7vw;*/
	/*background: url('/home/images/approved/icon/1.png') no-repeat left .5vh ;*/
	/*background-size: 4.8vw 2.25vh;*/
/*}*/
/*.tab2 span{*/
	/*padding-left:7vw;*/
	/*background: url('/home/images/approved/icon/3.png') no-repeat left .5vh ;*/
	/*background-size: 3.5vw 2.25vh;*/
/*}*/
.list-block{
	background: #fff;
}
li {
	width:100%;
	height:20.4vh;
	/*margin: 2.6vw 0;*/
	background-color: #fff;
	/*height: 22vw;*/
}
li a {
	padding:3.2vw;
	border-bottom:1px solid #F5F5F5;
}
.list-block ul {
	background-color:  #fff;
}
.swipeout-content{
	height:100%;
	width:100%;
	padding-left:4vw;
	/*height:90px;*/
	/*padding-left: 10px;*/
}
.swipeout-content>img {
	border-radius: 4px;
	margin: 3vw;
	width: 21.3vw;
	height: 16vw;
	float: left;
}
.list{
	float:left;
	height: 100%;
	width: 61.7vw;
	position:relative;
}
.list .sent_time {
	display: block;
	width: 61.7vw;
	font-size: .24rem;
	color: #999;
	position:absolute;
	bottom: 6vw;
	margin-left: 20vw;
}
.yuan {
	width:24%;
	height:26.7vw;
	background: #eee;
}
.yuan img {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.fri{
	display: inline-block;
	width: 72%;
	height: 26.7vw;
	padding: 2vw 0 0 0;
	position: relative;
}
.title{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-bottom:1.1vh;
	font-size:.28rem;
	color:#333333;
}
.cont{
	font-size: .26rem;
	color:#666666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.bt{
    position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	height:2.25vh;
}
.biao{
	position: absolute;
	left:-2.1vw;
	bottom:2vw;
	font-size: .24rem;
	color:#333;
}
.time{
	position: absolute;
	bottom:2vw;
	right:0;
	font-size: .24rem;
	color: #999;
}
.apply{
	background: #fff;
}
.lists{
	height: auto;
}
.lists a {
	display:block;
	width:100%;
	height:13vh;
	padding: 4vw 2.25vh;
	border-bottom:1px solid #F5F5F5;
	position: relative;
}
.fle1{
	width:22.6vw;
	height:8.4vh;
	position: absolute;
	left:4vw;
	top:2.24vh;
}
.tu{
	width:100%;
	height:100%;
}
.fri1{
	width:65.3vw;
	height:8.4vh;
	position: absolute;
	right:4vw;
	top:2.24vh;
}
.title1{
	font-size: .3rem;
	color:#333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.time1{
	font-size: .26rem;
	color:#999;
	position: absolute;
	left:0;
	bottom:0;

}
.rights {
	position: absolute;
	right:8vw;
	height: 22vw;
	line-height: 22vw;
}
.rights img{
	width: 2.14vw;
	height: 2.4vh;
	vertical-align: middle;
}
.yuan.qingjia {background: #feae30}
.yuan.chuchai {background: #6fbbff}
.yuan.baoxiao {background: #978ac1}
.list .sent_time .name{
	display: inline-block;
	width: 35vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.list .sent_time>span:last-child{
	display:block;
	/*float:right;*/
}
.arrow{
	float:left;
	width: 11vw;
	height: 22vw;
}
.arrow>img{
	width: 5.3vw;
	height: 5.3vw;
	display: block;
	margin: 0 auto;
	margin-top: 9vw;
	/*margin-top:35px;*/
}
.list-block .swipeout-actions-right a {
	padding: 0 15px;
}
.green{
	background-color:#3bc355 !important;
}
.red{
	background-color:#cf3636!important;
}
.navTop{
	height:11.8vw;
	background-color:#fff;
}
.navTop>a{
	color: #666;
	font-size: .32rem;
	line-height: 11.8vw;
	display:block;
	float:left;
	width:50vw;
	text-align: center;
}
.navTop>img{
	width:5.4vw;
	height:5.4vw;
	position:absolute;
	right: 2.7vw;
	top:3.2vw;
	z-index:100;
}
.navTop>a.active{
	color:#ff7043;
}
.navTop>a.active:after{
	content:'';
	display:block;
	margin:0 auto;
	height:1px;
	width:21.3vw;
	border-bottom: 2px solid #ff7043;
	margin-top:-2px;
}
.weui_mask {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}
.list-block .swipeout-actions-left a, .list-block .swipeout-actions-right a {
	/*padding: 0 5.4vw;*/
	font-size: .3rem;
}
.initials{
	color:#666;
}
.swal2-container{
	z-index:10001;
}
.weui_dialog{
	width:70.6vw;
	border-radius: 1.6vw;
	z-index:10001;
}
.weui_dialog>.head{
	text-align: center;
	color:#333;
	font-size:.24rem;
}
.weui_dialog>.head>p{
	height:16vw;
	line-height: 16vw;
	font-size: .24rem;
	color:#333;
	margin:0;
}
.weui_dialog>.head>div{
	height:12vw;
	color:#999;
}
.weui_dialog_ft {
	margin: 0;
}
.weui_dialog_ft>a {
	height: 13.4vw;
	line-height: 13.4vw;
	font-size: .24rem;
	color:#333;
}
.red1{
	color:#e51c23!important;
}
.modal1{
	width: 100vw;
	min-height: 100vh;
	background-color:rgba(0,0,0,.3);
	position:absolute;
	z-index:100000;
	top:0;
	left:0;
}
.modal1>.icon1{
	width:100vw;
	height:auto;
}
.modal1>.close1{
	width:8vw;
	height:8vw;
	position:fixed;
	top:2.7vw;
	right:2.7vw;
}
.modal1>p{
	font-size: .24rem;
}
a:hover{
	text-decoration: none;
}
.page-content {
	background-color: rgba(0,0,0,.3);
	top:-12vw;
	z-index: 200;
	visibility: hidden;
	height:0;
}
.swiper-slide>span{
	font-size: .24rem;
}
.swiper-container {

}
.swiper-slide {
	background:#fff;
}
.swiper-slide img {
	text-align:center;
	display:block;
	height:97vh;
	width:97vw;
	margin:3vh auto 0;
}
.page-content>img{
	width:8vw;
	height:8vw;
	position:fixed;
	right:0;
	top:0;
	z-index: 400;
}
.list_{
	float:left;
	width:68vw;
	position:relative;
}
.list_ .title{
	font-size: .32rem;
	color: #111;
	margin: 1.4vw 2.7vw 0 2.7vw;
}
.content{
	min-height: 10.8vw;
	width:68vw;
	margin: 0 2.7vw;
	font-size: .26rem;
}
.list_ .open{
	height: 5.4vw;
	line-height: 5.4vw;
	text-align: center;
	color:#999999;
}
#nomessage,#nomessage1{
	padding-top: 26.7vw;
	margin-left: calc(50% - 13.4vw);
	display: none;
	min-height: 100vh;
	width: 100%;
}
#nomessage img,#nomessage1 img{
	width:26.7vw;
}

.col {
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 2vw;
	font-size: .24rem;
	padding: 1.1vw 2.7vw;
	border-radius: 5.4vw;
	background-color: #eee;
}