body {
  background: #f1f1f1;
}
.search {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  background: #f1f1f1;
}
.search input {
  position: absolute;
  top: 1.6vw;
  left: 3vw;
  width: 94vw;
  height: 8.6vw;
  padding-left: 8vw;
  -webkit-border-radius: 2.2vw;
  border-radius: 2.2vw;
}
.search .fa-search {
  z-index: 1;
  position: absolute;
  top: 4vw;
  left: 6vw;
  color: #aeaeae;
}
.results {
  position: absolute;
  left: 0;
  top: 12vw;
  z-index: 2;
  width: 100%;
}
.results .result {
  display: inline-block;
  width: 100vw;
  height: 38px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 6vw;
  line-height: 38px;
  color: #666666;
  border-bottom: 1px solid #f1f1f1;
}
.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48vw;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.banner .banner-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 10.7vw;
  background: rgba(51, 51, 51, 0.6);
}
.banner .banner-info {
  position: absolute;
  bottom: 0;
  left: 4vw;
  width: 70%;
  height: 10.7vw;
  color: #ffffff;
  font-size: .3rem;
  line-height: 10.7vw;
}
.lists-title {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10.7vw;
  padding: 0 3vw;
  background: #ffffff;
  color: #666666;
  line-height: 10.7vw;
  font-size: .24rem;
}
.lists-title:before {
  position: absolute;
  top: 3.2vw;
  left: 0;
  content: '';
  width: 1.1vw;
  height: 4.3vw;
  background: red;
}
.lists-title .fr {
  color: #333333;
}
.lists {
  width: 100vw;
  padding: 0 0 0 5vw;
  background: #ffffff;
}
.lists .list {
  display: inline-block;
  width: 27vw;
  margin-right: 3.5vw;
  margin-bottom: 2.7vw;
  text-align: left;
}
.lists .list .list-img {
  width: 100%;
  height: 40vw;
}
.lists .list .list-title {
  color: #333333;
  font-size: .32rem;
  line-height: 7vw;
}
.lists .list .list-summary {
  color: #999999;
  font-size: .24rem;
  line-height: 4.3vw;
}
.listsline {
  margin-top: 2.7vw;
}
.swiper-pagination-bullets {
  text-align: right;
  padding: 0 3.5vw;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.95);
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.6);
}
