@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
/*音乐*/
.music {
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 3.5vw;
}
.music .title {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.music .title p {
  width: auto;
  text-align: left;
  display: inline-block;
}
.music .time {
  width: 100%;
  color: #999999;
  font-size: 1.2rem;
  line-height: 7vw;
  border-bottom: 1px solid #f1f1f1;
  margin-top: 2.7vw;
}
.music .time span {
  margin-right: 2.7vw;
}
.music .content {
  width: 100%;
  overflow: hidden;
  color: #666666;
}
.music .content * {
  max-width: 100%!important;
}
.music .content p span {
  background: transparent!important;
}
.music .content img {
  display: block;
  max-width: 100%!important;
  margin-bottom: 3.5vw;
}
.music .content iframe {
  width: 100vw!important;
  height: 25vw!important;
}
.music .content .note {
  color: #666666;
  font-size: 1.4rem;
  float: right;
}
.music .content .note span {
  height: 10.7vw;
  display: inline-block;
  margin-right: 2.7vw;
  line-height: 10.7vw;
}
.music .content .note span:last-child{
  margin-right: 0;
}
.music .content .note .read {
  background: url('/home/images/news/scan_.png') 0 3.2vw no-repeat;
  background-size: 4vw 4vw;
  padding-left: 4.8vw;
}
.music .content .note .good {
  background: url('/home/images/news/good.png') 0 3.2vw no-repeat;
}
.music .content .note .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/news/good_.png') 0 3.2vw no-repeat;
}
.music .content .note .isgood {
  background-size: 4vw 4vw;
  padding-left: 4.8vw;
}
/*评论*/
.comment {
  padding-bottom: 13.5vw;
}
.comment .sum {
  height: 8vw;
  padding-left: 2.7vw;
  background: #fcfcfc;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.2rem;
  line-height: 8vw;
}
.comment .lists .list {
  width: 100%;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  min-height: 26.7vw;
  border-bottom: 1px solid #f1f1f1;
}
.comment .lists .list .fl img {
  width: 10.7vw;
  height: 10.7vw;
  margin-top: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comment .lists .list .mid {
  width: 73%;
}
.comment .lists .list .mid .name {
  width: 100%;
  margin-top: 3vw;
  color: #999999;
}
.comment .lists .list .mid .content {
  width: 100%;
  word-break: break-all;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.comment .lists .list .mid .time {
  font-size: 1.2rem;
  line-height: 5.4vw;
  color: #999;
}
.comment .lists .list .fr {
  margin-top:3vw;
  color: #999;
}
.comment .lists .list .good {
  background: url('/home/images/news/good.png') 0 2px no-repeat;
}
.comment .lists .list .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/news/good_.png') 0 2px no-repeat;
}
.comment .lists .list .isgood {
  background-size: 4vw 4vw;
  padding-left: 4.8vw;
}
.comment .tip {
  height: 10.7vw;
  text-align: center;
  line-height: 10.7vw;
  color: #c1c1c1;
}
/*底部*/
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vw;
  border-top: 1px solid #dadada;
  padding:0 3vw;
  background: #ffffff;
  font-family: "Microsoft YaHei", sans-serif;
}
.bottom .star {
  background: url('/home/images/detail/star-border.png') 5.4vw 3.2vw no-repeat;
}
.bottom .star_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/star-yellow.png') 5.4vw 3.2vw no-repeat;
}
.bottom .collect {
  width: 16vw;
  height: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-size: 5.4vw 5.4vw;
  padding-top: 6.4vw;
}
.bottom .myword input {
  vertical-align: middle;
  height: 8vw;
  width: 94vw;
  margin: 1.9vw 0;
  padding-left: 2.7vw;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 1.6vw;
  border-radius: 1.6vw;
}
input::-webkit-input-placeholder{
  color: #000;
}
.bottom .send {
  width: 19vw;
  padding-left: 4vw;
  padding-right: 4vw;
  line-height: 12vw;
  text-align: center;
}
.bottom .send:active {
  background: #fafafa;
}
/*加载动画*/
.loading {
  width: 100%;
  height: 10.7vw;
}
.typing_loader {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 4.6vw;
  left: 46vw;
}
