body {
  background: #eeeee3;
}
.title {
  width: 86vw;
  height: 13.9vw;
  margin: 0 auto;
  border-bottom: 2px solid #556f7b;
  font-size: .34rem;
  line-height: 13.9vw;
  text-align: center;
}
.list {
  width: 90vw;
  margin: 4vw auto;
}
.list .content {
  text-indent: 2em;
  font-size: .28rem;
  line-height: 6.4vw;
}
.list .author {
  width: 100%;
  color: #556f7b;
  text-align: right;
  line-height: 10.2vw;
  font-size: .24rem;
}
