@keyframes todown {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(60deg);
  }
  90% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes todown {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(60deg);
  }
  90% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes toup {
  0% {
    transform: rotate(90deg);
  }
  10% {
    transform: rotate(75deg);
  }
  30% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes toup {
  0% {
    transform: rotate(90deg);
  }
  10% {
    transform: rotate(75deg);
  }
  30% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
a:active {
  background-color: #f7f7f7;
}
body {
  overflow-x: hidden;
}
.banner {
  width: 100vw;
  height: 50vw;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.tabs {
  width: 100vw;
  height: 12vw;
  padding: 2vw 0;
  background: #f1f1f1;
}
.tabs .tab {
  display: inline-block;
  width: 49vw;
  height: 100%;
  color: #333333;
  font-size: 1.64rem;
  line-height: 9vw;
  text-align: center;
}
.tabs .tab:first-child {
  border-right: 1px solid #e5e5e5;
}
.tabs .tab:nth-child(2) {
  /*border-right: 1px solid #e5e5e5;*/
}
.icon {
  display: inline-block;
  width: 6vw;
  height: 6vw;
}
.icon:nth-of-type(2n+1){
  background: url("/home/images/structure/jg.png") no-repeat;
  background-size: 6vw 6vw;
}
.icon:nth-of-type(2n) {
  background: url("/home/images/structure/jg_1.png") no-repeat;
  background-size: 6vw 6vw;
}
.tabs .active {
  color: #fd6743;
}
.listbox {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 64vw;
}
.listbox .box {
  position: absolute;
  top: 0;
  width: 99vw;
}
.listbox .box .box_ {
  position: relative;
  top: 0;
  left: 0;
  width: 94vw;
  margin: 0 auto;
  /*margin: 4vw 5vw 0 5vw;*/
  padding-top: 3vw;
  /*box-shadow: 1px 3px 8px rgba(102, 102, 102, 0.2);*/
  /*-webkit-border-radius: 8px;*/
  /*border-radius: 8px;*/
}
.branch_history {
  width: 100%;
}
.branch_history .branch_history_s {
  width: 100%;
  border-bottom: 1px dotted #bbb;
}
.branch_history .branch_history_s>div {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #ff5722;
  font-size: 1.7rem;
  margin: 2vw 0;
}
.branch_history .branch_history_s>div:first-of-type {
  border-right: 1px solid #eee;
}
/*.branch_history_x .devol_time {
  width: 44%;
  text-align: center;
  padding-top: 2vw;
  position: relative;
  font-size: 1.7rem;
}
.branch_history_x .devol_lists {
  width: 10%;
  text-align: center;
  padding-top: 8vw;
}
.devol_lists>span {
  display: inline-block;
  margin-top: -2vw;
}
.devol_lists .devol_clicle {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  background-color: #EEEEEE;
  border-radius: 50%;
  z-index: 7;
  opacity: 1;
  pointer-events: auto;
}
.devol_lists>span:first-of-type .devol_clicle,
.devol_lists>span:nth-of-type(2) .devol_clicle {
  background-color: #f00521;
}
.devol_lists .devol_rectangle {
  margin-top: -2vw;
  display: inline-block;
  width: 3vw;
  height: 22vw;
  background-color: #eeeeee;
  text-align: center;
  z-index: 7;
  opacity: 1;
  pointer-events: auto;
}
.devol_lists>span:first-of-type .devol_rectangle {
  background-color: #f00521;
}
.branch_history_x .devol_experience {
  width: 45%;
  text-align: center;
  padding-top: 33vw;
  font-size: 1.7rem;
}*/

.listbox .box .box_:last-child {
  margin-bottom: 5vw;
}
.listbox .box .box_:before {
  /*content: '中心概况';*/
  content: "";
  /*position: absolute;
  top: 3vw;
  left: -7px;
  width: 76px;
  height: 30px;
  background: url('/home/images/structure/tag.png') 0 0 no-repeat;
  background-size: 76px 30px;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 22px;*/
}
.listbox .box .box_.or:before {
  content: '组织架构';
  font-size: 1.46rem;
}
.listbox .box .box_.summary {
  padding: 11vw 3vw 6vw 3vw;
}
.listbox .box .box_.summary p {
  margin-top: 2vw;
  text-indent: 2em;
  font-size: 13px;
  line-height: 20px;
}
.listbox .box .box_ .lists {
  padding: 13px;
  color: #333333;
  font-size: 14px;
}
.listbox .box .box_ .lists .name1 {
  display: inline-block;
  width: 100%;
  /*height: 12vw;*/
  font-size: 1.64rem;
  /*line-height: 12vw;*/
  border-bottom: 1px solid #f1f1f1;
  padding: 3vw 0;
}
.name1 p{
  display: inline-block;
  margin-left: 2vw;
  /*margin-top: -2vw;*/
  font-size: 1.64rem;
  line-height: 6vw;
}
.listbox .box .box_ .lists .party1 {
  position: relative;
  top: 0;
  font-size: 1.6rem;
  padding-left: 15px;
  line-height: 30px;
}
.listbox .box .box_ .lists .party1 a{
  color: #333;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.listbox .box .box_ .lists .party1 .tri {
  position: absolute;
  top: 15px;
  left: 0;
  content: '';
  height: 10px;
  width: 10px;
  background: url('/home/images/structure/tri.png') 0 0 no-repeat;
  background-size: 10px 10px;
}
.listbox .box .box_ .lists .detail1 {
  display: none;
  width: 100%;
}
.listbox .box .box_ .lists .detail1 .name2 {
  display: inline-block;
  width: 90%;
  height: 45px;
  margin-left: 30px;
  font-size: 14px;
  color: #333333;
  line-height: 45px;
  border-bottom: 1px solid #f1f1f1;
}
@media screen and (max-width: 320px) {
  .listbox .box .box_ .lists .detail1 .name2 {
    font-size: 12px;
  }
}
.listbox .box .box_ .lists .todown {
  -webkit-animation: todown 0.4s linear alternate;
  animation: todown 0.4s linear alternate;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.listbox .box .box_ .lists .toup {
  -webkit-animation: toup 0.4s linear alternate;
  animation: toup 0.4s linear alternate;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.listbox .town {
  left: 0;
}
.listbox .service {
  left: 100vw;
}
.listbox .vr {
  left: 200vw;
}
.listbox .vr a {
  display: inline-block;
  width: 100vw;
}
.listbox .vr .title {
  width: 100vw;
  font-size: 1.6rem;
  color: #333333;
  line-height: 60px;
  text-align: center;
}
.listbox .vr img {
  margin: 5vw 10vw;
  width: 80vw;
}
.table .party {
  width: 40vw;
}
.table .position {
  width: 30vw;
}
.table .name {
  width: 30vw;
}
.table .thead .th {
  display: inline-block;
  height: 46px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Microsoft YaHei", sans-serif;
  line-height: 46px;
  text-align: center;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.table .tbody {
  height: 100%;
}
.table .tbody .tb {
  padding: 50px 10px;
  font-size: 1.3rem;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.table .tbody .tb span {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.table .tbody .party {
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
}
.table .tbody .party span {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  line-height: 20px;
}
.d_list {
  border-bottom: 1px solid #f5f5f5;
  padding: 4vw;
}
.d_list>div {
  display: inline-block;
}
.d_img_box {
  margin-right: 4vw;
}
.d_img_box .d_img {
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  border-radius: 5px;
}
.d_name {
  font-size: 1.64rem;
  font-weight: bold;
  line-height: 12vw;
}
.d_tel {
  line-height: 12vw;
  color: #5d9fab;
  font-size: 1.64rem;
}
.d_tel_icon {
  margin-right: 2vw;
  color: #337ab7;
}
