{extend name="public/pure"}
{block name="style"}
<title>休闲游戏</title>
<style>
    img{
        width:92%;
        margin-left:4%;
        margin-right: 4%;
        display:block;
        margin-top:4%;
    }
</style>
{/block}
{block name="body"}
    <div class="box clearfix">
        <!--2048-->
        <img src="/home/game/images/22.png" alt="" data-id="/home/game/ttfe">
        <!--智慧拼图-->
        <img src="/home/game/images/23.png" alt="" data-id="/home/game/jigsaw">
        <!--智慧魔方-->
        <img src="/home/game/images/24.png" alt="" data-id="/home/game/threedbox">
    </div>
{/block}
{block name="script"}
<script>
    $(function(){
        var WH = $(window).height();
//        $('img').load(function(){
//            var imgH = $('img:first').height();
//            if ((WH - imgH*3) >= 30){
//                $('img').css({'margin-top':(WH - imgH*3)/4});
//            }
//        });

        $('img').click(function(){
            window.location.href=$(this).attr('data-id');
        });
    });
</script>
{/block}
