{extend name="public/pure"}
{block name="style"}
<title>智慧拼图</title>
<link rel="stylesheet"  href="/home/game/css/mgame2.css" />
<style>
    .now_score{
        text-align: center;
        font-size: 18px;
        width:99px;
        background:url("/home/game/images/10.png") no-repeat center center;
        background-size:cover;
        border-radius: 10px;
        color:#fff;
        line-height: 22px;
        float:left;
        padding: 13px;
    }
    .now_score>span{
        font-size: 20px;
        font-weight: bold;
    }
    .main{
        /*position: fixed;*/
        /*bottom:10px;*/
        /*width:93.6%;*/
        /*margin-left:3.2%;*/
        /*margin-right:3.2%;*/
        /*border-radius: 15px;*/
        /*box-shadow:0px 0px 10px rgba(148,211,255,0.7);*/
        /*background-color:#fff;*/
    }
    .top{
        height:150px;
        background:url("/home/game/images/8.png") no-repeat center center;
        background-size:cover;
    }
    .cen{
        position:absolute;
        top: 50%;
        left:50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        /*background-color:#000;*/
        transform:translateY(-50%) translateX(-50%);
        -ms-transform:translateY(-50%) translateX(-50%);	/* IE 9 */
        -moz-transform:translateY(-50%) translateX(-50%);	/* Firefox */
        -webkit-transform:translateY(-50%) translateX(-50%); /* Safari 和 Chrome */
        -o-transform:translateY(-50%) translateX(-50%);
    }
    .top>a{
        font-size: 15px;
        line-height: 30px;
        width:80px;
        color:#fff;
        position: absolute;
        top:10px;
        right:10px;
        text-align: center;
        background-color:rgba(0,0,0,.5);
        text-decoration: none;
        border-radius: 5px;
    }
    #grid-container {
        background-color: #a0a6bb;
    }
    #bk{
        background-color:rgba(0,0,0,.5);
        width:100%;
        position:fixed;
        top:0;
        left:0;
        display:none;
        z-index: 1001;
        height:100%;
    }
    #bk>div{
        width:80%;
        height:auto;
        position:absolute;
        top: 25%;
        left:50%;
        transform:translateY(-50%) translateX(-50%);
        -ms-transform:translateY(-50%) translateX(-50%); 	/* IE 9 */
        -moz-transform:translateY(-50%) translateX(-50%); 	/* Firefox */
        -webkit-transform:translateY(-50%) translateX(-50%); /* Safari 和 Chrome */
        -o-transform:translateY(-50%) translateX(-50%);
        border-radius: 20px 0 20px 0;
        overflow: hidden;
        border: none;
        transition: all  linear 0.3s;
        background: #fff url("/home/game/images/14.png") no-repeat center center;
        background-size:cover;
    }
    #bk>div>a{
        position:absolute;
        width:35px;
        height:35px;
        background: url("/home/game/images/12.png") no-repeat center center;
        background-size:cover;
        top:0;
        right:0;
    }
    #bk>div>img{
        width:60%;
        margin:0 auto;
        display:block;
        margin-top:10px;
    }
    #bk>div>p{
        margin-top:10px;
        font-size: 15px;
        color:#333;
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
    }
    .rule{
        margin: 0 auto;
    }
    .rule1{
        display: block;
        width:58px;
        height:58px;
        font-size: 15px;
        padding:0;
        color: #fff;
        border-radius: 50%;
        text-decoration: none;
        background:url("/home/game/images/17.png") no-repeat center center;
        background-size:cover;
        float:right;
    }
    #newgamebutton {
        display: block;
        width:58px;
        height:58px;
        font-size: 15px;
        padding:0;
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
        border-radius: 50%;
        background:url("/home/game/images/16.png") no-repeat center center;
        background-size:cover;
        text-align: center;
        float:left;
    }
    .top1{
        margin-bottom: 10px;
        z-index: 100;
        margin-top: 10px;
    }
    .noContro{
        float:left;
        width:100%;
        z-index: 100;
    }
    .piece_container{
        margin-top: 10px;
        margin-bottom: 10px;
        border:5px solid #fff;
        border-radius: 5px;
        background-color:#fff;
        border-right-width: 4px;
        border-bottom-width: 4px;
        background:#fff no-repeat center center;
        background-size:cover;
    }
    .main{
        background:url("/home/game/images/15.png") no-repeat center center;
        background-size:cover;
    }
    .top2>img {
        float:right;
        width:60px;
        height:60px;
    }
    .top2{
        /*margin-bottom: 10px;*/
    }
    .top2>p {
        float:left;
        height:60px;
        line-height: 60px;
        color:#fff;
        font-size: 30px;
        margin-left:15px;
        font-weight: bold;
    }
    #rank{
        margin:0 auto;
        display: block;
        width:58px;
        height:58px;
        background:url("/home/game/images/18.png") no-repeat center center;
        background-size:cover;
        border-radius: 50%;
    }
    /*//保存提示框*/
    .suc{
        width: 100%;
        background: rgba(0, 0, 0, 0.30);
        position: fixed;
        z-index: 19;
        top:0;
        display: none;
        bottom: 0;
    }
    .timer{
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #fff;
        border-radius: 50%;
        position: fixed;
        top:50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform:translateY(-50%) translateX(-50%);
        -moz-transform:translateY(-50%) translateX(-50%);
        -o-transform:translateY(-50%) translateX(-50%);
    }
    .timer:after, .timer:before{
        position: absolute;
        content:"";
        background-color: #fff;
    }
    .timer:after{
        width: 12px;
        height: 2px;
        top: 14px;
        left: 14px;
        -webkit-transform-origin: 1px 1px;
        -moz-transform-origin: 1px 1px;
        transform-origin: 1px 1px;
        -webkit-animation: minhand 2s linear infinite;
        -moz-animation: minhand 2s linear infinite;
        animation: minhand 2s linear infinite;
    }

    .timer:before{
        width: 10px;
        height: 2px;
        top: 14px;
        left: 14px;
        -webkit-transform-origin: 1px 1px;
        -moz-transform-origin: 1px 1px;
        transform-origin: 1px 1px;
        -webkit-animation: hrhand 8s linear infinite;
        -moz-animation: hrhand 8s linear infinite;
        animation: hrhand 8s linear infinite;
    }

    @-webkit-keyframes minhand{
        0%{-webkit-transform:rotate(0deg)}
        100%{-webkit-transform:rotate(360deg)}
    }
    @keyframes minhand{
        0%{transform:rotate(0deg)}
        100%{transform:rotate(360deg)}
    }

    @-webkit-keyframes hrhand{
        0%{-webkit-transform:rotate(0deg)}
        100%{-webkit-transform:rotate(360deg)}
    }
    @keyframes hrhand{
        0%{transform:rotate(0deg)}
        100%{transform:rotate(360deg)}
    }
    .up{
        width: 100vw;
        position: fixed;
        top:55%;
        color:#ffffff;
        font-size: 1.0rem;
        text-align: center;
    }

    .answer{
        padding-left: 25px;
        font-size: 16px;
    }
    .answer span{
        color:#d10000;
    }
</style>
{/block}
{block name="body"}
<div id="bk" style="">
    <div>
        <a></a>
        <img src="/home/game/images/13.png" alt="">
        <p>
            &emsp;&emsp;每次进入，都会随机出现一张拼图
            <br>
            &emsp;&emsp;开始游戏后您可以任意拖动被切碎的图片块来组成完整的大图
            <br>
            &emsp;&emsp;需要用正确的方法才能最终拼成完整的图片
            <br>
            &emsp;&emsp;拼图完成，游戏完成时间将被统计下来
            <br>
            &emsp;&emsp; 友情提醒，游客不进行排名
        </p>
    </div>
</div>
<!--<div class="top">-->
    <!--<a  id="rank">排行榜</a>-->
<!--</div>-->
<div class="main">
    <div class="cen">
        <!--<div class="noContro"></div>-->
        <div class="top2 clearfix">
            <p>00:00:00</p>
            <img src="{$img_path||default='/home/game/images/1.png'}" alt="">
        </div>
        <div class="piece_container" points="1">
        </div>
        <div class="top1 clearfix ">
            <div class="rule clearfix">
                <a  id="newgamebutton"></a>
                <a  class="rule1"></a>
                <a  id="rank"></a>
            </div>
        </div>
    </div>
</div>
<div class="suc">
    <div class="timer"></div>
    <div class="up">请稍等...</div>
</div>
{/block}
{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/home/game/js/mgame2.js"></script>
<script>
    documentWidth=$(window).width();
    gridContainerWidth=0.99*(documentWidth);
    cellSapce=0.04*(documentWidth);
    $('.main').height($(window).height());
    //拼图图片
    var img_path = "{$img_path||default='/home/game/images/1.png'}";
    var points = 1,
            timeCount = 0,//设置起始游戏时间
            timer = null,
            stepCount = 0,
            level = 4,//规定拼图的方块数3*3或者4*4
            nowObj = false,//判断游戏状态
            firstOne = true; //第一次游戏
    var boxW = parseInt((gridContainerWidth-2*cellSapce-level*2)/level)*level;
    //banenr图比例2:1
    $('.top').height($(window).width()/2);
    //静止页面触摸滑动
    $('body').bind('touchmove',function(e){
        e.preventDefault()
    });
    $(function(){
        var wh=parseFloat($(window).height());
        var mh=parseFloat($('.main').height());
        $('.piece_container').css('width',gridContainerWidth-2*cellSapce+9);
        $('.piece_container').css('height',gridContainerWidth-2*cellSapce+9);
        $('.piece_container').css({
            'margin-top':mh*0.034,
            'margin-bottom':mh*0.034
        });
        $('.noContro').css({
            'height' : gridContainerWidth-2*cellSapce,
            'margin-bottom' : -gridContainerWidth-2*cellSapce
        });
        $('.rule').css({
            'width' : gridContainerWidth-2*cellSapce
        });
        $('.piece_container>div').css({'background-size':gridContainerWidth+'px '+gridContainerWidth+'px'});
//        $(document).off(" touchstart mousedown touchmove touchend mouseup mousemove");
//        $("div[sort]").off("touchstart mousedown");
        $('.piece_container').css({'background-image':"url({$img_path||default='/home/game/images/1.png'})"});
        $('#newgamebutton').on("touchstart click",function(){
            $('.piece_container').html('');
            puzzleGame();
            $('.piece_container').css({'background-image':"none"});
            $('.top2>p').html('00:00:00');
            $(this).css('background-image','url(/home/game/images/19.png)');
            nowObj = true;
            clearInterval(timer);
            timeCount = 0;
            stepCount = 0;
            //打乱开始游戏
            upsetPiece();
            $('.piece_container>div').css({'background-size':boxW+'px'});
        });
        //游戏规则窗口打开
        $('.rule1').on("touchstart click",function (){
            $('#bk').fadeIn(300);
            $('#bk>div').fadeIn(300).css({'top':'50%'});
        });
        //游戏规则窗口关闭
        $('#bk>div>a').on("touchstart click",function(){
            $('#bk').fadeOut(300);
            $('#bk>div').fadeOut(300).css({'top':'0%'});
        });

        $('#rank').on("touchstart click",function(){
            if(nowObj) {
                var r = confirm("游戏还在继续,离开将不会记录时间");
                if (r) {
                    window.location.href="{:Url('Game/jigsaw_rank')}";
                } else{
                    return '';
                }
            }else{
                window.location.href="{:Url('Game/jigsaw_rank')}";
            }
        });
    });
    //游戏完成
    function gameOver1(){
        nowObj = false;
        $("div[sort]").off(" touchstart mousedown ");//解除点击事件，防止冒泡
        var score = timeCount;
        $('.suc').show();
        $.ajax({
            type:"post",
            url:"{:Url('Game/jigsaw_rank')}",
            data:{
                'score':score
            },
            success:function(data){
                $('.suc').hide();
                alert("恭喜,拼图完成,完成时间"+formatSeconds(score)+"!");
                console.log(data);
            }
        });
    }
    //转化秒为时间
    function formatSeconds(value) {
        var theTime = parseInt(value);// 秒
        var theTime1 = 0;// 分
        var theTime2 = 0;// 小时
        if(theTime > 60) {
            theTime1 = parseInt(theTime/60);
            theTime = parseInt(theTime%60);
            if(theTime1 > 60) {
                theTime2 = parseInt(theTime1/60);
                theTime1 = parseInt(theTime1%60);
            }
        }
        var result = ""+parseInt(theTime)+"秒";
        if(theTime1 > 0) {
            result = ""+parseInt(theTime1)+"分"+result;
        }
        if(theTime2 > 0) {
            result = ""+parseInt(theTime2)+"小时"+result;
        }
        return result;
    }

    function formatTime(second) {
        return [parseInt(second / 60 / 60), parseInt(second / 60 % 60), parseInt(second % 60)].join(":")
                .replace(/\b(\d)\b/g, "0$1");
    }
</script>
<script>
    //取消alert.comfrim的网址显示
    var wAlert = window.alert;
    window.alert = function (message) {
        try {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            var alertFrame = window.frames[0];
            var iwindow = alertFrame.window;
            if (iwindow == undefined) {
                iwindow = alertFrame.contentWindow;
            }
            iwindow.alert(message);
            iframe.parentNode.removeChild(iframe);
        }
        catch (exc) {
            return wAlert(message);
        }
    };
    var wConfirm = window.confirm;
    window.confirm = function (message) {
        try {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            var alertFrame = window.frames[0];
            var iwindow = alertFrame.window;
            if (iwindow == undefined) {
                iwindow = alertFrame.contentWindow;
            }
            var a=iwindow.confirm(message);
            iframe.parentNode.removeChild(iframe);
            return a;
        }
        catch (exc) {
            return wConfirm(message);
        }
    };
    var appId='{$jsSign.appid}';
    var timestamp='{$jsSign.timestamp}';
    var nonceStr='{$jsSign.noncestr}';
    var signature='{$jsSign.signature}';
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: ['closeWindow'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        pushHistory();
        window.addEventListener("popstate", function(e) {
            if(nowObj) {
                var r = confirm("游戏还在继续,离开将不会记录时间");
                if (r) {
                    //离开
                    wx.closeWindow();
                } else{
                    pushHistory();
                    return '';
                }
            }else{
                //直接离开
                wx.closeWindow();
            }
        }, false);
    });
    function pushHistory() {
        var state = {
            title: "title1"
        };
        window.history.pushState(state, "title");
    }
</script>
{/block}



