{extend name="public/pure"}
{block name="style"}
    <title>休闲游戏</title>
    <link rel="stylesheet"  href="/home/game/css/ttfe.css" />
    <style>
        .now_score{
            text-align: center;
            font-size: 18px;
            width:99px;
            background:url("/home/game/images/10.png") no-repeat center center;
            background-size:cover;
            border-radius: 10px;
            color:#fff;
            line-height: 22px;
            float:left;
            padding: 13px;
        }
        .now_score>span{
            font-size: 20px;
            font-weight: bold;
        }
        .main{
            position: fixed;
            bottom:10px;
            width:93.6%;
            margin-left:3.2%;
            margin-right:3.2%;
            border-radius: 15px;
            box-shadow:0px 0px 10px rgba(148,211,255,0.7);
            background-color:#fff;
        }
        .top{
            height:150px;
            background:url("/home/game/images/8.png") no-repeat center center;
            background-size:cover;
        }
         #newgamebutton {
            display: block;
            margin: 0px auto;
            line-height: 30px;
            width: 100px;
            font-size: 15px;
            padding:0;
            color: #fff;
            border-radius: 10px;
            text-decoration: none;
            background:url("/home/game/images/10.png") no-repeat center center;
            background-size:cover;
             text-align: center;
        }
        .cen{
            /*position:absolute;*/
            /*top: 50%;*/
            /*left:50%;*/
            /*-webkit-transform: translateY(-50%) translateX(-50%);*/
        }
        .top>a{
            font-size: 15px;
            line-height: 30px;
            width:80px;
            color:#fff;
            position: absolute;
            top:10px;
            right:10px;
            text-align: center;
            background-color:rgba(0,0,0,.5);
            text-decoration: none;
            border-radius: 5px;
        }
        #grid-container {
            background-color: #a0a6bb;
        }
        #bk{
            background-color:rgba(0,0,0,.5);
            width:100%;
            position:fixed;
            top:0;
            left:0;
            display:none;
            z-index: 1001;
            height:100%;
        }
        #bk>div{
            width:80%;
            height:auto;
            position:absolute;
            top: 25%;
            left:50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            border-radius: 20px 0 20px 0;
            overflow: hidden;
            border: none;
            transition: all  linear 0.3s;
            background: #fff url("/home/game/images/14.png") no-repeat center center;
            background-size:cover;
        }
        #bk>div>a{
            position:absolute;
            width:35px;
            height:35px;
            background: url("/home/game/images/12.png") no-repeat center center;
            background-size:cover;
            top:0;
            right:0;
        }
        #bk>div>img{
            width:60%;
            margin:0 auto;
            display:block;
            margin-top:10px;
        }
        #bk>div>p{
            margin-top:10px;
            font-size: 15px;
            color:#333;
            padding-left:15px;
            padding-right:15px;
            padding-bottom:15px;
        }
        .rule{
            float:right;
        }
        .rule1{
            display: block;
            margin-top:10px;
            line-height: 30px;
            width: 100px;
            font-size: 15px;
            padding:0;
            color: #fff;
            border-radius: 10px;
            text-decoration: none;
            background:url("/home/game/images/10.png") no-repeat center center;
            background-size:cover;
            text-align: center;
        }
        .top1{
            margin-bottom: 10px;
        }
    </style>
{/block}
{block name="body"}
<div id="bk" style="">
    <div>
        <a></a>
        <!--<h2 style="text-align: center">游戏规则</h2>-->
        <img src="/home/game/images/13.png" alt="">
        <p>
            &emsp;&emsp;开始时棋盘内随机出现两个数字，出现的数字仅可能为2或4
            <br>
            &emsp;&emsp;玩家可以选择上下左右四个方向，若棋盘内的数字出现位移或合并，视为有效移动
            <br>
            &emsp;&emsp;玩家选择的方向上若有相同的数字则合并，每次有效移动可以同时合并，但不可以连续合并
            <br>
            &emsp;&emsp;合并所得的所有新生成数字相加即为该步的有效得分
            <br>
            &emsp;&emsp;玩家选择的方向行或列前方有空格则出现位移
            <br>
            &emsp;&emsp;每有效移动一步，棋盘的空位(无数字处)随机出现一个数字(依然可能为2或4)
            <br>
            &emsp;&emsp;棋盘被数字填满，无法进行有效移动，判负，游戏结束
            <br>
            &emsp;&emsp; 友情提醒，游客不进行排名
        </p>
    </div>
</div>
<div class="top">
    <a  id="rank">排行榜</a>
</div>
<div class="main">
    <div class="cen">
        <div class="top1 clearfix">
            <p class="now_score">当前得分<br><span id="score">0</span></p>
            <div class="rule">
                <a  id="newgamebutton">重新开始</a>
                <a  class="rule1">游戏规则</a>
            </div>
        </div>
        <div id="grid-container">
            <div class="grid-cell" id="grid-cell-0-0"></div>
            <div class="grid-cell" id="grid-cell-0-1"></div>
            <div class="grid-cell" id="grid-cell-0-2"></div>
            <div class="grid-cell" id="grid-cell-0-3"></div>

            <div class="grid-cell" id="grid-cell-1-0"></div>
            <div class="grid-cell" id="grid-cell-1-1"></div>
            <div class="grid-cell" id="grid-cell-1-2"></div>
            <div class="grid-cell" id="grid-cell-1-3"></div>

            <div class="grid-cell" id="grid-cell-2-0"></div>
            <div class="grid-cell" id="grid-cell-2-1"></div>
            <div class="grid-cell" id="grid-cell-2-2"></div>
            <div class="grid-cell" id="grid-cell-2-3"></div>

            <div class="grid-cell" id="grid-cell-3-0"></div>
            <div class="grid-cell" id="grid-cell-3-1"></div>
            <div class="grid-cell" id="grid-cell-3-2"></div>
            <div class="grid-cell" id="grid-cell-3-3"></div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!--微信sdk-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--main.js-->
<script>
    var box_now=false;//游戏规则打开
    var board= new Array();
    var score=0;
    var hasConflicted =new Array();

    var startx=0;
    var starty=0;
    var endx=0;
    var endy=0;
    $(document).ready(function () {
        prepareForMobile();
        newgame();
    });
    function prepareForMobile(){
        if(documentWidth>500){
            gridContainerWidth=500;
            cellSapce=20;
            cellSideLength=100;

        }

        $('#grid-container').css('width',gridContainerWidth-2*cellSapce);
        $('#grid-container').css('height',gridContainerWidth-2*cellSapce);
        $('#grid-container').css('padding',cellSapce);
        $('#grid-container').css('border-radius',0.02*gridContainerWidth);

        $('.grid-cell').css('width',cellSideLength);
        $('.grid-cell').css('height',cellSideLength);
        $('.grid-cell').css('border-radius',0.02*cellSideLength);
    }

    function newgame(){
        init();
        generateOneNumber();
        generateOneNumber();
    }

    function init(){

        for(var i= 0 ;i< 4; i++) {
            for (var j = 0; j < 4; j++) {
                var gridCell = $("#grid-cell-"+ i +"-" + j);
                gridCell.css('top', getPosTop(i, j));
                gridCell.css('left', getPosLeft(i, j));
            }

        }


        for(var i= 0 ;i<4;i++) {
            board[i]=new Array();
            hasConflicted[i]=new Array();
            for (var j = 0; j < 4; j++) {
                board[i][j]=0;
                hasConflicted[i][j]=false;
            }
        }
        updateBoardView();

        score=0;
    }

    function updateBoardView(){
        $(".number-cell").remove();
        for(var i= 0 ;i<4;i++) {
            for (var j = 0; j < 4; j++) {
                $("#grid-container").append('<div class="number-cell" id="number-cell-'+i+'-'+j+'"></div>');
                var theNumberCell = $("#number-cell-"+ i +"-" + j);

                if(board[i][j]==0){
                    theNumberCell.css('width','0px');
                    theNumberCell.css('height','0px');
                    theNumberCell.css('top',getPosTop(i,j)+cellSideLength*0.5);
                    theNumberCell.css('left',getPosLeft(i,j)+cellSideLength*0.5);
                    theNumberCell.text("");
                }else{
                    theNumberCell.css('width',cellSideLength);
                    theNumberCell.css('height',cellSideLength);
                    theNumberCell.css('top',getPosTop(i,j));
                    theNumberCell.css('left',getPosLeft(i,j));
                    theNumberCell.css('background-color',getNumberBackgroundColor(board[i][j]));
                    theNumberCell.css('color',getNumberColor(board[i][j]));
                    theNumberCell.text(board[i][j]);
                }
                hasConflicted[i][j]=false;

            }

        }
        $('.number-cell').css('line-height',cellSideLength+'px');
        $('.number-cell').css('font-size',0.4*cellSideLength+'px');
    }

    function generateOneNumber(){
        if(nospace(board)){
            return false;
        }

        var randx=parseInt(Math.floor(Math.random()*4));
        var randy=parseInt(Math.floor(Math.random()*4));
        var times=0;
        while (times<50){
            if (board[randx][randy]==0)
                break;
            var randx=parseInt(Math.floor(Math.random()*4));
            var randy=parseInt(Math.floor(Math.random()*4));
            times++;
        }
        if(times==50){
            for(var i=0;i<4;i++){
                for(var j=0;j<4;j++){
                    if(board[i][j]==0){
                        randx=i;
                        randy=j;
                    }
                }
            }
        }
        var randNumber=Math.random()<0.5? 2: 4;
        board[randx][randy]=randNumber;
        showNumber(randx,randy,randNumber);
        return true;
    }

    $(document).keydown(function(event){
        switch (event.keyCode){
            case 37:
                event.preventDefault();
                if(moveLeft()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }
                break;
            case 38:
                event.preventDefault();
                if(moveUp()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }
                break;
            case 39:
                event.preventDefault();
                if(moveRight()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }
                break;
            case 40:
                event.preventDefault();
                if(moveDown()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }
                break;
            default:
                break;

        }

    });
    var dbc=$('#grid-container')[0];
    $(window).bind('touchstart',function(e){
        // event.preventDefault();
        startx=event.touches[0].pageX;
        starty=event.touches[0].pageY;
    });

    $(window).bind('touchend',function(e){
        // event.preventDefault();
        if(box_now){
            return '';
        }
        endx=event.changedTouches[0].pageX;
        endy=event.changedTouches[0].pageY;
        var deltax=endx-startx;
        var deltay=endy-starty;

        if(Math.abs(deltax)<0.1*documentWidth&&Math.abs(deltay)<0.1*documentWidth){
            return ;
        }
        if(Math.abs(deltax)>Math.abs(deltay)){
            if(deltax>0){
                if(moveRight()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }

            }else{
                if(moveLeft()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }

            }
        }else{
            if(deltay>0){
                if(moveDown()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }

            }else{

                if(moveUp()){
                    setTimeout("generateOneNumber()",210);
                    setTimeout("isgameover()",300);
                }

            }

        }
    });
    function isgameover(){
        if(nospace(board)&& nomove(board)){
            if(nowObj){
                gameover();
            }
        }
    }

    //游戏结束
    function gameover(){
        nowObj=alert("游戏结束!");
        $.ajax({
            type:"post",
            url:"{:Url('Game/ttfe_rank')}",
            data:{
                'score':$('#score').html()
            },
            success:function(data){
                console.log(data);
            }
        });
        $('.header').show();
    }

    function moveLeft(){
        if(!canMoveLeft(board)){
            return false;
        }
        for(var i= 0 ;i<4;i++) {
            for (var j = 1; j < 4; j++) {
                if(board[i][j]!=0){
                    for(var k=0;k<j;k++){
                        if(board[i][k]==0&& noBlockHorizontal(i,k,j,board)){
                            showMoveAnimation(i,j,i,k);
                            board[i][k]=board[i][j];
                            board[i][j]=0;
                            break;
                        }
                        else if(board[i][k]==board[i][j]&& noBlockHorizontal(i,k,j,board)&&!hasConflicted[i][k])
                        {
                            showMoveAnimation(i,j,i,k);
                            board[i][k]+=board[i][j];
                            board[i][j]=0;
                            hasConflicted[i][k]=true;
                            score=score+board[i][k];
                            updateScore(score);
                            break;
                        }
                    }
                }
            }
        }
        setTimeout("updateBoardView()",200);
        return true;
    }


    function moveUp(){
        if(!canMoveUp(board)){
            return false;
        }
        for(var i= 1 ;i<4;i++) {
            for (var j = 0; j < 4; j++) {
                if(board[i][j]!=0){
                    for(var k=0;k<i;k++){
                        if(board[k][j]==0&& noBlockVertical(j,k,i,board)){
                            showMoveAnimation(i,j,k,j);
                            board[k][j]=board[i][j];
                            board[i][j]=0;
                            break;
                        }
                        else if(board[k][j]==board[i][j]&& noBlockVertical(j,k,i,board)&&!hasConflicted[k][j])
                        {
                            showMoveAnimation(i,j,k,j);
                            board[k][j]+=board[i][j];
                            board[i][j]=0;
                            hasConflicted[k][j]=true;
                            score=score+board[k][j];
                            updateScore(score);
                            break;
                        }
                    }
                }
            }
        }
        setTimeout("updateBoardView()",200);
        return true;
    }


    function moveRight(){
        if(!canMoveRight(board)){
            return false;
        }
        for(var i= 0 ;i<4;i++) {
            for (var j = 2; j >-1; j--) {
                if(board[i][j]!=0){
                    for(var k=3;k>j;k--){
                        if(board[i][k]==0&& noBlockHorizontal(i,j,k,board)){
                            showMoveAnimation(i,j,i,k);
                            board[i][k]=board[i][j];
                            board[i][j]=0;
                            break;
                        }
                        else if(board[i][k]==board[i][j]&& noBlockHorizontal(i,j,k,board)&&!hasConflicted[i][k])
                        {
                            showMoveAnimation(i,j,i,k);
                            board[i][k]+=board[i][j];
                            board[i][j]=0;
                            hasConflicted[i][k]=true;
                            score=score+board[i][k];
                            updateScore(score);
                            break;
                        }
                    }
                }
            }
        }
        setTimeout("updateBoardView()",200);
        return true;
    }


    function moveDown(){
        if(!canMoveDown(board)){
            return false;
        }
        for(var i=2 ;i>-1;i--) {
            for (var j = 0; j < 4; j++) {
                if(board[i][j]!=0){
                    for(var k=3;k>i;k--){
                        if(board[k][j]==0&& noBlockVertical(j,i,k,board)){
                            showMoveAnimation(i,j,k,j);
                            board[k][j]=board[i][j];
                            board[i][j]=0;
                            break;
                        }
                        else if(board[k][j]==board[i][j]&& noBlockVertical(j,i,k,board)&&!hasConflicted[k][j])
                        {
                            showMoveAnimation(i,j,k,j);
                            board[k][j]+=board[i][j];
                            board[i][j]=0;
                            hasConflicted[k][j]=true;
                            score=score+board[k][j];
                            updateScore(score);
                            break;
                        }
                    }
                }
            }
        }
        setTimeout("updateBoardView()",200);
        return true;
    }
</script>
<!--show.js-->
<script>
    function showNumber(i,j,randNumber){
        var numberCell=$("#number-cell-"+ i +"-" + j);
        numberCell.css('background-color',getNumberBackgroundColor(randNumber));
        numberCell.css('color',getNumberColor(randNumber));
        numberCell.text(randNumber);

        numberCell.animate({
            width:cellSideLength,
            height:cellSideLength,
            top:getPosTop(i,j),
            left:getPosLeft(i,j)
        },50);

    }
    function showMoveAnimation(fromx,fromy,tox,toy){
        var numberCell=$("#number-cell-"+fromx+"-"+fromy);
        numberCell.animate({
            top:getPosTop(tox,toy),
            left:getPosLeft(tox,toy)
        },200);

    }
    function updateScore(score){
        $("#score").text(score);

    }


</script>
<!--support.js-->
<script>
    documentWidth=window.screen.availWidth;
    gridContainerWidth=0.92*(documentWidth-64);
    cellSideLength=0.18*(documentWidth-64);
    cellSapce=0.04*(documentWidth-64);
    function getPosTop(i , j){
        return cellSapce+i*(cellSapce+cellSideLength);
    }

    function getPosLeft(i , j){
        return cellSapce+j*(cellSapce+cellSideLength);
    }

    function getNumberBackgroundColor(number){
        switch(number){
            case 2:return"#eee4da";break;
            case 4:return"#ede0c8";break;
            case 8:return"#f2b179";break;
            case 16:return"#f59563";break;
            case 32:return"#f67e5f";break;
            case 64:return"#f65e3b";break;
            case 128:return"#edcf72";break;
            case 256:return"#edcc61";break;
            case 512:return"#9c0";break;
            case 1024:return"#33b5e5";break;
            case 2048:return"#09c";break;
            case 4096:return"#a6c";break;
            case 8192:return"#93c";break;
        }
        return "black";

    }
    function getNumberColor(number){
        if(number<=4)
            return "#776e65";
        return "white";
    }

    function nospace(board){
        for(var i= 0 ;i<4;i++) {
            for (var j = 0; j < 4; j++) {
                if(board[i][j]==0)
                    return false;

            }
        }
        return true;

    }

    function canMoveLeft(board){
        for(var i= 0 ;i<4;i++) {
            for (var j = 1; j < 4; j++) {
                if(board[i][j]!=0)
                    if(board[i][j-1]==0||board[i][j-1]==board[i][j])
                        return true;
            }
        }
        return false;
    }
    function canMoveUp(board){
        for(var i= 1 ;i<4;i++) {
            for (var j = 0; j < 4; j++) {
                if(board[i][j]!=0)
                    if(board[i-1][j]==0||board[i-1][j]==board[i][j])
                        return true;
            }
        }
        return false;
    }

    function canMoveRight(board){
        for(var i= 0 ;i<4;i++) {
            for (var j = 2;j>-1; j--) {
                if(board[i][j]!=0)
                    if(board[i][j+1]==0||board[i][j+1]==board[i][j])
                        return true;
            }
        }
        return false;
    }

    function canMoveDown(board){
        for(var i= 2;i>-1;i--) {
            for (var j = 0; j < 4; j++) {
                if(board[i][j]!=0)
                    if(board[i+1][j]==0||board[i+1][j]==board[i][j])
                        return true;
            }
        }
        return false;
    }


    function noBlockHorizontal(row,col1,col2,board){
        for(var i=col1+1;i<col2;i++){
            if(board[row][i]!=0){
                return false;
            }
        }
        return true;

    }

    function noBlockVertical(col,row1,row2,board){
        for(var i=row1+1;i<row2;i++){
            if(board[i][col]!=0){
                return false;
            }
        }
        return true;

    }

    function nomove(board){
        if(canMoveDown(board)||canMoveLeft(board)||canMoveRight(board)||canMoveUp(board)){
            return false;
        }
        return true;

    }
</script>
<script>
    $('#rank').click(function(){
        if(nowObj) {
            var r = confirm("游戏还在继续,离开将不会记录分数");
            if (r) {
                window.location.href="{:Url('Game/ttfe_rank')}";
            } else{
                return '';
            }
        }else{
            window.location.href="{:Url('Game/ttfe_rank')}";
        }
    });
    //游戏规则窗口关闭
    $('#bk>div>a').click(function(){
        $('#bk').fadeOut(300);
        $('#bk>div').fadeOut(300).css({'top':'0%'});
        box_now=false;//游戏规则窗口已经被关闭
    })
    //banenr图比例2:1
    $('.top').height($(window).width()/2);
    $('body').bind('touchmove',function(e){
        e.preventDefault()
    });
    $('.rule1').click(function () {
        box_now=true;
        $('#bk').fadeIn(300);
        $('#bk>div').fadeIn(300).css({'top':'50%'});
    });
    $(function(){
        var wh=parseFloat($(window).height());
        var mh=parseFloat($('.main').height());
        if(wh-mh>$(window).width()/2){
            $('.main').css({'top':$(window).width()/2-30+'px'});
            $('.cen').css({
                'position':'absolute',
                'top': '50%',
                'left':'50%',
                '-webkit-transform': 'translateY(-50%) translateX(-50%)'
            })
        }
        //提醒规则判断
//        $('#bk').fadeIn(300);
//        $('#bk>div').fadeIn(300).css({'top':'50%'});
    });

    $('#newgamebutton').unbind('click');
    $('#newgamebutton').bind('click',function(){
        $('#score').html(0);
        newgame();
        nowObj=true;
    });
</script>
<script>
    var wAlert = window.alert;
    window.alert = function (message) {
        try {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            var alertFrame = window.frames[0];
            var iwindow = alertFrame.window;
            if (iwindow == undefined) {
                iwindow = alertFrame.contentWindow;
            }
            iwindow.alert(message);
            iframe.parentNode.removeChild(iframe);
        }
        catch (exc) {
            return wAlert(message);
        }
    };
    var wConfirm = window.confirm;
    window.confirm = function (message) {
        try {
            var iframe = document.createElement("IFRAME");
            iframe.style.display = "none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            var alertFrame = window.frames[0];
            var iwindow = alertFrame.window;
            if (iwindow == undefined) {
                iwindow = alertFrame.contentWindow;
            }
            var a=iwindow.confirm(message);
            iframe.parentNode.removeChild(iframe);
            return a;
        }
        catch (exc) {
            return wConfirm(message);
        }
    };

    var nowObj=true;//防止alert多次弹出
    var appId='{$jsSign.appid}';
    var timestamp='{$jsSign.timestamp}';
    var nonceStr='{$jsSign.noncestr}';
    var signature='{$jsSign.signature}';
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: ['closeWindow'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        pushHistory();
        window.addEventListener("popstate", function(e) {
            if(nowObj) {
                var r = confirm("游戏还在继续,离开将不会记录分数");
                if (r) {
                    //离开
                    wx.closeWindow();
                } else{
                    pushHistory();
                    return '';
                }
            }else{
                //直接离开
                wx.closeWindow();
            }
        }, false);
    });
    function pushHistory() {
        var state = {
            title: "title1"
        };
        window.history.pushState(state, "title");
    }
</script>
{/block}
