{extend name="public/pure"}

{block name="style"}
    <title>今日排行</title>
    <style>
        body{
            padding-bottom:30px;
        }
        .top{
            height:150px;
            background:url("/home/game/images/11.png") no-repeat center center;
            background-size:cover;
        }
        .ranging>div>ul>li{
            height:51px;
            border-bottom: 1px solid #e5e5e5;
            padding-left:12px;
        }
        .ranging>div>ul>li>.king{
            width: 31px;
            height:24px;
            float:left;
            margin-top:13px;
        }
        .ranging>div>ul>li>span{
            width: 31px;
            height:24px;
            float:left;
            margin-top:13px;
            line-height: 24px;
            font-size: 20px;
            color:#333;
            text-align: center;
            display:none;
        }
        .ranging>div>ul>li>.userImg{
            width: 30px;
            height:30px;
            float:left;
            margin-top:10px;
            margin-left:10px;
            border-radius: 50%;
        }
        .ranging>div>ul>li>b{
            float:right;
            font-weight: normal;
            color:#333;
            font-size: 15px;
            line-height: 50px;
            margin-right:12px;
        }
        .ranging>div>ul>li>p{
            float:left;
            line-height: 50px;
            font-size: 14px;
            color:#666;
            text-align: center;
            margin-left:10px;
        }
        .ranging>div>ul>li:nth-child(-n+3)>b{
            color:#fc4f41;
        }
        .ranging>div>ul>li:nth-child(n+4)>span{
            display:block;
        }
        .ranging>div>ul>li:nth-child(n+4)>.king{
            display:none;
        }
        .ranging>div>ul>li:nth-child(1)>.king{
            background: url("/home/game/images/4.png") no-repeat center center;
            background-size:cover;
        }
        .ranging>div>ul>li:nth-child(2)>.king{
            background: url("/home/game/images/5.png") no-repeat center center;
            background-size:cover;
        }
        .ranging>div>ul>li:nth-child(3)>.king{
            background: url("/home/game/images/6.png") no-repeat center center;
            background-size:cover;
        }
        /*没有数据*/
        .nomessage{
            text-align: center;
            width:100%;
            position:absolute;
            top: 50%;
            left:50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
        }
        .nomessage>img{
            width:70%;
            margin-bottom:15px;
        }
        .nomessage>span{
            font-size: 17px;
            color:#ccc;
        }
        .name{
            padding-left: 12px;
            padding-right: 12px;
            font-size: 14px;
            color:#999;
            line-height: 34px;
            border-bottom: 1px solid #e5e5e5;
        }
        .name>span:last-child{
            float:right;
        }
    </style>
{/block}

{block name="body"}
    {eq name="info" value="0"}
        <div class="nomessage">
            <img src="/home/game/images/7.png" alt="" ><br>
            <span>轻松夺冠排行榜</span>
        </div>
    {else}
        <!--banner图-->
        <div class="top"></div>
        <div class="name">
            <span>排名</span>
            <span>分数</span>
        </div>
        <div class="ranging">
            <!--//今日排行-->
            <div class="weeklist" data-id="1">
                <ul>
                    {volist name="today" id="vo" key="k"}
                    <li>
                        <!--前三名头像-->
                        <div class="king"></div>
                        <!--排名-->
                        <span>{$k}</span>
                        <!--用户头像-->
                        <img src={$vo.userid|get_header} alt="用户头像" class="userImg">
                        <p>{$vo.userid|get_name}</p>
                        <!--积分-->
                        <b>{$vo.score}</b>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    {/eq}
{/block}

{block name="script"}
    <script>
        //banenr图比例2:1
        $('.top').height($(window).width()/2);
    </script>
{/block}