{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    .imggroup{
        position: relative;
    }
    .imgbox{
        height: 200px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .imgfile{
        height: 200px;
        width: 200px;
        position: absolute;
        top:0;
        opacity: 0;
    }

</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>智慧拼图</h2>
        <!--<ol class="breadcrumb">-->
        <!--<li>-->
        <!--<a href="{:Url('Talent/index')}">列表主页</a>-->
        <!--</li>-->
        <!--<li class="active">-->
        <!--<strong>修改</strong>-->
        <!--</li>-->
        <!--</ol>-->
    </div>
    <div class="col-lg-2">

    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!--<h5>修改</h5>-->
                    <div class="ibox-tools">
                        <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                    </div>
                </div>
                <div class="ibox-content all">
                    <form id="form" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>拼图图片:</label>
                            </div>
                            <div class="col-lg-5">
                                <div class="imggroup">
                                    <img src="{$info.img_path||default=''}" alt='拼图图片' class='thumbnail imgbox'>
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="header" class="img"  value="{$info.img_path||default=''}" required="">
                                </div>
                                <b>推荐尺寸：600*600px</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>拼图名称:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入拼图名称" class="form-control form_title" name="name" value="{$info.name||default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <button class="btn btn-primary submit-btn post-put" type="button" target-form="form-horizontal" >发布</button>
                                <a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a>
                            </div>
                        </div>
                        <div class="selblo"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/admin/js/chosen.jquery.js"></script>
<script>
    $(function(){
        var img_path="{$info.img_path || default = ''}";
        //修改头像
        $(".imgfile").on("change",function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            var imgBox = $(this);
            if(size <= 4096){
                var img = $(this)[0].files[0];
                var formData = new FormData();
                var pic=$(this);
                formData.append("picture",img);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/uploadPicture')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function(msg){

                        var msg = $.parseJSON(msg);
                        console.log(msg);
                        var path = msg.data.path;
                        img_path = path;
                        if(msg['code'] == 1){
                            imgBox.siblings(".img").val(path);
                            //显示图片缩略图
                            pic.parent().find("img" ).attr({src:path});
                        } else {
                            warning({msg:msg['msg']});
                            return;
                        }
                    }
                });
            } else {
                warning({msg:"您选择的图片超过4M，请重新选择"});
                return;
            }
        });

        //发布
        $(".post-put").off('click').on("click",function(){
            var a=check();
            if(!a){return ''};
            var id="{$info.id || default = ''}";
            var it=$(this);
            var data = {
                id:id,
                name:$('input[name = name ]').val(),
                img_path:img_path
            };
            //修改按钮不能被点击了
            it.prop('disabled','true');
            it.prev().prop('disabled','true');
            $.ajax({
                type:"post",
                url:"{:Url('Game/add_img')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        updateAlert(data.msg + ' 页面即将自动跳转~','success');
                        setTimeout(function(){
                            location.href="{:Url('Game/game_img')}";
                            //修改按钮恢复状态
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    } else {
                        updateAlert(data.msg, 'error');
                        it.attr('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    }
                }
            });
            return false;
        });
        //提交输入判断
        function check(){
                if(!img_path){
                    //拼图名称不为空
                    updateAlert('请上传拼图图片!','error');
                    return false;
                }
                if(!$('input[name = name ]').val()){
                    //拼图图片路径有问题
                    updateAlert('拼图名称不为空!','error');
                    return false;
                }
            return true;
        }
    })

</script>
{/block}