{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/league.css">
{/block}

{block name="body"}
<!-- 模态框 -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center" id="myModalLabel">驻点服务单位</h4>
			</div>
			<div class="modal-body">1</div>
		</div>
	</div>
</div>
<div class="banner">
	<img src="/home/images/banner/5.jpg" alt="地信红盟banner" class="banner-img">
</div>
<div class="tabs_">
	<div class="tabs clear">
		<span class="tab fl">红色盟员</span>
		<span class="tab fl">红色盟约</span>
		<span class="tab fl">服务清单</span>
		<span class="line"></span>
	</div>
</div>
<div class="blocks">
	<div class="block">
		<div class="member">
			<span>县级有关部门：</span>
			<div class="detail">县委组织部（两新工委）、县委党校、县总工会、团县委、县妇联、县科协、县发改委、县经信委、县金融办、县安监局、县教育局、县科技局、县民政局、县财政局（地税局）、县人力社保局、县商务局、县市场监管局、县新居民事务局、县国税局。</div>
		</div>
		<div class="member">
			<span>社会组织：</span>
			<div class="detail">
				县志愿者协会、县社会工作协会、县晨曦社会工作服务中心、县清禾公益事业发展中心、县彩虹桥社会工作服务中心、县山鹰救援队、县金阳光百姓互助中心、县优来公益服务中心、县晨曦青少年事务发展中心、县爱之家家庭教育服务中心、县翼扬社会工作服务中心、县四叶草亲子成长服务中心、县阳光里程社会工作服务中心、县民信公益服务中心、县尚风社会工作服务中心、正立会计师事务所、莫干山律师事务所等。
			</div>
		</div>
	</div>
	<div class="block ">
		<div class="plan">
			<div class="title">
				<span>活动安排</span>
				<a href="{:Url('Alliance/lists')}">更多</a>
			</div>
			{volist name="arrange" id="arr"}
			<div class="lists">
				<a href="{:Url('Alliance/informdetail?id='.$arr['id'])}" class="list">
					<div class="title limit">{$arr.title}</div>
					<div class="content limit_">{$arr.theme}</div>
					<div class="note">
						<span class="time">{$arr.create_time|time_format='Y-m-d'}</span>
						<span class="fa fa-angle-right"></span>
					</div>
				</a>
			</div>
			{/volist}
		</div>
		<div class="display">
			<div class="title">活动展示</div>
			<div class="tags">
				<a href="{:Url('Alliance/articlelist?type=1')}"></a>
				<a href="{:Url('Alliance/articlelist?type=2')}"></a>
				<a href="{:Url('Alliance/articlelist?type=3')}"></a>
				<a href="{:Url('Alliance/articlelist?type=4')}"></a>
			</div>
		</div>
	</div>
	<div class="block slist">
		<span class="line"></span>
		<div class="ul">
			<div class="title">党员服务</div>
			<div class="li" data-tag="company"  data-toggle="modal" data-target="#modal">驻点服务单位</div>
			<div class="li" data-tag="content" data-toggle="modal" data-target="#modal">服务内容及服务清单</div>
			<div class="li" data-tag="tip" data-toggle="modal" data-target="#modal">备注</div>
		</div>
		<div class="ul">
			<div class="title" data-toggle="modal" data-target="#modal">人才服务</div>
			<div class="li" data-tag="company" data-toggle="modal" data-target="#modal">驻点服务单位</div>
			<div class="li" data-tag="content" data-toggle="modal" data-target="#modal">服务内容及服务清单</div>
			<div class="li" data-tag="tip" data-toggle="modal" data-target="#modal">备注</div>
		</div>
		<div class="ul">
			<div class="title">志愿服务</div>
			<div class="li" data-tag="company" data-toggle="modal" data-target="#modal">驻点服务单位</div>
			<div class="li" data-tag="content" data-toggle="modal" data-target="#modal">服务内容及服务清单</div>
			<div class="li" data-tag="tip" data-toggle="modal" data-target="#modal">备注</div>
		</div>
		<div class="ul">
			<div class="title">创业服务</div>
			<div class="li" data-tag="company" data-toggle="modal" data-target="#modal">驻点服务单位</div>
			<div class="li" data-tag="content" data-toggle="modal" data-target="#modal">服务内容及服务清单</div>
			<div class="li" data-tag="tip" data-toggle="modal" data-target="#modal">备注</div>
		</div>

	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$('title' ).text('地信红盟');
$(function(){
	init();
	$('.tab' ).off('click' ).on('click',function(){
		var this_ = $(this );
		var block = $('.block');
		var n = this_.index();
		window.scrollTo(0,0);
		this_.siblings('.tab' ).removeClass('active');
		this_.addClass('active');
		block.eq(n ).siblings('.block' ).addClass('hidden');
		block.eq(n ).removeClass('hidden');
		setCookie("type",n + 1);
		line(n);
	});
	$('.li').on('click',function(){
		var data=[{
			'company':'县委组织部（县两新工委）、县党群服务中心',
			'content':'主要提供入党申请、组织关系转接、流动党员管理服务以及组织党员固定活动日等服务',
			'tip':'县级有关部门'
		},{
			'company':'县委人才办、县人力社保局、县教育局、县科协以及县高层次人才服务中心等',
			'content':'主要提供人才引进、人才安居等政策咨询落实以及子女就学等日常事务协调等服务。',
			'tip':'县级有关部门'
		},{
			'company':'团县委、妇联、工会、民政局等部门，以及清禾公益、优来公益、晨曦社工组织、县志愿者协会等社会组织',
			'content':'主要提供志愿者招募、义工活动组织、微心愿认领以及社区结对送温暖等服务。',
			'tip':'县级有关部门以及部分社会组织'
		},{
			'company':'县金融办、县市场监管局、县国税局、县财政（地税）局、县科技局、县发改委、县经信委以及正立会计事务所、莫干山律师事务所、佐力小贷、工商银行等主要',
			'content':'主要提供融资帮扶、创业咨询、创业实习、创业培训以及组织举办创业论坛等服务。',
			'tip':'县级有关部门以及部分社会组织'
		}];
		var title = $(this ).text();
		var tip = $(this ).attr('data-tag');
		var index = $(this ).parents('.ul' ).index() - 1;
		var tt = data[index][tip];
		$('#myModalLabel' ).text(title);
		$('.modal-body' ).text(tt);
		$('#model').modal('show');
	});
});
function init(){
	var tab =$('.tab' );
	var c =  parseInt(window.location.href.split("index/c/")[1]);
	var co = getCookie("type");
	if(co){c = co;}
	tab.eq(c - 1 ).addClass('active');
	$('.block').eq(c-1 ).siblings('.block' ).addClass('hidden');
	var n = c -1 ;
	line(n);
	pushHistory();
	window.addEventListener( "popstate", function( e ){
		delCookie( 'type' );
		window.history.go( -1 );
	}, false );
}
function line(n){
	var w = $('.tab').width();
	if(n == 0){
		$('.line').css({'right':w+'px'})
	}else if(n == 1){
		$('.line').css({'right':0})
	}else{
		$('.line').css({'right':2*w+'px'})
	}
}

</script>
{/block}