{extend name="public/common"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.css">
<link rel="stylesheet" href="/home/css/approved/review1.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<style>
	body{overflow: initial;!important;font-size: 1.4rem;!important;background:#F5F5F5;}
	.list-t-wrap>div {
		display: none;
	}
</style>
{/block}

{block name="body"}
<div class="top">
	<div class="tab1"><img src="/home/images/approved/icon/1.png"/><span >新闻通知</span></div>
	<div class="tab2"><img src="/home/images/approved/icon/3.png"/><span >调解申请</span></div>
</div>

<div class="list-t-wrap">

	<!--新闻通知模块-->
	<div class="list-wrapper">
		<!--列表一定要放到容器内,因为会有一个div append到mui-scroll中,需要在底部才能起作用-->
		<div class="list-block" id="list-block-company">
			<div style="width:100vw;height:5.55vh;line-height: 5.55vh;color: #999;font-size: .3rem;text-align: center;background: #eee;"><img src="/home/images/approved/icon_left.png" style="width:.4rem;vertical-align: middle;"> 向左滑动</div>
			<div id="nomessage">
				<img src="/home/images/nomessage.png" alt="无消息">
			</div>
			<ul>
				<li class="swipeout" style="margin-right: 3vw;">
					<div class="swipeout-content" onclick="jump(1)">
						<a href="#" class="list" style="width:100%;">
							<span class="yuan"></span>
							<div class="fri">
								<p class="title">珍珠小镇深度挖掘美丽经济珍珠小镇深度挖掘美丽经济</p>
								<p class="cont">浙江诸暨山下湖镇立足“珍珠小镇”建设，结合…</p>
								<!--<div class="bt">-->
									<span class="biao">【第一聚焦】</span>
									<span class="time">2017-12-06</span>
								<!--</div>-->
							</div>

							<!--.qingjia .chuchai .baoxiao 三种颜色-->
							<!--<span class="rights"><img src="/home/images/approved/icon_right.png" alt=""></span>-->
						</a>
						<div class="arrow">
							<img src="/home/images/review/rightArrow.png" alt="">
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a class="green" onclick='dispose(this,1,1,1)'>同 意</a>
						<a class="red" onclick='dispose(this,1,-1,1)'>不同意</a>
					</div>
				</li>
				<li class="swipeout" style="margin-right: 3vw;">
					<div class="swipeout-content" onclick="jump(1)">
						<a href="#" class="list" style="width:100%;">
							<span class="yuan"></span>
							<div class="fri">
								<p class="title">珍珠小镇深度挖掘美丽经济珍珠小镇深度挖掘美丽经济</p>
								<p class="cont">浙江诸暨山下湖镇立足“珍珠小镇”建设，结合…</p>
								<!--<div class="bt">-->
								<span class="biao">【第一聚焦】</span>
								<span class="time">2017-12-06</span>
								<!--</div>-->
							</div>

							<!--.qingjia .chuchai .baoxiao 三种颜色-->
							<!--<span class="rights"><img src="/home/images/approved/icon_right.png" alt=""></span>-->
						</a>
						<div class="arrow">
							<img src="/home/images/review/rightArrow.png" alt="">
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a class="green" onclick='dispose(this,1,1,1)'>同 意</a>
						<a class="red" onclick='dispose(this,1,-1,1)'>不同意</a>
					</div>
				</li>


			</ul>
		</div>
	</div>
	<!--调解申请模块-->
	<div class="apply">
		<ul>
			<li class="lists" onclick="change(46)">
				<div class="fle1"><img class="tu" class="image" src="/home/images/lxyz/icon/not.png"  alt=""/></div>
				<div class="fri1">
					<p class="title1">进出口贸易有限公司劳动纠纷2</p>
					<span class="time1">2017-12-06</span>
				</div>
			</li>
		</ul>

	</div>
	<!--加载更多-->
	<div class="tip"></div>
	<div class="loading hidden">
		<div class="typing_loader"></div>
	</div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>
var myApp=new Framework7;
var $$=Dom7;

$(function(){
	check();
});
//没有消息显示无消息提醒
function check(){
	if($("ul").find("li").length == 0){
		$('#nomessage').show();
	}
}
  if($(window).width()>=768){

  }
var type= localStorage.getItem('num')==null?0:localStorage.getItem('num');
// 初始化
$('.top>div').find("span").removeClass("active");
$('.top>div').eq(type).find('span').addClass('active');
$(".list-t-wrap >div").hide();
$(".list-t-wrap >div").eq(type).show();
$('.top div').on('click',function(){
	var index=$(this).index();
    localStorage.setItem('num',index);
	if($(this).index()== 0){
        $('.tab1 img').attr('src','/home/images/approved/icon/2.png');
        $('.tab2 img').attr('src','/home/images/approved/icon/3.png');
        $('.list-wrapper').show();
        $('.apply').hide();
	}else{
        $('.tab1 img').attr('src','/home/images/approved/icon/1.png');
        $('.tab2 img').attr('src','/home/images/approved/icon/4.png');
        $('.list-wrapper').hide();
        $('.apply').show();
	}
    $(this).siblings().find('span').removeClass('active');
    $(this).find('span').addClass('active')
});
if(type=='0'){
    $('.tab1 img').attr('src','/home/images/approved/icon/2.png');
    $('.tab2 img').attr('src','/home/images/approved/icon/3.png');
    $('.list-wrapper').show();
    $('.apply').hide();
}else{
    $('.tab1 img').attr('src','/home/images/approved/icon/1.png');
    $('.tab2 img').attr('src','/home/images/approved/icon/4.png');
    $('.list-wrapper').hide();
    $('.apply').show();
}

//跳转新闻详情
function jump(url){
	parent.location.href= url;
}
//提交操作
function dispose(i,id,status,type){
	swal({
		title: ' ',
		text: '确认当前操作吗？',
		type: 'warning',
		confirmButtonText:'确定',
		showCancelButton:true,
		cancelButtonText:'取消'
	},function(isConfirm){
		//确认之后执行函数
		if (isConfirm) {
			$.ajax({
				type: "post",
				url: "{:Url('approved/review')}",
				data: {
					id:id,
					status:status,
					tab : type
				},
				success: function(data){
					//成功后刷新页面
					if(data.code == 1){
						//未审核页面有操作,审核页面用来判断刷新
						sessionStorage.setItem("review","true");
						$(i).parent().parent().fadeOut(500);
						$(i).parent().parent().remove();
						//判断是否还有消息
						check();
						//swal回调里继续使用swal有时不会被触发
						setTimeout(function(){
                            swal("操作成功！","",'success')
						},200);
					}else{
						setTimeout(function(){
                            swal("操作失败","",'error')
						},200);
					}
				}
			})
		}
	});
}

function aleats(msg,status){
	swal({
		title: ' ',
		text: msg,
		type: status,
        confirmButtonText:'确定',
		showConfirmButton:false
	},function () {},
		function (dismiss) {
			if (dismiss === 'timer') {
				history.go(0);
			}
		})
}
var scrollNow = true;
loadScroll();
function loadScroll(){
    $(window).off("scroll").on("scroll",function(){
        var dh = $(document).height();
        var end = $(window).height() + $(window ).scrollTop();
        var len = $('.views li').length;
        var tip = $(".tip");
        var loading = $('.loading');

        if(dh == end && scrollNow){
            scrollNow = false;
            $.ajax({
                type:"post",
                url: "{:Url('approved/reviewlistMore')}",
                data:{
                    length:len
                },
                beforeSend: function(XMLHttpRequest){
                    tip.hide();
                    loading.toggleClass('hidden');
                },
                success:function(data){
                    console.log(data)
                    loading.toggleClass('hidden');
                    tip.show();
                    if(data.code == 1){
                        addLists(data);
                        if(data.data.length == 5){
                            tip.text('上拉加载更多');

                        }else{

                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                    } else {

                        tip.text('没有更多了');
                        $(window ).off("scroll");
                    }
                    scrollNow = true;
                }
            })
        }
    })
}
function addLists(data){
    var html = '';
    var lists = data.data;
    var len = lists.length;
    for(var i = 0; i< len;i++){
        var _url = '';
        var list = lists[i];
        var _cliass = '';
        if(list.type==1){
            _url = '/home/approved/leavedetail/id/'+list.id+'.html';
            _cliass = 'qingjia'
        }else if(list.type==2){
            _url = '/home/approved/tripdetail/id/'+list.id+'.html';
            _cliass = 'chuchai'
        }else if(list.type==3){
            _url = '/home/approved/reimbursementdetail/id/'+list.id+'.html';
            _cliass = 'baoxiao'
        }
        html +='<li class="swipeout" style="width:94vw;margin-left: 3vw;margin-right: 3vw;">'
            +'<div class="swipeout-content" onclick="jump(\''+_url+'\')">'
            +'<div class="list" style="width:100%;">'
            +'<span class="title">'+list.publisher+'</span>'
            +'<span class="sent_time" style="width:88vw;">'
            +'<span>'+list.time+'</span>'
            +'</span>'
				+'<span class="yuan '+_cliass+'">'+list.title+'</span>'
				+'<span class="rights"><img src="/home/images/approved/icon_right.png" alt=""></span>'
            +'</div>'
            +'<div class="arrow"><img src="/home/images/review/rightArrow.png" alt=""></div>'
            +'</div>'
			+'<div class="swipeout-actions-right">'
			+'<a class="green" onclick="dispose(this,'+list.id+',1,'+list.type+')">同 意</a>'
			+'<a class="red" onclick="dispose(this,'+list.id+',-1,'+list.type+')">同 意</a>'
			+'</div>'
            +'</li>'
    }
    $('#list-block-company ul').append(html);
}


function change(id) {
	window.location.href = "/home/mediation/yhdetails/id/" + id + ".html";
}
$(function () {
	$(".apply a").on("click",function (e) {
	    e.preventDefault();
		$(this).attr("href",$(this).attr("href"));
		return false;
    })
})

</script>
{/block}