@charset "utf-8";
.t_b {
  font-size: .36rem;
  font-weight: 600;
}
@keyframes todown {
  0% {
    transform: rotate(270deg);
  }
  10% {
    transform: rotate(285deg);
  }
  30% {
    transform: rotate(300deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(330deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes todown {
  0% {
    transform: rotate(270deg);
  }
  10% {
    transform: rotate(285deg);
  }
  30% {
    transform: rotate(300deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(330deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes toup {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(345deg);
  }
  30% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes toup {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(345deg);
  }
  30% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
body {
  background: #eeeeee;
}
.message .title {
  width: 100%;
  padding: 1.6vw 3.2vw;
  background: #e82a2a;
  color: #ffffff;
  font-size: .26rem;
}
.message .list {
  width: 100%;
  padding: 2vw 3.2vw;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
}
.message .list .fl {
  color: #333333;
  font-size: .3rem;
  display: inline-block;
  width: 88%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.message .list .fr {
  color: #666666;
  font-size: .28rem;
}
.message .box .list {
  position: relative;
  padding-left: 9.6vw;
}
.message .box .list .tri {
  position: absolute;
  top: 50%;
  left: 4.5vw;
  content: '';
  height: 1.5vh;
  margin-top: -.75vh;
  width: 2.6vw;
  background: url('/home/images/statistics/tri.png') 0 0 no-repeat;
  background-size: 2.6vw 1.5vh;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.message .box .list .todown {
  -webkit-animation: todown 0.4s linear alternate;
  animation: todown 0.4s linear alternate;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform-origin: 50% 50%;
}
.message .box .list .toup {
  -webkit-animation: toup 0.4s linear alternate;
  animation: toup 0.4s linear alternate;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform-origin: 50% 50%;
}
.message .box ul {
  display: none;
}
.message .box li {
  width: 100%;
  padding: 1.6vw 3.2vw 1.6vw 11.2vw;
  border-bottom: 1px solid #f1f1f1;
  background: #efefef;
  font-size: 0.26rem;
}
