@charset "utf-8";
.t_b {
  font-size: .36rem;
  font-weight: 600;
}
@keyframes todown {
  0% {
    transform: rotate(270deg);
  }
  10% {
    transform: rotate(285deg);
  }
  30% {
    transform: rotate(300deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(330deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes todown {
  0% {
    transform: rotate(270deg);
  }
  10% {
    transform: rotate(285deg);
  }
  30% {
    transform: rotate(300deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(330deg);
  }
  90% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes toup {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(345deg);
  }
  30% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes toup {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(345deg);
  }
  30% {
    transform: rotate(330deg);
  }
  50% {
    transform: rotate(315deg);
  }
  70% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
body {
  background: #eeeeee;
}
.message .title {
  width: 100%;
  padding-left: 3.4vw;
  padding-right: 3.4vw;
  height: 4.5vh;
  background: #e82a2a;
  color: #ffffff;
  font-size: .26rem;
  line-height:4.5vh;
}
.message .list {
  width: 100%;
  padding-left: 3.4vw;
  padding-right: 3.4vw;
  height: 7.5vh;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  line-height: 7.5vh;
}
.message .list .fl {
  color: #333333;
  font-size: .3rem;
}
.message .list .fr {
  color: #666666;
  font-size: .28rem;
}
.message .box .list {
  position: relative;
  padding-left: 8vw;
}
.message .box .list .tri {
  position: absolute;
  top: 3vh;
  left: 4.5vw;
  content: '';
  height: 1.5vh;
  width: 2.6vw;
  background: url('/home/images/statistics/tri.png') 0 0 no-repeat;
  background-size: 2.6vw 1.5vh;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.message .box .list .todown {
  -webkit-animation: todown 0.4s linear alternate;
  animation: todown 0.4s linear alternate;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.message .box .list .toup {
  -webkit-animation: toup 0.4s linear alternate;
  animation: toup 0.4s linear alternate;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.message .box ul {
  display: none;
}
.message .box li {
  width: 100%;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  padding-left: 11.5vw;
  height: 6vh;
  border-bottom: 1px solid #f1f1f1;
  background: #efefef;
  line-height: 6vh;
}
