@charset "utf-8";
.t_b {
    font-size: 1.8rem;
    font-weight: 600;
}
body {
    background: #eeeeee;
}
.lists {
    /*margin-top: 10px;*/
}
.lists .list {
    height: 7.5vh;
    width: 100%;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    background: #ffffff;
    border-top: 1px solid #f1f1f1;
    line-height: 7.5vh;
}
/*.lists .list img {*/
    /*width: 10.6vw;*/
    /*!*height: 40px;*!*/
    /*!*margin-top: 4px;*!*/
    /*!*border: 2px solid #ffffff;*!*/
    /*!*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);*!*/
    /*!*-webkit-border-radius: 50%;*!*/
    /*!*border-radius: 50%;*!*/
    /*!*overflow: hidden;*!*/
/*}*/
.lists .list .fl {
    color: #333333;
    font-size: .28rem;
}
.lists .list .fr {
    color: #999999;
    font-size: .28rem;
}
.img{
    width:12vw;
    height:100%;

}
.lists .list:last-child {
    margin-bottom: 1.8vh;
}
.er{
    width: 5.3vw;
    height: 5.3vw;
    margin-top: 2.25vh;
    margin-right: 2.1vw;
}
.modal-content{
    position: relative;
    width: 80vw;
    margin: 20vw auto;
}
.modal-content .code{
    width: 60vw;
    height: 60vw;
    margin: 10vw;
}
.modal-content canvas {
    width: 60vw;
    height: 60vw;
}
.modal-content .header{
    position: absolute;
    width: 21.3vw;
    height: 21.3vw;
    border: 1.2vh solid #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-left: -10.6vw;
    margin-top: -10.6vw;
}
.lists .list.tag{
    width: 100%;
    height: 4.5vh;
    line-height: 4.5vh;
    padding: 0 4vw;
    background: #eeeeee;
}