{extend name="public/pure"}
{block name="style"}
<title>之图产品案例集</title>
    <link rel="stylesheet" href="/home/css/partyhz/index.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <link rel="stylesheet" href="/home/css/verify/introduce.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <script src="/home/js/zepto.min.js"></script>
<style>
    .amap-info>div:nth-child(2){
        width: 80%;
        position: fixed !important;
        top: 50% !important;
        bottom: auto !important;
        left: 50% !important;
        margin-left: -40%;
        margin-top: -60%;
        z-index: 12;
        border-radius: 8px;
        box-shadow: 0px 0px 4px orange;
    }

    .changemap{
        width:10.8vw;
        height:10.8vw;
        background: #f1f1f1;
        position: absolute;
        top:4vw;
        right:0;
        /*border-radius: 50%;*/
        border-top-left-radius:50%;
        border-bottom-left-radius:50%;
    }
    .changemap i{
        position: relative;
        left: 5.4vw;
        color: #f00;
        font-size: 5vw;
        top: 2.8vw;
        margin-left: -1vw;
    }
</style>
{/block}
{block name="body"}
<div class="changemap"><i class="fa fa-map-marker"></i></div>
<div class="tabBox">
    <div id="sub1" class="tabCon clearfix" >
        <!--微信公众号-->
        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/szdj.png">
                </a>
            </div>
            <p><a>省直党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/dqdx.png">
                </a>
            </div>
            <p><a>德清地信</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/mxxz.png">
                </a>
            </div>
            <p><a>梦想小镇</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/zgyg.png">
                </a>
            </div>
            <p><a>中国遥感</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/tzyd.png">
                </a>
            </div>
            <p><a>台州移动</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/tzgx.png">
                </a>
            </div>
            <p><a>台州个协</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/xsdj.png">
                </a>
            </div>
            <p><a>香市党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/partyhz/mghy.png">
                </a>
            </div>
            <p><a>莫干红云</a></p>
        </div>

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4NTI3ODg1MQ==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/9.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>富阳党建</a></p>-->
        <!--</div>-->

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAxNzAyMzg2NQ==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/10.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>淳安县直机关党建</a></p>-->
        <!--</div>-->

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI0NzM4ODU4OA==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/11.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>桐庐党建</a></p>-->
        <!--</div>-->

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI3NzQwNjg5OA==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/12.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>红芯汇</a></p>-->
        <!--</div>-->

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI2MTMwMTA3Mg==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/13.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>滨江两新先锋</a></p>-->
        <!--</div>-->

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4ODUzNjAxOA==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/14.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>共产党员</a></p>-->
        <!--</div>-->

        <!--<div class="tablist">-->
            <!--<div class="icon">-->
                <!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MTQxNDk1Nw==&scene=124#wechat_redirect">-->
                    <!--<img src="/home/images/partyhz/15.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<p><a>浙江共产党员</a></p>-->
        <!--</div>-->
    </div>

    <div class="amap-info" style="display: none">
        <span class="mask"  style="position: absolute; left:0; top: 0; bottom:0;right: 0;margin-left: 0;background:#000;opacity: 0.5"></span>
        <div style="position: absolute; bottom: 45px; left: 16px;">
            <div>
                <div class="info">
                    <div class="info-top">
                        <div>
                            <img src="/home/images/verify/06_1.png">
                        </div>
                        <img src="http://webapi.amap.com/images/close2.gif" class="close">
                    </div>
                    <div class="info-middle" style="background-color: white;">
                        <p>
                            香市党建
                        </p>
                        <br>
                        <p>
                            适用于寮步镇各党组织党建工作，通过构建一个一体化管理数据中心、多个模块化服务平台、无数分布式终端，构筑移动互联网时代下的国企党建新格局。
                        </p>
                        <br>
                        <a href="javascript:;" class="check">查看产品</a>
                    </div>
                    <div class="info-bottom" style="position: relative; top: 0px; margin: 0px auto;">
                        <img src="http://webapi.amap.com/images/sharp.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
$(".tablist").click(function(){
    event.stopPropagation();
    var index = $(this).index();
    switch (index)
    {
        case 0:
            $(".info-top>div img").attr("src","/home/images/partyhz/szdj.png");
            $(".info-middle>P:first-child").html("省直党建");
            $(".info-middle>P:nth-child(3)").html("省直机关党建企业号，针对机关党建工作教育、管理、服务等特点，专门定制的移动互联网管理服务平台。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
        case 1:
            $(".info-top>div img").attr("src","/home/images/partyhz/dqdx.png");
            $(".info-middle>P:first-child").html("德清地信小镇党建");
            $(".info-middle>P:nth-child(3)").html("用于高新区管委会日常管理、基层党建等（包括地信小镇党委的党建管理、公益服务等）。");
            $(".check").attr("href","http://mgspb.0574ztnet.com/home/work/touristmain2").css("background-color","orange");
            break;
        case 2:
            $(".info-top>div img").attr("src","/home/images/partyhz/mxxz.png");
            $(".info-middle>P:first-child").html("梦想小镇红色驿站（订阅号）");
            $(".info-middle>P:nth-child(3)").html("梦想小镇党建订阅号，打造一个宣传基层党建的“微窗口”，服务基层党建的“微平台”。");
            $(".check").attr("href","http://mxxz.0571ztnet.com/home/index/index").css("background-color","orange");
            break;
        case 3:
            $(".info-top>div img").attr("src","/home/images/partyhz/zgyg.png");
            $(".info-middle>P:first-child").html("中国遥感协会党建（订阅号）");
            $(".info-middle>P:nth-child(3)").html("中国遥感应用协会党委和党支部对外宣传平台，加强我党方针政策和习总书记系列讲话精神宣传，凝聚人心，推进遥感应用发展的平台。");
            $(".check").attr("href","http://zgyg.0571ztnet.com/home/verify/memberslogin.html").css("background-color","orange");
            break;
        case 4:
            $(".info-top>div img").attr("src","/home/images/partyhz/tzyd.png");
            $(".info-middle>P:first-child").html("中国移动台州分公司党建");
            $(".info-middle>P:nth-child(3)").html("台州移动党建企业号，通过构建一个一体化管理数据中心、多个模块化服务平台、无数分布式终端，构筑移动互联网时代下的国企党建新格局。");
            $(".check").attr("href","http://tzpb.0571ztnet.com/home/index/index.html").css("background-color","orange");
            break;
        case 5:
            $(".info-top>div img").attr("src","/home/images/partyhz/tzgx.png");
            $(".info-middle>P:first-child").html("台州市个协党建");
            $(".info-middle>P:nth-child(3)").html("台州市两新党建，用于日常党建管理，以企业号的模式进行党员信息的上传下达和管理。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
        case 6:
            $(".info-top>div img").attr("src","/home/images/partyhz/xsdj.png");
            $(".info-middle>P:first-child").html("香市党建");
            $(".info-middle>P:nth-child(3)").html("适用于寮步镇各党组织党建工作，通过构建一个一体化管理数据中心、多个模块化服务平台、无数分布式终端，构筑移动互联网时代下的国企党建新格局。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
        case 7:
            $(".info-top>div img").attr("src","/home/images/partyhz/mghy.png");
            $(".info-middle>P:first-child").html("莫干红云");
            $(".info-middle>P:nth-child(3)").html("德清县莫干山人民政府党建平台，以企业号的模式进行党员信息的上传下达和管理。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
    }
    $(".amap-info").fadeIn(500);
})

    $(".close").click(function(){
        $(".amap-info").fadeOut(500);
    })

$(".mask").click(function(){
    $(".amap-info").fadeOut(500);
})

    $(".changemap").click(function(){
        window.location.href="/home/verify/introduce.html"
    })

</script>
{/block}