{extend name="public/pure"}
{block name="style"}
<title>小镇地图</title>
    <link rel="stylesheet" href="/home/css/partyhz/index.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <link rel="stylesheet" href="/home/css/verify/introduce.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <script src="/home/js/zepto.min.js"></script>
<style>
    .amap-info>div:nth-child(2){
        width: 80%;
        position: fixed !important;
        top: 50% !important;
        bottom: auto !important;
        left: 50% !important;
        margin-left: -40%;
        margin-top: -60%;
        z-index: 12;
        border-radius: 8px;
        box-shadow: 0px 0px 4px orange;
    }

    .changemap{
        width:10.8vw;
        height:10.8vw;
        background: #f1f1f1;
        position: absolute;
        top:4vw;
        right:0;
        /*border-radius: 50%;*/
        border-top-left-radius:50%;
        border-bottom-left-radius:50%;
    }
    .changemap i{
        position: relative;
        left: 5.4vw;
        color: #f00;
        font-size: 5vw;
        top: 2.8vw;
        margin-left: -1vw;
    }
</style>
{/block}
{block name="body"}
<div class="changemap"><i class="fa fa-map-marker"></i></div>
<div class="tabBox">
    <div id="sub1" class="tabCon clearfix" >
        <!--微信公众号-->
        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/nbc.png">
                </a>
            </div>
            <p><a>南坝村</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/hyw.png">
                </a>
            </div>
            <p><a>花园湾村</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/yhb.png">
                </a>
            </div>
            <p><a>羊河坝村</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/yzq.png">
                </a>
            </div>
            <p><a>银子桥村</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/xjb.png">
                </a>
            </div>
            <p><a>姚家坝村</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/scc.png">
                </a>
            </div>
            <p><a>石淙村</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a>
                    <img src="/home/images/verify/zxc.png">
                </a>
            </div>
            <p><a>镇西村</a></p>
        </div>
    </div>

    <div class="amap-info" style="display: none">
        <span class="mask"  style="position: absolute; left:0; top: 0; bottom:0;right: 0;margin-left: 0;background:#000;opacity: 0.5"></span>
        <div style="position: absolute; bottom: 45px; left: 16px;">
            <div>
                <div class="info">
                    <div class="info-top">
                        <div>
                            <img src="/home/images/verify/dj-06.png">
                        </div>
                        <img src="http://webapi.amap.com/images/close2.gif" class="close">
                    </div>
                    <div class="info-middle" style="background-color: white;">
                        <p>
                            南坝村
                        </p>
                        <br>
                        <p>
                            南坝村设党支部1个，共有正式党员52名，总支委员会由3人组成。2017年新发展党员1名，列为入党积极分子2名。
                        </p>
                        <br>
                        <a href="javascript:;" class="check">进入党组织</a>
                    </div>
                    <div class="info-bottom" style="position: relative; top: 0px; margin: 0px auto;">
                        <img src="http://webapi.amap.com/images/sharp.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
$(".tablist").click(function(){
    event.stopPropagation();
    var index = $(this).index();
    switch (index)
    {
        case 0:
            $(".info-top>div img").attr("src","/home/images/verify/nbc.png");
            $(".info-middle>P:first-child").html("南坝村");
            $(".info-middle>P:nth-child(3)").html("南坝村设党支部1个，共有正式党员52名，总支委员会由3人组成。2017年新发展党员1名，列为入党积极分子2名。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
        case 1:
            $(".info-top>div img").attr("src","/home/images/verify/hyw.png");
            $(".info-middle>P:first-child").html("花园湾村");
            $(".info-middle>P:nth-child(3)").html("花园湾村设党支部1个，共有正式党员59名，支部委员会由3人组成。2017年新发展党员1名，预备党员转正1名，列为入党积极分子1名。");
            $(".check").attr("href","#").css("background-color","#d7d7d7");
            break;
        case 2:
            $(".info-top>div img").attr("src","/home/images/verify/yhb.png");
            $(".info-middle>P:first-child").html("羊河坝村");
            $(".info-middle>P:nth-child(3)").html("羊河坝村设党总支1个，下辖2个党支部，分别为羊河坝村第一党支部和羊河坝村第二党支部，共有正式党员84名，总支委员会由4人组成。2017年预备党员转正1名。");
            $(".check").attr("href","#").css("background-color","#d7d7d7");
            break;
        case 3:
            $(".info-top>div img").attr("src","/home/images/verify/yzq.png");
            $(".info-middle>P:first-child").html("银子桥村");
            $(".info-middle>P:nth-child(3)").html("银子桥村设党总支1个，下辖3个党支部，分别为银子桥村第一党支部、银子桥村第二党支部和银子桥村第三党支部，共有正式党员80名，总支委员会由3人组成。2017年新发展党员2名，预备党员转正2名。");
            $(".check").attr("href","#").css("background-color","#d7d7d7");
            break;
        case 4:
            $(".info-top>div img").attr("src","/home/images/verify/xjb.png");
            $(".info-middle>P:first-child").html("姚家坝村");
            $(".info-middle>P:nth-child(3)").html("姚家坝村设党支部1个，共有正式党员34名，支部委员会由3人组成。2017年预备党员转正1名，列为入党积极分子1名。");
            $(".check").attr("href","#").css("background-color","#d7d7d7");
            break;
        case 5:
            $(".info-top>div img").attr("src","/home/images/verify/scc.png");
            $(".info-middle>P:first-child").html("石淙村");
            $(".info-middle>P:nth-child(3)").html("石淙村设党总支1个，下辖3个党支部，分别为石淙村第一党支部、石淙村第二党支部和石淙村企业党支部，共有正式党员110名，总支委员会由5人组成。2017年新发展党员2名。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
        case 6:
            $(".info-top>div img").attr("src","/home/images/verify/zxc.png");
            $(".info-middle>P:first-child").html("镇西村");
            $(".info-middle>P:nth-child(3)").html("镇西村设党总支1个，下辖3个党支部，分别为镇西村第一党支部、镇西村第二党支部和镇西村企业党支部，共有正式党员92名，总支委员会由4人组成。2017年新发展党员1名，列为入党积极分子2名。");
            $(".check").css("background-color","#d7d7d7").attr("href","javascript:;");
            break;
    }
    $(".amap-info").fadeIn(500);
})

    $(".close").click(function(){
        $(".amap-info").fadeOut(500);
    })

$(".mask").click(function(){
    $(".amap-info").fadeOut(500);
})

    $(".changemap").click(function(){
        window.location.href="/home/verify/introduce.html"
    })

</script>
{/block}