{extend name="public/pure"}
{block name="style"}
<title>小镇地图</title>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
<link rel="stylesheet" href="/home/css/verify/introduce.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
<style>
    .changemap{
        width:10.8vw;
        height:10.8vw;
        background: #f1f1f1;
        position: absolute;
        top:4vw;
        right:0;
        /*border-radius: 50%;*/
        border-top-left-radius:50%;
        border-bottom-left-radius:50%;
        z-index: 999;
    }
    .changemap i{
        position: relative;
        left: 5.4vw;
        color: #f00;
        font-size: 5vw;
        top: 2.8vw;
        margin-left: -1vw;
    }
</style>
{/block}
{block name="body"}
<div class="changemap"><i class="fa fa-th-large"></i></div>
    <div id="container"></div>
{/block}
{block name="script"}
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=93ee7678d3bc3b18970719895425d5c6"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.10"></script>
<script type="text/javascript" src="http://webapi.amap.com/demos/js/liteToolbar.js"></script>
<script type="text/javascript">
    //地图初始化时，在地图上添加一个marker标记,鼠标点击marker可弹出自定义的信息窗体
    var map = new AMap.Map("container", {
        resizeEnable: true,
        center: [120.267259,30.720181],
        zoom: 13
    });

    AMapUI.loadUI(['overlay/SimpleMarker'], function(SimpleMarker) {

//        var lngLats = getGridLngLats(map.getCenter(), 7, 7);

        var markerSimple1 = new SimpleMarker({
            iconLabel: {},
            showPositionPoint: true,
            iconStyle:'<img src="/home/images/verify/dj-06.png">',
            map: map,
            position: [120.250514,30.697303]
        });
        AMap.event.addListener(markerSimple1, 'click', function() {
            createShadow();
            infoWindow0.open(map, markerSimple1.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });

        var markerSimple2 = new SimpleMarker({
            iconLabel: {},
            showPositionPoint: true,
            iconStyle:'<img src="/home/images/verify/dj-02.png">',
            map: map,
            position: [120.252592,30.708687]
        });
        AMap.event.addListener(markerSimple2, 'click', function() {
            createShadow();
            infoWindow4.open(map, markerSimple2.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });

        var markerSimple3 = new SimpleMarker({
            showPositionPoint: true,
            //设置节点属性
            iconLabel: {},
            iconStyle:'<img src="/home/images/verify/dj-04.png">',
            map: map,
            position: [120.264682,30.701719]
        });
        AMap.event.addListener(markerSimple3, 'click', function() {
            createShadow();
            infoWindow1.open(map, markerSimple3.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });

        var markerSimple4 = new SimpleMarker({
            iconLabel: {},
            showPositionPoint: true,
            iconStyle:'<img src="/home/images/verify/dj-07.png">',
            map: map,
            position: [120.276605,30.709377]
        });
        AMap.event.addListener(markerSimple4, 'click', function() {
            createShadow();
            infoWindow7.open(map, markerSimple4.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });
        var markerSimple5 = new SimpleMarker({
            iconLabel: {},
            showPositionPoint: true,
            iconStyle:'<img src="/home/images/verify/dj-03.png">',
            map: map,
            position: [120.268191,30.731998]
        });
        AMap.event.addListener(markerSimple5, 'click', function() {
            createShadow();
            infoWindow2.open(map, markerSimple5.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });
        var markerSimple6 = new SimpleMarker({
            iconLabel: {},
            showPositionPoint: true,
            iconStyle:'<img src="/home/images/verify/dj-08.png">',
            map: map,
            position: [120.260778,30.721731]
        });
        AMap.event.addListener(markerSimple6, 'click', function() {
            createShadow();
            infoWindow6.open(map, markerSimple6.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });
        var markerSimple7 = new SimpleMarker({
            iconLabel: {},
            showPositionPoint: true,
            iconStyle:'<img src="/home/images/verify/dj-05.png">',
            map: map,
            position: [120.288528,30.72816]
        });
        AMap.event.addListener(markerSimple7, 'click', function() {
            createShadow();
            infoWindow5.open(map, markerSimple7.getPosition());
            $('.shadow').on('touchstart',function(){
                closeInfoWindow();
            });
        });
    });

    AMap.plugin(['AMap.ToolBar'], function() {
        map.addControl(new AMap.ToolBar({
            map: map
        }));
    });

    function getGridLngLats(center, colNum, size, cellX, cellY) {

        var pxCenter = map.lnglatToPixel(center);

        var rowNum = Math.ceil(size / colNum);

        var startX = pxCenter.getX(),
                startY = pxCenter.getY();

        cellX = cellX || 20;

        cellY = cellY || 30;


        var lngLats = [];

        for (var r = 0; r < rowNum; r++) {

            for (var c = 0; c < colNum; c++) {

                var x = startX + (c - (colNum - 1) / 2) * (cellX);

                var y = startY + (r - (rowNum - 1) / 2) * (cellY);

                lngLats.push(map.pixelToLngLat(new AMap.Pixel(x, y)));

                if (lngLats.length >= size) {
                    break;
                }
            }
        }
        return lngLats;
    }

    //实例化信息窗体
    var title0 = '<img src="/home/images/verify/nbc.png">',
            content0 = [];
    content0.push("<p>南坝村</p>");
    content0.push("<p>南坝村设党支部1个，共有正式党员52名，总支委员会由3人组成。2017年新发展党员1名，列为入党积极分子2名。</p>");
    content0.push("<a href='javascript:;' style='background-color: #d7d7d7;'>进入党组织</a>");
    var infoWindow0 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title0, content0.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });
    var title1 = '<img src="/home/images/verify/yhb.png">',
            content1 = [];
    content1.push("<p>羊河坝村</p>");
    content1.push("<p>羊河坝村设党总支1个，下辖2个党支部，分别为羊河坝村第一党支部和羊河坝村第二党支部，共有正式党员84名，总支委员会由4人组成。2017年预备党员转正1名。</p>");
    content1.push("<a href='javascript:;' style='background-color: #d7d7d7;'>进入党组织</a>");
    var infoWindow1 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title1, content1.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });
    var title2 = '<img src="/home/images/verify/scc.png">',
            content2 = [];
    content2.push("<p>石淙村</p>");
    content2.push("<p>石淙村设党总支1个，下辖3个党支部，分别为石淙村第一党支部、石淙村第二党支部和石淙村企业党支部，共有正式党员110名，总支委员会由5人组成。2017年新发展党员2名。</p>");
    content2.push("<a href='javascript:;' style='background-color: #d7d7d7;'>进入党组织</a>");
    var infoWindow2 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title2, content2.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });
    var title4 = '<img src="/home/images/verify/hyw.png">',
            content4 = [];
    content4.push("<p>花园湾村</p>");
    content4.push("<p>花园湾村设党支部1个，共有正式党员59名，支部委员会由3人组成。2017年新发展党员1名，预备党员转正1名，列为入党积极分子1名。</p>");
    content4.push("</br><a href='#' style='background-color: #d7d7d7;'>进入党组织</a>");
    var infoWindow4 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title4, content4.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });
    var title5 = '<img src="/home/images/verify/xjb.png">',
            content5 = [];
    content5.push("<p>姚家坝村</p>");
    content5.push("<p>姚家坝村设党支部1个，共有正式党员34名，支部委员会由3人组成。2017年预备党员转正1名，列为入党积极分子1名。</p>");
    content5.push("</br><a href='#' style='background-color: #d7d7d7;'>进入党组织</a>");
    var infoWindow5 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title5, content5.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });
    var title6 = '<img src="/home/images/verify/zxc.png">',
            content6 = [];
    content6.push("<p>镇西村</p>");
    content6.push("<p>镇西村设党总支1个，下辖3个党支部，分别为镇西村第一党支部、镇西村第二党支部和镇西村企业党支部，共有正式党员92名，总支委员会由4人组成。2017年新发展党员1名，列为入党积极分子2名。</p>");
    content6.push("<a href='http://sczdyzx.0571ztnet.com/home/index/index'>进入党组织</a>");
    var infoWindow6 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title6, content6.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });
    var title7 = '<img src="/home/images/verify/yzq.png">',
            content7 = [];
    content7.push("<p>银子桥村</p>");
    content7.push("<p>银子桥村设党总支1个，下辖3个党支部，分别为银子桥村第一党支部、银子桥村第二党支部和银子桥村第三党支部，共有正式党员80名，总支委员会由3人组成。2017年新发展党员2名，预备党员转正2名。</p>");
    content7.push("<a href='#' style='background-color: #d7d7d7;'>进入党组织</a>");
    var infoWindow7 = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title7, content7.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });

    //构建弹窗阴影
    function createShadow(){
        var shadow = document.createElement('div');
        shadow.className = "shadow";
        shadow.style.position = "fixed";
        shadow.style.width = "100%";
        shadow.style.height = "100%";
        shadow.style.left = 0;
        shadow.style.top = 0;
        shadow.style.backgroundColor = "#333";
        shadow.style.opacity = ".5";
        shadow.style.zIndex = "14";
        $('.amap-overlays').append(shadow);
    }

    //构建自定义信息窗体
    function createInfoWindow(title, content) {
        var info = document.createElement("div");
        info.className = "info";

        //可以通过下面的方式修改自定义窗体的宽高
        //info.style.width = "400px";
        // 定义顶部标题
        var top = document.createElement("div");
        var titleD = document.createElement("div");
        var closeX = document.createElement("img");
        top.className = "info-top";
        titleD.innerHTML = title;
        closeX.src = "http://webapi.amap.com/images/close2.gif";
        closeX.onclick = closeInfoWindow;

        top.appendChild(titleD);
        top.appendChild(closeX);
        info.appendChild(top);

        // 定义中部内容
        var middle = document.createElement("div");
        middle.className = "info-middle";
        middle.style.backgroundColor = 'white';
        middle.innerHTML = content;
        info.appendChild(middle);

        // 定义底部内容
        var bottom = document.createElement("div");
        bottom.className = "info-bottom";
        bottom.style.position = 'relative';
        bottom.style.top = '0px';
        bottom.style.margin = '0 auto';
        var sharp = document.createElement("img");
        sharp.src = "http://webapi.amap.com/images/sharp.png";
        bottom.appendChild(sharp);
        info.appendChild(bottom);
        return info;
    }

    //关闭信息窗体
    function closeInfoWindow() {
        map.clearInfoWindow();
        $(".shadow").hide();
    }

    $(".changemap").click(function(){
        window.location.href = "/home/verify/intro.html"
    });

</script>

{/block}