{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/forum.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/test/1.jpg" class="banner-img" alt="banner">
</div>
<div class="title">十月高技术论坛在地信信息小镇</div>
<div class="block review">
	<span class="tag">论坛回顾</span>
	<div class="list_">论坛主题：高精度室内定位技术与应用论坛</div>
	<div class="list_">举办时间：2017年01月01日</div>
	<div class="list_">举办地点：地理信息小镇大礼堂</div>
</div>
<div class="block">
	<span class="tag">论坛展示</span>
	<a class="list">
		<div class="title limit">小镇官方：高精度室内定位技术与应用论坛报道</div>
		<div class="note">
			<span class="time">2012-01-01</span>
			<span class="comment"><i>220</i></span>
		</div>
	</a>
	<a class="list">
		<div class="title limit">小镇官方：高精度室内定位技术与应用论坛报道</div>
		<div class="note">
			<span class="time">2012-01-01</span>
			<span class="comment"><i>220</i></span>
		</div>
	</a>
	<a class="list">
		<div class="title limit">小镇官方：高精度室内定位技术与应用论坛报道</div>
		<div class="note">
			<span class="time">2012-01-01</span>
			<span class="comment"><i>220</i></span>
		</div>
	</a>
</div>
{/block}

{block name="script"}

{/block}