{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">

<style>
    /*reset*/
    .page{
        padding-top:36px;background:#fff;
    }
    .content-block,.list-block,.list-block .item-inner,.list-block .item-content{
        padding:0;margin:0;
    }

    .navbar{
        height:36px;min-height:36px;border:none;background:#f9f9f9;
    }
    .navbar:after{
        height:0;
    }
    .button{
        height:36px;line-height:36px;border:none;color:#999;font-size:16px;
    }
    .buttons-row .button:first-child,.buttons-row .button:last-child{
        border-radius:0; border-left-width:0;
    }
    .button.active{
        background:none;color:#df4934;position:relative;
    }
    .button.active:after{
        content:'';
        position:absolute;
        bottom:0;
        height:10px;
        width:60%;
        left:20%;
        background:url('/home/images/tutor/1.png') 50% 3px no-repeat;
    }

    .list-block ul:before,.list-block ul:after{
        height:0;
    }
    /*main*/
    .banner img{
        width:100%;
    }
    .tongzhi{
        width:100%;position:relative;background:#f9f9f9;height:30px;margin-bottom:18px;font-size:15px;color:#333;
    }
    
    .tongzhi .limit{
        display: inline-block;padding-left:12px;
        height:30px;line-height:30px;
        width:85%;
    }
    .tongzhi img{
        width:30px;position:absolute;right:12px;top:0;margin-top:5px;
    }
    .tongzhi>span>span{
        color:#df4934;
    }
     .content-block ul{
        margin:0 12px;border-radius: 3px;height:215px;background:#fff;box-shadow: 0px 0px 6px 1px rgba(196,196,196, .3);
    }
    #tab2 .content-block ul,#tab2 .content-block ul li{
        height:200px;
    }
    #tab1 .content-block ul li {
        padding-top:8px;
    }
    #tab1 .content-block ul li>div{
        border-radius: 3px;;
    }
    #tab1 .content-block ul li>div:nth-child(1){
        height:91px;background:#f9f9f9;margin:1% 1%  10px;
    }
    #tab1 .content-block ul li>div:nth-child(2){
        height:64px;line-height:25px;
    }
    #tab1 .content-block ul li>div:nth-child(2)>.limit_{
        width:48%;height:64px;background:#f9f9f9;position:relative;padding:10px 12px;
    }
    #tab1 .content-block ul li>div:nth-child(2)>.limit_:nth-child(1){
        margin-right:2%;margin-left:1%;
    }
    #tab1 .content-block ul li>div:nth-child(2)>.limit_>img{
        position:absolute;left:0;top:0;width:30px;
    }

    #tab1 .bottom{
        position:relative;margin-bottom:20px;
    }
    #tab1 .bottom>img{
        width:100%;position:absolute;bottom:-4px;
    }
    #tab1 .swiper-slide{
        width:100%;
    }
    .left_{
        height:91px;
        position: absolute;
        top: 17px;
        left:16%;
        width: 27px;

        z-index: 10;
    }
    .right_{
        height:91px;
        position: absolute;
        top: 17px;
        width: 27px;

        z-index: 10;
        left:70%;
    }

    /*tab2*/
    #tab2 ul{
        margin-bottom:20px;
    }
    #tab2 ul li .list_img{
        height:30px;
    }
    #tab2 ul li .list_img>img:nth-child(1){
        position:absolute;left:-6px;top:8px;width:85px;
    }
    #tab2 ul li .list_img>a>img{
        position:absolute;right:12px;top:13px;width:25px;
    }
    #tab2 ul li>a:nth-child(2),#tab2 ul li>a:nth-child(3){
        height:85px;width:100%;display: block;position:relative;border-bottom:1px solid #f1f1f1;
    }
    #tab2 ul li>a:nth-child(2)>img.fl,#tab2 ul li>a:nth-child(3)>img.fl{
        width:60px;height:60px;border-radius: 3px;margin-left:11px;margin-top:12px;
    }
    #tab2 ul li>a:nth-child(2)>span.limit,#tab2 ul li>a:nth-child(3)>span.limit{
        width:72%;display: block;font-size:14px;height:85px;line-height:85px;margin-left:11px;
    }
    /*tab3*/
    #tab3 ul{
        margin-bottom:20px;
    }
    #tab3 ul li .list_img{
        height:30px;
    }

    #tab3 ul li>div{
        height:85px;width:100%;display: block;position:relative;border-bottom:1px solid #f1f1f1;
    }
    #tab3 ul li>div>img.fl{
        width:60px;height:60px;border-radius: 3px;margin-left:11px;margin-top:12px;
    }
    #tab3 ul li>a>span.limit_{
        width:90%;font-size:14px;height:55px;margin-left:11px;line-height:22px;padding-top:10px;
    }
    .tab_main{
        height:30px;line-height:30px;width:200px;;margin:0 auto;text-align: center;background:#f9f9f9;border-radius: 3px;margin-bottom:3px;
    }
    .btn1{
        width:96px;text-align: center;display: inline-block;;border-radius: 3px;color:#999;font-size:15px;
    }
    .tab_active{
        background:#DF4934;color:#fff
    }
    .none{
        display: none;
    }
    #tab3 #tab_main1>li>a>span:nth-child(2),#tab3 #tab_main2>li>a>span:nth-child(2){
        margin-left:12px;font-size:12px;color:#999;
    }
    #tab3 #tab_main1>li>a>img:nth-child(3),#tab3 #tab_main2>li>a>img:nth-child(3){
        width:12px;height:12px;margin-top:5px;margin-right:10px;
    }
    a{
        display: inline-block;
        color:#666666;
    }
</style>
{/block}

{block name="body"}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="content-block">
                <!-- Buttons row as tabs controller -->
                <div class="buttons-row">
                    <!-- Link to 1st tab, active -->
                    <a href="#tab1" class="tab-link button active">红领导师</a>
                    <!-- Link to 2nd tab -->
                    <a href="#tab2" class="tab-link button">红领带动</a>
                    <!-- Link to 3rd tab -->
                    <a href="#tab3" class="tab-link button">红色论坛</a>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="page-content">
                <!-- Tabs, tabs wrapper -->
                <div class="tabs">
                    <!-- Tab 1, active by default -->
                    <div id="tab1" class="tab active" >
                        <div class="content-block">
                            <div class="banner">
                                <img src="/home/images/banner/2.jpg" alt="">
                            </div>
                            <div class="tongzhi">
                                <span class="limit"><span>通知：</span>{$notice.title}</span>
                                <a href="{:Url('College/tutornoticelist')}"><img src="/home/images/tutor/2.png" alt=""></a>
                            </div>
                            <ul  style="box-shadow: 0px 0px 6px 0px rgba(223,73,52, .5);">
                                <li>
                                    <div class="swiper-container swiper-container1" >
                                        <div class="swiper-wrapper">
                                            {volist name="tutor1" id="tu1"}
                                            <a href="{:Url('College/tutor?id='.$tu1['id'])}" class="swiper-slide">
                                                <img src="{$tu1.header|get_cover='path'}" alt="" style="width:44px;height:44px;border-radius:50%;margin-left:calc(50% - 22px);margin-top:5px;">
                                                <div style="width:100%">
                                                    <div style="width:100%;text-align: center;font-weight: bold;color:#333;">特约导师</div>
                                                    <div style="width:100%;text-align: center;">{$tu1.name}——{$tu1.title}</div>
                                                </div>
                                            </a>
                                            {/volist}
                                        </div>
                                    </div>
                                    <div>
                                        {volist name="course1" id="cou1"}
                                        <a href="{:Url('College/tutordetail?id='.$cou1['id'])}" class='limit_ fl'>
                                            {$cou1.title}
                                            <img src="/home/images/tutor/3-1.png" alt="" style="">
                                        </a>
                                        {/volist}
                                    </div>
                                </li>
                            </ul>
                            <div class="bottom">
                                <img src="/home/images/tutor/3.png" alt="" >
                            </div>
                            <ul style="box-shadow: 0px 0px 6px 0px rgba(255,113,68, .5);">
                                <li>
                                    <div class="swiper-container swiper-container2" >
                                        <div class="swiper-wrapper">
                                            {volist name="tutor2" id="tu2"}
                                            <a href="{:Url('College/tutor?id='.$tu2['id'])}" class="swiper-slide">
                                                <img src="{$tu2.header|get_cover='path'}" alt="" style="width:44px;height:44px;border-radius:50%;margin-left:calc(50% - 22px);margin-top:5px;">
                                                <div style="width:100%">
                                                    <div style="width:100%;text-align: center;font-weight: bold;color:#333;">特约导师</div>
                                                    <div style="width:100%;text-align: center;">{$tu2.name}——{$tu2.title}</div>
                                                </div>
                                            </a>
                                            {/volist}
                                        </div>
                                    </div>
                                    <div>
                                        {volist name="course2" id="cou2"}
                                        <a href="{:Url('College/tutordetail?id='.$cou2['id'])}" class='limit_ fl'>
                                            {$cou2.title}
                                            <img src="/home/images/tutor/4-1.png" alt="" style="">
                                        </a>
                                        {/volist}
                                    </div>
                                </li>
                            </ul>
                            <div class="bottom">
                                <img src="/home/images/tutor/4.png" alt="" >
                            </div>
                            <ul style="box-shadow: 0px 0px 6px 0px rgba(255,168,40, .5);">
                                <li>
                                    <div class="swiper-container swiper-container3" >
                                        <div class="swiper-wrapper">
                                            {volist name="tutor3" id="tu3"}
                                            <a href="{:Url('College/tutor?id='.$tu3['id'])}" class="swiper-slide">
                                                <img src="{$tu3.header|get_cover='path'}" alt="" style="width:44px;height:44px;border-radius:50%;margin-left:calc(50% - 22px);margin-top:5px;">
                                                <div style="width:100%">
                                                    <div style="width:100%;text-align: center;font-weight: bold;color:#333;">特约导师</div>
                                                    <div style="width:100%;text-align: center;">{$tu3.name}——{$tu3.title}</div>
                                                </div>
                                            </a>
                                            {/volist}
                                        </div>

                                    </div>
                                    <div>
                                        {volist name="course3" id="cou3"}
                                        <a href="{:Url('College/tutordetail?id='.$cou3['id'])}" class='limit_ fl'>
                                            {$cou3.title}
                                            <img src="/home/images/tutor/5-1.png" alt="" style="">
                                        </a>
                                        {/volist}
                                    </div>
                                </li>
                            </ul>
                            <div class="bottom">
                                <img src="/home/images/tutor/5.png" alt="" >
                            </div>
                            <ul style="box-shadow: 0px 0px 6px 0px rgba(157,204,102, .5);">
                                <li>
                                    <div class="swiper-container swiper-container4" >
                                        <div class="swiper-wrapper">
                                            {volist name="tutor4" id="tu4"}
                                            <a href="{:Url('College/tutor?id='.$tu4['id'])}" class="swiper-slide">
                                                <img src="{$tu4.header|get_cover='path'}" alt="" style="width:44px;height:44px;border-radius:50%;margin-left:calc(50% - 22px);margin-top:5px;">
                                                <div style="width:100%">
                                                    <div style="width:100%;text-align: center;font-weight: bold;color:#333;">特约导师</div>
                                                    <div style="width:100%;text-align: center;">{$tu4.name}——{$tu4.title}</div>
                                                </div>
                                            </a>
                                            {/volist}
                                        </div>
                                    </div>
                                    <div>
                                        {volist name="course4" id="cou4"}
                                        <a href="{:Url('College/tutordetail?id='.$cou4['id'])}" class='limit_ fl'>
                                            {$cou4.title}
                                            <img src="/home/images/tutor/6-1.png" alt="" style="">
                                        </a>
                                        {/volist}
                                    </div>
                                </li>
                            </ul>
                            <div class="bottom">
                                <img src="/home/images/tutor/6.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="tab2" class="tab" >
                        <div class="content-block">
                            <div class="list-block" id="num2">
                                <div class="banner" style="margin-bottom:20px;">
                                    <img src="/home/images/tutor/1.jpg" alt="">
                                </div>
                                <ul>
                                    <li>
                                        <div style="height:30px;" class="list_img">
                                            <img src="/home/images/tutor/3-2.png" alt="">
                                            <a href="{:Url('College/leadlist?type=1')}">
                                                <img src="/home/images/tutor/3-3.png" alt="">
                                            </a>
                                        </div>
                                        {volist name="lead1" id="le1"}
                                        <a href="{:Url('College/leaddetail?id='.$le1['id'])}">
                                            <img class="fl" src="/home/images/tutor/1.jpg" alt="">
                                            <span class="limit fl">{$le1.title}</span>
                                        </a>
                                        {/volist}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div style="height:30px;" class="list_img">
                                            <img src="/home/images/tutor/4-2.png" alt="">
                                            <a href="{:Url('College/leadlist?type=2')}">
                                                <img src="/home/images/tutor/4-3.png" alt="">
                                            </a>
                                        </div>
                                        {volist name="lead2" id="le2"}
                                        <a href="{:Url('College/leaddetail?id='.$le2['id'])}">
                                            <img class="fl" src="/home/images/tutor/1.jpg" alt="">
                                            <span class="limit fl">{$le2.title}</span>
                                        </a>
                                        {/volist}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div style="height:30px;" class="list_img">
                                            <img src="/home/images/tutor/5-2.png" alt="">
                                            <a href="{:Url('College/leadlist?type=3')}">
                                                <img src="/home/images/tutor/5-3.png" alt="">
                                            </a>
                                        </div>
                                        {volist name="lead3" id="le3"}
                                        <a href="{:Url('College/leaddetail?id='.$le3['id'])}">
                                            <img class="fl" src="/home/images/tutor/1.jpg" alt="">
                                            <span class="limit fl">{$le3.title}</span>
                                        </a>
                                        {/volist}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div style="height:30px;" class="list_img">
                                            <img src="/home/images/tutor/6-2.png" alt="">
                                            <a href="{:Url('College/leadlist?type=4')}">
                                                <img src="/home/images/tutor/6-3.png" alt="">
                                            </a>
                                        </div>
                                        {volist name="lead4" id="le4"}
                                        <a href="{:Url('College/leaddetail?id='.$le4['id'])}">
                                            <img class="fl" src="/home/images/tutor/1.jpg" alt="">
                                            <span class="limit fl">{$le4.title}</span>
                                        </a>
                                        {/volist}
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- Tab 3 -->
                    <div id="tab3" class="tab" >
                        <div class="list-block" id="num3">
                            <div class="banner" style="margin-bottom:15px;">
                                <img src="/home/images/tutor/1.jpg" alt="">
                            </div>
                            <div class="tab_main">
                                <div class="btn1 tab_active" >通知发布</div>
                                <div class="btn1 " >论坛开展</div>
                            </div>

                            <ul id="tab_main1">
                                <li>
                                    {volist name="fnotice" id="fno"}
                                    <a href="{:Url('College/forumnotice?id='.$fno['id'])}" style="width: 100%">
                                        <span class="limit_ fl">{$fno['title']}</span>
                                        <span>{$fno['create_time']|time_format='Y-m-d'}</span>
                                        <img src="/home/images/right.png" alt="" class="fr">
                                    </a>
                                    {/volist}
                                </li>
                            </ul>
                            <ul id="tab_main2" class="none">
                                <li>
                                    {volist name="forum" id="fo"}
                                    <a href="{:Url('College/forum?id='.$fo['id'])}" style="width: 100%">
                                        <span class="limit_ fl">{$fo['title']}</span>
                                        <span>{$fo['create_time']|time_format='Y-m-d'}</span>
                                        <img src="/home/images/right.png" alt="" class="fr">
                                    </a>
                                    {/volist}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>
    var myApp = new Framework7();
    var $$ = Dom7;

    var mySwiper1 = new Swiper('.swiper-container', {
        autoplay:3000,//可选选项，自动滑动
        speed:2500,
        loop:true,
        autoplayDisableOnInteraction : false,
        pagination : '.swiper-pagination',
        observer:true,
        observeParents:true
    });
    var mySwiper2 = new Swiper('.swiper-container2', {
        autoplay:3000,//可选选项，自动滑动
        speed:2750,
        loop:true,
        autoplayDisableOnInteraction : false,
        pagination : '.swiper-pagination',
        observer:true,
        observeParents:true
    });
    var mySwiper3 = new Swiper('.swiper-container3', {
        autoplay:3000,//可选选项，自动滑动
        speed:3000,
        loop:true,
        autoplayDisableOnInteraction : false,
        pagination : '.swiper-pagination',
        observer:true,
        observeParents:true
    });
    var mySwiper4 = new Swiper('.swiper-container4', {
        autoplay:3000,//可选选项，自动滑动
        speed:3000,
        loop:true,
        autoplayDisableOnInteraction : false,
        pagination : '.swiper-pagination',
        observer:true,
        observeParents:true,
        prevButton:'.left_',
        nextButton:'.right_'
    });
    //#tab3
    $('.btn1').click(function(){
        $(this).toggleClass('tab_active');
        $(this).siblings().toggleClass('tab_active');
        $(this).parent().parent().find('ul').toggleClass('none')
    });
    $(function(){
        $('a').off('click' ).on('click',function(){
            window.location.href  =$(this ).attr('href');
        })
    })
</script>
{/block}