{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/lists.css">
{/block}

{block name="body"}
<div class="lists_">
	{volist name="list" id="vo"}
	<a href="{:Url('College/tutordetail?id='.$vo['id'])}" class="list">
		<div class="title limit">{$vo.title}</div>
		<div class="note">
			<span class="time">{$vo.create_time|time_format='Y-m-d'}</span>
			<span class="fa fa-angle-right"></span>
		</div>
	</a>
	{/volist}
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
{/block}