@charset "utf-8";
/*layout*/
 /*banner*/
.banner{
	position: relative;
	width: 100%;
	height: 50vw;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner .title_{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10.666vw;
	padding-left: 3.4667vw;
	padding-right: 3.4667vw;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 10.6666vw;
	font-size: 1.6rem;
	color: #ffffff;
}
/*tab*/
.tabs {
	width: 100vw;
	height: 11.7vw;
	padding: 2vw 0;
	background: #f1f1f1;
}
.tabs .tab {
	display: inline-block;
	width: 32vw;
	height: 100%;
	color: #333333;
	font-size: 1.5rem;
	line-height: 7vw;
	text-align: center;
	border-right: 0.27vw solid #e5e5e5;
}
.tabs .tab:last-child {
	border-right: none;
}
.tabs .active {
	color: #fd6743;
}
 /*新闻列表*/
.list{
	display: block;
	width: 100%;
	height: 24vw;
	padding-left: 4vw;
	padding-right: 4vw;
	border-bottom: 0.27vw solid #dddddd;
	position: relative;
}
.list>.fl {
	width: 24vw;
}
.list img{
	display: inline-block;
	width: 24vw;
	height: 16vw;
	margin-top: 4vw;
}
.list .lr{
	width: 67vw;
}
.list .lr .title{
	width: 100%;
	font-size: 1.4rem;
	margin-top: 4vw;
	margin-bottom: 2.1333vw;
	color:#333333;
	margin-left: 2vw;
}
.list .lr .clear{
	font-size: 1.2rem;
	color:#999999;
	position: absolute;
	bottom: 4vw;
	width: 65.5vw;
	margin-left: 2vw;
}
.tip{
	text-align: center;
	line-height: 10.6666vw;
	color:#c1c1c1;
}
/*加载动画*/
.loading{
	width: 100%;
	height: 10.6666vw;
}
.typing_loader{
	width: 1.6vw;
	height: 1.6vw;
	border-radius: 50%;
	-webkit-animation: typing 1s linear infinite alternate;
	-moz-animation: Typing 1s linear infinite alternate;
	animation: typing 1s linear infinite alternate;
	position: relative;
	top: 4.5333vw;
	left: 44.6666vw;
}
@-webkit-keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.2),
		6.4vw 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.8),
		6.4vw 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.2),
		6.4vw 0 0 0 rgba(0,0,0,0.8);
	}
}

@-moz-keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.2),
		6.4vw 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.8),
		6.4vw 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.2),
		6.4vw 0 0 0 rgba(0,0,0,0.8);
	}
}

@keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.2),
		6.4vw 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.8),
		6.4vw 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 3.2vw 0 0 0 rgba(0,0,0,0.2),
		6.4vw 0 0 0 rgba(0,0,0,0.8);
	}
}