{extend name="public/common"}

{block name="style"}
<title>基本书目</title>
<link rel="stylesheet" href="/home/css/study/index.css">
<style>
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .all .note .read {
        width: 16vw;
        margin-right: 0;
        text-align: left;
    }
    #nomessage1,#nomessage2,#nomessage3,#nomessage4,#nomessage5,#nomessage6{
        width:26.6vw;
        height:26.6vw;
        margin: 10vw auto;
        /*display: none;*/
    }
    #nomessage1 img,#nomessage2 img,#nomessage3 img,#nomessage4 img,#nomessage5 img, #nomessage6 img{
        width:100%;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
<div class="wrapper wrapper03" id="wrapper03">
    <div class="scroller">
        <ul class="clearfix">
            <li data-side="1"><a href="javascript:void(0)">党的历史</a></li>
            <li data-side="2"><a href="javascript:void(0)">党的理论</a></li>
            <li data-side="3"><a href="javascript:void(0)">党的修养</a></li>
            <li data-side="4"><a href="javascript:void(0)">党务知识</a></li>
            <li data-side="5"><a href="javascript:void(0)">党规党章</a></li>
            <li data-side="6"><a href="javascript:void(0)">系列讲话</a></li>
        </ul>
    </div>
</div>
<div class="banner"><img src="/home/images/banner/1.jpg" class="lazy"></div>
<div class="subject all" id="side1">
    {notempty name="$list1"}
    {volist name="list1" id="vo"}
    <a class="side1Content" href="{:Url('study/detail?id='.$vo['id'])}">
        <div class="side1Content_Top">中共一大</div>
        <div class="side1Content_Text">
            <p class="side1Content_Text_01">{$vo.title}</p>
            <p class="side1Content_Text_02">{$vo.desc}</p>
        </div>
        <div class="note notess clearfix" style="width:84vw;margin: 1.5vh auto 0 ;">
            <span class="fr isgood good">{$vo.comments}</span>
            <span class="fr read">{$vo.views}</span>
        </div>
    </a>
    {/volist}
    {else/}
    <div id="nomessage1">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="subject all" id="side2">
    {notempty name="$list2"}
    {volist name="list2" id="vo"}
    <a class="side1Content" href="{:Url('study/detail?id='.$vo['id'])}">
        <div class="side1Content_Top"></div>
        <div class="side1Content_Text">
            <p class="side1Content_Text_01">{$vo.title}</p>
            <p class="side1Content_Text_02">{$vo.desc}</p>
        </div>
        <div class="note notess clearfix" style="width:84vw;margin: 1.5vh auto 0 ;">
            <span class="fr isgood good">{$vo.comments}</span>
            <span class="fr read">{$vo.views}</span>
        </div>
    </a>
    {/volist}
    {else/}
    <div id="nomessage2">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="subject all" id="side3">
    {notempty name="$list3"}
    {volist name="list3" id="vo"}
    <a class="side1Content" href="{:Url('study/detail?id='.$vo['id'])}">
        <div class="side1Content_Top"></div>
        <div class="side1Content_Text">
            <p class="side1Content_Text_01">{$vo.title}</p>
            <p class="side1Content_Text_02">{$vo.desc}</p>
        </div>
        <div class="note notess clearfix" style="width:84vw;margin: 1.5vh auto 0 ;">
            <span class="fr isgood good">{$vo.comments}</span>
            <span class="fr read">{$vo.views}</span>
        </div>
    </a>
    {/volist}
    {else/}
    <div id="nomessage3">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="subject all" id="side4">
    {notempty name="$list4"}
    {volist name="list4" id="vo"}
    <a class="side1Content" href="{:Url('study/detail?id='.$vo['id'])}">
        <div class="side1Content_Top"></div>
        <div class="side1Content_Text">
            <p class="side1Content_Text_01">{$vo.title}</p>
            <p class="side1Content_Text_02">{$vo.desc}</p>
        </div>
        <div class="note notess clearfix" style="width:84vw;margin: 1.5vh auto 0 ;">
            <span class="fr isgood good">{$vo.comments}</span>
            <span class="fr read">{$vo.views}</span>
        </div>
    </a>
    {/volist}
    {else/}
    <div id="nomessage4">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="subject all" id="side5">
    {notempty name="$list5"}
    {volist name="list5" id="vo"}
    <a class="side1Content" href="{:Url('study/detail?id='.$vo['id'])}">
        <div class="side1Content_Top"></div>
        <div class="side1Content_Text">
            <p class="side1Content_Text_01">{$vo.title}</p>
            <p class="side1Content_Text_02">{$vo.desc}</p>
        </div>
        <div class="note notess clearfix" style="width:84vw;margin: 1.5vh auto 0 ;">
            <span class="fr isgood good">{$vo.comments}</span>
            <span class="fr read">{$vo.views}</span>
        </div>
    </a>
    {/volist}
    {else/}
    <div id="nomessage5">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="subject all" id="side6">
    {notempty name="$list6"}
    {volist name="list6" id="vo"}
    <a class="side1Content" href="{:Url('study/detail?id='.$vo['id'])}">
        <div class="side1Content_Top"></div>
        <div class="side1Content_Text"><p class="side1Content_Text_01">{$vo.title}</p><p class="side1Content_Text_02">{$vo.desc}</p></div>
        <div class="note notess clearfix" style="width:84vw;margin: 1.5vh auto 0 ;">
            <span class="fr isgood good">{$vo.comments}</span>
            <span class="fr read">{$vo.views}</span>
        </div>
    </a>
    {/volist}
    {else/}
    <div id="nomessage6">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<!--<script type="text/javascript" src="/home/js/study/flexible.js"></script>-->
<script type="text/javascript" src="/home/js/study/iscroll.js"></script>
<script type="text/javascript" src="/home/js/study/navbarscroll.js"></script>
<script>
    $('.wrapper').navbarscroll();
    var study = localStorage.getItem('studyNum')==undefined?1:localStorage.getItem('studyNum');
    var num = parseInt(study);
    if(study==1){
        $('.banner img').attr('src','/home/images/banner/1.jpg')
    }else if(study ==2 ){
        $('.banner img').attr('src','/home/images/banner/2.jpg')
    }else if(study ==3 ){
        $('.banner img').attr('src','/home/images/banner/3.jpg')
    }else if(study ==4 ){
        $('.banner img').attr('src','/home/images/banner/4.jpg')
    }else if(study ==5 ){
        $('.banner img').attr('src','/home/images/banner/5.jpg')
    }else if(study ==6 ){
        $('.banner img').attr('src','/home/images/banner/7.jpg')
    }
    for(var i=0;i<$('.clearfix li').length;i++){
        $('.clearfix li')[i].onclick = function(){
            var side = $(this).data('side');
            $('.subject').hide();
            $('#side'+side).show();
            localStorage.setItem('studyNum',side);
            num=side;
            $('.tip').hide();
            if(side==1){
                $('.banner img').attr('src','/home/images/banner/1.jpg')
            }else if(side ==2 ){
                $('.banner img').attr('src','/home/images/banner/2.jpg')
            }else if(side ==3 ){
                $('.banner img').attr('src','/home/images/banner/3.jpg')
            }else if(side ==4 ){
                $('.banner img').attr('src','/home/images/banner/4.jpg')
            }else if(side ==5 ){
                $('.banner img').attr('src','/home/images/banner/5.jpg')
            }else if(side ==6 ){
                $('.banner img').attr('src','/home/images/banner/7.jpg')
            }
            loadScroll();
            if($('#side'+side).find('a').length==0){
                $('.tip').hide();
            }else {
                $('.tip').show();
            }
        }
    }
    $('.subject').hide();
    $('.clearfix li').removeClass('cur');
    $('.clearfix li').eq(study-1).addClass('cur');
    $('#side'+study).show();
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 30,
//        slidesPerGroup: 4,
//        freeMode: true,
        centeredSlides: true,
        slideToClickedSlide: true,
        grabCursor: true,
        history: 'slides',
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    $('.swiper-container .swiper-slide').each(function(){
        $('.swiper-container .swiper-slide').removeClass('swiper-slide-active');
        $('.swiper-container .swiper-slide').eq(num-1).addClass('swiper-slide-active');
        if(num==2){
            $('.swiper-container .swiper-slide').eq(1).removeClass('swiper-slide-next')
//            $('.swiper-container .swiper-slide').eq(0).addClass('swiper-slide-prev');
//            $('.swiper-container .swiper-slide').eq(2).addClass('swiper-slide-next');
        }else if(num>4){
            $('.swiper-wrapper').css('transform','translate3d(-253.125px, 0px, 0px)')
        }
        $('.swiper-container .swiper-slide').eq(0).on('click',function(){
            $('.swiper-container .swiper-slide').removeClass('swiper-slide-active');
            $(this).addClass('swiper-slide-active')
        })
    });
    var scrollNow = true;
    var len = $(".subject a").eq(num-1).length;
    if (len >= 5) {
        $('.tip').text('上拉加载更多');
    }
    loadScroll();
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $(".subject").eq(num-1).find('a').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow && $('#side'+num).find('a').length>0){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('study/indexmore')}",
                    data:{
                        type:num,
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            console.log(data)
                            addCourse(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addCourse(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            var str='';
            if(num==1){
                str = '<div class="side1Content_Top">中共一大</div>'
            }else {
                str = '<div class="side1Content_Top"></div>'
            }
            html +='<a class="side1Content" href="/home/study/detail?id='+list.id+'">'
                    +str
                    +'<div class="side1Content_Text"><p class="side1Content_Text_01">'+list.title+'</p><p class="side1Content_Text_02">'+list.desc+'</p></div>'
                    +'<div class="note notess" style="width:84vw;margin: auto ;"><span class="read">'+list.views+'</span><span class="fr isgood good">'+list.comments+'</span></div>'
                    +'</a>'
        }
        $("#side"+num ).append(html);
    }



</script>
{/block}