.list>li{
    height:71px;
    border-bottom:1px solid #e5e5e5;
    position:relative;
}
.list>li>div{
    width:50px;
    height:50px;
    position:absolute;
    left: 10px;
    top:10px;
    background:url("/exchange/3.png") no-repeat center center;
    background-size:cover;
}
.list>li>p{
    font-size: 15px;
    line-height: 15px;
    color:#333;
    position: absolute;
    top: 12px;
    left: 70px;
}
.list>li>span{
    color:#999;
    font-size: 14px;
    position:absolute;
    left: 70px;
    bottom:12px;
}
.list>li>a{
    font-size: 24px;
    line-height: 70px;
    color:#fc4f41;
    position:absolute;
    right:10px;
}