{extend name="public/common"}

{block name="style"}
    <script src="/static/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/home/css/main.css">
    <title>
        {eq name="now" value="1"}
        最新会议
        {else/}
        历史会议
        {/eq}
    </title>

{/block}
{block name="body"}
    <div class="banner">
        <img src="{$data.front_cover|get_cover='path'}" alt="">
    </div>
    <div class="container">
        <div class="title">
            <p>{$data.title}</p>
        </div>
        <!--<div class="person_time"><span>浏览 <span>100</span>次</span></div>-->
        <div class="time clearfix">
            <img src="/home/images/work/time.png" alt="" class="fl">
            <span class="fl">{$data.meet_time|date="Y-m-d H:i",###}&nbsp</span>
        </div>
        <div class="personList clearfix">
            <div class="person_img fl">
                <img src="/home/images/work/person.png" alt="">
            </div>
            <div class="person_list fr">
                <i class="fa fa-angle-right fr"></i>
                {empty name='$data.infoes'}
                <span class="noNum">无人签到</span>
                {/empty}
                <ul class="personImg_list fr">
                    {volist name="$data.infoes" id="lo" key='k' offset="0" length='3'}
                    <li class="clearfix">
                        {$lo}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="content">
            {$data.content}
        </div>
    </div>

    <div class="box">
        <div class="shadow"></div>
        <div class="list">
            <p>已签到<span id="signNum">{:count($data.infoes)}</span>人</p>
            <div class="clearfix">
                <ul>
                    {volist name="$data.infoes" id="lo"}
                    <li class="clearfix">
                        {$lo}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
{eq name="c" value=""}
<a class="sao" style="display:none;">扫一扫</a>
{else/}
<a class="sao">扫一扫</a>
{/eq}
<div class="bk1">
    <div class="content">
        <img src="" alt="" id="user_img">
        <p id="user_name"></p>
        <div class="bk_title">
           签 到 成 功
        </div>
        <div class="btn1">
            <a id="done">完成</a>
            <a id="next">下一个</a>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=WS7BZ-ZBERG-5T5Q3-IBRHI-FVXU3-45FR5&libraries=drawing,geometry,autocomplete,convertor"></script>
<script>
    $(function() {
        if($('.personImg_list li').length >= 4) {
            $('.personImg_list li:last-of-type').remove();
        }
    });
//    测试扫描
    $('.sao').click(function(){
        $('.sao').hide();
        var result = '15868193036'; // 当needResult 为 1 时，扫码返回的结果
        var id = {$data.id};
        $.ajax({
            type: 'POST',
            url: "{:Url('Work/scan')}" ,
            data: {id:id,user_id:result} ,
            success:function(data){
                if (data.status==2) {
                    $('.sao').show();
                    swal({
                        title: '',
                        text: data.err_msg,
                        type: 'error',
                        confirmButtonText: '确定',
                        timer: 3000
                    });
                } else if (data.status==1){
                    /*隐藏无人签到*/
                    $(".noNum").hide();
                    $('#user_img').attr('src',data.header);
                    $('#user_name').html(data.name);
                    $('.bk_title').html('签 到 成 功');
                    var html='<li><img src="'+data.header+'"><span>'+data.name+'</span></li>';
                    $('.personImg_list').prepend(html);
                    $(".list ul").prepend(html);
                    if($('.personImg_list li').length > 3) {
                        $('.personImg_list li:last-of-type').remove();
                    }
                    $('.bk1').show();
                }else{
                    $('#user_img').attr('src',data.header);
                    $('#user_name').html(data.name);
                    $('.bk_title').html('已 签 到');
                    /*隐藏无人签到*/
                    $(".noNum").hide();
                    var html='<li><img src="'+data.header+'"><span>'+data.name+'</span></li>';
                    $('.personImg_list').append(html);
                    $(".list ul").prepend(html);
                    // 增加签到人数
                    var num = $('#signNum').html();
                    ++num;
                    $('#signNum').html(num);
                    if($('.personImg_list li').length > 3) {
                       //清除最后一个
                        $('.personImg_list li:last-of-type').remove();
                    }
                    $('.bk1').show();
                }

            }
        });
    });

    /*人员弹出框*/
    $(".personList").on('click',function(){
        $(".box").show();
    });
    $(".shadow").bind("click",function(e) {
        $(".box").hide();
    });

</script>

<script>
    $(function(){
        $('.main1>ul>li').height(document.body.clientWidth*0.25+'px');
        $('.main1>ul>li>img').width(document.body.clientWidth*0.25-30+'px');
        $('.main1>ul>li>img').height(document.body.clientWidth*0.25-30+'px');
        $('.bk1').height(window.screen.availHeight);
    });


    var appId='{$jsSign.appid}';
    var timestamp='{$jsSign.timestamp}';
    var nonceStr='{$jsSign.noncestr}';
    var signature='{$jsSign.signature}';
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: ['scanQRCode','getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    $('#done').click(function(){
        $('.bk1').hide();
        $('.sao').show();
    });
    $('#next').click(function(){
        $('.bk1').hide();
        $('.sao').show();
        $('.sao').click();
    });
    wx.ready(function(){
        $('.sao').click(function(){
            wx.scanQRCode({
                desc: 'scanQRCode desc',
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    $('.sao').hide();
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    var id = {$data.id};
                    $.ajax({
                        type: 'POST',
                        url: "{:Url('Work/scan')}" ,
                        data: {id:id,user_id:result} ,
                        success:function(data){
                            if(data.status==2){
                                $('.sao').show();
                                alert(data.err_msg);
                            }else if(data.status==1){
                                if($('#noneMan')){
                                    $('#noneMan').remove();
                                }
                                $('#user_img').attr('src',data.header);
                                $('#user_name').html(data.name);
                                $('.bk_title').html('签 到 成 功');
                                var html='<li><img src="'+data.header+'"><span>'+data.name+'</span></li>';
                                $('.main1>ul').prepend(html);
                                $('.main1>ul>li').height(document.body.clientWidth*0.25+'px');
                                $('.main1>ul>li>img').width(document.body.clientWidth*0.25-30+'px');
                                $('.main1>ul>li>img').height(document.body.clientWidth*0.25-30+'px');
                                $('.bk1').show();
                            }else{
                                $('#user_img').attr('src',data.header);
                                $('#user_name').html(data.name);
                                $('.bk_title').html('已 签 到');
                                $('.bk1').show();
                            }

                        }
                    });
                },
                error:function(){
                    $('.sao').show();
                }
            });
        });
    });
    wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        alert(JSON.stringify(res));
    });
</script>
{/block}