{extend name="public/common"}

{block name="style"}
<title>党员签到</title>
<style>
	.header{
		height:45px;
		background-color:#fff;
		margin-bottom:10px;
	}
	.header>li{
		width:50%;
		float:left;
		color:#333;
		height:45px;
		line-height: 45px;
		text-align: center;
		position:relative;
		font-size: 15px;
	}
	.header>li>span{
		position:absolute;
		bottom:0;
		left:50%;
		-webkit-transform: translateX(-50%);
		height:2px;
		width:70px;
		background-color:#df4934;
		display: none;
	}
	.header>li.active{
		color: #df4934;
	}
	.header>li.active>span{
		display:block;
	}
	.header>li:first-child:before {
		content: '';
		width: 1px;
		height: 20px!important;
		background-color: #e5e5e5;
		float: right;
		margin-top: 10.5px;
	}
	.main{
		background-color:#fff;
	}
	.main>ul>li{
		width:100%;
		height:70px;
		padding-top:10px;
		padding-bottom:10px;
		position:relative;
		background:url("/home/images/work/rightArr.png") no-repeat center right;
		background-size:30px 30px;
		border-bottom:1px solid #eee;
	}
	.main>ul>li>b{
		width:50px;
		height:50px;
		background:url("") no-repeat center center;
		background-size:cover;
		float:left;
		margin-left:10px;
	}
	.main>ul>li>p{
		position:absolute;
		left:70px;
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		font-size: 15px;
	}
	.main>ul>li>span{
		color:#666;
		position:absolute;
		bottom:10px;
		left:70px;
		font-size:13px;
	}

	.nomessage{
		text-align: center;
		position:fixed;
		top:50%;
		left:50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
	}
	.nomessage>img{
		width:56%;
		margin-bottom:15px;
	}
	.nomessage>span{
		font-size: 17px;
		color:#ccc;
	}
</style>
{/block}

{block name="body"}
<ul class="header">
	<li  data-id="1">
		最新会议
		<span></span>
	</li>
	<li  data-id="2">
		历史会议
		<span></span>
	</li>
</ul>
<div class="main" id="1" style="display:none;">
	<ul>
		{empty name="now"}
		<div class="nomessage">
			<img src="/home/images/work/5.png" alt="" ><br>
			<span>抱歉，暂无数据</span>
		</div>
		{else/}
		{volist name="now" id="vo"}
		<li data-num="{$vo.id}" onclick="window.location.href='main?id={$vo.id}'">
			<b style=' background-image:url({$vo.front_cover|get_cover="path"})'></b>
			<p>{$vo.title}</p>
			<span>{$vo.meet_time|date="Y-m-d H:i",###}</span>
		</li>
		{/volist}
		{/empty}
	</ul>
</div>
<div class="main" id="2" style="display:none;">
	<ul>

		{empty name="go" }
		<div class="nomessage">
			<img src="/home/images/work/5.png" alt="" ><br>
			<span>抱歉，暂无数据</span>
		</div>
		{else/}
		{volist name="go" id="vo"}
		<li data-num="{$vo.id}" onclick="window.location.href='main?id={$vo.id}'" >
			<b style=' background-image:url({$vo.front_cover|get_cover="path"})'></b>
			<p>{$vo.title}</p>
			<span>{$vo.meet|date="Y-m-d H:i",###}</span>
		</li>
		{/volist}
		{/empty}
	</ul>
</div>

{/block}

{block name="script"}
<script>
	$(function(){
		$('.main>ul>li>p').width(document.body.clientWidth-100);
	})
	$('li[data-id=1]').addClass('active');
	$('#1').show();

	$('.header>li').click(function(){
		if(!$(this).hasClass('active')){
			if($(this).attr('data-id')==1){
				$('#2').hide();
				$('#1').show();
			}else{
				$('#1').hide();
				$('#2').show();
			}
			$('.header').find('.active').removeClass('active');
			$(this).addClass('active');
		}

	})






</script>
{/block}