{extend name="public/common"}

{block name="style"}
<title>会议签到</title>
<style>
	.header{
		background-color:#fff;
		margin-bottom:2.67vw;
	}
	.header>li{
		width:50%;
		float:left;
		color:#333;
		line-height: 12.2vw;
		text-align: center;
		position:relative;
		font-size: 1.64rem;
	}
	.header>li>span{
		position:absolute;
		bottom:0;
		left:50%;
		-webkit-transform: translateX(-50%);
		height:.56vw;
		width:20vw;
		background-color:#df4934;
		display: none;
	}
	.header>li.active{
		color: #df4934;
	}
	.header>li.active>span{
		display:block;
	}
	.header>li:first-child:before {
		content: '';
		width: 0.27vw;
		height: 5.35vw;
		background-color: #e5e5e5;
		float: right;
		margin-top: 3.34vw;
	}
	.main{
		background-color:#fff;
	}
	.main>ul>li{
		width:100%;
		padding:2.67vw 0;
		position:relative;
		background:url("/home/images/work/rightArr.png") no-repeat center right;
		background-size:7.5vw 7.5vw;
		border-bottom:0.27vw solid #eee;
	}
	.main>ul>li b{
		height:11.24vw;
		width: 15.24vw;
		background:url("") no-repeat center center;
		background-size:cover;
		float:left;
		margin-left:2.25vw;
	}
	.main>ul>li p{
		width: 72vw;
		position:absolute;
		left: 20vw;
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		font-size: 1.46rem;
		color: #333333;
	}
	.main>ul>li span{
		color:#666;
		position:absolute;
		bottom: 2.67vw;;
		left:20vw;
		font-size:1rem;
	}

	.nomessage{
		text-align: center;
		position:fixed;
		top:50%;
		left:50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
	}
	.nomessage>img{
		width:56%;
		margin-bottom:4vw;
	}
	.nomessage>span{
		font-size: 1.7rem;
		color:#ccc;
	}
</style>
{/block}

{block name="body"}
<ul class="header clearfix">
	<li  data-id="1">
		最新会议
		<span></span>
	</li>
	<li  data-id="2">
		历史会议
		<span></span>
	</li>
</ul>
<div class="main" id="1" >
	<ul>
		{empty name="now"}
		<div class="nomessage">
			<img src="/home/images/work/5.png" alt="" ><br>
			<span>抱歉，暂无数据</span>
		</div>
		{else/}
		{volist name="now" id="vo"}
		<li data-num="{$vo.id}" onclick="window.location.href='main?id={$vo.id}'; $(this).css('backgroundColor','#eee');" class="clearfix">
			<b style=' background-image:url({$vo.front_cover|get_cover="path"})'></b>
			<p>{$vo.title}</p>
			<span>{$vo.meet_time|date="Y-m-d H:i",###}</span>
		</li>
		{/volist}
		{/empty}
	</ul>
</div>
<div class="main hidden" id="2" >
	<ul>

		{empty name="go" }
		<div class="nomessage">
			<img src="/home/images/work/5.png" alt="" ><br>
			<span>抱歉，暂无数据</span>
		</div>
		{else/}
		{volist name="go" id="vo"}
		<li data-num="{$vo.id}" onclick="window.location.href='main?id={$vo.id}'; $(this).css('backgroundColor','#eee');" class="clearfix" >
			<b style=' background-image:url({$vo.front_cover|get_cover="path"})'></b>
			<p>{$vo.title}</p>
			<span>{$vo.meet_time|date="Y-m-d H:i",###}</span>
		</li>
		{/volist}
		{/empty}
	</ul>
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script>
	$('li[data-id=1]').addClass('active');
	$('#1').show();

	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
	var tabType = 1; // 记录当前是哪个tab
	$(function(){
		//初始化数据
		var len = $('#'+tabType).find("li").length;
		if(len >= 7 ){
			$('.tip').text('上拉加载更多');
			loadScroll();
		}
		//tab切换
		$(".header").on('click','li',function () {
			var index = $(this).index();
			console.log(index);
			tabType = index + 1;
			$(this).addClass("active").siblings("li").removeClass("active");
			$(".main").eq(index).removeClass("hidden").siblings(".main").addClass("hidden");
			var len = $('#'+tabType).find("li").length;
			if ( len >= 7 ) {
				$(".tip").show();
				$(".tip").text('上拉加载更多');
				loadScroll();
			}else{
				$('.tip').hide();
				$(window ).off("scroll" );
			}

		});
	});

	function loadScroll(){

		$(window ).off("scroll" ).on("scroll",function(){
			var dh = $(document).height();
			var end = $(window).height() + $(window ).scrollTop();
			var len  = $('#'+tabType).find("li").length;
			var tip = $(".tip");
			var loading = $('.loading');
			if(dh == end && scrollNow){
				scrollNow = false;
				$.ajax({
					type:"post",
					url:"{:Url('Work/getMoreSignList')}",
					data:{
						length: len,
						type: tabType,
					},
					beforeSend: function(XMLHttpRequest){
						tip.hide();
						loading.toggleClass('hidden');
					},
					success:function(data){
						loading.toggleClass('hidden');
						tip.show();
						if(data.code == 1){
							addNews(data);
							var dataLen =data.data.length;
							if(data.data.length == 6){
								tip.text('上拉加载更多');
							}
						}else{
							tip.text('没有更多了');
							$(window ).off("scroll");
						}
						scrollNow = true;
					}
				})
			}
		})
	}

	function addNews(data){
		var html = '';
		var lists = data.data;
		var len = lists.length;
		var ntc = $('#'+tabType);

		for(var i = 0; i< len;i++){
			var list = lists[i];
			html +=
					'<li onclick="window.location.href='+"'"+'main?id='+list.id +"'; $(this).css('backgroundColor','#eee');"+'"class="clearfix" >'+
						'<b style="background-image:url(' + list.src + ')" ></b>'+
						'<p>'+ list.title +'</p>'+
						'<span>'+list.time +'</span>'+
					'</li>'
		}

		ntc.children("ul").append(html);
	}


</script>
{/block}