{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure.css">
{/block}

{block name="body"}

<div class="searchbox">
	<input type="text" class="search" placeholder="搜索党支部名称">
	<span class="fa fa-search"></span>
</div>
<div class="lists"></div>
{/block}

{block name="script"}
<script>
$('title' ).text('组织架构');
var datas =
		[
			{
				"party1":"中共寮步镇委员会",
				"detail1":[
					{
						"party2":"镇领导班子",
						"detail2":[
							{
								"party3":"镇领导班子成员",
							},
						]
					},
					{
						"party2":"镇机关企事业单位党组织",
						"detail2":[
							{
								"party3":"武装系统党支部",
							},
							{
								"party3":"财政分局党支部",
							},
							{
								"party3":"商务局党支部",
							},
							{
								"party3":"环保分局党支部",
							},
							{
								"party3":"社保分局党支部",
							},
							{
								"party3":"地税分局党支部",
							},
							{
								"party3":"国土分局党支部",
							},
							{
								"party3":"人力资源分局党支部",
							},
							{
								"party3":"住房规划建设局党支部",
							},
							{
								"party3":"安监分局党支部",
							},
							{
								"party3":"城市综合管理分局党支部",
							},
							{
								"party3":"公安分局党委",
							},
							{
								"party3":"公安分局机关党支部",
							},
							{
								"party3":"公安分局刑警党支部",
							},
							{
								"party3":"公安分局治安党支部",
							},
							{
								"party3":"公安分局巡特警党支部",
							},
							{
								"party3":"公安分局寮步派出所党支部",
							},
							{
								"party3":"公安分局泉塘派出所党支部",
							},
							{
								"party3":"公安分局良平派出所党支部",
							},
							{
								"party3":"公安分局横坑派出所党支部",
							},
							{
								"party3":"交警大队党支部",
							},
							{
								"party3":"交通分局党支部",
							},
							{
								"party3":"重点工程建设办党支部",
							},
							{
								"party3":"消防队党支部",
							},
							{
								"party3":"房地产管理所党支部",
							},
							{
								"party3":"粮所党支部",
							},
							{
								"party3":"水务工程建设运营中心党支部",
							},
							{
								"party3":"老干中心党支部",
							},
							{
								"party3":"文广中心党支部",
							},
							{
								"party3":"农技中心党支部",
							},
							{
								"party3":"社卫中心党支部",
							},
							{
								"party3":"新莞人服务管理中心党支部",
							},
							{
								"party3":"教育局党支部",
							},
							{
								"party3":"自来水公司党支部",
							},
							{
								"party3":"房地产公司党支部",
							},
							{
								"party3":"资产公司党支部",
							},
							{
								"party3":"食品公司党支部",
							},
							{
								"party3":"医药公司党支部",
							},
							{
								"party3":"供销社党支部",
							},
							{
								"party3":"电信分局党支部",
							},
							{
								"party3":"中国邮政集团寮步分公司党支部",
							},
							{
								"party3":"公办幼教联合党支部",
							},
							{
								"party3":"中心小学党支部",
							},
							{
								"party3":"河滨小学党支部",
							},
							{
								"party3":"实验小学党支部",
							},
							{
								"party3":"横坑小学党支部",
							},
							{
								"party3":"石步小学党支部",
							},
							{
								"party3":"香市小学党支部",
							},
							{
								"party3":"寮步中学党支部",
							},
							{
								"party3":"香市中学党支部",
							},
							{
								"party3":"第六高级中学党总支部",
							},
							{
								"party3":"第六高级中学第一党支部",
							},
							{
								"party3":"第六高级中学第二党支部",
							},
							{
								"party3":"第六高级中学第三党支部",
							},
							{
								"party3":"汽车技术学校党支部",
							},
						]
					},
					{
						"party2":"村（社区）党工委及下属党组织",
						"detail2":[
							{
								"party3":"凫山村党工委",
							},
							{
								"party3":"富竹山村党工委",
							},
							{
								"party3":"刘屋巷村党工委",
							},
							{
								"party3":"塘唇村党工委",
							},
							{
								"party3":"石步村党工委",
							},
							{
								"party3":"向西村党工委",
							},
							{
								"party3":"长坑村党工委",
							},
							{
								"party3":"小坑村党工委",
							},
							{
								"party3":"井巷村党工委",
							},
							{
								"party3":"竹园村党工委",
							},
							{
								"party3":"良边村党工委",
							},
							{
								"party3":"上屯村党工委",
							},
							{
								"party3":"石龙坑村党工委",
							},
							{
								"party3":"药勒村党工委",
							},
							{
								"party3":"陈家埔村党工委",
							},
							{
								"party3":"下岭贝村党工委",
							},
							{
								"party3":"浮竹山村党工委",
							},
							{
								"party3":"霞边村党工委",
							},
							{
								"party3":"西溪村党工委",
							},
							{
								"party3":"上底村党工委",
							},
							{
								"party3":"横坑社区党工委",
							},
							{
								"party3":"泉塘社区党工委",
							},
							{
								"party3":"坑口社区党工委",
							},
							{
								"party3":"岭厦社区党工委",
							},
							{
								"party3":"塘边社区党工委",
							},
							{
								"party3":"牛杨社区党工委",
							},
							{
								"party3":"寮步社区党工委",
							},
							{
								"party3":"良平社区党工委",
							},
							{
								"party3":"缪边社区党工委",
							},
							{
								"party3":"新旧围社区党工委",
							},
						]
					},
					{
						"party2":"镇企业工委及下属党组织",
						"detail2":[
							{
								"party3":"镇企业工委及下属党组织成员",

							},
						]
					},
					{
						"party2":"镇社会组织工委及下属党组织",
						"detail2":[
							{
								"party3":"镇社会组织工委及下属党组织成员",
							},
						]
					},
				]
			},
			{
				"party1":"中共寮步镇纪检委员会",
				"detail1":[
					{
						"party2":"镇纪检委员会",
						"detail2":[
							{
								"party3":"镇纪检委员会成员"
							}
						]
					}
				]
			}
		];
var html = '';
var dataslen = datas.length;
for(var i = 0 ;i < dataslen ; i++){
	var party1 = datas[i];
	html +=
			'<div class="list clear">'+
			'<div class="party1">'+
			'<div class="tri"></div>'+
			'<div class="name">'+party1.party1+'</div>'+
			'</div>'+
			'<div class="down detail1">';
 	var detail1 = party1.detail1;
	var detail1len = detail1.length;
	for(var j = 0 ; j < detail1len ;j++){
		var party2 = detail1[j];
		html +=
				'<div class="party2">'+
				'<div class="tri"></div>'+
				'<div class="name">'+party2.party2+'</div>'+
				'</div>'+
				'<div class="down detail2">'+
				'<div class="party3">';
		var detail2 = party2.detail2;
		var detail2len = detail2.length;
		for(var m = 0 ; m < detail2len ; m++){
			var party3 = detail2[m];
			html += '<a class="name" href=\"/home/work/structuredetail?party='+party3.party3+'\">'+party3.party3+'</a>';
		}
		html+='</div>'+
			  '</div>';
	}
	html+=

			'</div>'+
			'</div>';
}
$('.lists' ).append(html);
$(function(){
	$('.lists .party1 .tri').addClass('todown');
	$('.detail1').slideDown();
	$('.lists .party1' ).on('click',function(){
		var it = $(this);
		var detail = it.next('.detail1' );
		if(detail.hasClass('down')){
			detail.slideDown();
			it.find('.tri').removeClass('toup').addClass('todown');
		}else{
			detail.slideUp();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		detail.toggleClass('down');
	});
	$('.lists .party2' ).on('click',function(){
		var it = $(this);
		var detail = it.next('.detail2' );
		if(detail.hasClass('down')){
			detail.slideDown();
			it.find('.tri').removeClass('toup').addClass('todown');

		}else{
			detail.slideUp();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		detail.toggleClass('down');
	});
//	$('.party3>.name' ).on('click',function(){
//		event.stopPropagation();
//		var name = $(this ).text();
//		setCookie('party3',name);
//	});
});

</script>
{/block}