body{background: #f5f5f5;}
.top {height:6vh;line-height: 6vh;text-align: center;position: relative;background: #fff;}
.top .swiper-slide {width:23vw;height:100%;font-size: .3rem;color: #333;float:left;}
.top .swiper-slide-active {border-bottom: .45vh solid #dd5d3a;color: #dd5d3a;}
.wrapper03 {position:fixed;left: 0;top:0;height:6vh;line-height: 6vh;width: 100%;overflow: hidden;margin:0 auto;background: #fff;}
.wrapper03 .scroller {position:absolute}
.wrapper03 .scroller li {width:30vw;height: 6vh;color:#333;float: left;line-height: 6vh;font-size: .3rem;text-align: center}
.wrapper03 .scroller li a{color:#333;display:block;margin:0 .3rem;padding:0 .1rem}
.wrapper03 .scroller li a:active {background: transparent;text-decoration: none;}
.wrapper03 .scroller li.cur{border-bottom: .45vh solid #dd5d3a;color: #dd5d3a;}
.wrapper03 .scroller li.cur a{color: #dd5d3a;}
.banner {margin-bottom: 1.25vh;}
.banner {margin-top: 6vh}
.banner , .banner img {width:100vw;height:22.5vh;}
.subject {display: none;}
.side1Content {width:92vw;border-radius: .2rem;background: #fff;box-shadow: 0 0 .2rem rgba(0,0,0,.2);display: block;margin: 0 auto 2.25vh;padding: 1.5vh 0;}
.side1Content_Top {background: url(/home/images/lxyz/icon_007.png) no-repeat;width:16vw;height:3vh;text-align: center;line-height: 3vh;color: #fff;background-size: 16vw 3vh;font-size: .24rem;}
#side2 .side1Content_Top {background: url(/home/images/lxyz/icon_008.png) no-repeat;width:16vw;height:3vh;text-align: center;line-height: 3vh;color: #fff;background-size: 16vw 3vh;font-size: .24rem;}
#side3 .side1Content_Top {background: url(/home/images/lxyz/icon_009.png) no-repeat;width:16vw;height:3vh;text-align: center;line-height: 3vh;color: #fff;background-size: 16vw 3vh;font-size: .24rem;}
#side4 .side1Content_Top {background: url(/home/images/lxyz/icon_010.png) no-repeat;width:16vw;height:3vh;text-align: center;line-height: 3vh;color: #fff;background-size: 16vw 3vh;font-size: .24rem;}
#side5 .side1Content_Top {background: url(/home/images/lxyz/icon_011.png) no-repeat;width:16vw;height:3vh;text-align: center;line-height: 3vh;color: #fff;background-size: 16vw 3vh;font-size: .24rem;}
#side6 .side1Content_Top {background: url(/home/images/lxyz/icon_012.png) no-repeat;width:16vw;height:3vh;text-align: center;line-height: 3vh;color: #fff;background-size: 16vw 3vh;font-size: .24rem;}
.side1Content_Text {padding: 2.25vh 4vw 0 4vw;}
.side1Content_Text .side1Content_Text_01 {font-size: .3rem;color: #333;white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;}

.side1Content_Text .side1Content_Text_02 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: .28rem;
    color: #666;
    /*line-height: .3rem;*/
    margin-top:1.5vh;
}
/*#notess {position: relative;top:-1.5vh;}*/