{extend name="public/common"}

{block name="style"}
<title>远程教育</title>
<link rel="stylesheet" href="/home/css/education/index.css">
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<!--<link rel="stylesheet" href="/home/css/redcollection/film.css">-->
<!--<link rel="stylesheet" href="/home/css/redcollection/book.css">-->
<!--<link rel="stylesheet" href="/home/css/redcollection/music.css">-->
<style>
    a:active{
        background: #f5f5f5;
    }
    body {
        background-color: rgba(245,245,245,1);
    }
    .swiper-container {
        position: relative;
        width: 100vw;
        height: 22.5vh;
        margin: auto;
    }
    .banner .banner-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 10.7vw;
        background: rgba(51, 51, 51, 0.6)
    }
    .banner .banner-info {
        position: absolute;
        bottom: 0;
        left: 4vw;
        width: 70%;
        height: 10.7vw;
        color: #ffffff;
        font-size: .3rem;
        line-height: 10.7vw;
    }
    .swiper-pagination-bullets {
        text-align: right;
        padding: 0 3.5vw;
    }
    #side2 .banner .search .results .result {
        display: inline-block;
        width: 70vw;
        /*height: 40px;*/
        margin: 0 auto;
        padding-left: 4vw;
        background: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid #eee;
        color: #666666;
        line-height: 10.7vw;
        text-align: left;
        background: #fff;
        font-size: .28rem;
        overflow: initial;
    }
    #nomessage1,#nomessage2,#nomessage3,#nomessage4,#nomessage5{
        width:26.6vw;
        height:26.6vw;
        margin: 10vw auto;
        /*display: none;*/
    }
    #nomessage1 img,#nomessage2 img,#nomessage3 img,#nomessage4 img,#nomessage5 img{
        width:100%;
        height: auto;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
<div class="top">
    <div data-side="1"><a href="javascript:;">红色电影</a></div>
    <div data-side="2"><a href="javascript:;">红色文学</a></div>
    <div data-side="3"><a href="javascript:;">红色音乐</a></div>
</div>

<div class="subject" id="side1">
    <div class="banner">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
                {volist name="carousel" id="car"}
                <div class="swiper-slide">
                    <a href="{:Url('Education/movedetail?id='.$car['id'])}" class="list">
                        <img src="{$car.carousel_image|get_cover='path'}" class="lazy">
                        <div class="banner-bg"></div>
                        <div class="banner-info limit">{$car.title}</div>
                    </a>
                </div>
                {/volist}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!--<img src="/home/images/banner/1.jpg"  class="banner-img lazy">-->
        <!--<div class="swiper-wrapper">-->
            <!--<div class="swiper-slide">-->
                <!--<a href="#" class="list">-->
                    <!--<img src="/home/images/banner/1.jpg"  class="banner-img swiper-lazy" >-->
                    <!--<div class="swiper-lazy-preloader"></div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="swiper-pagination"></div>-->
    </div>
    <div class="lists-title">最新上映</div>
    <div class="side1_lists">
        {notempty name="$new"}
        <ul>
            {volist name="new" id="ne"}
            <li><a href="{:Url('Education/movedetail?id='.$ne['id'])}" class="list">
                <img data-original="{$ne.front_cover|get_cover='path'}" class="lazy">
                <div class="listTitle">{$ne.title}</div>
                <div class="listSummary">{$ne.introduction}</div>
            </a></li>
            {/volist}
        </ul>
        {else/}
        <div id="nomessage1">
            <img src="/home/images/nomessage.png" alt="无消息">
        </div>
        {/notempty}
    </div>
    <div class="lists-title clear listsline">
        经典热播
        <a href="{:Url('Education/morefilm')}" class="fr" style="color: #999;">更多>></a>
    </div>
    {notempty name="$classic"}
    <div class="side1_lists">
        <ul>
            {volist name="classic" id="cla"}
            <li><a href="{:Url('Education/movedetail?id='.$cla['id'])}" class="list">
                <img data-original="{$cla.front_cover|get_cover='path'}" class="lazy">
                <div class="listTitle">{$cla.title}</div>
                <div class="listSummary">{$cla.introduction}</div>
            </a></li>
            {/volist}
        </ul>

    </div>
    {else/}
    <div id="nomessage2">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
    </div>
<div class="subject" id="side2">
    <div class="banner">
        <img data-original="/home/images/icon_wx.png"  class="banner-img lazy">
        <div class="search">
            <span class="fa fa-search"></span>
            <input type="text" placeholder="搜索书籍名字、作者名字">
            <div class="results"></div>
        </div>
    </div>
    <div class="tabs">
        <span class="tab active"><a href="javascript:;">经典书籍</a></span>
        <span class="tab"><a href="javascript:;">经典语录</a></span>
    </div>
    <div class="listbox">
        <div class="books active">
            <!--经典书籍列表-->
            {notempty name="$books"}
            {volist name="books" id="book"}
            <a href="{:Url('education/bookdetail?id='.$book['id'])}" class="list">
                <img data-original="{$book.front_cover|get_cover='path'}" class="lazy">
                <div class="content">
                    <span class="title limit">{$book.title}</span>
                    <span class="author limit">&nbsp; 作者：{$book.name}</span>
                    <span class="read">&nbsp; 读过:{$book.have_read}</span>
                </div>
                <span class="fa fa-angle-right"></span>
            </a>
            {/volist}
            {else/}
            <div id="nomessage3">
                <img src="/home/images/nomessage.png" alt="无消息">
            </div>
            {/notempty}
            <!--经典书籍列表-->
        </div>
        <div class="words hidden">
            {notempty name="$remark"}
            <!--经典语录列表-->
            {volist name="remark" id="re"}
            <a href="{:Url('education/textdetail?id='.$re['id'])}" class="list clear">
                <span class="title limit">{$re.title}</span>
                <span class="fr fa fa-angle-right"></span>
            </a>
            {/volist}
            <!--经典语录列表-->
            {else/}
            <div id="nomessage4">
                <img src="/home/images/nomessage.png" alt="无消息">
            </div>
            {/notempty}
        </div>
    </div>
</div>
<div class="subject" id="side3">
    <div class="banner">
        <img src="/home/images/redcollection/bookbg.jpg"  class="banner-img lazy">
    </div>
    {notempty name="$list"}
    <div class="lists">
        {volist name="list" id="vo"}
        <a href="{:Url('education/musicdetail?id='.$vo['id'])}" class="list">
            <img data-original="{$vo.front_cover|get_cover='path'}" class="music-img lazy">
            <div class="content"><div class="title limit_">{$vo.title}</div><div class="note clear"><span class="scan fl">{$vo.views}</span><span class="fr">{$vo.create_time|time_format='Y-m-d'}</span></div></div>
        </a>
        {/volist}
    </div>
    {else/}
    <div id="nomessage5">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>
</div>



{/block}
{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    if($('.swiper-wrapper').find('.swiper-slide').length==0){
        $('.swiper-wrapper').html('<img data-original="/home/images/icon_dy.png"  class="banner-img lazy">')
    }
</script>
<script>
    $('.search>input').val('');
    var edu = localStorage.getItem('eduNum')==null?1:localStorage.getItem('eduNum');
    var num = 0;
    for(var i=0;i<$('.top>div').length;i++){
        $('.top>div')[i].onclick = function(){
            $('.result').remove();
            $('.top>div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.subject').hide();
            $('#side'+side).show();
            num = side;
            localStorage.setItem('eduNum',side);
            if(side==1){
                var mySwiper = new Swiper('.swiper-container', {
                    autoplay: 3000,
                    loop:true,
                    pagination : '.swiper-pagination',
                    paginationType : 'bullets',
                    autoplayDisableOnInteraction:false,
                    lazyLoading : true,
                    lazyLoadingInPrevNext : true,
                });
            }
            if(side==2){
                $('body').css('background','rgba(245,245,245,1)');
            }else {
                $('body').css('background','#f5f5f5')
            }
            if(side==3){
                var len = $("#side3 .list" ).length;
                if(len >= 5){
                    $('.tip' ).text('上拉加载更多');
                }else {
                    $('.tip' ).hide()
                }
                loadScroll();
            }else {
                $('.tip' ).hide()
            }

            imglazy();

        }
    }
    $('.top>div').eq(edu-1).click();
    $('.subject').hide();
    $('#side'+edu).show();
    if(edu==1){
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 3000,
            loop:true,
            pagination : '.swiper-pagination',
            paginationType : 'bullets',
            autoplayDisableOnInteraction:false,
            lazyLoading : true,
            lazyLoadingInPrevNext : true,
        });
    }
    $('.tab' ).off('click').on('click',function(){
        var this_ = this ;
        var box = $('.listbox');
        var index = $(this_ ).index();
        var ww = $('.tabs' ).width();
        $(this_ ).addClass('active' );
        $(this_ ).siblings('.tab').removeClass('active');
        if(index == 1){
            $('.words' ).removeClass('hidden');
            $("#side2 .search").hide();
        }else{
            $("#side2 .search").show();
            $('.books' ).removeClass('hidden');
        }
        ww = ww * index;
        box.animate({left: -ww +'px'},500,function(){
            if(index == 1){
                $('.books').addClass('hidden');
            }else{
                $('.words').addClass('hidden');
            }
        });
        imglazy();
    });
    //如果是访问经典语录后返回就执行
    var redliterature = sessionStorage.getItem("redliterature");
    if(redliterature){
        $('.tabs>span:last').click();
        sessionStorage.removeItem("redliterature");
    }
    var scrollNow = true;
    var url = '';
    $(function(){
        if(edu==3){
            console.log(num)
            var len = $("#side3 .list" ).length;
            if(len >= 5){
                $('.tip' ).text('上拉加载更多');
            }else {
                $('.tip' ).hide()
            }
            loadScroll();
        }else {
            $('.tip' ).hide()
        }
    });
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $("#side3 .list" ).length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('education/moremusic')}",
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            console.log(data)
                            addCourse(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                            $("img.lazy").lazyload({
                                placeholder: "/home/images/loading.jpg",
                                effect: "fadeIn",
                                threshold: 200
                            });
                        }
                        else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addCourse(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +='<a href="/home/education/musicdetail?id='+list.id+'" class="list">'
                    +'<img data-original="'+list.path+'" class="music-img lazy">'
                    +'<div class="content"><div class="title limit_">'+list.title+'</div><div class="note clear"><span class="scan fl">'+list.views+'</span><span class="fr">'+list.time+'</span></div></div>'
                    +'</a>'
        }
        $(".lists" ).append(html);
    }


    //搜索
    var search = $('.search>input');
    var lock = false;
    search.on('compositionstart',function(){
        lock = true;
    });
    search.on('compositionend',function(){
        lock = false;
    });
    search.on('input',function(){
        var this_ = this;
            var val = $(this_ ).val();
            var html = '';
            $.ajax({
                type:"post",
                url: "{:Url('education/booksearch')}",
                data:{
                    val:val
                },
                beforeSend: function(XMLHttpRequest){},
                success:function(data){
                    console.log(data)
                    var result = data.data;
                    var url = '';
                    if(!data.data){
                        html += '<div class="result limit">无搜索结果</div>'
                    }
                    for(var obj in result){
                        html+= '<a href="/home/education/bookdetail/?id='+obj+'" class="result limit">'+result[obj]+'</a>';
                    }
                    $('.results' ).html(html);
                }

            });
//        }
    });
//    search.blur(function(){$('.result').remove()})
    $('.banner').on('click',function(){
        $('.result').remove()
    });


    function imglazy () {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 200
        });
    }

    $(window).scroll(imglazy);
</script>
{/block}