{extend name="public/common"}

{block name="style"}
<title>红色电影</title>
<!--<link rel="stylesheet" href="/home/css/redcollection/film.css">-->
<link rel="stylesheet" href="/home/css/education/index.css">
<style>
	.search {
		position: relative;
		top: 0;
		left: 0;
		width: 100vw;
		height: .88rem;
		background: #f1f1f1;
	}
	.search input {
		position: absolute;
		top: 1.6vw;
		left: 3vw;
		width: 94vw;
		height: 8.6vw;
		padding-left: 8vw;
		-webkit-border-radius: 2.2vw;
		border-radius: 2.2vw;
		font-size: .3rem;
	}
	.search .fa-search {
		z-index: 1;
		position: absolute;
		top: 4vw;
		left: 6vw;
		color: #aeaeae;
		font-size: .3rem;
	}
	.results {
		position: absolute;
		left: 0;
		top: 12vw;
		z-index: 2;
		width: 100%;
		height:100vh;
		background: #fff;
		display: none;
	}
	.results a:active {background: #999;color: #fff;}
	.results .result {
		display: inline-block;
		width: 100vw;
		height: 38px;
		background: rgba(255, 255, 255, 0.8);
		padding: 0 6vw;
		line-height: 38px;
		color: #666666;
		border-bottom: 1px solid #f1f1f1;
	}
	.results div {text-align: center;font-size: .28rem;}
	.results a {font-size: .28rem;}
	#cancel {
		width: 13.333vw;
		height: 7.467vw;
		border-radius: 5px;
		border: 1px solid #5d9cec;
		color: #5d9cec;
		text-align: center;
		line-height:  7.467vw;
		font-size: .28rem;
		float:right;
		margin-right: 4vw;
		position: relative;
		top:50%;
		margin-top: -3.7335vw;
		display: none;
	}
</style>
{/block}

{block name="body"}
<div class="search">
	<span class="fa fa-search"></span>
	<input type="text" placeholder="输入电影名称" id="more">
	<span id="cancel">取消</span>
</div>
<div class="results"></div>
<div class="lists-title clear">
	经典热播
</div>
<div class="side1_lists">
	<ul>
		{volist name="list" id="vo"}
		<li>
			<a href="{:Url('Redcollection/filmdetail?id='.$vo['id'])}" class="list">
				<img data-original="{$vo.front_cover|get_cover='path'}" class="list-img lazy">
				<div class="listTitle">{$vo.title}</div><div class="listSummary">{$vo.introduction}</div>
			</a>
		</li>
		{/volist}
	</ul>
</div>
<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script>
    $('.search>input').val('')
$(function(){
	//搜索
	var search = $('.search>input');
	var lock = false;
	search.on('compositionstart',function(){
		lock = true;
	});
	search.on('compositionend',function(){
		lock = false;
	});
	search.on('input',function(){
		var this_ = this;
        search.css('width','75vw');
        $('#cancel').show();
        $('body').css('position','fixed');
		if(!lock){
			var val = $(this_ ).val();
			var html = '';
			$.ajax({
				type:"post",
				url: "{:Url('education/filmsearch')}",
				data:{
					val:val
				},
				beforeSend: function(XMLHttpRequest){},
				success:function(data){
					var result = data.data;
					console.log(result)
					var url = '';
					if(!data.data){
						html += '<div class="result limit">无搜索结果</div>'
					}
					for(var obj in result){
						html+= '<a href="/home/redcollection/filmdetail?id='+obj+'" class="result limit">'+result[obj]+'</a>';
//                        html +='<li>'
//                            +'<a href="/home/redcollection/filmdetail?id='+list.id+'" class="list">'
//                            +'<img data-original="'+list.path+'" class="list-img lazy">'
//                            +'<div class="listTitle">'+list.title+'</div><div class="listSummary">'+list.introduction+'</div>'
//                            +'</a>'
//                            +'</li>'
					}
                    $('.results').show();
					$('.results' ).html(html);
				}

			});
		}
	});
	$('#cancel').on('click',function(){
        search.css('width','94vw');
        search.val('');
        $('#cancel').hide();
        $('.results').hide();
        $('body').css('position','relative');
	})
})

var scrollNow = true;
var len = $(".side1_lists li").length;
if (len >= 5) {
    $('.tip').text('上拉加载更多');
} else {
    $('.tip').hide()
}
loadScroll();

function loadScroll(){
    $(window ).off("scroll" ).on("scroll",function(){
        var dh = $(document).height();
        var end = $(window).height() + $(window ).scrollTop();
        var len = $(".side1_lists li").length;
        var tip = $(".tip");
        var loading = $('.loading');
        if(dh == end && scrollNow){
            scrollNow = false;
            $.ajax({
                type:"post",
                url:"{:Url('education/moremove')}",
                data:{
                    length:len
                },
                beforeSend: function(XMLHttpRequest){
                    tip.hide();
                    loading.toggleClass('hidden');
                },
                success:function(data){
                    loading.toggleClass('hidden');
                    tip.show();
                    if(data.code == 1){
                        console.log(data)
                        addCourse(data);
                        var dataLen =data.data.length;
                        if(data.data.length == 5){
                            tip.text('上拉加载更多');
                        }
                        $("img.lazy").lazyload({
                            placeholder: "/home/images/loading.jpg",
                            effect: "fadeIn",
                            threshold: 1
                        });
                    }else{
                        tip.text('没有更多了');
                        $(window ).off("scroll");
                    }
                    scrollNow = true;
                }
            })
        }
    })
}
function addCourse(data){
    var html = '';
    var lists = data.data;
    var len = lists.length;
    for(var i = 0; i< len;i++){
        var list = lists[i];
        html +='<li>'
        		+'<a href="/home/redcollection/filmdetail?id='+list.id+'" class="list">'
        		+'<img data-original="'+list.path+'" class="list-img lazy">'
        		+'<div class="listTitle">'+list.title+'</div><div class="listSummary">'+list.introduction+'</div>'
        		+'</a>'
				+'</li>'
    }
    $(".side1_lists ul" ).append(html);
}
</script>
{/block}