{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/service.css">
{/block}

{block name="body"}
<div class="box">
	<div class="banner">
		<img src="/home/images/online.jpg" alt="客服热线">
	</div>
	<span class="grey">使用中有遇到</span>
	<span class="orange">任何问题</span>
	<span class="grey">都可以向我们反馈哦</span>
	<span class="grey">同时我们也很期待</span>
	<span class="red">与您共建</span>
	<span class="gray">联系电话：<a href="tel:0571-88650270" class="tel">0571-88722001</a></span>
	<span class="gray">QQ：2853227782</span>
	<span class="gray">邮箱：2853227782@qq.com</span>
	<span class="gray">在线时间：9:00-17:30</span>

</div>
{/block}

{block name="script"}

{/block}