{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/detail.css">
{/block}

{block name="body"}
<div class="article">
	<div class="title limit_">积分商城使用说明</div>
	<div class="note clear">
		<span class="fl"></span>
		<span class="fr">德清地信小镇</span>
	</div>
	<div class="content">
		<div class="video">
			<!--链接视频-->
			<iframe class="videocon" frameborder="0" src="http://player.youku.com/embed/XMjYxMjE5MTUyMA==" allowfullscreen></iframe>
		</div>
	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$(function(){
	//模块标题
	$('title' ).text('个人中心');
});
var tofixed = function(){
	var u = navigator.userAgent;
	var word = $('.myword input');
	var bottom =$('.bottom');
	var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
	//var ua = window.navigator.appVersion;
	//alert(u);
	if(isiOS){
		//兼容ios7
		$(document).scrollTop(1);
		word.focus(function(){
			var noInputViewHeight = $(window).height() - bottom.height();
			var contentHeight = $(document).height() - bottom.height();
			contentHeight = contentHeight > noInputViewHeight ? contentHeight : noInputViewHeight;
			setTimeout(function(){
				var inputTopHeight = bottom.offset().top - $(window).scrollTop()+1;
				var inputTopPos = bottom.offset().top + inputTopHeight+1;
				inputTopPos = inputTopPos > contentHeight ? contentHeight : inputTopPos;
				bottom.css({'position':'absolute', 'top':inputTopPos });
				$(window).on('touchstart', function(){
					word.blur();
				});
			}, 100);
		});
		word.on('blur',function(){
			//输入框失焦后还原初始状态
			var a =$(window).height()-45;
			bottom.css({'position': 'fixed','top':'','bottom':'0'});
		})
	}
};
var videoPlay =function(){
	$(".play" ).click(function(){
		var video=$(".video video");
		$(this).hide();
		video[0].play();
		video.attr({controls:"controls"});
	});
};
var wAlert = window.alert;
window.alert = function (message) {
	try {
		var iframe = document.createElement("IFRAME");
		iframe.style.display = "none";
		iframe.setAttribute("src", 'data:text/plain,');
		document.documentElement.appendChild(iframe);
		var alertFrame = window.frames[0];
		var iwindow = alertFrame.window;
		if (iwindow == undefined) {
			iwindow = alertFrame.contentWindow;
		}
		iwindow.alert(message);
		iframe.parentNode.removeChild(iframe);
	}
	catch (exc) {
		return wAlert(message);
	}
};
function ueLimit(){
	var imgs = $('.content img');
	var ww = $('.content').width();
	imgs.each(function(){
		if($(this ).width() > ww){
			$(this ).width(ww)
		}
	});
}
</script>
{/block}