/*加载动画*/
.tip {
    height: 10.6vw;
    text-align: center;
    line-height: 10.6vw;
    color: #c1c1c1;
}
.loading {
    width: 100%;
    height: 10.6vw;
}
.typing_loader {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    position: relative;
    top: 17px;
    left: calc( 50vw - 15px );
}
@-webkit-keyframes typing {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
    }
}
@keyframes typing {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
    }
    25% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
    }
    75% {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
    }
}
.hidden {
    display: none;
}

.top{
    padding:2.2vh 0;
    width:100%;
    height:8.4vh;
    background:pink;
    text-align: center;
    overflow: hidden;
}
.top div{
    color: #333333;
    padding:.75vh 0;
    font-size:.3rem;
    height:100%;
    width:49%;
    float:left;
    line-height: 100%;
    text-align: center;
}
.tab1{
    border-right:1px solid #D1D1D1
}
.tab1 span{
    padding-left:7vw;
    background: url('/home/images/approved/icon/1.png') no-repeat left top ;
    background-size: 4.8vw 2.25vh;
}