{extend name="public/common"}

{block name="style"}
<title>十九大专区</title>
<link rel="stylesheet" href="/home/css/lxyz/index.css">
{/block}
{block name="body"}
<div id="meeting" class="all">
    <ul>
        {volist name="list" id="vo"}
        <li>
            <div class="meetingTime"><span>{$vo.time}</span></div>
            {eq name="$vo.type" value="1"}
            <a href="{:Url('learns/video?id='.$vo['id'])}">
            <!--<div class="tab">视频</div>-->
            {else/}
            <a href="{:Url('learns/article?id='.$vo['id'])}">
            <!--<div class="tab">图文</div>-->
            {/eq}
                <img data-original="{$vo.front_cover|get_cover='path'}" class="lazy">
                <p>{$vo.title}</p>
                <div class="note notess" style="width:84vw;margin: auto;"><span class="read">{$vo.views}</span><span class="fr isgood good">{$vo.comments}</span></div>
            </a>
        </li>
        {/volist}
    </ul>
</div>

<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<script>
    var scrollNow = true;
    var len = $("#meeting li" ).length;
    if(len >= 5){
        $('.tip' ).text('上拉加载更多');
    }else {
        $('.tip' ).hide();
    }
    //上拉加载
    loadScroll();
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $("#meeting li" ).length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('learns/indexmore')}",
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data)
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addCourse(data);
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                            $("img.lazy").lazyload({
                                placeholder: "/home/images/loading.jpg",
                                effect: "fadeIn",
                                threshold: 1
                            });
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addCourse(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var str = '';
            var list = lists[i];
            if(list.type == 1){
                str = '/home/learns/video/id/'+list.id;
            }else {
                str = '/home/learns/article/id/'+list.id
            }
//            if(list.path ==null || list.path == ''){
//                list.path = '/home/images/talent.png'
//            }
            html +='<li>'
                    +'<div class="meetingTime"><span>'+list.time+'</span></div>'
                    +'<a href="'+str+'.html">'
                    +'<img data-original="'+list.path+'" class="lazy">'
                    +'<p>'+list.title+'</p>'
                    +'<div class="note notess" style="width:84vw;margin: auto;"><span class="read">'+list.views+'</span><span class="fr isgood good">'+list.comments+'</span></div>'
                    +'</a>'
                    +'</li>'
        }
        $("#meeting ul" ).append(html);
    }



    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });
</script>
{/block}