{extend name="public/common"}

{block name="style"}
<style>
	a{
		display: block;
		height: 40px;
		color: #666666;
		line-height: 40px;
		text-align: center;
	}
</style>
{/block}

{block name="body"}
<a href="{:Url('News/index')}">第一聚焦</a>
<a href="{:Url('Structure/index')}">组织架构</a>
<a href="{:Url('Learn/index')}">手机党校</a>
<a href="{:Url('Constitution/game')}">每日一课</a>
<a href="{:Url('Structure/index')}">党史学习</a>
<a href="{:Url('League/index')}">地信红盟</a>
<a href="{:Url('News/index')}">第一聚焦</a>

{/block}

{block name="script"}

{/block}