{extend name="public/common"}

{block name="style"}
<title>红色石淙</title>
<style>
    a {display: block;color: #333;margin: 50px 0 ;}
</style>
{/block}
{block name="body"}
<div style="text-align: center;font-size: .3rem;color: #333;">
    <a href="/home/mediation/index.html">综合协调平台</a>
    <a href="/home/structure/index.html">组织概况</a>
    <a href="/home/service/manage.html">党员管理</a>
    <a href="/home/feedback/index.html">示范评比</a>
    <a href="/home/learns/index.html">两学一做教育平台</a>
    <a href="/home/user/index.html">移动管理平台</a>
    <a href="/home/news/index.html">第一聚焦</a>
    <a href="/home/approved/passlist.html">消息审核01</a>
    <a href="/home/approved/reviewlist.html">消息审核02</a>
</div>
{/block}
{block name="script"}
{/block}
