{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/league.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/test/3.png" alt="地信红盟banner" class="banner-img">
</div>
<!--一年-->
<div class="yearbox">
	<div class="year">2017年</div>
	<!--活动安排-->
	<div class="plan">
		<div class="title">
			<span>活动安排</span>
			<a href="{:Url('League/lists')}">更多</a>
		</div>
		<a href="" class="list">
			<div class="title limit">关于召开德清县"一月一主题"活动的安排</div>
			<div class="content limit_">6月10日在德清小镇关于召开德清县"一月一主题"活动的安排</div>
			<div class="note">
				<span class="time">2016-01-01</span>
				<span class="fa fa-angle-right"></span>
			</div>
		</a>
		<a href="" class="list">
			<div class="title limit">关于召开德清县"一月一主题"活动的安排</div>
			<div class="content limit_">6月10日在德清小镇关于召开德清县"一月一主题"活动的安排</div>
			<div class="note">
				<span class="time">2016-01-01</span>
				<span class="fa fa-angle-right"></span>
			</div>
		</a>
	</div>
	<!--/活动安排-->
	<!--一个季度-->
	<div class="quarter">
		<!--季度文章-->
		<div class="box">
			<div class="tag">第一季度文章</div>
			<a href="" class="list">
				<div class="title limit">小镇当红娘地信企业赴校引才收获大</div>
				<div class="note">2016-01-01</div>
			</a>
		</div>
		<!--/季度文章-->
		<!--一个月-->
		<div class="box">
			<div class="tag">3月文章</div>
			<!--月文章的list带tag-mon -->
			<a href="" class="list tag-mon">
				<div class="title limit">小镇当红娘地信企业赴校引才收获大</div>
				<div class="note">
					<span class="time">2016-01-01</span>
					<span class="fa fa-angle-right"></span>
				</div>
			</a>
			<!--月文章-->
			<!--周文章的list不带tag-mon-->
			<a href="" class="list">
				<div class="title limit">小镇当红娘地信企业赴校引才收获大</div>
				<div class="note">
					<span class="time">2016-01-01</span>
					<span class="fa fa-angle-right"></span>
				</div>
			</a>
			<!--/周文章-->
		</div>
		<!--/一个月-->
		<div class="box">
			<div class="tag">2月文章</div>
			<a href="" class="list tag-mon">
				<div class="title limit">小镇当红娘地信企业赴校引才收获大</div>
				<div class="note">
					<span class="time">2016-01-01</span>
					<span class="fa fa-angle-right"></span>
				</div>
			</a>
		</div>
		<div class="box">
			<div class="tag">1月文章</div>
			<a href="" class="list">
				<div class="title limit">小镇当红娘地信企业赴校引才收获大</div>
				<div class="note">
					<span class="time">2016-01-01</span>
					<span class="fa fa-angle-right"></span>
				</div>
			</a>
		</div>
	</div>
	<!--/一个季度-->
</div>
<!--/一年-->
{/block}

{block name="script"}
<script>
$('title' ).text('地信红盟')
</script>
{/block}