{extend name="public/common"}
{block name="style"}
    <title>廉政石淙</title>
    <link rel="stylesheet" href="/home/css/learn/index1.css">
    <link rel="stylesheet" href="/home/css/learn/course.css">
    <link rel="stylesheet" href="/home/css/learn/learn.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <link rel="stylesheet" href="/home/css/common/tip.css">
<style>
        .notice>.title{
            width: 100vw;
            font-size: 1.6rem;
            color: #333333;
            line-height: 60px;
            text-align: center;
        }
        .modal-dialog {
            width: 600px;
             margin: 0;!important;
        }
    </style>
{/block}
{block name="body"}
    <!--banner-->
    <div class="banner">
        <img src="/home/images/banner/12.jpg" alt="banner图">
    </div>
    <!--tab-->
    <div class="tabs clear">
        <div class="tab"><span>法律法规</span></div>
        <div class="tab"><span>今日说法</span></div>
        <div class="tab"><span>学思践悟</span></div>
    </div>
    <!--切换列表-->
    <div class="content">
        <!--法律法规-->
        <div class="notices hidden">
            <div class="notice law">
                <div class="lists">
                    {volist name="list3" id="vo3"}
                    <a href="{:Url('Clean/article?id='.$vo3['id'])}" class="list clear">
                        <div class="fl">
                            <img src="{$vo3['front_cover']|get_cover='path'}" alt="图片">
                        </div>
                        <div class="fr right">
                            <div class="title limit_">{$vo3.title}</div>
                            <div class="clear time">
                                <span class="fr fa fa-angle-right"></span>
                                <span class="fl publishtime">{$vo3.create_time|time_format='Y-m-d'}</span>
                            </div>
                        </div>
                    </a>
                    {/volist}
                </div>
            </div>
        </div>
        <!--今日说法-->
        <div class="notices hidden">
            <div class="notice regularmore">
                <!--课程列表-->
                <div class="lists">
                    {volist name="list1" id="vo1"}
                    <a href="{:Url('Clean/video?id='.$vo1['id'])}" class="list">
                        <img src="{$vo1['front_cover']|get_cover='path'}" alt="图片" class="img">
                        <div class="title limit">{$vo1['title']}</div>
                        <span class="study">{$vo1['views']}人阅读过</span>
                    </a>
                    {/volist}
                </div>
            </div>
        </div>
        <!--学思践悟-->
        <div class="notices hidden">
            <div class="notice rule">
                <div class="lists">
                    {volist name="list2" id="vo2"}
                    <a href="{:Url('Clean/article?id='.$vo2['id'])}" class="list clear">
                        <div class="fl">
                            <img src="{$vo2['front_cover']|get_cover='path'}" alt="图片">
                        </div>
                        <div class="fr right">
                            <div class="title limit_">{$vo2.title}</div>
                            <div class="clear time">
                                <span class="fr fa fa-angle-right"></span>
                                <span class="fl publishtime">{$vo2.create_time|time_format='Y-m-d'}</span>
                            </div>
                        </div>
                    </a>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    <!--加载更多-->
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求

    $(function(){
        //tab初始化和数据存储
        var ntc = $('.notices');
        c = 1;
        $('.tabs>.tab').eq(c-1).find('span').addClass('active');
        ntc.eq(c-1).removeClass('hidden');
       //两学一做上拉加载
		var len = ntc.eq(c-1 ).find('.notice:last .list').length;
		if(len >= 5){
			$('.tip' ).text('上拉加载更多');
			loadScroll(c);
		}
        //tab切换
        $('.tabs>.tab ').on('click',function(){
            var ntc = $('.notices' );
            var eq = $(this ).index();
            $(this ).siblings('.tab' ).find('span' ).removeClass('active');
            $(this ).find('span' ).addClass('active');
            ntc.eq(eq ).siblings('.notices' ).addClass('hidden');
            ntc.eq(eq).removeClass('hidden');
			var len = ntc.eq(eq ).find('.notice:last .list').length;
			if(len >= 5){
				$('.tip' ).text('上拉加载更多');
				loadScroll(eq+1);
			} else {
                $('.tip' ).text('没有更多了');
            }

        });
    });

    function loadScroll(type){
        if (type == 1) {
            var type1 = 3;
        } else {
            var type1 = --type;
            ++type;
        }
        console.log(type);
        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = ntc.eq(type-1).find('.notice:last .list').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: "{:Url('Clean/index')}",
                    data:{
                        length:len,
                        type:type1
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data);
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addCourse(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }

    function addCourse(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(type == 2){
				html+=
					'<a href="/home/learn/video/id/'+list.id+'.html" class="list">'+
					'<img src="'+list.path+'" alt="图片" class="img">'+
					'<div class="title limit">'+ list.title+'</div>'+
					'<span class="study">'+ list.views+'人阅读过</span>'+
					'</a>'
            }else{
            	html +=
                    '<a href="/home/learn/article/id/'+list.id+'.html" class="list clear">'+
                    '<div class="fl">'+
                    '<img src="'+list.path+'">'+
                    '</div>'+
                    '<div class="fr right">'+
                    '<div class="title limit_">'+ list.title+'</div>'+
                    '<div class="clear time">'+
                    '<span class="fr fa fa-angle-right"></span>'+
                    '<span class="fl publishtime">'+ list.time+'</span>'+
                    '</div>'+
                    '</div>'+
                    '</a>'
            }
        }
        var block = '';
        if (type == 2) {
            block = 'regularmore';
        } else if (type == 1){
            block = 'law';
        } else {
            block = 'rule';
        }

        $('.'+block).find('.lists').append(html);
    }

</script>

{/block}