/*banner*/
.banner {
    width: 100vw;
    height: 50vw;
}
.banner img {
    width: 100%;
    height: 100%;
}
/*tab*/
.tabs {
    width: 100vw;
    height: 11.7vw;
    padding: 2.1vw 0;
    background: #f1f1f1;
}
.tabs .tab {
    display: inline-block;
    width: 32%;
    height: 7.5vw;
    color: #333333;
    font-size: 1.5rem;
    line-height: 7.5vw;
    text-align: center;
}
.tabs .tab:first-child {
    border-right: 1px solid #e5e5e5;
}
.tabs .tab:nth-child(2) {
    border-right: 1px solid #e5e5e5;
}
.tabs .active {
    color: #fd6743;
}
.rule .list,.law .list{
    display: block;
    width: 100%;
    padding: 4vw;
    border-bottom: 1px solid #f1f1f1;
    color: #666666;
}
.rule .list .fl img,.law .list .fl img{
    width: 20vw;
    height: 15vw;
    margin: 0 auto;
}
.rule .list .right ,.law .list .right{
    width: 68vw;
    height: 15vw;
    margin-left: 4vw;
    font-size: 1.2rem;
}
.rule .list .right .title,.law .list .right .title {
    /*height: 11vw;*/
}
.rule .list .right .time,.law .list .right .time{
    line-height: 4vw;
    margin-top: 4vw;
}

