{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/user/collect.css">
<title>我的收藏</title>
<style type="text/css">
    * { margin: 0; padding: 0; }

</style>
{/block}
{block name="body"}
<div class="top">
    <div class="hint">
        <img class="gesture" src="/home/images/user/gesture.png"/>
        <span>向左滑动</span>
    </div>
</div>
<div class="lists">
    {volist name="res" id="vo"}
    <a href="#" class="list line-wrapper" data-id="{$vo.id}">
        <div class="line-scroll-wrapper">
            <div class="line-normal-wrapper">
                <div class="cont">
                    <div class="title"><p>{$vo.title}</p></div>
                    <div class="bot">
                        <span class="fl">{$vo.publisher}</span>
                        <span class="fr">{$vo.time}</span>
                    </div>
                </div>
            </div>
            <div class="line-btn-delete"><button onclick="shanchu(this)">删除</button></div>
        </div>
    </a>
    {/volist}
</div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
   <script>
      function shanchu(e){
//           var that=$(this)
          console.log($(e))

           swal({
                   title: "确定删除吗？",
                   type: "warning",
                   showCancelButton: true,
                   confirmButtonColor: "#DD6B55",
                   confirmButtonText: "确定！",
                   cancelButtonText: "取消！",
                   closeOnConfirm: false,
                   closeOnCancel: false
               },

               function(isConfirm){
                   if (isConfirm) {
                       swal("已经删除");
//                       $.ajax({
//                           type:'post',
//                           url:"{:Url('Base/collect')}",
//                           data:{
//                               aid:id,
//                           },
//                           success:function(data){
//                               console.log(data)
//                           }
//                       })
                       $(e).parent().parent().parent().remove();
                   } else {
                       swal("取消");

                   }
               });
       }
       var scrollNow = true;
       loadScroll()
       function loadScroll(){
           $(window ).off("scroll" ).on("scroll",function(){
               var dh = $(document).height();
               var end = $(window).height() + $(window ).scrollTop();
               var len = $('.list').length;
               var tip = $(".tip");
               var loading = $('.loading');
               if(dh == end && scrollNow){
                   scrollNow = false;
                       $.ajax({
                           type:"post",
                           url: "{:Url('user/morecollect')}",
                           data:{
                               length:len
                           },
                           beforeSend: function(XMLHttpRequest){
                               tip.hide();
                               loading.toggleClass('hidden');
                           },
                           success:function(data){
                               console.log(data)
                               loading.toggleClass('hidden');
                               tip.show();
                               if(data.code == 1){
                                   addLists(data);
                                   var dataLen =data.data.length;
                                   if(data.data.length >= 6){
                                       tip.text('上拉加载更多');
                                   } else {
                                       tip.text('没有更多了');
                                       $(window ).off("scroll");
                                   }
                               }else{
                                   tip.text('没有更多了');
                                   $(window ).off("scroll");
                               }
                               scrollNow = true;
                           }
                       })
               }
           })
       }
       function addLists(data){
           var html = '';
           var lists = data.data;
           var len = lists.length;
               for(var i = 0; i< len;i++){
                   var list = lists[i];
                   //var pid = $('.part div' ).eq(list.pid ).text();
                   html +=
                       '<a class="list line-wrapper" data-id="{$vo.id}">'+
                       '<div class="line-scroll-wrapper">'+
                       '<div class="line-normal-wrapper">'+
                       '<div class="cont">'+
                       '<div class="title"><p></p></div>'+
                       '<div class="bot">'+
                       '<span class="fl"></span>'+
                       '<span class="fr"></span>'+
                       '</div></div></div>'+
                       '<div class="line-btn-delete"><button>删除</button></div>'+
                       '</div>'+
                       '</a>'
               }
               $('.lists').append(html);
       }
    $(document).ready(function(e) {
        // 设定每一行的宽度=屏幕宽度+按钮宽度
        $(".line-scroll-wrapper").width($(".line-wrapper").width() + $(".line-btn-delete").width()+.6);
        // 设定常规信息区域宽度=屏幕宽度
        $(".line-normal-wrapper").width($(".line-wrapper").width());
        $('.line-btn-delete').height($(".line-wrapper").height());
        // 设定文字部分宽度（为了实现文字过长时在末尾显示...）
        // 获取所有行，对每一行设置监听
        var lines = $(".line-normal-wrapper");
        var len = lines.length;
        var lastX, lastXForMobile;

        // 用于记录被按下的对象
        var pressedObj;  // 当前左滑的对象
        var lastLeftObj; // 上一个左滑的对象

        // 用于记录按下的点
        var start;
        // 网页在移动端运行时的监听
        for (var i = 0; i < len; ++i) {
            lines[i].addEventListener('touchstart', function(e){
                lastXForMobile = e.changedTouches[0].pageX;
                pressedObj = this; // 记录被按下的对象
                // 记录开始按下时的点
                var touches = event.touches[0];
                start = {
                    x: touches.pageX, // 横坐标
                    y: touches.pageY  // 纵坐标
                };
            });

            lines[i].addEventListener('touchmove',function(e){
                // 计算划动过程中x和y的变化量
                var touches = event.touches[0];
                delta = {
                    x: touches.pageX - start.x,
                    y: touches.pageY - start.y
                };

                // 横向位移大于纵向位移，阻止纵向滚动
                if (Math.abs(delta.x) > Math.abs(delta.y)) {
                    event.preventDefault();
                }
            });

            lines[i].addEventListener('touchend', function(e){
                if (lastLeftObj && pressedObj != lastLeftObj) { // 点击除当前左滑对象之外的任意其他位置
                    $(lastLeftObj).animate({marginLeft:"0"}, 500); // 右滑
                    lastLeftObj = null; // 清空上一个左滑的对象
                }
                var diffX = e.changedTouches[0].pageX - lastXForMobile;
                if (diffX < -100) {
                    $(pressedObj).animate({marginLeft:"-20vw"}, 500); // 左滑
                    lastLeftObj && lastLeftObj != pressedObj &&
                    $(lastLeftObj).animate({marginLeft:"0"}, 500); // 已经左滑状态的按钮右滑
                    lastLeftObj = pressedObj; // 记录上一个左滑的对象
                } else if (diffX > 100) {
                    if (pressedObj == lastLeftObj) {
                    $(pressedObj).animate({marginLeft:"0"}, 500); // 右滑
                    lastLeftObj = null; // 清空上一个左滑的对象
                    }
                }
            });
        }
        // 网页在PC浏览器中运行时的监听
        for (var i = 0; i < len; ++i) {
            $(lines[i]).bind('mousedown', function(e){
                lastX = e.clientX;
                pressedObj = this; // 记录被按下的对象
            });

            $(lines[i]).bind('mouseup', function(e){
                if (lastLeftObj && pressedObj != lastLeftObj) { // 点击除当前左滑对象之外的任意其他位置
                    $(lastLeftObj).animate({marginLeft:"0"}, 500); // 右滑
                    lastLeftObj = null; // 清空上一个左滑的对象
                }
                var diffX = e.clientX - lastX;
                if (diffX < -100) {
                    $(pressedObj).animate({marginLeft:"-20vw"}, 500); // 左滑
                    lastLeftObj && lastLeftObj != pressedObj &&
                    $(lastLeftObj).animate({marginLeft:"0"}, 500); // 已经左滑状态的按钮右滑
                    lastLeftObj = pressedObj; // 记录上一个左滑的对象
                } else if (diffX > 100) {
                    if (pressedObj == lastLeftObj) {
                        $(pressedObj).animate({marginLeft:"0"}, 500); // 右滑
                        lastLeftObj = null; // 清空上一个左滑的对象
                    }
                }
            });
        }
    });




   </script>
{/block}