{extend name="public/common"}

{block name="style"}
<title>移动管理</title>
<link rel="stylesheet" href="/home/css/user/user.css">
{/block}

{block name="body"}
{eq name="visit" value="1"}
<div class="banner">
	<img data-original="/home/images/user/vistor.jpg"  class="up lazy">
	<div class="name">游客</div>
</div>
{else/}
<div class="banner" style="position: relative;">
	{eq name="user.header" value=""}
	<div class="up" data-tab="{$user.avatar}" id="myImage"></div>
	{else/}
	<div class="up" data-tab="{$user.header}" id="myImage"></div>
	{/eq}
	<!--未签-->
	<div class="name">{$user.name}</div>
	<input type="file" id="upload" accept="image/*" style="position: absolute;top: 20%;left: 25%;width: 50%;height: 50%;opacity: 0;display: none;">
	<!--<input type="file"  id="upload" accept="image/jpg, image/png, image/gif, image/jpeg" style="opacity: 1;">-->
	<input type="file" accept="image/*" id="uploadImage"  onchange="selectFileImage(this);"  style="position: absolute;top: 20%;left: 25%;width: 50%;height: 50%;opacity: 0;display:none;" />
</div>
<div class="lists">
	<a href="/home/user/personal.html" class="list clear">
		<span>个人信息</span>
		<i class="fa fa-angle-right fr"></i>
	</a>
	<a href="/home/user/collect.html" class="list clear">
		<span>我的收藏</span>
		<i class="fa fa-angle-right fr"></i>
	</a>
	{eq name="$user_tag" value="1"}
	<a href="/home/statistics/party" class="list clear">
		<span>数据统计</span>
		<i class="fa fa-angle-right fr"></i>
	</a>
	{/eq}
</div>
{/eq}
{/block}

{block name="script"}
<script src="/home/js/exif.js"></script>
<script src="/home/js/imgupload.js"></script>
<script>
    $(function(){
        //头像大小
        var up = $('.up' );
        var path = up.attr('data-tab');
        var image = new Image();
        var ww = up.width();
        image.src = path ;
        up.css({"background-image":'url('+path+')'});
        image.onload = function(){
            if(image.width > image.height){
                up.css({"background-size":'auto '+ww +'px'});
            }else{
                up.css({"background-size":ww +'px'+' auto '});
            }
        };


        var u = navigator.userAgent, app = navigator.appVersion;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

        $('#upload').off("change").on('change',function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            if(size <= 2048){
                var img = $(this)[0].files[0];
                var formData = new FormData();
                formData.append("picture",img);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/uploadPicture')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function(data){
                        var msg = $.parseJSON(data);
                        if(msg.code == 1){
                            var image = new Image();
                            image.src = msg.data.path ;
                            up.css({"background-image":'url('+msg.data.path+')'});
                            image.onload = function(){
                                if(image.width > image.height){
                                    up.css({"background-size":'auto '+ww +'px'});
                                }else{
                                    up.css({"background-size":ww +'px'+' auto '});
                                }
                            };
                            $.ajax({
                                type:"post",
                                url:"{:Url('User/setHeader')}",
                                data:{header:msg.data.path},
                                dataType: "Json",
                                success:function(){
                                    swal({
                                        title: ' ',
                                        text: '上传成功',
                                        type: 'success',
                                        confirmButtonText:'确定',
                                        timer:2000
                                    });
                                },error:function(){
                                    swal({
                                        title: ' ',
                                        text: '上传失败，请重试',
                                        type: 'success',
                                        confirmButtonText:'确定',
                                        timer:2000
                                    });
                                }
                            })
                        } else {
                            swal({
                                title: ' ',
                                text: '上传失败',
                                type: 'error',
                                confirmButtonText:'确定',
                                timer:2000
                            });
                            return;
                        }
                    }
                });
            } else {
                swal({
                    title: ' ',
                    text: '您选择的图片超过2mb，请重新选择',
                    type: 'error',
                    confirmButtonText:'确定',
                    timer:2000
                });
                return;
            }
        });

        if(isAndroid){
            //触发上传按钮
            up.off("click").on('click',function(){
                $('#upload').click();
            });
            $('#upload').show();
        }
        if(isiOS){
            $('#uploadImage').show();
        }
        //签到
        $('.sign').click(function(){
            $.ajax({
                url: "{:Url('User/sign')}",
                type: 'get',
                success: function(data){
                    if(data.code == 1){
                        $('.sign').removeClass('sign').addClass('change' ).text('已签 +'+data.data);
                    }else{
                        swal({
                            title: '签到失败',
                            type: 'info',
                            text: data.msg,
                            timer:2000,
                            confirmButtonText:'确定',
                            confirmButtonColor:'#A5DC86'
                        });
                    }
                }
            });
        })
    })
</script>
{/block}