{extend name="public/common"}

{block name="style"}
<title>个人信息</title>
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
	<span class="fl">头像</span>
	{eq name="user.header" value=""}
	<img  src="{$user.avatar}" alt="" class="img fr">
	{else/}
	<img  src="{$user.header}" alt="" class="img fr">
	{/eq}
	</div>
	<div class="list clearfix">
		<span class="fl">姓名</span>
		<span class="fr">{$user.name}</span>
	</div>
	<div class="list clearfix">
		<span class="fl">性别</span>
		<span class="fr">{$user.sex}</span>
	</div>
	<div class="list clearfix">
		<span class="fl">出生日期</span>
		<span class="fr">{$user.birthday}</span>
	</div>
	<div class="list clearfix">
		<span class="fl">手机号</span>
		<span class="fr mo">{$user.mobile}</span>
	</div>
</div>
<div class="lists">
	<div class="list clearfix">
		<span class="fl">学历</span>
		<span class="fr">{$user.education}</span>
	</div>
	<div class="list clearfix">
		<span class="fl">入党时间</span>
		<span class="fr">{$user.partytime}</span>
	</div>
	<div class="list clearfix">
		<span class="fl">所属党支部</span>
		<span class="fr">{$user.department_short}</span>
	</div>
	<div class="list clearfix">
		<span class="fl">职务</span>
		<span class="fr">{$user.position}</span>
	</div>
</div>
{/block}

{block name="script"}
{/block}