{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/relevant.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="{$publish.front_cover|get_cover='path'}" alt="支部活动banner" class="banner-img">
</div>
<div class="content">
	<div class="top">
		<div class="title limit_" style="text-align:center;" >{$publish.title}</div>
	</div>
	<div class="message">
		<div><span class="limit">{$publish.topic}</span></div>
		<div><span class="limit">{$publish.start_time|time_format="Y-m-d"}</span></div>
		<div><span class="limit">{$publish.address}</span></div>
	</div>
	<div class="article">{$publish.content}</div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
$(function(){
	//随机图片
	var ns = [];
	var n;
	for(var i = 1 ;i<4 ;i++){
		n = parseInt(Math.random()*26)+1;
		while ($.inArray(n,ns) != -1){n = parseInt(Math.random()*26)+1}
		ns.push(n);
		$('.swiper-slide:nth-child('+i+') img' ).attr('src','/home/images/default/1-'+ns[i-1]+'.png');
	}
	//轮播
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: 3000,
		loop:true,
		pagination : '.swiper-pagination',
		paginationType : 'bullets',
		autoplayDisableOnInteraction:false
	})
});
</script>
{/block}