{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/chart1.css">
{/block}

{block name="body"}
<div class="list">
	<div class="title">内外部浏览量统计图</div>
	<div id="indicatorContainer"></div>
	<div class="sum"><br>浏览量<br><span></span>人</div>
	<div class="detail">
		<div class="in">
			内部
			<span class="num"></span>人
			<span class="per"></span>%
		</div>
		<div class="out">
			外部
			<span class="num"></span>人
			<span class="per"></span>%
		</div>
	</div>
</div>
<div class="list">
	<div class="title">各时段浏览量统计图</div>
	<div id="line"></div>
	<span class="people">&emsp;人数</span>
	<span class="hour">小时</span>
</div>
{/block}
{block name="script"}
<script src="/static/flot/jquery.flot.js"></script>
<script src="/static/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static/flot/radialIndicator.js"></script>
<script src="/static/flot/echarts.min.js"></script>
<script>
$(function(){
	//模块标题
	//data1 内外部浏览量 = [内部人数，外部人数]
	var data1 = {$data.user};
	//data2 各时段浏览量
	var data2 = {$data.count};
	//圆饼图
	var sum = data1[0]+data1[1];
	$('.sum span' ).text(sum);
	$('.in .num' ).text(data1[0]);
	$('.out .num' ).text(data1[1]);
	if(sum == 0){
		$('.in .per' ).text(0);
		$('.out .per' ).text(0);
	}else{
		$('.in .per' ).text(Math.round(data1[0]/sum*100));
		$('.out .per' ).text(Math.round(data1[1]/sum*100));
	}

	var radialObj = $('#indicatorContainer').radialIndicator({
		radius: 60,
		minValue: 0,
		maxValue: sum,
		format: '',
		barWidth: 40,
		barBgColor: '#4299b0',
		barColor: '#92c3d5',
		fontSize : '1.34rem'
	}).data('radialIndicator');
	radialObj.value(data1[0]);
	var ww = $('body' ).width();
	if(ww<= 320){
		$('.in,.out' ).css({'height':'13.34vw','line-height':'5vw'})
	}

	//折线图
	var line = echarts.init(document.getElementById('line'));
	line.setOption({
		color:["#92c3d5"],
		tooltip: {
			trigger: 'axis'
		},
		toolbox: {
			show: true,
			feature: {
				dataZoom: {
					yAxisIndex: 'none'
				},
				dataView: {readOnly: false},
				magicType: {type: ['line', 'bar']}
			}
		},
		xAxis:  {
			type: 'category',
			boundaryGap: false,
			data: ['0','3','6','9','12','15','18','21','24'],
			axisLabel: {
				interval:0
			}
		},
		yAxis: {
			type: 'value'
		},
		series: [
			{
				name:'浏览量',
				type:'line',
				data:data2,
//				markLine: {data: [{type: 'average', name: '平均值'}]},
				itemStyle : { normal: {label : {show: true}}},
			}
		]
	}) ;

})
</script>
{/block}