{extend name="public/common"}

{block name="style"}
<title>数据统计</title>
<link rel="stylesheet" href="/home/css/news/news.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}

{block name="body"}
<!--新闻聚焦-->
<div class="notice">
	{empty name="list"}
	<div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"></div>
	{else/}
	<div class="lists">
		{volist name="list" id="vo"}

		{empty name="vo.table_type"}
		<a class="list clear" href="{:Url('statistics/detail?id='.$vo['id'].'&type=1')}">
		{else/}
		<a class="list clear" href="{:Url('statistics/detail?id='.$vo['id'].'&type=2')}">
		{/empty}
			<div class="fl">
				{empty name="vo.front_cover"}
				<img src="{:get_defalut_cover(1)}" alt="{$vo.title}">
				{else/}
				<img src="{$vo['front_cover']|get_cover='path'}" alt="{$vo.title}">
				{/empty}
			</div>
			<div class="fr lr">
				<div class="title limit_">{$vo.title}</div>
				<div class="clear">
					<span class="fl">{$vo.create_time|time_format='Y-m-d'}</span>
					<span class="fr">详情</span>
				</div>
			</div>
		</a>
		{/volist}
	</div>
	{/empty}
</div>

<div class="tip"></div>
<div class="loading hidden">
	<div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
	var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
	var tabType = 1; // 记录当前是哪个tab
	$(function(){
		//初始化数据

		var len  = $('.notice').find(".list").length;
		if(len >= 8 ){
			$('.tip').text('上拉加载更多');
			loadScroll();
		}

	});

	function loadScroll(){

		$(window ).off("scroll" ).on("scroll",function(){
			var dh = $(document).height();
			var end = $(window).height() + $(window ).scrollTop();
			var len  = $('.notice').find(".list").length;
			var tip = $(".tip");
			var loading = $('.loading');
			if(dh == end){
				scrollNow = false;
				$.ajax({
					type:"post",
					url:"{:Url('Statistics/moreDataList')}",
					data:{
						length: len,
					},
					beforeSend: function(XMLHttpRequest){
						tip.hide();
						loading.toggleClass('hidden');
					},
					success:function(data){
						loading.toggleClass('hidden');
						tip.show();
						if(data.code == 1){
							addNews(data);
							var dataLen =data.data.length;
							if(data.data.length == 6){
								tip.text('上拉加载更多');
							}
						}else{
							tip.text('没有更多了');
							$(window ).off("scroll");
						}
						scrollNow = true;
					}
				})
			}
		})
	}

	function addNews(data){
		var html = '';
		var lists = data.data;
		var len = lists.length;
		for(var i = 0; i< len;i++){
			var list = lists[i];
			if (list['table_type']) {
				link = "/home/statistics/detail/id/"+list.id+"/type/2.html";
			} else {
				link = "/home/statistics/detail/id/"+list.id+"/type/1.html";
			}

			html +=
					'<a class="list clear" href="'+link+'">'+
					'<div class="fl">'+
					'<img src="'+ list.path+'" alt="图片">'+
					'</div>'+
					'<div class="fr lr">'+
					'<div class="title">'+list.title+'</div>'+
					'<div class="clear">'+
					'<span class="fl">'+ list.time+'</span>'+
					'<span class="fr">详情</span>'+
					'</div>'+
					'</div>'+
					'</a>'
		}
		$('.notice').children(".lists").append(html);
	}

</script>
{/block}