{extend name="public/common"}
{block name="style"}
<title>数据统计</title>

<link rel="stylesheet" href="/home/css/user/index.css">
<style>
    body{
        height:100%;
        width:100%;
        overflow: hidden;
        background: #efefef;
    }
    .tabs{
        border-bottom:1px solid #e5e5e5;
    }
    iframe{
        width:100vw;
        /*display:none;*/
        float:left;
        min-height: 93.4vh;
        margin-top: 6.6vh;
    }
    .tabs .tab {
        width: 49vw;
    }
    .tabs .tab:nth-child(2) {
         border-right: none;
    }
    .tabs .active {
        color: #fd6743;
    }
</style>
{/block}
{block name="body"}
<!--tab-->
<div class="tabs clear">
    <div class="tab"><span class="active">图表型</span></div>
    <div class="tab"><span>文字型</span></div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    //tab切换
    var number = getCookie('num')==null?0:getCookie('num');
    $('.tabs>.tab ').on('click',function(){
        var eq = $(this ).index();
        setCookie('num',eq);
        $(this ).siblings('.tab' ).find('span' ).removeClass('active');
        $(this ).find('span' ).addClass('active');
        if (eq == 0) {
            $("iframe").remove();
            $("body").append('<iframe src="/home/statistics/chart.html" frameborder="0"  id="tab"></iframe>');
            $("iframe").css("margin-top","1rem");
        }else {
            $("iframe").remove();
            $("body").append('<iframe src="/home/statistics/form.html" frameborder="0"  id="tab"></iframe>');
            $("iframe").css("margin-top","1rem");
        }
    });

    // 初始化
    $('.tab').eq(number).click();
</script>
{/block}