{extend name="public/common"}
{block name="style"}
<title>数据统计</title>

<link rel="stylesheet" href="/home/css/user/index.css">
<style>
    body{
        height:100%;
        width:100%;
        overflow: hidden;
        background: #efefef;
    }
    .tabs{
        margin-bottom:1px;
    }
    iframe{
        width:100vw;
        /*display:none;*/
        float:left;
        min-height: 93.4vh;
        margin-top: 6.6vh;
    }
    .tabs .tab {
        width: 49vw;
    }
    .tabs .tab:nth-child(2) {
         border-right: none;
    }
    .tabs .active {
        color: #fd6743;
    }
</style>
{/block}
{block name="body"}
<!--tab-->
<div class="tabs clear">
    <div class="tab"><span class="active">图表型</span></div>
    <div class="tab"><span>文字型</span></div>
</div>
<iframe src="/home/statistics/form.html" frameborder="0"  id="tab1"></iframe>
<iframe src="/home/statistics/chart.html" frameborder="0"  id="tab0"></iframe>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $(function(){
//        var WH = $(window).height();
//        var WW = $(window).width();
//        $('#tab0').height(WH);
//        $("iframe").css("margin-top","1rem");
        //tab切换
        var number = getCookie('num')==null?0:getCookie('num');
        $('.tabs>.tab ').on('click',function(){
            $("iframe").css("margin-top","1rem");
            var eq = $(this ).index();
            setCookie('num',eq);
            $(this ).siblings('.tab' ).find('span' ).removeClass('active');
            $(this ).find('span' ).addClass('active');
//            $('#tab'+eq).height(WH);
            $('#tab'+eq).show().siblings("iframe").hide();
        });

        // 初始化
        $('.tab').eq(number).siblings('.tab' ).find('span' ).removeClass('active');
        $('.tab').eq(number).find('span' ).addClass('active');
//        $('#tab'+number).height(WH);
        $('#tab'+number).show().siblings("iframe").hide();
    });

</script>
{/block}