{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/service/organization.css">
<title>典型引路</title>
{/block}
{block name="body"}
<div class="UserTop">
    <div class="UserTop_01">
        <img src="/home/images/banner/1.jpg">
        <div class="UserTop_Text">
            <p>姓名：<span>王丹丹</span></p>
            <p>生日：<span>1973-09-06</span></p>
            <p>职位：<span>无</span></p>
        </div>
    </div>
    <div class="UserTop_02">
        <span>口 号：</span>
        <p>态度决定一切，给我一个机会，我会给你一个大大的惊喜！</p>
    </div>
</div>
<div class="UserContent">
    <div class="UserTitle">先锋事迹</div>
    <div class="UserText">
        xxx同志于xx年x月加入中国共产党、xxxx年x月，参加工作，在我院主要从事检测技术方面工作。几年来，他在领导和同事们的关怀、帮忙下，坚持以邓小平理论和“三个代表”重要思想为指导，深入落实科学发展观，以“服从领导、团结同志、认真学习、扎实工作”为准则，不断提高思想水平，用心改善工作作风，努力丰富政治理论和学习业务知识，充分发挥了岗位职能，具有较高的思想道德水平和必须的文字综合潜力。该同志自2013年以来在工作岗位上始终如一，严谨求实、勤奋刻苦、兢兢业业，较好的完成领导交办的各项工作，作为一名共产党，他处处以党员的标准严格要求自我，在理论学习，联系群众和遵纪守法等各方面都较好的发挥着共产党的先锋模范作用，自我以饱满的工作热情、扎实的工作作风、优异的工作成绩，得到领导和同事们的一致好评。下方对该同志的主要事迹作以简要介绍：
        　　一、思想进步，政治合格
        　　该同志立场坚定，思想进步，能够用心拥护党的领导，在思想与行动上始终与党的路线、方针、政策持续一致，能够以马列主义、毛泽东思想、邓小平理论和“三个代表”重要思想为指导，认真学习、宣传、贯彻党的十七大精神，用心领会科学发展观、建设社会主义和谐社会等重大理论的科学内涵。在党员先进性教育活动和学习实践科学发展观活动中，该同志能够用心学习，自觉查找不足，整改提高。作为一名刚刚加入党组织的年轻同志，能够始终持续着清醒的头脑，把“做事先做人，万事勤为先”作为自我行为准则，认真细致，艰苦奋斗，恪尽职守，以身作则，用心参与党组织的各项活动，坚决服从组织安排，时时事事起模范带头作用，具有坚定的共产主义信念和较强的党性。该同志始终牢记作为一名共产党员不仅仅要做到从组织上入党，更要做到从思想上入党，从不放松自我的思想改造。
    </div>
</div>
{/block}
{block name="script"}
{/block}