{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/approved/detail.css">


<title>流程展示</title>
<style>
 body{
     background: #fff;
 }
    .bt{
        position:relative;
    }
    .site{
        position: absolute;
        left:0;
        top:0;
    }
    .time{
        position: absolute;
        right:0;
        top:0;
    }
</style>
{/block}
{block name="body"}
<div class="box">
    <div class="top">
        <p class="title">党员组织关系接转流程</p>
    </div>
    <div class="bt clearfix">
        <span class="site">珍珠小镇</span>
        <span class="time">2017-12-06</span>
    </div>
    <div class="content">
    </div>
</div>
<!--<div class="tabs">-->
    <!--<a class='pass' href="#">审核通过</a>-->
    <!--<a class="no" href="/home/mediation/noapprove.html">审核不通过</a>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    var id = {$_GET['id']};
    if(id==1){
        $('.content').html(
            '<p>1、市直属党（工）委转出组织关系到市外其它党组织的流程为：党支部→（党总支）→基层党（工）委→市委组织部。  </p>\n' +
            '            <p>2、市直属党（工）委转出组织关系到市内其它党组织的流程为：党支部→（党总支）→转出地基层党（工）委→转入地基层党（工）委。</p>\n' +
            '            <p>3、基层党（工）委内部党支部转移流程：党支部→基层党（工）委→党支部。</p>\n' +
            '            <p>4、市直属党（工）委接收市外其它党组织转来组织关系的流程为：市委组织部→基层党（工）委→（党总支）→党支部。</p>\n' +
            '            <p>5、市直属党（工）委接收市内其它党组织转来组织关系的流程为：转出地基层党（工）委→转入地基层党（工）委→（党总支）→党支部。</p>\n' +
            '            <p>6、基层党（工）委内部党支部接收流程：党支部→基层党（工）委→党支部。</p>'
        )
    }else if(id==2){
        $('.content').html(
            '<p>一、实施对象</p>\n' +
            '        <p>全市组织关系在行政村（村改居）党组织、两新组织党组织和社区党组织，外出诸暨市在6个月（含6个月）以内的党员。</p>\n' +
            '        <p>二、工作措施</p>\n' +
            '        <p>1、完善《流动党员活动证》管理。活动证发放实行报告审批制度：</p>\n' +
            '        <p>（1）外出前，流动党员要向党支部报告外出相关事项，提出办理《流动党员活动证》书面申请。</p>\n' +
            '        <p>（2）党支部对党员的外出原因、时间、地点、联系方式等情况进行详细登记，填写《诸暨市流动党员活动证申领表》（附件1），交支部委员会审核。审核同意后，填写《诸暨市流动党员报到联系单》（附件2）。</p>\n' +
            '        <p>（3）流动党员携带《诸暨市流动党员活动证申领表》和《诸暨市流动党员报到联系单》，到所在镇乡（街道）党（工）委办理审批手续。</p>\n' +
            '        <p>（4）镇乡（街道）党（工）委审核同意后，组织与党员本人谈话，告知流动党员管理具体要求，将相关信息录入党员信息系统，发给《流动党员活动证》，并要求流动党员将《诸暨市流动党员报到联系单回执》及时寄回组织关系所在党支部。</p>\n' +
            '        <p>（5）流动党员持证到流入地党支部报到，参加组织生活。</p>\n' +
            '        <p>2、建立流动党员联系制度。党支部要落实支部委员或党小组长与流动党员结对联系，建立党支部——支部委员（党小组长）——流动党员的结对联系模式。结对联系人要与流动党员保持日常沟通，及时传达支部会议精神、组织生活开展等情况，同时每季度向党支部报告流出党员在外情况。党员返乡时要将《流动党员活动证》交流出地党支部查验，其在流入地党支部参加组织生活情况作为党员日常表现量化管理的认定依据。</p>\n' +
            '        <p>3、创设流动党员服务载体。镇乡（街道）党（工）委要创新服务载体，及时提供党课教材、党报党刊以及党员电教片等学习资料。以镇乡（街道）为单位，搭建网络管理平台，通过设立微信公众号、微信群，建立流动党员QQ群、电子信箱等形式，及时为流动党员提供服务。根据实际，在流动党员相对集中的区域可建立流动党支部。同时，各镇乡（街道）要在七一、春节以党（工）委为单位组织开展流动党员集中培训，为他们提供党性教育、服务群众的平台。</p>\n' +
            '        <p>4、加强流动党员考核管理。流动党员统一纳入农村党员先锋指数考评和日常表现量化管理，出现扣分情形的，严格按照《农村党员日常表现量化管理办法》处理。</p>\n' +
            '        <p>（1）当外出地点、就业单位、居住地和联系方式等发生变化时，流动党员应及时向流出地党组织报告，未及时报告的扣20分；虚报外出信息、逃避党员义务的扣40分。</p>\n' +
            '        <p>（2）组织关系所在党组织开展选举、“七一”党员大会、先锋指数考评会议等重大活动、重要会议时，外出流动党员应及时返回参加。组织关系所在党支部应提早通知并明确告知返乡参会要求。流出党员每缺席1次，扣10分。</p>\n' +
            '        <p>（3）流动党员每半年至少提供参加流入地党组织2次以上组织生活情况记录，并由流入地党组织在《流动党员活动证》上鉴证，每少1次扣5分。</p>\n' +
            '        <p>（4）流动党员每半年上交1篇以上书面思想汇报（不得使用打印稿），向党支部汇报在外工作、生活情况及个人思想变动情况，每少1篇扣10分。</p>\n' +
            '        <p>（4）流动党员每半年上交1篇以上书面思想汇报（不得使用打印稿），向党支部汇报在外工作、生活情况及个人思想变动情况，每少1篇扣10分。</p>\n' +
            '        <p>三、工作要求</p>\n' +
            '        <p>镇乡（街道）党（工）委要重视流动党员教育管理工作，将其纳入党员队伍管理的重要内容，落实专人办理《流动党员活动证》发放管理工作，指导督促党支部规范管理。要求8月10日前完成下属党支部调查摸底工作，8月20日前完成流动党员集中发证工作。市委组织部将不定期开展督查，对未严格落实流动党员教育管理的相关党组织和人员予以责任追究。</p>'
        )
    }else if(id==3){
        $('.content').html(
            '<p>一、申请入党</p>\n' +
            '        <p>01递交入党申请书</p>\n' +
            '        <p>★条件：年满18岁的中国公民；承认党的纲领和章程；愿意参加党的一个组织并在其中积极工作；愿意执行党的决议；按期交纳党费。</p>\n' +
            '        <p>★要求：向工作、学习所在单位党组织提出入党申请；没有工作、学习单位或工作、学习单位未建立党组织的，向居住地党组织提出入党申请；流动人员还可以向单位所在地党组织或单位主管部门党组织、流动党员党组织提出入党申请。</p>\n' +
            '        <p>★注意：本人提出；书面申请。</p>\n' +
            '        <p>02党组织派人谈话</p>\n' +
            '        <p>★时间：收到入党申请书后一个月内。</p>\n' +
            '        <p>★主体：党支部书记、副书记或组织委员。</p>\n' +
            '        <p>★内容：了解入党申请人基本情况；介绍入党条件和程序；加强教育引导。</p>\n' +
            '        <p>二、入党积极分子的确定和培养教育</p>\n' +
            '        <p>03推荐和确定入党积极分子</p>\n' +
            '        <p>★范围：已递交入党申请书且党组织已派人谈话的人员。</p>\n' +
            '        <p>★方式：党员推荐、群众组织推优等方式。</p>\n' +
            '        <p>★决定：支部委员会集体研究决定。</p>\n' +
            '        <p>★注意：综合运用推荐结果，防止简单以票取人。</p>\n' +
            '        <p>04上级党委备案</p>\n' +
            '        <p>★材料：入党申请人基本情况；推荐和推优情况；支部委员会意见等。</p>\n' +
            '        <p>★要求：了解入党积极分子是否具备条件；手续是否齐全。</p>\n' +
            '        <p>05制定培养联系人</p>'+
            '        <p>★数量：1-2名正式党员。</p>\n' +
            '        <p>★任务：向入党积极分子介绍党的基本知识；了解入党积极分子的政治觉悟、道德品质、现实表现和家庭情况等，做好培养教育工作，引导入党积极分子端正入党动机；及时向党支部汇报入党积极分子情况；向党支部提出能否将入党积极分子列为发展对象的意见。</p>\n' +
            '        <p>06培养教育考察</p>\n' +
            '        <p>★方法：吸收入党积极分子听党课、参加党内有关活动、分配一定的社会工作、集中培训等。</p>\n' +
            '        <p>★目的：使入党积极分子懂得党的性质、纲领、宗旨、组织原则、纪律、党员的义务和权利，帮助端正入党动机，确定为共产主义事业奋斗终身的信念。</p>\n' +
            '        <p>★要求：党支部每半年对入党分子进行1次考察；基层党委每年对入党积极分子队伍状况作1次分析。</p>\n' +
            '        <p>★注意：入党积极分子工作、学习单位（居住地）发生变动，应及时报告原单位（居住地）党组织；原单位（居住地）党组织应及时转交材料；接收单位党组织认真审查材料、做好接续培养，培养教育时间可连续计算。</p>\n' +
            '        <p>三、发展对象的确定和考察</p>\n' +
            '        <p>07确定发展对象</p>'+
            '        <p>★方式：党员推荐、群众组织推优等方式。</p>'+
            '        <p>★决定：支部委员会集体研究决定。</p>\n' +
            '        <p>★注意：综合运用推荐结果，防止简单以票取人。</p>\n' +
            '        <p>08报上级党委备案</p>\n' +
            '        <p>★要求：认真审查，提出意见。</p>\n' +
            '        <p>★注意：同意后列为发展对象。</p>\n' +
            '        <p>09确定入党介绍人</p>\n' +
            '        <p>★数量：2名正式党员。</p>\n' +
            '        <p>★方式：一般由培养联系人担任，也可由党组织指定。</p>\n' +
            '        <p>★要求：入党介绍人认真完成培养、教育任务。</p>'+
            '        <p>★注意：受留党察看处分、尚未恢复党员权利的党员，不能作入</p>'+
            '        <p>党介绍人。</p>\n' +
            '        <p>10进行政治审查</p>\n' +
            '        <p>★内容：对党的理论和路线、方针、政策的态度；政治历史和在重大政治斗争中的表现；遵纪守法和遵守社会公德情况；直系亲属和与本人关系密切的主要社会关系的政治情况。</p>\n' +
            '        <p>★方法：同本人谈话、查阅档案资料、找有关单位和人员了解情况以及必要的涵调或外调。对流动人员中的发展对象还应当征求户籍所在地和居住地基层党组织的意见。</p>\n' +
            '        <p>★要求：政治审查必须严肃认真、实事求是，注重本人的一贯表现。审查情况形成结论性材料。</p>\n' +
            '        <p>★注意：未经政治审查或政治审查不合格的，不能发展入党。</p>\n' +
            '        <p>11开展集中培训</p>\n' +
            '        <p>★主体：基层党委或县级党委组织部门。</p>\n' +
            '        <p>★时间：不少于3天或不少于24学时。</p>'+
            '        <p>★注意：未经培训，除特殊情况外，不能发展入党。</p>'+
            '        <p>四、预备党员的接收</p>\n' +
            '        <p>12支部委员会审查</p>\n' +
            '        <p>★要求：征求党员和群众的意见；对发展对象进行严格审查；集体讨论是否合格。</p>\n' +
            '        <p>13上级党委预审</p>\n' +
            '        <p>★方式：审查发展对象条件、培养教育情况等；根据需要，听取执纪执法等部门意见。</p>\n' +
            '        <p>★要求：审查结果书面通知党支部；向审查合格的发展对象发放《中国共产党入党志愿书》。</p>\n' +
            '        <p>★注意：发展对象未来3个月内将离开工作、学习单位的，一般不办理接收预备党员手续。</p>\n' +
            '        <p>14填写入党志愿书</p>\n' +
            '        <p>★要求：在入党介绍人指导下，由本人按照要求如实填写。15支部大会讨论</p>'+
            '        <p>★程序：(1)发展对象汇报个人情况；(2)入党介绍人介绍发展对象有关情况、表明意见；(3)支部委员会报告审查情况；(4)与会党员充分讨论、投票表决。</p>'+
            '        <p>★注意：有表决权的到会人数必须超过应到会有表决权人数的半数，才能开会；赞成人数超过应到会有表决权的正式党员的半数，方可通过。讨论两个以上发展象入党时，要逐个讨论和表决。</p>\n' +
            '        <p>16上级党委派人谈话</p>\n' +
            '        <p>★时间：党委审批前。</p>\n' +
            '        <p>★人员：党委委员或组织员。</p>\n' +
            '        <p>★目的：作进一步了解，并帮助发展对象提高对党的认识。</p>\n' +
            '        <p>★要求：谈话人应当将谈话情况和自己对发展对象能否入党的意见，如实填写在《中国共产党入党志愿书》上，并向党委汇报。</p>\n' +
            '        <p>17上级党委审批</p>\n' +
            '        <p>★内容：是否具备党员条件、入党手续是否完备。</p>\n' +
            '        <p>★要求：集体讨论和表决。两个以上发展对象应当逐个审议和表决。</p>'+
            '        <p>★时间：3个月内，特殊情况不超过6个月。</p>'+
            '        <p>★注意：党总支、乡镇（街道）所属的基层党委以及党组不能审批预备党员。除另有规定外，临时党组织不能接收、审批预备党员。</p>\n' +
            '        <p>18再上一级党委组织部门备案</p>\n' +
            '        <p>★目的：掌握预备党员结构、分布、质量等情况；发现问题，及时解决。</p>\n' +
            '        <p>五、预备党员的教育考察和转正</p>\n' +
            '        <p>19编入党支部和党小组</p>\n' +
            '        <p>★要求：及时编入；继续进行教育和考察。</p>\n' +
            '        <p>20入党宣誓</p>\n' +
            '        <p>★组织：基层党委或党支部(党总支)。</p>\n' +
            '        <p>★程序：（1）奏《国际歌》；（2）党组织负责同志致辞；（3）预备党员宣誓；（4）参加宣誓的预备党员代表发言；(5)党组织负责同志讲话、提出要求。</p>'+
            '        <p>★要求：在正式场合举行；严肃认真庄重简朴；严密紧凑。</p>\n' +
            '        <p>21继续教育考察</p>\n' +
            '        <p>★方式：参加党的组织生活、听本人汇报、个别谈心、集中培训、实践锻炼等。</p>'+
            '        <p>★时间：预备期为1年。</p>'+
            '        <p>22提出转正申请</p>\n' +
            '        <p>★要求：预备期满，书面提出申请。</p>\n' +
            '        <p>23支部大会讨论</p>\n' +
            '        <p>★准备：党小组提出意见；党支部征求党员和群众的意见；支部委员会审查。</p>\n' +
            '        <p>★程序：参照接收预备党员的程序。</p>\n' +
            '        <p>★结果：认真履行党员义务、具备党员条件的，按期转为正式党员；需要继续考察和教育的，可以延长1次预备期，延长时间不能少于半年，最长不超过1年；不履行党员义务、不具备党员条件的，取消预备党员资格。</p>\n' +
            '        <p>24上级党委审批</p>\n' +
            '        <p>★时间：3个月内。</p>\n' +
            '        <p>★要求：审批结果及时通知党支部。党支部书记应当同本人谈话，并将审批结果在党员大会上宣布。</p>'+
            '        <p>★注意：党员的党龄从预备期满转为正式党员之日算起。25材料归档</p>'+
            '        <p>★内容：《中国共产党入党志愿书》、入党申请书、政治审查材料、转正申请书、培养教育考察材料。</p>\n' +
            '        <p>★要求：有人事档案的,存入本人人事档案；无人事档案的，建立党员档案，由所在党委或县级党委组织部门保存。</p>\n' 


    )
    }
</script>
{/block}