{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/approved/detail.css">


<title>第一聚焦</title>
<style>
 body{
     background: #fff;
 }
    .bt{
        position:relative;
    }
    .site{
        position: absolute;
        left:0;
        top:0;
    }
    .time{
        position: absolute;
        right:0;
        top:0;
    }
</style>
{/block}
{block name="body"}
<div class="box">
    <div class="top">
        <p class="title">浙江诸暨山下湖“珍珠小镇”深度挖掘美丽经济</p>
        <div class="bt">
            <span class="site">珍珠小镇</span>
            <span class="time">2017-12-06</span>
        </div>
    </div>
    <div class="content">
        <p class="yi">浙江诸暨山下湖镇立足“珍珠小镇”建设，结合产业特色、人文底蕴和生态禀赋，不断丰富珍珠内涵，深度挖掘美丽经济，逐步走向全球产业制高点。</p>
        <p>绿色+文化</p>
        <p class="san">每颗珠子后面都有生态故事</p>
        <p>国庆期间，米果果小镇的DIY手工坊、动漫水世界、乡村记忆馆等趣味园区迎来了大批游客，距其仅5公里的白塔湖国家湿地公园同样游人如织。生态文化旅游的热风也带动了邻近华东国际珠宝城的生意。</p>
        <p>促进生态旅游文化与珍珠产业的融合发展，山下湖具有良好的资源和基础。如何利用静态的生态资源、高雅的文化元素来提升珍珠企业发展内涵，成为山下湖镇党委政府思考的课题。</p>
    </div>
</div>
<!--<div class="tabs">-->
    <!--<a class='pass' href="#">审核通过</a>-->
    <!--<a class="no" href="/home/mediation/noapprove.html">审核不通过</a>-->
<!--</div>-->
{/block}
{block name="script"}
{/block}