{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/approved/detail.css">


<title>流程展示</title>
<style>
 body{
     background: #fff;
 }
    .bt{
        position:relative;
    }
    .site{
        position: absolute;
        left:0;
        top:0;
    }
    .time{
        position: absolute;
        right:0;
        top:0;
    }
</style>
{/block}
{block name="body"}
<div class="box">
    <div class="top">
        <p class="title">党员组织关系接转流程</p>
    </div>
    <div class="bt clearfix">
        <span class="site">珍珠小镇</span>
        <span class="time">2017-12-06</span>
    </div>
    <div class="content">
    </div>
</div>
<!--<div class="tabs">-->
    <!--<a class='pass' href="#">审核通过</a>-->
    <!--<a class="no" href="/home/mediation/noapprove.html">审核不通过</a>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    var id = {$_GET['id']};
    if(id==1){
        $('.content').html(
            '<p>1、市直属党（工）委转出组织关系到市外其它党组织的流程为：党支部→（党总支）→基层党（工）委→市委组织部。  </p>\n' +
            '            <p>2、市直属党（工）委转出组织关系到市内其它党组织的流程为：党支部→（党总支）→转出地基层党（工）委→转入地基层党（工）委。</p>\n' +
            '            <p>3、基层党（工）委内部党支部转移流程：党支部→基层党（工）委→党支部。</p>\n' +
            '            <p>4、市直属党（工）委接收市外其它党组织转来组织关系的流程为：市委组织部→基层党（工）委→（党总支）→党支部。</p>\n' +
            '            <p>5、市直属党（工）委接收市内其它党组织转来组织关系的流程为：转出地基层党（工）委→转入地基层党（工）委→（党总支）→党支部。</p>\n' +
            '            <p>6、基层党（工）委内部党支部接收流程：党支部→基层党（工）委→党支部。</p>'
        )
    }else if(id==2){
        $('.content').html(
            '<p>一、实施对象</p>\n' +
            '        <p>全市组织关系在行政村（村改居）党组织、两新组织党组织和社区党组织，外出诸暨市在6个月（含6个月）以内的党员。</p>\n' +
            '        <p>二、工作措施</p>\n' +
            '        <p>1、完善《流动党员活动证》管理。活动证发放实行报告审批制度：</p>\n' +
            '        <p>（1）外出前，流动党员要向党支部报告外出相关事项，提出办理《流动党员活动证》书面申请。</p>\n' +
            '        <p>（2）党支部对党员的外出原因、时间、地点、联系方式等情况进行详细登记，填写《诸暨市流动党员活动证申领表》（附件1），交支部委员会审核。审核同意后，填写《诸暨市流动党员报到联系单》（附件2）。</p>\n' +
            '        <p>（3）流动党员携带《诸暨市流动党员活动证申领表》和《诸暨市流动党员报到联系单》，到所在镇乡（街道）党（工）委办理审批手续。</p>\n' +
            '        <p>（4）镇乡（街道）党（工）委审核同意后，组织与党员本人谈话，告知流动党员管理具体要求，将相关信息录入党员信息系统，发给《流动党员活动证》，并要求流动党员将《诸暨市流动党员报到联系单回执》及时寄回组织关系所在党支部。</p>\n' +
            '        <p>（5）流动党员持证到流入地党支部报到，参加组织生活。</p>\n' +
            '        <p>2、建立流动党员联系制度。党支部要落实支部委员或党小组长与流动党员结对联系，建立党支部——支部委员（党小组长）——流动党员的结对联系模式。结对联系人要与流动党员保持日常沟通，及时传达支部会议精神、组织生活开展等情况，同时每季度向党支部报告流出党员在外情况。党员返乡时要将《流动党员活动证》交流出地党支部查验，其在流入地党支部参加组织生活情况作为党员日常表现量化管理的认定依据。</p>\n' +
            '        <p>3、创设流动党员服务载体。镇乡（街道）党（工）委要创新服务载体，及时提供党课教材、党报党刊以及党员电教片等学习资料。以镇乡（街道）为单位，搭建网络管理平台，通过设立微信公众号、微信群，建立流动党员QQ群、电子信箱等形式，及时为流动党员提供服务。根据实际，在流动党员相对集中的区域可建立流动党支部。同时，各镇乡（街道）要在七一、春节以党（工）委为单位组织开展流动党员集中培训，为他们提供党性教育、服务群众的平台。</p>\n' +
            '        <p>4、加强流动党员考核管理。流动党员统一纳入农村党员先锋指数考评和日常表现量化管理，出现扣分情形的，严格按照《农村党员日常表现量化管理办法》处理。</p>\n' +
            '        <p>（1）当外出地点、就业单位、居住地和联系方式等发生变化时，流动党员应及时向流出地党组织报告，未及时报告的扣20分；虚报外出信息、逃避党员义务的扣40分。</p>\n' +
            '        <p>（2）组织关系所在党组织开展选举、“七一”党员大会、先锋指数考评会议等重大活动、重要会议时，外出流动党员应及时返回参加。组织关系所在党支部应提早通知并明确告知返乡参会要求。流出党员每缺席1次，扣10分。</p>\n' +
            '        <p>（3）流动党员每半年至少提供参加流入地党组织2次以上组织生活情况记录，并由流入地党组织在《流动党员活动证》上鉴证，每少1次扣5分。</p>\n' +
            '        <p>（4）流动党员每半年上交1篇以上书面思想汇报（不得使用打印稿），向党支部汇报在外工作、生活情况及个人思想变动情况，每少1篇扣10分。</p>\n' +
            '        <p>（4）流动党员每半年上交1篇以上书面思想汇报（不得使用打印稿），向党支部汇报在外工作、生活情况及个人思想变动情况，每少1篇扣10分。</p>\n' +
            '        <p>三、工作要求</p>\n' +
            '        <p>镇乡（街道）党（工）委要重视流动党员教育管理工作，将其纳入党员队伍管理的重要内容，落实专人办理《流动党员活动证》发放管理工作，指导督促党支部规范管理。要求8月10日前完成下属党支部调查摸底工作，8月20日前完成流动党员集中发证工作。市委组织部将不定期开展督查，对未严格落实流动党员教育管理的相关党组织和人员予以责任追究。</p>'
        )
    }
</script>
{/block}