{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/evaluate.css">
<title>党员搜索</title>
<style>
    .search {
        padding:1.6vw 3.2vw;
        background: #f5f5f5;
        width:100%;
        height:10.2vw;
        font-size: .24rem;
        margin-bottom:4.5vh;
        position: relative;
    }
    .search:after {
        content: '';
        background: url(/home/images/service/icon_06.png)no-repeat;
        position: absolute;
        top:50%;
        margin-top: -1.8vw;
        left:7vw;
        width:3.6vw;
        height:3.6vw;
        background-size: 3.6vw 3.6vw;
    }
    input{
        float: left;
        text-indent:9.6vw;
        width:85%;
        height:100%;
        background:#fff;
        border-radius: 1.6vw;
        color: #999;
    }
    input::-moz-placeholder {
        color: #999;
    }
    input::-webkit-input-placeholder {
        color: #999;
    }
    .back{
        float: left;
        display: inline-block;
        width:15%;
        height:100%;
        text-align: center;
        line-height: 8vw;
        color: #333;
    }
    ul{
        padding:0 3.2vw;
    }
    ul li{
        /*border:1px solid #f5f5f5;*/
        width: 1.4rem;
        height: 1.8rem;
        position: relative;
        float: left;
        margin-right: .45rem;
        margin-bottom: .33rem;
    }
    li:nth-child(4n+4){
        margin-right: 0;
    }
    li img{
        width: 1.4rem;
        height: 1.4rem;
    }
    li div{
        text-align: center;
        width: 100%;
        height: .4rem;
        line-height: .4rem;
        position: absolute;
        bottom: 0;
        left: 0;
        border-left: 1px solid #b2b2b2;
        border-right: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        background: #f5f5f5;
        text-align: center;
        color: #666;
    }

    #fixed {
        width:100vw;
        height:0;
        background: rgba(0,0,0,.6);
        position: fixed;
        bottom:0;
        left:0;
        z-index: 9999;
        overflow: hidden;
        /*display: none;*/
    }
    #fixed .user {
        width:100%;
        height:8.44rem;
        position: absolute;
        bottom:0;
        left:0;
        background: #fff;
    }
    .userImg {
        width:100%;
        text-align: center;
        position: absolute;
        top:-1rem;
    }
    .userImg img{
        width:2.1rem;
        height:2.1rem;
        border-radius: 50%;
    }
    .userName {
        text-align: center;
        font-size: .36rem;
        color: #333;
        margin: 1.2rem 0 .2rem 0;
    }
    .userSex {
        text-align: center;
        font-size: .3rem;
        color: #999;
        margin-bottom: .72rem;
    }
    .userSort {
        width:92vw;
        height:.8rem;
        line-height: .8rem;
        /*font-size: .3rem;*/
        border-bottom: 1px solid #d1d1d1;
        margin: auto;
        color: #333;
    }
    .userSort span {
        display: block;
        float:left;
    }
    .userSort span:nth-child(1) {width:.76rem;}
    .userSort span:nth-child(1) img {
        width:.42rem;
        height:.42rem;
        vertical-align: middle;
    }
    .userSort span:nth-child(2) ,.userSort span:nth-child(3) {
        font-size: .3rem;
    }
    .userSort span:nth-child(3) {
        float:right;
        color: #666;
    }
    #close {
        z-index: 999;
        position: absolute;
        top: 20%;
        right: 4vw;
        width: .48rem;
        height: .48rem;
    }
    #nomessage{
        width:26.6vw;
        height:26.6vw;
        margin: 50% auto;
    }
    #nomessage img{
        width:100%;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
<div class="search">
    <input type="text" placeholder="搜索">
    <span class="back">取消</span>
</div>
<ul class="lists clearfix">

</ul>
<div id="fixed">

    <img src="/home/images/service/icon_04.png" id="close">
</div>
{/block}

{block name="script"}

<script>
    $(function() {
        $('.search>input').focus();
        var search = $('.search>input');
        var lock = false;
        search.on('compositionstart',function(){
            lock = true;
        });
        search.on('compositionend',function(){
            lock = false;
        });
        search.on('input',function(){
            var this_ = this;
            var val = $(this_ ).val();
            var html = '';
            var html1='';
            $.ajax({
                type:"get",
                url: "{:Url('Service/getMember')}",
                data:{
                    search:val
                },
                beforeSend: function(XMLHttpRequest){},
                success:function(data){
                if(data.code==1){
                    if (data.data != "[]") {
                        var date=JSON.parse(data.data);
                        console.log(date);
                        var result = date;
                        var url = '';
                        for(var i=0;i< result.length;i++){
                            console.log(result[i].header);
                            if(result[i].gender=='1'){
                                result[i].gender='男';
                            }else{
                                result[i].gender='女';
                            }
                            if(result[i].birthday==null){
                                result[i].birthday='无'
                            }
                            if(result[i].partytime==null){
                                result[i].partytime='无'
                            }
                            if(result[i].header==null){
                                html += '<li><img data-original="'+result[i].avatar+'" class="lazy" src="/home/images/loading.jpg"><div>'+result[i].name+'</div></li>';
                                html1 +='<div class="user">'
                                        +'<div class="userImg"><img data-original="'+result[i].avatar+'" class="lazy" src="/home/images/loading.jpg"></div>'
                                        +'<div class="userName">'+result[i].name+'</div>'
                                        +'<div class="userSex">性别：'+result[i].gender+'</div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_03.png" alt=""></span><span>联系方式</span><span><a href="tel:'+result[i].mobile+'">'+result[i].mobile+'</a></span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_05.png" alt=""></span><span>出生年月</span><span>'+result[i].birthday+'</span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_02.png" alt=""></span><span>入党时间</span><span>'+result[i].partytime+'</span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_01.png" alt=""></span><span>所属党支部</span><span>'+result[i].dname+'</span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_07.png" alt=""></span><span>担任职务</span><span>'+result[i].position+'</span></div>'
                                        +'</div>'

                            }else{
                                html += '<li><img data-original="'+result[i].header+'" class="lazy" src="/home/images/loading.jpg"><div>'+result[i].name+'</div></li>';
                                html1 +='<div class="user">'
                                        +'<div class="userImg"><img data-original="'+result[i].header+'" class="lazy" src="/home/images/loading.jpg"></div>'
                                        +'<div class="userName">'+result[i].name+'</div>'
                                        +'<div class="userSex">性别：'+result[i].gender+'</div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_03.png" alt=""></span><span>联系方式</span><span><a href="tel:'+result[i].mobile+'">'+result[i].mobile+'</a></span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_05.png" alt=""></span><span>出生年月</span><span>'+result[i].birthday+'</span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_02.png" alt=""></span><span>入党时间</span><span>'+result[i].partytime+'</span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_01.png" alt=""></span><span>所属党支部</span><span>'+result[i].dname+'</span></div>'
                                        +'<div class="userSort"><span><img src="/home/images/service/icon_07.png" alt=""></span><span>担任职务</span><span>'+result[i].position+'</span></div>'
                                        +'</div>'
                            }

                        }
                        $('.lists' ).html(html);
                        $("#fixed").append(html1);
                        $('.lists li').on('click',function(){
                            $('#fixed').stop().animate({
                                height:'100%'
                            },500);
                            $('.user').eq($(this).index()).show().siblings(".user").hide();
                        });
                        $('#close ').on('click',function(){
                            $('#fixed').stop().animate({
                                height:0
                            },1);
                        });
                        $("img").lazyload({
                            placeholder: "/home/images/loading.jpg",
                            effect: "fadeIn",
                            threshold: 1
                        });
                    }else{
                        html += '<div id="nomessage">'
                             +'<img src="/home/images/nomessage.png" alt="无消息">'
                             +'</div>';
                        $('.lists' ).html(html);
                    }
                }else{
                    $('.lists' ).html('');
                }

                }

            });
//        }
        });


        // 返回
        $(".back").on("click",function (e) {
            $('.search>input').blur();
           setTimeout(function () {
               window.history.go(-1);
           },200);
            return false
        })
    })

</script>
{/block}