{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/home/css/recruitpublish.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list">
		<span class="tag">标&emsp;题</span>
		<input type="text" placeholder="请输入标题" name="title">
	</div>
	<div class="list">
		<span class="tag">时&emsp;间</span>
		<input type="text" placeholder="请输入时间" name="time" class="datetimepicker">
	</div>
	<div class="list">
		<span class="tag">地&emsp;点</span>
		<input type="text" placeholder="请输入地点" name="address">
	</div>
	<div class="list">
		<span class="tag">联 系 人</span>
		<input type="text" placeholder="请输入联系人姓名" name="people">
	</div>
	<div class="list">
		<span class="tag">联系方式</span>
		<input type="number" placeholder="请输入联系人电话" name="tel">
	</div>
	<div class="list">
		<span class="tag">招募人数</span>
		<input type="number" placeholder="请输入最多招募人数" name="num">
	</div>
</div>
<div class="content">
	<textarea name="content" id="" placeholder="请输入招募内容"></textarea>
	<div class="imgs clear">
		<div class="img fl hide"></div>
		<div class="add fl">
			+
		</div>
		<input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
	</div>
	<div class="tipimg">(最多上传一张图片，可不传)</div>
</div>
<div class="submit">提交</div>
{/block}

{block name="script"}
<script src="/static/datepicker/bootstrap-datetimepicker.js"></script>
<script src="/home/js/reset.js"></script>
<script>
$(function(){
	//提交
	$('.submit' ).off('click' ).on('click',function(){
		var data={
			title:$("input[name='title']").val(),
			time:$("input[name='time']").val(),
			address:$("input[name='address']").val(),
			people:$("input[name='people']").val(),
			tel:$("input[name='tel']").val(),
			content:$("textarea[name='content']").val(),
			topic:$("input[name='topic']").val()
		};
		var all = true;
		for(var key in data){
			if(data[key]== ''){
				all = false;
				alert(key);
				break;
			}
		}
		if(all){
			var img = $('.img img' ).attr('src');
			if(img){
				data[image] = img ;
			}
			$.ajax({
				type:"post",
				url:"",
				data:data,
				beforeSend: function(XMLHttpRequest){
				},
				success:function(e){
					window.location.href = "{:Url('Volunteer/recruit')}";
				}
			});
		}else{
			alert('信息输入不完整');
		}
	});
	//图片上传和修改
	$('.add,.img' ).on('click',function(){
		var this_ = $(this );
		$('#upimg').click().off("change").on('change',function(){
			var size = ($(this)[0].files[0].size / 1024).toFixed(2);
			if(size <= 5120){
				var img = $(this)[0].files[0];
				var formData = new FormData();
				formData.append("picture",img);
				$.ajax({
					type:"post",
					url:"{:Url('File/uploadPicture')}",
					data:formData,
					processData : false,
					contentType : false,
					success:function(data){
						var msg = $.parseJSON(data);
						if(msg.code == 1){
							if(this_.hasClass('add')){
								$('.img').removeClass('hide').append('<img src='+msg.data.path+' alt="笔记图片">');
								$('.add' ).hide();
								imgresize();
							}else{
								this_.find('img').remove();
								$('.img').append('<img src='+msg.data.path+' alt="笔记图片">');
								imgresize();
							}
						} else {
							alert('上传失败');
							return;
						}
					}
				});
			} else {
				alert('您选择的图片超过5mb，请重新选择');
				return;
			}
		});
	});
	$( ".datetimepicker" ).datetimepicker( {
		language:  'cn',
		format: 'yyyy-mm-dd hh:ii',
		forceParse: false,
		todayBtn: true,
		autoclose: true,
		todayHighlight: 1,
		minuteStep: 5
	});
});
</script>
{/block}