{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/orderdetail.css">
{/block}
{block name="body"}
<div class="content">
	<div class="title">为永昌小学某某某小朋友送冬衣</div>
	<div class="time">2017-01-11</div>
	<img src="/home/images/test/3.png" alt="服务订单图">
	<div class="lists">
		<div class="list">
			<span class="tag">招募内容：</span>
			<span>区直机关</span>
		</div>
		<div class="list">
			<span class="tag">时&emsp;间：</span>
			<span>2017-01-01 08:30</span>
		</div>
		<div class="list">
			<span class="tag">地&emsp;点：</span>
			<span>德清地理信息小镇产业园</span>
		</div>
		<div class="list">
			<span class="tag">联系人：</span>
			<span>蔡方勇</span>
		</div>
		<div class="list">
			<span class="tag">联系方式：</span>
			<span><a href="tel:15067198358">15067198358</a> </span>
		</div>
		<div class="list">
			<span class="tag">招募人数：</span>
			<span>1人</span>
		</div>
		<div class="list">
			<span class="tag">当前报名：</span>
			<span>1人</span>
		</div>
	</div>
	<!--可报名状态-->
	<!--<div class="get yes">我要报名</div>-->
	<!--/可报名状态-->
	<!--不可报名状态：已领-->
	<div class="get no">已领取</div>
	<!--/不可报名状态-->
	<!--不可报名状态：名满-->
	<!--<div class="get no">我要报名</div>-->
	<!--<div class="gettext">（当前招募人数已满，下次早点来哦）</div>-->
	<!--/不可报名状态-->
</div>
<div class="enroll">
	<div class="title">报名名单</div>
	<div class="lists">
		<div class="list">
			<img src="/home/images/test/t.jpg" alt="头像">
			<span class="name limit">赵婷</span>
			<span class="publish limit">第三党支部</span>
			<span class="time limit">2017-01-09</span>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
$('title' ).text('志愿招募');
$(function(){
	//报名
	$('.yes' ).off('click').on('click',function(){
		var this_ = $(this);
		this_.css('background','#9a9a9a');
		this_.text('已领取');
		$.ajax({
			type:"post",
			url:'',
			success:function(data){

			}
		})
	})
});
</script>
{/block}