@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
body {
  background: #efefef;
  padding: 3.47vw;
}
.list {
  background: #ffffff;
  -webkit-border-radius: 1.336vw;
  border-radius: 1.336vw;
  padding: 4vw;
  margin-bottom: 3.47vw;
}
.list:nth-child(6) {
  padding-bottom: 13.336vw;
}
.list .title {
  font-size: 1.5rem;
  line-height: 10.67vw;
  padding-left: 3.47vw;
  font-weight: 600;
}
.list .pie {
  width: 40vw;
  height: 40vw;
  margin-top: 4vw;
}
.list .pie canvas {
  width: 100% !important;
  height: 100% !important;
}
.list .bar {
  width: 100%;
  /*height: 70vw;*/
}
.list #pie1 .legend div {
  top: 10.67vw!important;
  left: calc(100% + 6.6666vw);
}
.list #pie1 .legend table {
  top: 10.67vw!important;
  left: calc(100% + 6.6666vw);
}
.list #pie2 .legend div {
  top: 10.67vw!important;
  left: -31.9999vw;
}
.list #pie2 .legend table {
  top: 10.67vw!important;
  left: -31.9999vw;
}
.list #pie3 .legend div {
  top: 15.9999vw !important;
  left: calc(100% + 5.3333vw);
}
.list #pie3 .legend table {
  top: 15.9999vw !important;
  left: calc(100% + 5.3333vw);
}
#flotTip {
  min-width: 26.667vw;
  min-height: 8vw;
  padding: 1.336vw;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  -webkit-border-radius: 1.6vw;
  border-radius: 1.6vw;
}
.cir {
  position: relative;
  width: 100%;
  height: 31.9999vw;
  margin: 5.3333vw auto;
}
.cir span {
  position: absolute;
  top: 21.3333vw;
  color: #b2b2b2;
}
.cir .m {
  left: 21.3333vw;
}
.cir .f {
  left: calc(60% + 11.9999vw);
}
.cir #cir1 {
  position: absolute;
  top: 0;
  left: 8vw;
  width: 50%;
}
.cir #cir2 {
  position: absolute;
  top: 0;
  left: calc(60% - 2.6666vw);
  width: 50%;
}
.rad-prg {
  margin: 5.33333vw 0;
}
/** logo inside example **/
#indicatorContainerWrap5,
#indicatorContainer5 {
  display: inline-block;
  position: relative;
}
#prgLogo {
  height: 16vw;
  left: 50%;
  margin-left: -8vw;
  margin-top: -8vw;
  position: absolute;
  top: 50%;
}
/** file drop example **/
#indicatorContainerWrap6 {
  position: relative;
  display: inline-block;
}
.rad-cntnt {
  position: absolute;
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 24px;
}
#prgFileSelector {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
