@charset "utf-8";
body {
  background: #efefef;
  padding: 13px;
}
.list {
  position: relative;
  min-height: 250px;
  background: #ffffff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 26px;
}
.list:nth-child(3){
  min-height: 300px;
}
.list .title{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
#indicatorContainer{
  position: absolute;
  left: 0;
}
.sum{
  position: absolute;
  left: 60px;
  top:105px;
  width: 78px;
  height: 78px;
  background: #ffffff;
  color:#999999;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 22px;
  -webkit-border-radius:50%;
  border-radius:50%;
}
.detail{
  position: absolute;
  left: 220px;
  top:110px;
}
.in,.out{
  position: relative;
  height: 30px;
  line-height: 30px;
}
.in:before,.out:before{
  content:'';
  position: absolute;
  top:10px;
  left:-15px;
  width: 10px;
  height: 10px;
}
.in:before{
  background: #92c3d5;
}
.out:before{
  background: #4299b0;
}
#line{
  position: absolute;
  top:20px;
  width: calc(100vw - 50px);
  height: 300px;
}
.people,.hour{
  font-size: 12px;
  color:#d7d7d7;
}
.hour{
  position: absolute;
  bottom:16px;
  right: 5px;
}