@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
a:active {
  background-color: #ebebeb;
}
.lists {
  width: 100vw;
}
.lists .listbox {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.lists .listbox .list {
  display: block;
  width: 100vw;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
  border-bottom: 0.27vw solid #f1f1f1;
  color: #666666;
  overflow: hidden;
}
.lists .listbox .list_img {
  width: 100vw;
  height: 24vw;
}
.lists .listbox .list_img img {
  width: 26.6666vw;
  height: 14.6666vw;
  margin-top: 4.5333vw;
  margin-right: 2.6666vw;
}
.lists .listbox .list_img .lr {
  width: 62.6667vw;
}
.lists .listbox .list_img .lr .title {
  width: 100%;
  height: 9.6vw;
  font-size: 1.4rem;
  margin-top: 3.7333vw;
  margin-bottom: 2.1333vw;
  color: #333333;
}
.lists .listbox .list_img .lr .clear {
  font-size: 1.2rem;
  color: #999999;
}
.lists .listbox .list_img .lr .clear .pass {
  color: #3da53c;
}
.lists .listbox .list_img .lr .clear .delay {
  color: #ff9c0b;
}
.lists .listbox .list_img .lr .clear .refer {
  color: #e51e25;
}
.lists .listbox .list_img .lr .clear .draft {
  color: #5a69be;
}
.lists .listbox .list_des {
  height: 23.9999vw;
}
.lists .listbox .list_des .title {
  color: #333333;
  font-size: 1.4rem;
  line-height: 8vw;
  height: 8vw;
  overflow: hidden;
}
.lists .listbox .list_des .title_ {
  color: #333333;
  font-size: 1.5rem;
  line-height: 5.3333vw;
  height: 14.666vw;
  margin-top: 2.6666vw;
  overflow: hidden;
}
.lists .listbox .list_des .content {
  font-size: 1.3rem;
  height: 9.6vw;
  overflow: hidden;
}
.lists .listbox .list_des .content * {
  margin: 0!important;
  padding: 0!important;
  font-size: 1.3rem;
  line-height: 5.3333vw;
}
.lists .listbox .list_des .note {
  font-size: 1.2rem;
}
.lists .listbox .list_des .note .pass {
  color: #3da53c;
}
.lists .listbox .list_des .note .delay {
  color: #ff9c0b;
}
.lists .listbox .list_des .note .refer {
  color: #e51e25;
}
.lists .listbox .list_des .note .draft {
  color: #5a69be;
}
.lists .listbox .list_des .note .time {
  color: #999999;
}
.lists .listbox .delete {
  position: absolute;
  top: 0;
  right: -15.9999vw;
  width: 15.9999vw;
  background: #ffa022;
  border-bottom: 1px solid #f1f1f1;
  color: #ffffff;
  text-align: center;
}
.lists .listbox .edit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -31.9999vw;
  width: 15.9999vw;
  background: #b2b2b2;
  border-bottom: 0.27vw solid #f1f1f1;
  color: #ffffff;
  text-align: center;
}
.lists .listbox .list_des + .delete,
.lists .listbox .list_des + .delete + .edit {
  height: 23.999vw;
  line-height: 23.9999vw;
}
.lists .listbox .list_img + .delete,
.lists .listbox .list_img + .delete + .edit {
  height: 23.9999vw;
  line-height: 23.9999vw;
}
/*加载动画*/
.tip {
  height: 10.6666vw;
  text-align: center;
  line-height:10.6666vw;
  color: #c1c1c1;
}
.loading {
  width: 100%;
  height: 10.6666vw;
}
.typing_loader {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 4.5333vw;
  left: 44.6666vw;
}
