@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
@keyframes bigger {
  0% {
    background: url('/home/images/feedback/good_.png') 0 1.9vw no-repeat;
    background-size: 4vw 4vw;
    padding-left: 4.3vw;
    opacity: 0.9;
  }
  10% {
    background: url('/home/images/feedback/good_.png') 0 5px no-repeat;
    background-size: 5.4vw 5.4vw;
    padding-left: 5.6vw;
    opacity: 0.8;
  }
  50% {
    background: url('/home/images/feedback/good_.png') 0 0 no-repeat;
    background-size: 7.5vw 7.5vw;
    padding-left: 7.8vw;
    opacity: 0.5;
  }
  70% {
    background: url('/home/images/feedback/good_.png') 0 0 no-repeat;
    background-size: 8vw 8vw;
    padding-left: 8.1vw;
    opacity: 0.3;
  }
  100% {
    background: url('/home/images/feedback/good_.png') 0 1.9vw no-repeat;
    background-size: 4vw 4vw;
    padding-left: 4.3vw;
    opacity: 1;
  }
}
@-webkit-keyframes bigger {
  0% {
    background: url('/home/images/feedback/good_.png') 0 1.9vw no-repeat;
    background-size: 4vw 4vw;
    padding-left: 4.3vw;
    opacity: 0.9;
  }
  10% {
    background: url('/home/images/feedback/good_.png') 0 5px no-repeat;
    background-size: 5.4vw 5.4vw;
    padding-left: 5.6vw;
    opacity: 0.8;
  }
  50% {
    background: url('/home/images/feedback/good_.png') 0 0 no-repeat;
    background-size: 7.5vw 7.5vw;
    padding-left: 7.8vw;
    opacity: 0.5;
  }
  70% {
    background: url('/home/images/feedback/good_.png') 0 0 no-repeat;
    background-size: 8vw 8vw;
    padding-left: 8.2vw;
    opacity: 0.3;
  }
  100% {
    background: url('/home/images/feedback/good_.png') 0 1.9vw no-repeat;
    background-size: 4vw 4vw;
    padding-left: 4.3vw;
    opacity: 1;
  }
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.2vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
.banner {
  width: 100%;
  height: 50vw;
}
.banner img {
  width: 100%;
  height: 100%;
}
.lists .list {
  width: 100%;
  padding: 3.5vw 3.5vw 0 3.5vw;
  border-bottom: 1px solid #f1f1f1;
}
.lists .list .fl img {
  height: 10.7vw;
  width: 10.7vw;
}
.lists .list > .fr {
  width: 77.6vw;
}
.lists .list > .fr .name {
  color: #5a6883;
  font-size: 1.4rem;
  line-height: 7vw;
}
.lists .list > .fr .content {
  color: #333333;
  font-size: 1.3rem;
}
.lists .list > .fr .imgs .img {
  position: relative;
  width: 21vw;
  height: 21vw;
  display: inline-block;
  margin: 1.5vw 1.5vw 1.5vw 0;
  overflow: hidden;
  background: #d9d9d9;
}
.lists .list > .fr .imgs .img img {
  position: absolute;
  top: 0;
  left: 0;
}
.lists .list > .fr .note {
  color: #999999;
  font-size: 1.2rem;
}
.lists .list > .fr .note span {
  display: inline-block;
  height: 8vw;
  line-height: 8vw;
}
.lists .list > .fr .note .good {
  background: url('/home/images/feedback/good.png') 0 1.9vw no-repeat;
  background-size: 4vw 4vw;
  padding-left: 4.3vw;
}
.lists .list > .fr .note .good_ {
  animation: bigger 300ms ease;
  -webkit-animation: bigger 300ms ease;
  background: url('/home/images/feedback/good_.png') 0 1.9vw no-repeat;
  background-size: 4vw 4vw;
  padding-left: 4.3vw;
}
.lists .list > .fr .note .message {
  background: url('/home/images/notice/comment-grey.png') 0 1.9vw no-repeat;
  background-size: 4vw 4vw;
  padding-left: 4.8vw;
  margin-left: 1.6vw;
}
.lists .list > .fr .comments {
  position: relative;
  background: #f9f9f9;
  padding: 1.5vw;
  margin-bottom: 2.7vw;
  -webkit-border-radius: 1.3vw;
  border-radius: 1.3vw;
}
.lists .list > .fr .comments:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 1.6vw solid transparent;
  border-right: 1.6vw solid transparent;
  border-bottom: 1.6vw solid #f9f9f9;
  position: absolute;
  top: -1.6vw;
  left: 4vw;
}
.lists .list > .fr .comments span {
  font-size: 1.3rem;
}
.lists .list > .fr .comments .name {
  color: #5a6883;
}
.lists .list > .fr .comments .comment {
  color: #333333;
}
/*悬浮按钮*/
#publish {
  position: fixed;
  right: 5.4vw;
  bottom: 10.7vw;
  width: 16vw;
  height: 16vw;
  background: url("/home/images/notice/note.png") no-repeat;
  background-size: 100% 100%;
}
/*底部*/
.bottom {
  position: fixed;
  bottom: -12vw;
  width: 100%;
  height: 12vw;
  border-top: 1px solid #f1f1f1;
  background: #ffffff;
  font-family: "Microsoft YaHei", sans-serif;
}
.bottom .myword {
  display: inline-block;
  margin-left: 5.4vw;
}
.bottom .myword input {
  vertical-align: middle;
  height: 8vw;
  width: 73.4vw;
  margin: 1.9vw 0;
  padding-left: 2.7vw;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 1.6vw;
  border-radius: 1.6vw;
}
.bottom .send {
  display: inline-block;
  width: 16vw;
  padding-left: 4vw;
  padding-right: 4vw;
  line-height: 12vw;
  text-align: center;
}
.bottom .send:active {
  background: #fafafa;
}
body {
  overflow-x: hidden;
}
.imgblocks {
  width: 100vw;
  overflow: hidden;
}
.imgblocks .imgblock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}
.imgblocks .imgblock img {
  position: absolute;
  top: 0;
  left: 0;
}
.imgblocks .imgblock:nth-child(1) {
  left: -100vw;
}
.imgblocks .imgblock:nth-child(3) {
  left: 100vw;
}
@media (max-width: 320px) {
  .myword input {
    width: 53.4vw;
  }
}
.tip {
  height: 10.7vw;
  text-align: center;
  line-height: 10.7vw;
  color: #c1c1c1;
}
/*加载动画*/
.loading {
  width: 100%;
  height: 10.7vw;
}
.typing_loader {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 3.5333vw;
  left: 44.6vw;
}
