@charset "utf-8";

/*reset*/
body, div, hr, ul, ol, form, input, textarea, button, select { margin: 0; padding: 0; }
body { font-size: 63%; font-family: "Microsoft YaHei", sans-serif; }
a ,a:active,a:hover{ text-decoration: none; }
li { list-style: none; }
img { border: none; vertical-align: top; }
input, textarea ,select{ outline: none;border:none;}
textarea { resize: none; }
table { border-collapse: collapse; background-color: #ffffff; }

/*public*/
.hidden{
	display: none;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

a:active{
	background: #d61920;
}
body{
	background: #fde8d7;
}
/*导航栏*/
.top{
	width: 100vw;
	height: 45px;
	background: #d61920;
	position: fixed;
	top:0;
	z-index: 5;
}

.top .tab{
	width: 50%;
	height: 12vw;
	line-height: 12vw;
	color:#ffffff;
	font-size: 1.5rem;
	text-align: center;
	/*padding-left: calc((100vw - 180px)/6);*/
	/*padding-right: calc((100vw - 180px)/6);*/
}
.top .tab a{
	color:#ffffff;
}
.tip{
	width: 100%;
	text-align: center;
	line-height: 133.3333;vw
	font-size: 2.0rem;
}
.text{
	width: 58.6666vw;
	height: 21.3333vw;
	position: fixed;
	z-index: -1;
	top:24.6667vw;
	left:20.6667vw;
}
.foot{
	width: 100%;
	height: 24.4666vw;
	position: fixed;
	z-index: -1;
	bottom: 0;
	background: url("/home/images/game1.png");
	background-size: 100% 100%;

}
.content{
	position: relative;
	margin-top:35vh;
	margin-left: 30.0001vw;
}
.start:visited,.continue:visited{
	color:#ffffff;
}
.start,.continue{
	display: block;
	width: 39.9999vw;
	height:11.9999vw;
	background: #d61920;
	line-height: 11.9999vw;
	font-size: 2.0rem;
	text-align: center;
	color:#ffffff;
	text-decoration: none;
	-webkit-border-radius:1.8666vw;
	border-radius:1.8666vw;
	box-shadow:1.3333vw 1.3333vw 0 #a11108 ;
}
.start{
	position: absolute;
	top:0;

}
.continue{
	position: absolute;
	top:24vw;

}
.start:active,.continue:active{
	color:#ffffff;
	box-shadow: none ;
}
.start:active{
	top:1.3333vw;
	left:1.3333vw;
}
.continue:active{
	top:25.3333vw;
	left:1.3333vw;
}

/*分数页面*/
.score{
	width: 86.6666vw;
	height: 66.6666vw;
	background: url("/home/images/sco1.png");
	background-size: 100% 100%;
	position: fixed;
	top:50%;;
	left:50%;
	margin-top: -33.3333vw;
	margin-left: -43.3333vw;
}
.score span{
	position: absolute;
	top:22.1333vw;
	left:55.9999vw ;
	color:#d10000;
	font-size: 2.8rem;
	font-weight: 600;
}
.score span:nth-child(2){
	top:33.6vw;
}
.score a{
	position: absolute;
	bottom:5.3333vw;
	left:23.9999vw ;
	width: 39.4666vw;
	height: 13.8666vw;
	background: url("/home/images/sco2.png");
	background-size: 100% 100%;
}
.bg{
	display: block;
	height: 100vh;
	background: rgba(0, 0, 0, 0.30);
}