a {
  display: inline-block;
}
.modal-dialog {
  width: 68vw;
  margin: 40vh auto;
}
.modal-body div {
  margin: 8vw auto!important;
}
.tabs_ {
  z-index: 2;
  position: fixed;
  top: 50vw;
  width: 100vw;
  padding: 15px 0;
  background: #f1f1f1;
}
.tabs {
  position: relative;
  top: 0;
  width: 90vw;
  height: 35px;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 4px;
}
.tabs .tab {
  display: inline-block;
  width: 30vw;
  height: 9.3333vw;
  text-align: center;
  color: #666666;
  font-size: 1.5rem;
  line-height: 9.3333vw;
}
.tabs .tab.active {
  background: #fd4f43;
  color: #ffffff;
  border-radius: 1.0666vw;
  box-shadow: 0.27vw 0.5333vw 1.6vw rgba(253, 79, 67, 0.78);
}
.tabs .line {
  position: absolute;
  top: 2.1333vw;
  right: 0;
  width: 0.27vw;
  height: 5.0666vw;
  background: #f1f1f1;
}
.banner {
  z-index: 9;
  position: fixed;
  width: 100vw;
  height: 50vw;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.plan {
  width: 100vw;
  background: #ffffff;
  margin-top: 3.1999vw;
}
.plan > .title {
  width: 100%;
  height: 9.3333vw;
  padding: 0 4vw;
}
.plan > .title span,
.plan > .title a {
  display: inline-block;
  width: 49%;
  font-size: 1.3rem;
  line-height: 9.3333vw;
}
.plan > .title span {
  color: #f5874e;
  font-weight: 600;
}
.plan > .title a {
  color: #999999;
  text-align: right;
}
.plan > .title a:active {
  background: transparent;
}
.plan .list {
  width: 100%;
  padding: 0 4vw;
  border-bottom: 0.27vw solid #f1f1f1;
}
.plan .list .title {
  color: #333333;
  font-size: 1.5rem;
  line-height: 8vw;
}
.plan .list .content {
  height: 9.6vw;
  color: #999999;
  font-size: 1.3rem;
  line-height: 4.8vw;
}
.plan .list .note {
  color: #999999;
  font-size: 1.2rem;
  line-height: 6.9333vw;
}
.plan .list .note span {
  display: inline-block;
  width: 49%;
}
.plan .list .note span:nth-child(2) {
  font-size: 14px;
  text-align: right;
}
.display {
  width: 100vw;
  background: #ffffff;
}
.display .title {
  width: 100%;
  height: 9.3333vw;
  padding: 0 4vw;
  color: #f5af46;
  font-size: 1.3rem;
  line-height: 9.3333vw;
  font-weight: 600;
}
.display .tags {
  width: 100vw;
  padding: 2vw 1vw 4vw 5vw;
}
.display .tags a {
  display: inline-block;
  width: 22vw;
  height: 22vw;
}
.display .tags a:nth-child(1) {
  background: url('/home/images/league/t01.png') 0 0 no-repeat;
  background-size: contain;
}
.display .tags a:nth-child(2) {
  background: url('/home/images/league/t02.png') 0 0 no-repeat;
  background-size: contain;
}
.display .tags a:nth-child(3) {
  background: url('/home/images/league/t03.png') 0 0 no-repeat;
  background-size: contain;
}
.display .tags a:nth-child(4) {
  background: url('/home/images/league/t04.png') 0 0 no-repeat;
  background-size: contain;
}
.blocks .block {
  padding-top: 65vw;
}
.blocks .block .member {
  padding: 4vw 4vw 0 4vw;
  color: #666666;
  font-size: 1.3rem;
  line-height: 20px;
}
.blocks .block .member span {
  font-size: #333333;
  font-weight: 600;
}
.blocks .block .member .detail {
  text-indent: 2em;
  padding: 2vw;
}
.blocks .block.slist {
  position: relative;
  top: 0;
  left: 0;
}
.blocks .block.slist .line {
  position: absolute;
  left: 20vw;
  width: 0.5333vw;
  height: 100%;
  background: #fcc011;
}
.blocks .block.slist .ul {
  padding: 0 4vw;
  width: 60vw;
  margin-left: 30vw;
}
.blocks .block.slist .ul .title {
  position: relative;
  top: 0;
  color: #333333;
  font-size: 1.6rem;
  line-height: 17.6vw;
  font-weight: 600;
}
.blocks .block.slist .ul .title:before {
  position: absolute;
  top: 3vw;
  left: -19vw;
  content: '';
  width: 10vw;
  height: 10vw;
  background: #ffffff;
  border: 1.0666vw solid #f1f1f1;
  box-shadow: 0.27vw 0.8vw 0.5333vw rgba(153, 153, 153, 0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.blocks .block.slist .ul .li {
  position: relative;
  top: 0;
  color: #666666;
  font-size: 1.4rem;
  line-height: 10vw;
}
.blocks .block.slist .ul .li:before {
  position: absolute;
  top: 2vw;
  left: -16.4vw;
  content: '';
  width: 5vw;
  height: 5vw;
  background: #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0.27vw 0.8vw 0.5333vw rgba(153, 153, 153, 0.3);
}
.yearbox .year {
  width: 100%;
  height: 8vw;
  padding: 0 4vw;
  text-align: center;
  color: #df4934;
  font-size: 1.6rem;
  line-height: 8vw;
  box-shadow: 0.27vw 0.8vw 2.4vw rgba(102, 102, 102, 0.2);
}
.yearbox .year span {
  position: relative;
}
.yearbox .year span:before {
  position: absolute;
  top: 0.8vw;
  left: -5.3333vw;
  content: '';
  width: 2.6666vw ;
  height: 2.6666vw;
  background: url('/home/images/league/cir.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .year span:after {
  position: absolute;
  top: 0.8vw;
  right: -5.3333vw;
  content: '';
  width: 2.6666vw ;
  height: 2.6666vw;
  background: url('/home/images/league/cir.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box {
  position: relative;
  top: 0;
  left: 0;
  width: 24vw;
  margin: 0 auto 2.6666vw auto;
  -webkit-border-radius: 2.1333vw;
  border-radius: 2.1333vw;
  box-shadow: 0.27vw 0.8vw 2.1333vw rgba(102, 102, 102, 0.2);
}
.yearbox .quarter .box .tag {
  position: relative;
  top: 3vw;
  left: -1.8666vw;
  width: 22.1333vw;
  height: 8vw;
  padding-left: 0.5333vw;
  margin-bottom: 1vw;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 5.333vw;
  text-align: center;
}
.yearbox .quarter .box .list {
  position: relative;
  width: 100%;
  height: 18.6666vw;
  padding: 2.9333vw 4vw;
  border-bottom: 0.27vw solid #f1f1f1;
}
.yearbox .quarter .box .list:last-child {
  border: none;
}
.yearbox .quarter .box .list.tag-mon:after {
  content: '';
  position: absolute;
  top: -0.27vw;
  right: 4vw;
  width: 5.3333vw;
  height: 5.3333vw;
}
.yearbox .quarter .box .list .title {
  color: #333333;
  font-size: 1.5rem;
  line-height: 8vw;
}
.yearbox .quarter .box .list .note {
  color: #999999;
  font-size: 1.2rem;
  line-height: 4.8vw;
}
.yearbox .quarter .box .list .note span {
  display: inline-block;
  width: 49%;
}
.yearbox .quarter .box .list .note span:nth-child(2) {
  font-size: 1.34rem;
  text-align: right;
}
.yearbox .quarter .box:nth-child(1) .tag {
  background: url('/home/images/league/tag00.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box:nth-child(2) .tag {
  background: url('/home/images/league/tag01.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box:nth-child(2) .tag-mon:after {
  background: url('/home/images/league/mon01.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box:nth-child(3) .tag {
  background: url('/home/images/league/tag02.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box:nth-child(3) .tag-mon:after {
  background: url('/home/images/league/mon02.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box:nth-child(4) .tag {
  background: url('/home/images/league/tag03.png') 0 0 no-repeat;
  background-size: contain;
}
.yearbox .quarter .box:nth-child(4) .tag-mon:after {
  background: url('/home/images/league/mon02.png') 0 0 no-repeat;
  background-size: contain;
}
