.banner {
  width: 100vw;
  height: 50vw;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.lists .nomessage {
  display: inline-block;
  width: 44.5vw;
  height: 39vw;
  margin-top: 12vh;
  margin-left: 28vw;
}
.lists .list {
  display: inline-block;
  height: 21.6vw;
  width: 100%;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
  border-bottom: 0.27vw solid #f1f1f1;
  color: #666666;
}
.lists .list .title {
  color: #333333;
  font-size: 1.4rem;
}
.lists .list .content {
  font-size: 1.3rem;
  height: 9.334vw;
}
.lists .list .time {
  margin-top: 1.6vw;
  font-size: 1.2rem;
}
.lists .list .fl img {
  width: 21.6vw;
  height: 16.2667vw;
  margin-top: 2.934vw;
}
.lists .list .right {
  width: 25.7333vw;
  height: 16.267vw;
  margin-top: 2.934vw;
  margin-left: 2.934vw;
  color: #999999;
}
.lists .list .right .title {
  margin-bottom: 1.6vw;
  height: 10.4vw;
}
