* {
    box-sizing: border-box;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, table, th, td, select, option {
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    padding-bottom:55px;
}
.clearfix:before{
    display:table;
    content:'';
}
.clearfix:after{
    display:table;
    content:'';
    clear:both;
}
#list>li{
    width:100%;
    line-height: 12vw;
    color:#333;
    border-bottom: 0.27vw solid #eee;
    padding-left:3.2vw;
    font-size:1.34rem;
}
#list>li>span{
    float:right;
    color:#999;
    margin-right:3.2vw;
    font-size:1.34rem;
}
.sao{
    position:fixed;
    color:#fff;
    background-color:#29aef1;
    font-size: 1.7rem;
    line-height: 12vw;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
}
.main1>ul>li{
    width:25%;
    float:left;
    padding-left: 4vw;
    padding-right:4vw;
    overflow: hidden;
}
.main1>ul>li>img{
    display:block;
    border-radius: 50%;
    overflow: hidden;
}
.main1>ul>li>span{
    display:block;
    line-height: 3.4666vw;
    font-size: 3.4666vw;
    text-align: center;
    height:3.4666vw;
    margin-top:1.8666vw;
}
.title1{
    display:block;
    width:100%;
}
.bk1{
    background-color:rgba(0,0,0,.5);
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    display:none;
    bottom:0;
}
.bk1>.content{
    width:70%;
    position:absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    background-color:#fff;
    border-radius: 2.1333vw;
    overflow: hidden;
}
.bk_title{
    margin-top:2.6666vw;
    text-align: center;
    font-size: 1.7rem;
    line-height: 4.8vw;
    margin-bottom: 10.6666vw;
    color:#0Baa0C;
    font-weight: bold;
}
.bk_title>span{
    display:inline-block;
    width:4vw;
    height:4vw;
    background:url("/work/img/sure.png") no-repeat center center;
    background-size:cover;
    margin-right:1.3333vw;
}
#user_img{
    width: 22.6666vw;
    height:22.6666vw;
    display:block;
    margin:0 auto;
    border-radius: 50%;
    margin-top:12vw;
    margin-bottom:2.68vw;
}
#user_name{
    font-size:1.5rem;
    text-align: center;
    margin-bottom: 2.68vw;
}
.btn1{
    height:14.6666vw;
    line-height: 14.6666vw;
    background-color:#eee;
}
.btn1>a{
    float: left;
    text-align: center;
    height:14.6666vw;
    line-height: 14.6666vw;
    width:50%;
    font-size: 1.46rem;
}
.btn1>a:first-child:before {
    content: '';
    width: 0.27vw;
    height: 20px!important;
    background-color: #aaa;
    float: right;
    margin-top: 4.6666vw;
}
.sweet-alert textarea {
    display: none;
}

.banner {
    width: 100vw;
    height: 50vw;
}
.banner img {
    width: 100%;
    height: 100%;
}
.container .title {
    display: inline-block;
    text-align: center;
    width: 96vw;
    margin-top: 4vw;
}
.container .title p {
    display: inline-block;
    width: auto;
    text-align: left;
    color: #333333;
    font-size: 1.58rem;
}
.container>div:nth-of-type(n+2) {
    border-bottom: 0.2666vw dashed #f7f7f7;
}
.container>div:last-of-type {
    border-bottom-width: 0;
}
.container .person_time {
    padding: 2.666vw 0 4vw;
    color: #999999;
    font-size: 1.2rem;
}
.container .time span {
    display: inline-block;
    color: #666;
    font-size: 1.46rem;
    line-height: 13.3334vw;
}
.container .time img {
    display: inline-block;
    margin-right: 2.6666vw;
    width: 6.6667vw;
    height: 6.6667vw;
    margin-left: 6.6667vw;
    margin-top: 3.3334vw;
}
.container .personList .person_img {
    width: 6.6667vw;
    height: 6.1334vw;
    margin-left: 6.6667vw;
    margin-top: 3.3334vw
}
.container .personList .person_img img{
    width: 100%;
    height: 100%;
}
.container .personList .person_list i{
    line-height: 13.3334vw;
    margin-right: 6.6667vw;
}
.container .personList .personImg_list {
    margin-right: 2.6666vw;
    position: relative;
}
.container .personList .personImg_list li {
    /*width: 9.0667vw;*/
    /*height: 9.0667vw;*/
    width: 15vw;
    float: left;
    /*border: 0.2666vw solid #d7d7d7;*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    /*top: 2.1333vw;*/
    /*margin-top: 2.1333vw;*/
    /*position: absolute;*/
    right: 0;
}
.container .personList .personImg_list li:nth-of-type(2) img {
    right: 2.6666vw;
}
.container .personList .personImg_list li:nth-of-type(3) img {
    right: 5.3333vw;
}
.container .personList .personImg_list li img {
    width: 8vw;
    height: 8vw;
    /*width: 9.0667vw;
    height: 9.0667vw;
    padding: 0.5333vw;*/
    top: 2.1333vw;
    position: absolute;
    right: 0;
    border: 0.2666vw solid #d7d7d7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    /*width: 100%;*/
    /*height: 100%;*/
}
.container .personList .personImg_list li span {
    display: none;
}
.container .personList .person_list span#noneMan {
    display: inline-block;
    line-height: 13.3334vw;
    font-size: 1.2rem;
}
.container .content {
    color: #333;
    font-size: 1.4rem;
    padding-top: 4vw;
    text-indent: 28px;
    line-height: 1.5;
}
.box {
    display: none;
}
.list {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 90vw;
    margin-left: -45vw;
    z-index: 10;
    background-color: #fff;
    border: 0.2666vw solid #d7d7d7;
    border-radius: 1.0666vw;
    height: 120vw;
}
.shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.list>div {
    position: relative;
    width: 100%;
    height: 111.6666vw;
    overflow-y: scroll;
}
.list>div::-webkit-scrollbar {
    display: none;
}
.list li {
    text-align: center;
    border-bottom: 0.2666vw solid #d7d7d7;
    width: 33%;
    float: left;
}
.list img {
    width: 21.3333vw;
    height: 21.3333vw;
    display: block;
    border-radius: 50%;
    margin: 2.6666vw auto;
    border: 0.2666vw solid #d7d7d7;
    border-radius: 50%;
}
.list li span {
    color: #333;
    font-size: 1.4rem;
    margin-bottom: 2.6666vw;
}
.list p {
    margin-bottom: 2.6666vw;
    color: #666666;
    font-size: 1.6rem;
    line-height: 5.3333vw;
    padding-left: 1.3333vw;
}
