@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.8), 6.4vw 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3.1999vw 0 0 0 rgba(0, 0, 0, 0.2), 6.4vw 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
a:active {
  background-color: #ebebeb;
}
.lists {
  width: 100%;
}
.lists .list {
  display: block;
  width: 100%;
  padding-left: 3.4vw;
  padding-right: 3.4vw;
  height: 24vw;
  border-bottom: 0.27vw solid #f1f1f1;
  color: #666666;
}
.lists .list .title {
  color: #333333;
  font-size: 1.4rem;
  line-height: 10.3333vw;
  height: 10.1333vw;
  margin-top: 1.3333vw;
  -webkit-line-clamp: 1;
}
.lists .list .content {
  font-size: 1.3rem;
}
.lists .list .time {
  margin-top: 1.3333vw;
  font-size: 1.2rem;
}
.lists .list .fl img {
  width: 21vw;
  height: 16vw;
  margin-top: 4vw;
}
.lists .list .right {
  width: 69vw;
  height: 16vw;
  margin-top: 2.5vw;
  margin-left: 2.5vw;
}
/*加载动画*/
.tip {
  height: 10.6666vw;
  text-align: center;
  line-height: 10.6666vw;
  color: #c1c1c1;
}
.loading {
  width: 100%;
  height: 10.6666vw;
}
.typing_loader {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 4.5333vw;
  left: 44.6666vw;
}
