@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
body {
  background: #eeeeee;
}
.lists {
  /*margin-top: 10px;*/
}
.lists .list {
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  background: #ffffff;
  border-top: 1px solid #f1f1f1;
  line-height: 13.5vw;
}
.lists .list img {
  /*width: 40px;*/
  /*height: 40px;*/
  /*margin-top: 4px;*/
  /*border: 2px solid #ffffff;*/
  /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);*/
  /*-webkit-border-radius: 50%;*/
  /*border-radius: 50%;*/
  /*overflow: hidden;*/
}
.lists .list .fl {
  color: #333333;
  font-size: 1.64rem;
}
.lists .list .fr {
  color: #999999;
  font-size: 1.46rem;
}
.lists .list:last-child {
  border-bottom: 0.27vw solid #f1f1f1;
}
.er{
  width: 5.34vw;
  height: 5.34vw;
  margin-top: 4vw;
  margin-right: 2.1333vw;
}
.modal-content{
  position: relative;
  width: 80vw;
  margin-top: 20vw;
  margin-left: 8vw;
}
.modal-content .code{
  width: 60vw;
  height: 60vw;
  margin: 10vw;
}
.modal-content .header{
  position: absolute;
  top:36%;
  left:36%;
  width: 21.3333vw;
  height: 21.3333vw;
  margin-top: 1.0666vw;
  border: 2.1333vw solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.lists .list.tag{
  width: 100%;
  /*height: 30px;*/
  line-height: 8vw;
  padding: 0 4vw;
  background: #eeeeee;
}
.personal_title,
.personal_honer {
  border-bottom: 0.27vw solid #f1f1f1;
  background-color: #ffffff;
  width: 100vw;
}
.personal_title .title_title,
.personal_honer .honer_title {
  padding: 6vw 0;
  color: #333333;
  font-size: 1.64rem;
  text-align: center;
  line-height: 5vw;
}
.personal_title .title_title>div.title_img,
.personal_honer .honer_title .honer_img {
  display: inline-block;
  width: 4vw;
  height: 5vw;
  margin-right: 3vw;
}
.personal_title .title_title .title_img img,
.personal_honer .honer_title .honer_img img {
  width: 100%;
  height: 100%;
}
.personal_title .title_content,
.personal_honer .honer_content {
  margin: 0 auto;
  width: 100%;
  padding: 0 4%;
  font-size: 1.46rem;
  color: #999999;
  margin-bottom: 8vw;
  text-align: center;
  letter-spacing: .1vw;
  line-height: 1.5;
  display: inline-block;
}
.personal_title .title_content p,
.personal_honer .honer_content p {
  text-align: left;
  width: auto;
  display: inline-block;
}