.page {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  overflow: hidden;
}
.first {
  left: 0;
}
.second {
  display: none;
}
.form {
  margin-top: 2.6666vw;
}
.form .list {
  height: 12.2666vw;
  width: 100%;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
  border-bottom: 0.27vw solid #f1f1f1;
  background: #ffffff;
  line-height: 12vw;
  zoom: 1;
}
.form .list：after {
  content: '';
  display: block;
  clear: both;
}
.form .list:last-child {
  border-bottom: none;
}
.form .list span {
  float: left;
  color: #333333;
  font-size: 1.5rem;
}
.form .list input,
.form .list .select,
.form .list .time {
  float: right;
  width: 81.3333vw;
  color: #999999;
  text-align: right;
  font-size: 1.3rem;
}
.form .list input {
  height: 5.3333vw;
  margin-top: 3.4666vw;
  line-height: 5.3333vw;
}
.form .list .time .date {
  display: inline-block;
  width: 55.1999vw;
}
.form .list .time input[name='start_time'],
.form .list .time input[name='end_time'] {
  float: none;
  width: 55.1999vw;
  text-align: right;
  padding-right: 0;
}
.form .list .select {
  color: #d9d9d9;
}
#text {
  width: 100%;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
  padding-top: 2.6666vw;
  padding-bottom: 2.6666vw;
  min-height: 80vw;
  margin-top: 2.6666vw;
  color: #999999;
  font-size: 1.3rem;
}
.foot .check,
.foot .save,
.foot .next {
  width: 60%;
  height: 10.6666vw;
  margin: 2.6666vw auto;
  -webkit-border-radius: 1.0666vw;
  border-radius: 1.0666vw;
  border: 0.27vw solid #73bdff;
  font-size: 1.6rem;
  text-align: center;
  line-height: 10.6666vw;
}
.foot .next,
.foot .save {
  margin-top: 10vh;
}
.foot .next,
.foot .check {
  margin-bottom: 10vh;
}
.foot .check {
  background: #ffffff;
  color: #73bdff;
}
.foot .save,
.foot .next {
  background: #73bdff;
  color: #ffffff;
}
.foot .atn {
  width: 80%;
  height: 10.6666vw;
  margin: 2.6666vw 10%;
  color: #d9d9d9;
  font-size: 1.2rem;
  margin-bottom: 10.6666vw;
}
.typebg {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.31);
}
.type {
  display: none;
  z-index: 3;
  position: absolute;
  right: 3.4666vw;
  top: 10.6666vw;
}
.type li {
  width: 26.6666vw;
  height: 10.6666vw;
  background: #ffffff;
  border-bottom: 0.27vw solid #f1f1f1;
  color: #666666;
  text-align: center;
  line-height: 10.6666vw;
}
.type li:first-child {
  -webkit-border-top-left-radius: 2.1333vw;
  border-top-left-radius: 2.1333vw;
  -webkit-border-top-right-radius: 2.1333vw;
  border-top-right-radius: 2.1333vw;
}
.type li:last-child {
  -webkit-border-bottom-left-radius: 2.1333vw;
  border-bottom-left-radius: 2.1333vw;
  -webkit-border-bottom-right-radius: 2.1333vw;
  border-bottom-right-radius: 2.1333vw;
}
.tips {
  display: none;
  z-index: 3;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  background: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 16vw;
  -webkit-border-radius: 2.1333vw;
  border-radius: 2.1333vw;
  overflow: hidden;
}
.tocheck {
  display: none;
  z-index: 4;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  background: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 8vw;
  -webkit-border-radius: 2.1333vw;
  border-radius: 2.1333vw;
  overflow: hidden;
}
.tocheck .text {
  padding: 2.1333vw;
}
.tocheck .confirm {
  width: 100vw;
  border-top: 2px solid #f1f1f1;
}
.tocheck .confirm span {
  display: inline-block;
  width: 48.933vw;
  height: 9.6vw;
  line-height: 9.6vw;
  text-align: center;
}
.tocheck .confirm span:nth-child(1) {
  border-right: 0.5333vw solid #f1f1f1;
}
.dropdown-menu {
  border: none;
}
.form-control {
  border: none;
  box-shadow: none;
}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu:after,
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu:before {
  display: none;
}
