@charset "utf-8";

/*reset*/

body, div, hr, ul, ol, form, input, textarea, button, select { margin: 0; padding: 0; }
body { font-size: 63%; font-family: "Microsoft YaHei", sans-serif;}
a ,a:active,a:hover{ text-decoration: none; }
li { list-style: none; }
img { border: none; vertical-align: top; }
input, textarea ,select{ outline: none;border:none;}
textarea { resize: none; }
table { border-collapse: collapse; background-color: #ffffff; }

/*public*/
.hidden{
	display: none;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/*layout*/
/*个人信息*/
.gra{
	position: relative;
	width: 100%;
	height: 48vw;
	/*background:-webkit-gradient(linear, left bottom, right top, from(#e4672d), to(#e9ad2c));*/
	background: url("/home/images/bg_rank.jpg") no-repeat;
	background-size: 100% 100%;
	color:#ffffff;
}
.gra .avatarbox{
	position: absolute;
	top:5.3333vw;
	left: 90.4vw
}
.gra .avatarbox .avatar{
	width: 18.6666vw;
	height: 18.6666vw;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:0.27vw solid #ffffff;
	display: block;
	overflow: hidden;
}
.gra .avatarbox .name{
	width: 18.6666vw;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1.6vw;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.gra .que{
	width: 5.3333vw;
	height: 5.3333vw;
	position: absolute;
	top:4vw;
	right: 4vw;
}
.ranking{
	width: 100%;
	position: absolute;
	top:34.6666vw;
}
.ranking .tradtion,.ranking .game{
	width: 49.7333vw;
	text-align: center;
	font-size: 1.3rem;
}
.ranking .line{
	width: 0.5333vw;
	height: 10.666vw;
	-webkit-border-radius:0.2666vw;
	border-radius:0.2666vw;
	background-color: #ffffff;
}
/*个人信息2*/
.my{
	position: relative;
	width: 100%;
	height: 16vw;
	line-height: 16vw;
	border-bottom: 1.0666vw solid #efeff4;
}
.my img{
	width: 10.6666vw;
	height: 10.6666vw;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin: 2.6666vw 4vw auto 14.9333vw;
	overflow: hidden;
}
.my .name_,.my .scores{
	display: inline-block;
	font-size: 1.3rem;
}
.name_ span{
	display: block;
	height: 9.6vw;
	width: 50vw;
	/*margin-right:5vw;*/
	line-height: 9.6vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.my .name_ .n{
	height: 3.6vw;
	line-height: 3.6vw;
	color:#999999;
}
.my .scores{
	position: absolute;
	top:5.3333vw;
	right: 6vw;
	/*width: 25vw;*/
	height: 5.3333vw;
	line-height: 5.3333vw;
	text-align: right;
 }
/*排名列表*/
@media (max-height: 568px) {
	.listbox{
		min-height: 328px;
	}
}
@media (max-height: 480px) {
	.listbox{
		min-height: 240px;
	}
}
.listbox{
	width: 100%;
	min-height: 52vw;
	background: #ffffff;
	/*padding-top: 10px;*/
	padding-bottom: 5.4vw;
}
.tabs{
	width: 100%;
	background: #ffffff;
}
.tabs .tab{
	width: 30.3333vw;
	height: 13.3333vw;
	line-height: 13.3333vw;
	font-size: 1.5rem;
	text-align: center;
	color: rgba(193, 193, 193, 0.51);
	margin: auto 5.3333vw;
	border-bottom: 0.5333vw solid rgba(237, 121, 25, 0.05);
}
.tabs .active {
	color:#333333;
	border-bottom: 0.5333vw solid #ed7919;
}

.ranklist{
	background: #ffffff;
}
.list{
	position: relative;
	height: 16vw;
	line-height: 16vw;
	color:#333333;
	border-bottom: 0.2666vw solid #efeff4;
}
.list:last-child{
	border-bottom: none;
}
.list .num_ {
	width: 8vw;
	font-size: 1.4rem;
	margin-left: 6.6666vw;
}
.list .avatar_{
	width: 10.6666vw;
	height: 10.6666vw;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin: 2.6666vw 4vw auto 0;
	overflow: hidden;
}
.list .name_,.list .scores{
	font-size: 1.3rem;
}
.list .name_{
	width: 50vw;
	/*margin-right:5vw;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.list .scores{
	position: absolute;
	right: 6vw;
	/*width: 25vw;*/
	text-align: right;
}
.list .num_,.list .name_,.list .scores{
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
	/*排名颜色*/
.list:nth-child(1) .num_{
	color: #e6d841;
	font-size: 2.2rem;
	font-weight: bold;
}
.list:nth-child(2) .num_{
	color:#c4c4c4;
	font-size: 2.2rem;
	font-weight: bold;
}
.list:nth-child(3) .num_{
	color: #a67e3e;
	font-size: 2.2rem;
	font-weight: bold;
}
.list:nth-child(1) .avatar_{
	border:0.2666vw solid #e6d841;
}
.list:nth-child(2) .avatar_{
	border:0.2666vw solid #c4c4c4;
}
.list:nth-child(3) .avatar_{
	border:0.2666vw solid #a67e3e;
}
.modal-body h5{
	line-height: 6.9333vw;
}
.foot{
	width: 100%;
	height: 14.6666vw;
	position: fixed;
	z-index: 5;
	bottom: 0;
	background: url("/home/images/game3.png");
	background-size: 100% 100%;
}