body {
  background: #f1f1f1;
}
.lists {
  margin-bottom: 4vw;
}
.lists .list {
  padding: 0 4vw;
  width: 100vw;
  height: 10.6666vw;
  background: #ffffff;
  border-bottom: 0.2666vw solid #f1f1f1;
}
.lists .list .tag {
  display: inline-block;
  width: 20vw;
  color: #333333;
  font-size: 1.4rem;
  line-height: 10.6666vw;
}
.lists .list input {
  display: inline-block;
  width: 70vw;
  text-align: right;
}
.content {
  width: 100vw;
  padding: 2vw 0;
  background: #ffffff;
  margin-bottom: 10.6666vw;
}
.content textarea {
  width: 100%;
  min-height: 20vh;
  padding: 1vw 4vw;
}
.content .img {
  position: relative;
  width: 20.8vw;
  height: 20.8vw;
  margin-left: 2.6666vw;
  overflow: hidden;
  background: #d9d9d9;
}
.content .img img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .add {
  width: 20.8vw;
  height: 20.8vw;
  margin-left: 2.6666vw;
  border: 0.5333vw solid #d9d9d9;
  text-align: center;
  line-height: 20.8vw;
  font-size: 5.8rem;
  color: #d9d9d9;
}
.content .tipimg {
  padding-right: 4vw;
  text-align: right;
  color: #999999;
  font-size: 1.2rem;
  line-height: 4.2666vw;
}
.submit {
  width: 50vw;
  height: 8.5333vw;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 8.5333vw;
  text-align: center;
  background: #f0786d;
  -webkit-border-radius: 1.0666vw;
  border-radius: 1.0666vw;
}
