.title {
  font-size: 1.4rem;
  color: #333333;
}
.note {
  font-size: 1.2rem;
  color: #999999;
}
.article p {
  width: 100%;
  word-break: break-all;
}
.banner {
  width: 100vw;
  height: 50vw;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.banner .arc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.6666vw;
  z-index: 2;
}
.content {
  width: 100%;
  overflow: hidden;
}
.content .top {
  width: 100%;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
}
.content .top .title {
  font-weight: 600;
  margin-top: 4vw;
  margin-bottom: 2.6666vw;
}
.content .top .note span {
  height: 10.6666vw;
  display: inline-block;
  margin-right: 2.6666vw;
  line-height: 10.6666vw;
}
.content .top .read {
  background: url('/home/images/detail/scan_.png') 0 3.2vw no-repeat;
  background-size: 4vw 4vw;
  padding-left: 18px;
}
.content .top .col {
  background: url('/home/images/detail/star-border.png') 0 3.2vw no-repeat;
  background-size: 4vw 4vw;
  padding-left: 4.8vw;
}
.content .message {
  margin-top: 4vw;
  margin-bottom: 4vw;
  border-top: 0.2666vw solid #eeeeee;
  border-bottom: 0.2666vw solid #eeeeee;
}
.content .message div {
  width: 100%;
  height: 10.6666vw;
  padding-left: 13.3333vw;
  line-height: 10.6666vw;
}
.content .message div span {
  display: inline-block;
  width: 100%;
  padding-right: 4vw;
  border-bottom: 0.2666vw dashed #eeeeee;
}
.content .message div span:nth-child(5) {
  border-bottom: none;
}
.content .message div:nth-child(3) span {
  padding-right: 0!important;
}
.content .message div:nth-child(1) {
  background: url("/home/images/detail/people.png") 4vw 2.6666vw no-repeat;
  background-size: 5.3333vw 5.3333vw;
}
.content .message div:nth-child(2) {
  background: url("/home/images/detail/time.png") 4vw 2.6666vw no-repeat;
  background-size: 5.3333vw 5.3333vw ;
}
.content .message div:nth-child(3) {
  background: url("/home/images/detail/address.png") 4vw 2.6666vw no-repeat;
  background-size: 5.3333vw 5.3333vw ;
}
.content .article {
  width: 100%;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
  margin-bottom: 4vw;
}
.content .article * {
  max-width: 100%!important;
}
/*评论*/
.comment {
  padding-bottom: 13.3333vw;
}
.comment .sum {
  height: 8vw;
  padding-left: 2.6666vw;
  background: #fbfbfb;
  border-top: 0.2666vw solid #dadada;
  border-bottom: 0.2666vw solid #dadada;
  font-size: 1.2rem;
  line-height: 8vw;
}
.comment .lists .list {
  width: 100%;
  padding-left: 3.4666vw;
  padding-right: 3.4666vw;
  min-height: 26.6666vw;
  border-bottom: 0.2666vw solid #dadada;
}
.comment .lists .list .fl img {
  width: 8vw;
  height: 8vw;
  margin-top: 3.4666vw;
  margin-right: 2.6666vw;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comment .lists .list .mid {
  width: 73%;
}
.comment .lists .list .mid .name {
  width: 100%;
  height: 14.9333vw;
  line-height: 14.9333vw;
  color: #666666;
}
.comment .lists .list .mid .content {
  width: 100%;
  word-break: break-all;
}
.comment .lists .list .mid .time {
  font-size: 1.2rem;
  line-height: 5.3333vw;
  color: #666666;
}
.comment .lists .list .fr {
  margin-top: 4vw;
  color: #666666;
}
.comment .lists .list .good {
  background: url('/home/images/detail/good.png') 0 0.5333vw no-repeat;
}
.comment .lists .list .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/good_.png') 0 0.5333vw no-repeat;
}
.comment .lists .list .isgood {
  background-size: 4vw 4vw;
  padding-left: 4.8vw;
}
.comment .tip {
  height: 10.6666vw;
  text-align: center;
  line-height: 10.6666vw;
  color: #c1c1c1;
}
/*底部*/
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11.9999vw;
  border-top: 0.2666vw solid #dadada;
  padding-left: 2.6666vw;
  background: #ffffff;
  font-family: "Microsoft YaHei", sans-serif;
}
.bottom .star {
  background: url('/home/images/detail/star-border.png') 5.3333vw 3.2vw no-repeat;
}
.bottom .star_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/star-yellow.png') 5.3333vw 3.2vw no-repeat;
}
.bottom .collect {
  width: 16vw;
  height: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-size: 5.3333vw;
  padding-top: 6.4vw;
}
.bottom .myword input {
  vertical-align: middle;
  height: 8vw;
  width: 76vw;
  margin: 1.8666vw 0;
  padding-left: 2.6666vw;
  background: #fafafa;
  border: 0.2666vw solid #d8d8d8;
  -webkit-border-radius: 1.6vw;
  border-radius: 1.6vw;
}
.bottom .send {
  width: 19vw;
  padding-left: 4vw;
  padding-right: 4vw;
  line-height: 12vw;
  text-align: center;
}
.bottom .send:active {
  background: #fafafa;
}
@media (max-width: 320px) {
  .myword input {
    width: 85.3333vw;
  }
}
/*加载动画*/
.loading {
  width: 100%;
  height: 10.6666vw;
}
.typing_loader {
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 4.5333vw;
  left: 44.6666vw;
}
.sweet-alert.show-input textarea {
  padding: 2vw;
  font-size: 1.4rem;
}
