body{
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: "Microsoft yahei",sans-serif;
}
.top {
	width: 100%;
	background: #fff;
	height: 11.7333vw;
	color: #666;
	font-size:1.46rem;
	line-height: 11.7333vw;
	text-align: center;
}
.list-block {
	margin: 2.68vw 0;
	font-size: 1.64rem;
}
li {
	margin: 2.68vw 0;
	background-color: #fff;
	/*min-height:90px;*/
}
.list-block ul {
	background-color: #f1f1f1;
}
.swipeout-content{
	/*height:90px;*/
	padding-left: 2.68vw;
}
.swipeout-content img {
	border-radius: 1.07vw;
	margin: 2.68vw 0;
	width: 18.67vw;
	height: 18.67vw;
	float: left;
}
.list{
	float:left;
	height:24vw;
	width:72vw;
	position:relative;
}
.list .title {
	float: left;
	width: 62vw;
	margin: 2.68vw;
	font-size: 1.34rem;
	color: #111;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.list .sent_time {
	display: block;
	width: 71vw;
	font-size: 1.2rem;
	color: #999;
	padding-left: 2.68vw;
	position:absolute;
	bottom:2.68vw;
}
.list .sent_time>span:last-child{
	display:inline-block;
	float:right;
}
.arrow{
	float:left;
}
.arrow>img{
	width:5.34vw;
	height:5.34vw;
	display:block;
	margin-top:9.34vw;
}
.list-block .swipeout-actions-right a {
	padding: 0 4vw;
}
.green{
	background-color:#3bc355 !important;
}
.red{
	background-color:#f61530!important;
}
.navTop{
	height:11.7333vw;
	background-color:#fff;
}
.navTop>a{
	color: #666;
	font-size: 1.5rem;
	line-height: 11.7333vw;
	display:block;
	float:left;
	width:50vw;
	text-align: center;
}
.navTop>img{
	width:5.3333vw;
	height:5.3333vw;
	position:absolute;
	right: 2.6666vw;
	top:3.2vw;
	z-index:100;
}
.navTop>a.active{
	color:#ff7043;
}
.navTop>a.active:after{
	content:'';
	display:block;
	margin:0 auto;
	height:0.2666vw;
	width:21.3vw;
	border-bottom: 0.5333vw solid #ff7043;
	margin-top:-0.5333vw;
}
.weui_mask {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}
.list-block .swipeout-actions-left a, .list-block .swipeout-actions-right a {
	padding: 0 5.34vw;
	font-size:1.46rem;
}
.initials{
	color:#666;
}
.weui_dialog{
	width:70.6vw;
	border-radius: 1.6vw;
	z-index:10001;
}
.weui_dialog>.head{
	text-align: center;
	color:#333;
	font-size:1.34rem;
}
.weui_dialog>.head>p{
	height:16vw;
	line-height: 16vw;
	font-size: 1.34rem;
	color:#333;
	margin:0;
}
.weui_dialog>.head>div{
	height:12vw;
	color:#999;
}
.weui_dialog_ft {
	margin: 0;
}
.weui_dialog_ft>a {
	height: 13.3333vw;
	line-height: 13.3333vw;
	font-size: 1.34rem;
	color:#333;
}
.red1{
	color:#e51c23!important;
}
.modal1{
	width: 100vw;
	min-height: 100vh;
	background-color:rgba(0,0,0,.3);
	position:absolute;
	z-index:100000;
	top:0;
	left:0;
}
.modal1>.icon1{
	width:100vw;
	height:auto;
}
.modal1>.close1{
	width:8vw;
	height:8vw;
	position:fixed;
	top:2.6666vw;
	right:2.6666vw;
}
.modal1>p{
	font-size: 1.34rem;
}
a:hover{
	text-decoration: none;
}
.page-content {
	background-color: rgba(0,0,0,.3);
	top:-12vw;
	z-index: 200;
	visibility: hidden;
	height:0;
}
.swiper-slide>span{
	font-size: 1.34rem;
}
.swiper-container {

}
.swiper-slide {
	background:#fff;
}
.swiper-slide img {
	text-align:center;
	display:block;
	height:97vh;
	width:97vw;
	margin:0 auto;
	margin-top:3vh;
}
.page-content>img{
	width:8vw;
	height:8vw;
	position:fixed;
	right:0;
	top:0;
	z-index: 400;
}
.list_{
	float:left;
	width:72vw;
	position:relative;
}
.list_ .title{
	font-size: 1.5rem;
	color: #111;
	margin: 1.3333vw 2.6666vw 0 2.6666vw;
}
.content{
	min-height: 10.6666vw;
	width:72vw;
	margin: 0 5.3333vw;
	font-size: 1.2rem;
}
.list_ .open{
	height: 5.3333vw;
	line-height: 5.3333vw;
	text-align: center;
	color:#999999;
}