@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
a:active {
  background: #eeeeee!important;
}
body {
  background: #ffffff;
}
/*头部*/
.banner {
  width: 100%;
  height: 50vw;
  background: url("/home/images/banner/12.png");
  background-size: 100% 100%;
  text-align: center;
}
.banner .up {
  display: inline-block;
  width: 18.7vw;
  height: 18.7vw;
  overflow: hidden;
  margin-top: 12vw;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
  background: url("/home/images/test/1.jpg") center no-repeat;
  background-size:100%;
}
.banner .name {
  width: 60%;
  margin: 6px auto;
  color: #ffffff;
  font-size: 1.7rem;
}
@media screen and (min-width: 1000px){
  .banner .name{
    line-height: 40px;
  }
}
/*积分和排行*/
.content_nav {
  position: relative;
}
.content_nav>div {
  position: absolute;
  top:-8vw;
  left: 50vw;
  width: 86vw;
  margin-left: -43vw;
  background-color: #ffffff;
  border-radius: 2vw;
  box-shadow: 0 .1vw .1vw #faa124;
}
.content_nav>div>div.fl {
  width: 50%;
  text-align: center;
  color: #faa124;
  padding: 3vw 0;
}
.content_nav>div>div.fl:first-of-type {
  position: relative;
}
.content_nav>div>div.fl p:first-of-type {
  font-size: 1.46rem;
  font-weight: 800;
}
.content_nav>div>div.fl p:last-of-type {
  font-size: 1.64rem;
  font-weight: 600;
}
.content_nav .line {
  width: .2vw;
  height: 6.5vw;
  background-color: #faa124;
  opacity: .4;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3.25vw;
}
/*列表*/
.lists {
  margin-top: 10vw;
}
.lists .list {
  display: block;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  height: 13.335vw;
  background: #ffffff;
  border-bottom: 1px solid #f7f7f7;
  font-size: 15px;
}
.lists .list span {
  display: inline-block;
  padding-left: 9.3vw;
  background-size: 7.5vw 7.5vw;
  color: #333333;
  line-height: 13.3vw;
}
.lists .list:nth-child(1) span {
  background: url("/home/images/user/icon_1.png") 0 3vw no-repeat;
  background-size: 6.5vw 6.5vw;
}
.lists .list:nth-child(2) span {
  background: url("/home/images/user/icon_2.png") 0 3vw no-repeat;
  background-size: 6.5vw 5.5vw;
}
.lists .list:nth-child(3) span {
  background: url("/home/images/user/icon_3.png") 0 3vw no-repeat;
  background-size: 6vw 6.2vw;
}
.lists .list:nth-child(4) span {
  background: url("/home/images/user/icon_4.png") 0 3vw no-repeat;
  background-size: 6.2vw 6.2vw;
}

