@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
a:active {
  background: #eeeeee!important;
}
body {
  background: #eeeeee;
}
/*头部*/
.banner {
  width: 100%;
  height: 180px;
  background: url("/home/images/test/bg.png");
  background-size: 100% 100%;
  text-align: center;
}
.banner img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-top: 45px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
}
.banner .name {
  width: 60%;
  margin: 6px auto;
  color: #ffffff;
  font-size: 1.7rem;
}
/*列表*/
.lists {
  margin-top: 10px;
}
.lists .list {
  display: block;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  height: 50px;
  background: #ffffff;
  border-top: 1px solid #f1f1f1;
  font-size: 15px;
}
.lists .list span {
  display: inline-block;
  padding-left: 35px;
  background-size: 28px 28px;
  color: #333333;
  line-height: 50px;
}
.lists .list i {
  color: #999999;
  font-size: 20px;
  line-height: 50px;
}
.lists .list:nth-child(1) span {
  background: url("/home/images/user/message.png") 0 11px no-repeat;
  background-size: 28px 28px;
}
.lists .list:nth-child(2) span {
  background: url("/home/images/user/collect.png") 0 11px no-repeat;
  background-size: 28px 28px;
}
.lists .list:nth-child(3) span {
  background: url("/home/images/user/join.png") 0 11px no-repeat;
  background-size: 28px 28px;
}
.lists .list:nth-child(4) span {
  background: url("/home/images/user/notes.png") 0 11px no-repeat;
  background-size: 28px 28px;
}
.lists .list:nth-child(5) span {
  background: url("/home/images/user/publish.png") 0 11px no-repeat;
  background-size: 28px 28px;
}
