body{
    background: #F5F5F5;
}
.form{
    width:100%;
    min-height:8rem;
    background: #F5F5F5;
}
.box{

    width:100%;
    height:1rem;
    background: #fff;
    border-bottom:1px solid #D1D1D1;
    line-height:1rem;
    padding-left:4vw;
    font-size:.3rem;
    color:#333333;
}
input{
    width:66.6vw;
    border:none;
    color:#999999;
    height:.8rem;
}
.star{
    width:.17rem;
    height:.17rem;
    /*vertical-align: middle;*/
    position: relative;
    top:50%;
    margin-top:-0.085rem;
    margin-right:1.3vw;
}
.ev{
    width:26vw;
    float:left;
    height:100%;
}
.event{
    padding-right:4vw;
    position: relative;
    float: left;
    width:65vw;
    height:100%;
    font-size:.3rem;
    color:#999999;
}

.icon3{
    float: right;
    margin-top:.4rem;
    width:3vw;
    height:1.4vh;
}

.nav{
    background: #fff;
    width:50.6vw;
    position: absolute;
    right:4vw;
    bottom:-7.8rem;
    border:1px solid #D1D1D1;
    border-bottom:none;
    display:none;
    box-shadow: 0 0 1.3vw rgba(0,0,0,.5);
}
.nav li{
    cursor: pointer;
    padding-left:4.5vw;
    line-height:.8rem;
    color:#333333;
    border-bottom:1px solid #D1D1D1;
    width:100%;
    height: .8rem;

}
.nav .color{
    background: #FE8B44;
    color:#fff;
}
.describe{
    background: #fff;
    padding:.3rem 7.7vw;
    margin:.3rem 0;
    font-size: .3rem;
    color: #999999;
}
.describe p{
    font-size: .24rem;
}
textarea{
    width:100%;
    height: 3rem;
}
.last{
    border-top:1px solid #D1D1D1;
    margin-bottom:.3rem;
}
.present{
    position: fixed;
    bottom:0;
    left:0;
    text-align: center;
    width:100%;
    height:.8rem;
    background:#FE8B44;
    color:#fff;
    font-size: .32rem;
    line-height:.8rem;
}
.add{
    height:1.3rem;
    /*width:16vw;*/
    width:100%;
    margin-bottom:.3rem;
}
.pic, .new{
    float: left;
    width:17.3vw;
    height:17.3vw;
}
.new{
    margin-left:1.3vw;
    line-height:17vw;
    text-align: center;
    border:1px solid #D1D1D1;
}
.newimg{
    width:10.1vw;
    height:10.1vw;
    vertical-align: middle;
}
.med{
    width:66.6vw;
    height:100%;
    float:right;
    /*line-height:.9rem;*/
}
.image{
    width:.76rem;
    height:.76rem;
    /*vertical-align: middle;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top:50%;
    margin-top: -.38rem;
}
.name{
    font-size:.3rem;
    color:#999999;
    margin-left:4vw;
}
.g{
    line-height: .9rem;
    float: right;
    margin-right:4vw;
}
.icon2{
    vertical-align: middle;
    width:4.2vw;
    height:.4rem;
}
.img{
    position: relative;
    width:17.3vw;
    height:17.3vw;
    margin-right:1.3vw;
    margin-bottom:.3rem;
    overflow: hidden;
}
.img .img1{
    width:100%;
    height:100%;

}
.x{
    /*font-size:.26rem;*/
    display:block;
    position: absolute;
    right:0;
    top:0;
    width:.35rem;
    height:.35rem;
    background:rgba(0,0,0,0) ;
    /*text-align: center;*/
    /*line-height: .35rem;*/
    /*color:#fff;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index:9999;
}
.x .im2{
    display:inline;
    width:.35rem;
    height:.35rem;
}
.fl{

    float:left;
}
.hide{
   display:none;
}

