body{
    background: #F5F5F5;
}
.chart{
    background: #fff;
    padding-bottom: 1.5vh;
    margin-bottom: 1.5vh;
    padding-left:7.4vw;
    padding-top:2.2vh;
}
.line{
    width:.8vw;
    height:2.5vh;
    background: #DBDBDB;
}
.lists{
    font-family:PingFang-SC-Medium;
    border-left:.8vw solid #DBDBDB;
}
.list{
    padding-left:6.6vw;
    width:100%;
    position: relative;
    padding-bottom:2.7vh;
}
.list p{
    margin-bottom:1.2vh;
    font-size: .32rem;
    color:#333;
}
.list span{
    font-size: .26rem;
    color:#999;
}
.num{
    text-align: center;
    line-height: 4.8vw;
    width:4.8vw;
    height:4.8vw;
    background: #52BDE3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left:-3vw;
    color:#fff;
}
.blue{
    background: #52BDE3;
    border:.4vh solid rgba(82,189,227,0.35);
}
.yellow{
    background:#FE8B44;
    border:.4vh solid rgba(254,139,68,0.35);
}
.gray{
    background:#999999;
    border:.4vh solid rgba(153,153,153,0.35);
}
.list .yec{
    color:#FE8B44;
}
.list .grc{
    color:#999999;
}
.form{
    border:1px solid #D1D1D1;
    border-bottom:none;
    margin-bottom:1.5vh;
}
.box{
    position: relative;
    padding-left:4vw;
    width:100%;
    height:7.5vh;
    line-height:7.5vh;
    font-size:.32rem;
    font-family:PingFang-SC-Medium;
    border-bottom:1px solid #D1D1D1;
    background: #fff;
    color:#999999;
}

.con{
    color:#333333;
}
.describe{
    height:15vh;
    line-height: 6.5vh;
}
.describe-sp{
   position: absolute;
}
.describe-p{
    text-indent:13.6vw;
    width:100%;
    height:100%;
    color:#333333;
    word-break:break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.high{
    line-height: 6.5vh;
}
.images{
    vertical-align: middle;
    width:9vw;
    height:9vw;
}
.remark{
    width: 100%;
    height:9vh;
    line-height:9vh;
    background: #FE8B44;
    color:#fff;
    font-size:.36rem;
    text-align: center;
}