body{
    background: #F5F5F5;
}
.chart{
    background: #fff;
    padding-bottom: 1.5vh;
    margin-bottom: 1.5vh;
    padding-left:28vw;
    padding-top:2.2vh;
}
.lists{
    position: relative;
}
.list{
    width:100%;
    position: relative;
    /*border-left:.8vw solid #DBDBDB;*/
    padding:0 4vw 1.5vh 8.9vw;
    z-index: 9;
}

.list span{
    font-size: .24rem;
    color:#999;
}
.posleft{
    font-size: .26rem;
    color:#333;
    width:10.4vw;
    position: absolute;
    left:-17vw;
    top:0;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}
.state{
    font-size: .3rem;
    margin-bottom:2.4vh;
    color: #999;
}
.num{
    text-align: center;
    line-height: 4.8vw;
    font-size:.24rem;
    width:4.8vw;
    height:4.8vw;
    background: #52BDE3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left:-2.8vw;
    color:#fff;
}
.direc{
    background: #FFF8D3;
    color:#DD5D3A;
    font-size:.24rem;
    padding:4vw;
    margin-left:-4.8vw;
}
.active .state {color: #52BDE3;}
.active .gray {background: #52BDE3;}
.blue{
    background: #52BDE3;
    border:.4vh solid rgba(82,189,227,0.35);
}
.blue1{
    color:#52BDE3;
}
.yellow{
    background:#FE8B44;
    border:.4vh solid rgba(254,139,68,0.35);
}
.gray{
    background:#E1DEE2;
}
#hr01 {position: absolute;top:1.5vh;left:-.6vw;border-left: .04rem solid #C5C5C5;z-index: 7;}
.hr02 {position: absolute;top:1.5vh;left:-.6vw;border-left: .04rem solid #52BDE3;z-index: -1;}
.list .grc{
    color:#999999;
}
.form{
    border:1px solid #D1D1D1;
    border-bottom:none;
    margin-bottom:10.5vh;
}
.box{
    position: relative;
    padding-left:4vw;
    padding-right:4vw;
    width:100%;
    height:13.4vw;
    font-size:.32rem;
    font-family:PingFang-SC-Medium;
    border-bottom:1px solid #D1D1D1;
    background: #fff;
    color:#999999;
    line-height:13.4vw;
}

.con{
    color:#333333;
    height:100%;
}
.describe{
    height:auto;
    line-height: 6.7vh;
}
.box .imgs {
    text-indent: 0;
    margin-bottom: 3.2vw;
    display: block;
}
.box .imgs figure {
    display: inline-block;
}
.box .imgs figure a {
    display: inline-block;
}
.box .imgs img {
    display: inline-block;
    width: 21.8vw;
    height: 21.8vw;
}
.describe-sp,.describe-title{
   position: absolute;
}
.describe-t{
    text-indent:20.5vw;
    width:100%;
    height:100%;
    color:#333333;
    word-break:break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.describe-p{
    text-indent:13.6vw;
    width:100%;
    height:100%;
    color:#333333;
    word-break:break-all;
    display: -webkit-box;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 2;*/
    /*overflow: hidden;*/
}

.images{
    position: relative;
    margin-top:1.6vw;
    width:10.2vw;
    height:10.2vw;
}
.remark, .remark1, .remark2{
    display:none;
    width: 100%;
    height:6vh;
    line-height:6vh;
    background: #FE8B44;
    color:#fff;
    font-size:.36rem;
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
}
.bot{
    display:none;
    width:100%;
    height:6vh;
    position: fixed;
    bottom: 0;
    left:0;
}
.bot span{
    display:block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 6vh;
    color:#fff;
    font-size: .3rem;
}
.fle{
    background: #A6D250;
}
.fri{
    background: #FE8B44;
}
.fle:active{
    color:red;
}
.fri:active{
    color:red;
}







