body{background: #f5f5f5;}
.top {width:100vw;height:6vh;line-height: 6vh;text-align: center;position: fixed;background: #fff;border-bottom: 1px solid #d1d1d1;top:0;left:0;z-index: 999;}
.top>div {width:33.333vw;height:100%;font-size: .3rem;color: #333;float:left;}
.top .active {border-bottom: .45vh solid #dd5d3a;color: #dd5d3a;}
.mediationContenr {display: none;padding-top: 6vh;}
.banner {width:100vw;height:22.5vh;position: relative;}
.banner img {width:100%;height:100%;}
.department {width:92vw;position: relative;margin:2.25vh auto 0;background: #fff;border-radius: .3rem;font-size: .28rem;color: #333;padding: 4vh 0;box-shadow: 0 0 .5rem rgba(0,0,0,.2);overflow: hidden;}
.department p {line-height: .36rem;text-indent: 2em;width:84vw;margin: auto;}
.department .departmentTop {position: absolute;top:0;left:0;font-size: .2rem;width:17vw;text-align: center;height:3.9vh;line-height:3.9vh;}
.department .departmentTop span{position: relative;z-index: 8;}
.department .departmentTop img {width:17vw;position: absolute;top:0;left:0;z-index: 1;}
.case {position: relative;width:92vw;margin: auto;}
.caseTop {width:100%;height:6vh;line-height: 6vh;font-size: .28rem;}
/*.caseTop {width:100%;font-size: .28rem;margin: 1.2vh 0;}*/
.caseTop>span {float:left;color: #dd5d3a;}
.caseTop>a {float:right;color: #999;}
.caseTop>a img {width:1.6vw;height:1.5vh;vertical-align: initial;}
.caseSort {position: relative;width:100%;background: #fff;}
.caseSort a {display: block;border-bottom: 1px dashed #eee;padding: 4vw;}
.caseSort a:last-child {border-bottom: transparent;}
.caseSort_01 {position: relative;padding-left:4vw;font-size: .3rem;color: #333;white-space:nowrap;  text-overflow:ellipsis;  -o-text-overflow:ellipsis;  overflow: hidden;}
.caseSort_01 span {position: absolute;width:.14rem;height:.14rem;border-radius: 50%;background: #858d98;top:50%;left:0;margin-top: -.07rem;}
.caseSort_02 {
    margin: 1.2vh 0 1.5vh 0;
    font-size: .26rem;
    /*min-height: .8rem;*/
    color: #666;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.caseSort_03 span:first-child{font-size: .24rem;color: #666;}
.caseSort_03 span:last-child{float:right;font-size: .24rem;color: #666;}
.mediator {position: relative;margin: 0 auto 4vw;width:92vw;}
.mediator ul li {width:100%;background: #fff;margin-top: 5.55vh;border-radius: 8px;box-shadow: 0 0 .2rem rgba(0,0,0,.2);height:22vh;padding-top: 4.8vh;text-align: center;position: relative;}
.userImg {width:.88rem;height:.88rem;border-radius: 50%;border: 4px solid #fff;position: absolute;top:-2.85vh;left:50%;margin-left: -5.065vw;text-align: center;line-height: .82rem;}
.mediator .userImg img {width:100%;height:100%;border-radius: 50%;position: absolute;left:-1px;top:-1px;}
.mediator .name {font-size: .32rem;font-weight: 900;}
.mediator .num {
    font-size: .26rem;
    color: #999;
    margin: 1.12vh 0 1.57vh 0;
    padding: 0 3.2vw;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}
.mediator .num span {color:#dd5d3a;}
.mediator ul li a {width:32vw;height:5.1vh;border: 1px solid #FE8B44;display: inline-block;border-radius: .4rem;text-align: center;line-height: 5.1vh;font-size: .3rem;margin: 0 4vw;}
.mediator ul li .liao {background: #FE8B44;color: #fff;}
.mediator ul li .more {color: #FE8B44;}




/*电影详情页*/















@media screen and (min-width: 1000px) {
    .department .departmentTop img {top:-1vw;left:-1vw;}
    .department .departmentTop {line-height: 3vh;}
}




/*网上申请*/

#side3{
    margin-top:2.25vh;
    /*padding-top:6vh;*/
    /*padding-top:2.25vh;*/
}
.line{
    line-height: 10.2vh;
}
.list{
    background:#fff;
    font-size:0.3rem;
    color:#333;
    display:block;
    width:100vw;
    height:10.5vh;
    margin-bottom:1.5vh;
    /*border-top:1px solid #D5D5D5;*/
    border-bottom:1px solid #D5D5D5;
    padding-left:8vw;
}
.list .fr1 {
    font-size: .3rem;
}
.adminimg, .medimg{
    width:6.3vw;
    height:6.3vw;
    margin-right:5vw;
    vertical-align: middle;
}
.apply .fr1{
    float:right;
    width:80.6vw;
    height:100%;
}

.user .list{
    margin-bottom:0;
    background: #FFFFFF;
    width:100vw;
    height:18.7vh;
    padding:4vw 2.2vh;
}
.user .list:last-of-type{
    border-bottom:1px solid #D5D5D5;
}
.user .userimg{
    float:left;
    padding-left:0;
    width:21.3vw;
    height:100%;
    margin-right:4vw;
    vertical-align: middle;
}

.newimg{
    z-index: 9;
    position: fixed;
    left:41.8vw;
    bottom:13.2vh;
    background: #fff;
    width:16vw;
    height:16vw;
    line-height: 16vw;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 1.3vw rgba(0,0,0,.3);
    text-align: center;
}

.new{
    width:5.3vw;
    height:5.3vw;
    vertical-align: middle;
}
.creation{
    z-index: 9;
    position: fixed;
    left:41.8vw;
    bottom:5.6vh;
    color:#FE8B44;
    font-size:.32rem;
}
.user .fr1{
    position: relative;
    float:right;
    width:66.4vw;
    height:100%;
}
.val{
    position: relative;
}
.bt{
    position: absolute;
    bottom:0;
}

.evaluate{
    z-index:99;
    font-size:.3rem;
    position: absolute;
    right:4vw;
    bottom:2.2vh;
    margin-top:-6.7vh;
    display:block;
    width:20vw;
    height:4.5vh;
    background: #DD5D3A;
    padding:1px;
    padding-color:#FE8B44;
    text-align: center;
    line-height:4.2vh;
    color:#fff;
    -webkit-border-radius: .6vw;
    -moz-border-radius: .6vw;
    border-radius: .6vw;
}
.user p{
    width:66.4vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size:0.3rem;
    color:#333;
}
.time{
    /*position: absolute;*/
    font-size:.28rem;
    color:#999;
    left:0;
    bottom:3vh;
}
.status{
    /*position: absolute;*/
    left:0;
    bottom: 0;
    font-size:.24rem;
    padding:0 .5vw;
    -webkit-border-radius:.6vw;
    -moz-border-radius: .6vw;
    border-radius:.6vw;
}
.wait{
    border: 1px solid #52BDE3;
    color:#52BDE3;
}
.not{
    border: 1px solid #F96D5D;
    color:#F96D5D;
}
.verify{
    border: 1px solid #FE8B44;
    color:#FE8B44;
}
.message{
    border: 1px solid #FFBD29;
    color:#FFBD29;
}
.appraise{
    border: 1px solid #DD5D3A;
    color:#DD5D3A;
}
.complete{
    border: 1px solid #A6D250;
    color:#A6D250;
}
.share{
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    background:#FE8B44;
    width:16vw;
    height:16vw;
    position: fixed;
    right:4vw;
    bottom:6vh;
    box-shadow: 0 0 1.3vw rgba(0,0,0,.5);
    text-align: center;
    line-height:15vw;
    z-index: 99999;
}
.share:active{
    background:#FE8B44;
}
.shareimg{
    width:6.4vw;
    height:3.8vh;
    vertical-align: middle;
}