@import (reference) "../common";
//animate

//layout
.banner{
	.wh(100vw,50vw);
	.banner-img{
		.wh(100%,100%);
	}
}
.lists{
	.list{
		position:relative;
		display: inline-block;
		.wh(100vw,24vw);
		padding: 0 4vw;
		border-bottom: 1px solid @c_border;
		.tag{
			position: absolute;
			top:4vw;
			left:4vw;
			width: 36px;
			height: 18px;
			background: #e51e26;
			color:#ffffff;
			font-size: 12px;
			text-align: center;
			line-height: 18px;
			-webkit-border-radius:4px;
			border-radius:4px;
		}
		.left{
			.wh(24vw,16vw);
			margin: 4vw 0;
			overflow: hidden;
			-webkit-border-radius:6px;
			border-radius:6px;
		}
		.content{
			display: inline-block;
			width: 63vw;
			margin-left: 3vw;
			margin-top: 3vw;
			.title{
				width: 100%;
				.font(@c_title,@s_title,30px);
			}
			.note{
				width: 100%;
				.font(@c_note,@s_note,12px);
				margin-top: 6vw;
				.num{
					position: relative;
					left: 0;
					padding-left: 14px;
					width: 60%;
					&:before{
						position: absolute;
						top:0;
						left:0;
						width: 10px;
						height: 12px;
						content: '';
						background: url('/home/images/detail/man.jpg') 0 0 no-repeat;
						background-size: contain;
					}
				}
				.time{
					width: 38%;
					text-align: right;
					span{
						display:inline-block;
						width: 50%;
						padding-right: 5px;
					}
				}
				&>div{
					display: inline-block;
				}
			}
		}
		.right{
			.wh(1vw,100%);
			.font(@c_note,@s_content,24vw);
		}
	}
}
/*悬浮按钮*/
.publish{
	position: fixed;
	right: 20px;
	bottom: 40px;
	width: 60px;
	height: 60px;
	background: url("/home/images/notice/note.png") no-repeat;
	background-size: 100% 100%;
	&:active{
		background: url("/home/images/notice/note.png") no-repeat;
		background-size: 100% 100%;
	}
}

