{extend name="public/common"}

{block name="style"}
<style>
.limit{
    text-align: center;width:100%;font-size:16px;color:#333;font-weight: bold;height:50px;line-height:50px;
}

</style>
{/block}

{block name="body"}
<div class="views">
    <!-- Your main view -->
    <div class="view view-main">
        <!-- Pages -->

        <div class="pages" >
            <div class="page" data-page="home">
                <div class="page-content">
                    <div class="list-block" style="padding:0 12px;">
                        <div style="border-bottom:1px solid #f1f1f1;">
                            <div class="limit" >{$talent.title}</div>
                            <div style="color:#999;margin-bottom:8px;">
                                <span>{$talent.create_time|time_format='Y-m-d'}</span>
                                <span>{$talent.publisher}</span>
                            </div>
                        </div>
                        <div style="text-indent:2em;line-height:20px;margin-top:8px;">
                            {$talent.content}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<script>

</script>
{/block}