{extend name="public/common"}

{block name="style"}
<style>
    .limit{
        text-align: center;width:100%;font-size:16px;color:#333;font-weight: bold;height:50px;line-height:50px;
    }
    .content{
        line-height:20px;margin-top:8px;margin-bottom:10px;
    }
    .content *{
        width:100%;
    }
    .good{
        background: url('/home/images/detail/good.png') 0 0 no-repeat;
    }
    .good_{
        background: url('/home/images/detail/good_.png') 0 0 no-repeat;
    }

    .scan{
       background: url('/home/images/detail/scan.png') 0 3px no-repeat;display: inline-block;margin-right:15px;
    }
    .isgood{
        background-size: 15px 15px;padding-left: 18px;font-size:12px;color:#999;margin-bottom:20px;
    }
    .isgood_{
        background-size: 15px 10px;padding-left: 18px;font-size:12px;color:#999;margin-bottom:20px;
    }

</style>
{/block}

{block name="body"}
<div class="views">
    <!-- Your main view -->
    <div class="view view-main">
        <!-- Pages -->

        <div class="pages" >
            <div class="page" data-page="home">
                <div class="page-content">
                    <div class="list-block" style="padding:0 12px;">
                        <div style="border-bottom:1px solid #f1f1f1;">
                            <div class="limit" >{$talent.title}</div>
                            <div style="color:#999;margin-bottom:8px;">
                                <span>{$talent.create_time|time_format='Y-m-d'}</span>
                                <span>{$talent.publisher}</span>
                            </div>
                        </div>
                        <div class="content">
                            {$talent.content}
                        </div>
                        <div>
                            <div class="fl isgood_ scan">{$talent.views}</div>
                            {eq name="visit" value="1"}
                            {eq name="$talent.is_like" value="0"}
                            <div class="fl isgood good" onclick="isGood(this,5,{$talent.id})" >{$talent.likes}</div>
                            {else/}
                            <div class="fl isgood good_" onclick="isGood(this,5,{$talent.id})" >{$talent.likes}</div>
                            {/eq}
                            {/eq}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<script>
    document.title='人才服务';


    //点赞
    function isGood(e,type,id){
        $.ajax({
            type:"post",
            url:"{:Url('Base/like')}",
            data:{
                type:type,
                aid:id
            },
            success:function(data){
                var n = $(e ).text();
                $(e).toggleClass('good' ).toggleClass('good_');
                $(e ).hasClass('good_')?n++:n--;
                $(e ).text(n);
            }
        })
    };
</script>
{/block}