{extend name="public/common"}

{block name="style"}
<style>
.limit{
    text-align: center;width:100%;font-size:16px;color:#333;font-weight: bold;height:50px;line-height:50px;
}

</style>
{/block}

{block name="body"}
<div class="views">
    <!-- Your main view -->
    <div class="view view-main">
        <!-- Pages -->

        <div class="pages" >
            <div class="page" data-page="home">
                <div class="page-content">
                    <div class="list-block" style="padding:0 12px;">
                        <div style="border-bottom:1px solid #f1f1f1;">
                            <div class="limit" >德清小镇党员详情报告单</div>
                            <div style="color:#999;margin-bottom:8px;">
                                <span>2017-1-17</span>
                                <span>国家资源部</span>
                            </div>
                        </div>
                        <div style="text-indent:2em;line-height:20px;margin-top:8px;">
                            为进一步贯彻落实中央简政放权、转变政府职能的精神和要求，国土资源部决定取消“矿业权设置方案审批或备案核准”，矿业权设置方案审批并入规划审批程序。根据安排，矿业权设置方案将与新一轮矿产资源规划中勘查开采规划区块内容合并，统一为“矿业权设置区划”，作为规划的重要组成部分，在总体规划或专项规划中设置“矿业权设置区划”专门篇章，在空间布局上做出细化安排，科学规划，严格实施，指导矿业权合理设置。有关编制要求在国土资源部印发的《省级矿产资源规划编制规程》和《市县级矿产资源规划编制指导意见》中已作了规定。此外，对于原国家规划矿区需国土资源部审批的，由国土资源部委托经研院和煤炭工业协会等进行技术性复核，通过后予以上图入库;对于原34个重要矿种需报国土资源部备案的，由备案系统检查通过后直接予以备案。2011年以来，为进一步细化矿产资源勘查开发的空间布局管控，国土资源部在矿产资源规划的基础上开展了矿业权设置方案的编制实施工作，各级国土资源管理部门结合管理工作需要，对探矿权采矿权的空间布局进行具体安排，并将其作为探矿权采矿权新立和调整的重要依据，在优化矿山布局和提高开发规模化程度方面起到了积极成效。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<script>

</script>
{/block}