{extend name="public/common"}

{block name="style"}
<style>

    .navbar>.content-block>img{
        width:100%;height:50vw;
    }

    .list-block .item-content,.list-block .item-inner{
        padding:0;
    }
    .item-content{
        height:70px;
    }
    .item-content .item-inner>div:nth-child(1){
        position:relative;width:100%;border-bottom:1px solid #f1f1f1;padding:0 12px;height:30px;line-height: 30px;
    }
    .item-content .item-inner>div:nth-child(1)>span:nth-child(1){
        color:#df4934;font-size:12px;font-weight: bold;
    }
    .item-content .item-inner>div:nth-child(1)>span:nth-child(2){
        position:absolute;right:12px;font-size:12px;color:#999;;
    }
    .item-content .item-inner>div:nth-child(1){
        width:100%;height:70px;border-bottom:1px solid #f1f1f1;padding:0 12px;
    }
    .item-content .item-inner>div:nth-child(1)>div:nth-child(1){
        width:100%;font-size:15px;color:#333;height:40px;line-height:50px;
    }
    .item-content .item-inner>div:nth-child(1)>div:nth-child(2){
        position:relative;width:100%;height:30px;line-height:15px;
    }
    .item-content .item-inner>div:nth-child(1)>div:nth-child(2)>span,.item-content>.item-inner>div:nth-child(3)>div:nth-child(2)>span{
        font-size:12px;color:#999;
    }
    .item-content .item-inner>div:nth-child(1)>div:nth-child(2)>img,.item-content>.item-inner>div:nth-child(3)>div:nth-child(2)>img{
        width:12px;height:12px;position:absolute;top:3px;right:0;
    }
    .item-content .item-inner>div:nth-child(2){
        width:100%;height:70px;padding:0 12px;
    }
    .item-content .item-inner>div:nth-child(2)>div:nth-child(1){
        width:100%;font-size:14px;color:#333;height:40px;line-height:50px;
    }
    .item-content .item-inner>div:nth-child(2)>div:nth-child(2){
        position:relative;width:100%;height:30px;line-height:20px;
    }

    /*add1*/
    .add1{
        text-align: center;width:100%;height:30px;font-size:14px;margin-top:5px;color:#666;margin-bottom:20px;
    }
    /**/
    /*加载动画*/
    .tip {
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #c1c1c1;
    }
    .loading {
        width: 100%;
        height: 40px;
    }
    .typing_loader {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        -webkit-animation: typing 1s linear infinite alternate;
        -moz-animation: Typing 1s linear infinite alternate;
        animation: typing 1s linear infinite alternate;
        position: relative;
        top: 17px;
        left: calc( 50vw - 20px );
    }
</style>
{/block}

{block name="body"}
<div class="views">
    <!-- Your main view -->
    <div class="view view-main">
        <!-- Pages -->
        <!--<div class="title">政策解读</div>-->
        <div class="pages" >
            <div class="page" data-page="home">
                <div class="page-content">
                    <div class="list-block" style="">
                        <ul>
                            {volist name="list" id="vo"}
                            <li class="item-content" onclick=window.location.href="{:Url('talent/detail?id='.$vo['id'])}">
                                <div class="item-inner" >
                                    <div>
                                        <div class="limit">{$vo.title}</div>
                                        <div>
                                            <span>{$vo.create_time|time_format='Y-m-d'}</span>
                                            <img src="/home/images/right.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="tip"></div>
                    <div class="loading hidden">
                        <div class="typing_loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<script>
    document.title='人才服务';

    $(function(){
        //模块标题
        $('title' ).text('支部活动');
        //reset

        var b=$('.list-block>ul>li').length;
        if(b >= 7){
            $('.add1' ).text('上拉加载更多');
        }
        //上拉加载
        loadScroll();
    });
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var str=location.href;
            console.log(str);
            var aa=str.substring(str.length-6,str.length);
            var a=aa.split('.')[0];
            console.log(a);
            var b=$('.list-block>ul>li').length;

            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            //var len = $(".list" ).length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end){
                $.ajax({
                    type:"post",
                    url:"{:Url('Talent/listmore')}",
                    data:{
                        type:a,
                        length:b
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addMeets(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                    }
                })
            }
        })
    }
    function addMeets(data){
        var html = '';
        var lists = data.data;
        console.log(lists);
        var b = lists.length;
        for(var i=0; i< b;i++){
            var list = lists[i];
            html+='<li class="item-content">'+
                '<a href="/home/talent/detail/id/'+list.id+'.html">'+
                '<div class="item-inner">'+
                '<div>'+
                '<div class="limit">'+list.title+'</div>'+
                '<div>'+
                '<span>'+list.time+'</span>'+
                '<img src="/home/images/right.png" alt="">'+
                '</div>'+
                '</div>'+
                '</div>'+
                '</a>'+
                '</li>';
        }
        //console.log($(this).parent().find('div.list-block').find('ul'))
        $('.list-block ul').append(html);
    }

</script>
{/block}