{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/course.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/test/3.png" alt="每日一课banner" class="banner-img">
	<span class="tag">每日一课</span>
</div>
<div class="lists">
	<div class="list" data-tab="题号">
		<div class="title">禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群关系，不准（ ）。</div>
		<label class="checked"><input type="radio" name="answer1">A.搞形象工程</label>
		<label><input type="radio" name="answer1" >B.虚报工作业绩</label>
		<label><input type="radio" name="answer1">C.大办婚丧喜庆事宜</label>
		<div class="note">
			<span class="true">正确答案：<i>C</i></span>
			<span class="number">1/3</span>
		</div>
	</div>
	<div class="list" data-tab="题号">
		<div class="title">禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群关系，不准（ ）。</div>
		<label><input type="radio" name="answer2">A.搞形象工程</label>
		<label><input type="radio" name="answer2">B.虚报工作业绩</label>
		<label><input type="radio" name="answer2">C.大办婚丧喜庆事宜</label>
		<div class="number">2/3</div>
	</div>
	<div class="list" data-tab="题号">
		<div class="title">禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群关系，不准（ ）。</div>
		<label><input type="radio" name="answer3">A.搞形象工程</label>
		<label><input type="radio" name="answer3">B.虚报工作业绩</label>
		<label><input type="radio" name="answer3">C.大办婚丧喜庆事宜</label>
		<div class="number">3/3</div>
	</div>
</div>
<div class="submit" data-toggle="modal" data-target="#modal">确认提交</div>
<!--模态框-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div>正确答案</div>
				<div class="text-center">1.A 2.B 3.C</div>
				<div class="text-center">本次得分：<span class="score">2</span> 分</div>
			</div>
			<div class="modal-footer">
				<a href="">查看详情</a>
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
	//提交
	$('.submit').on('click',function(e){
		var data = [];
		$('.list').each(function(){
			var id = $(this ).attr('data-tab');
			var answer = $(this ).find('.checked' ).index();
			data.push([id,answer]);
			});
		console.log(data);
//		$('#modal').modal('show');
		$.ajax({
			type:"post",
			url:"",
			data:data,
			success:function(e){

			}
		});
	});
	//选中样式变化
	$('label').on('click',function(e){
		var it = $(this);
		it.addClass('checked');
		it.siblings('label' ).removeClass('checked');
	});

})
</script>
{/block}