{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/service/photoswipe.css"/>
<link rel="stylesheet" href="/home/css/service/default-skin.css"/>
<link rel="stylesheet" href="/home/css/service/appraisal.css">

<title>示范评比</title>
<style>
    .headerTop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .appraisal {
        margin-top: 10.5vh;
    }
    .appraisalUser_01 p {
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        overflow: hidden;
    }
    #nomessage1,#nomessage2{
        width:26.6vw;
        height:26.6vw;
        margin: 50vw auto;
        /*display: none;*/
    }
    #nomessage1 img,#nomessage2 img{
        width:100%;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
<div class="headerTop">
    <div data-side="1" class="active" id="show1">我来推荐</div>
    <div data-side="2" id="show2">典型引路</div>
</div>
<!--我来推荐-->
<div id="side1" class="appraisal all">
    {notempty name="$list"}
    <div class="appraisalSort">
        <ul>
            {volist name="list" id="vo"}
            <li>
                <div class="headerImg"><img data-original="{$vo.header}" class="lazy"></div>
                <div class="appraisalRight">
                    <div class="appTop"><p class="appraisalName">{$vo.username}</p><p class="appraisalTime">{$vo.create_time|time_format="Y-m-d"}</p></div>
                    <div class="appText">{$vo.content}</div>
                    <p class="appshow">展开</p>
                    <div class="appImg my-gallery clearfix" data-pswp-uid="{$vo.id}">
                        {volist name="$vo.images" id="img"}
                        <figure class="fl"><a href="{$img|get_cover='path'}" data-size="800x800"><img data-original="{$img|get_cover='path'}" class="lazy"></a></figure>
                        {/volist}
                    </div>
                    <div class="note">
                        {eq name="visit" value="0"}
                        {eq name="vo.is_like" value="1"}
                        <span class="isgood good_" onclick="isGood(this,8,{$vo.id})">{$vo.likes}</span>
                        {else/}
                        <span class="isgood good" onclick="isGood(this,8,{$vo.id})">{$vo.likes}</span>
                        {/eq}
                        {/eq}
                    </div>
                </div>
            </li>
            {/volist}
        </ul>
    </div>
    {else/}
    <div id="nomessage1">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
    {eq name="$user_tag" value="1"}
    <a href="/home/feedback/detail.html" id="share"><img src="/home/images/lxyz/icon/share.png" alt=""></a>
    {/eq}
</div>
<!--典型引路-->
<div id="side2" class="appraisal">
    {notempty name="$list2"}
    <ul class="appraisalUser">
        {volist name="list2" id="vo"}
        <li>
            <a href="{:Url('pioneer?id='.$vo.id)}">
                <div class="appraisalUser_01">
                    <img src="{$vo.front_cover|get_cover='path'}">
                    <div>
                        <p>姓名：<span>{$vo.name}</span></p>
                        <p>生日：<span>{$vo.birthday}</span></p>
                        <p>职位：<span>{$vo.position | default='无'}</span></p>
                    </div>
                </div>
                <div class="appraisalUser_02">{$vo.description}</div>
            </a>
        </li>
        {/volist}
    </ul>
    {else/}
    <div id="nomessage2">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
{/block}
{block name="script"}
<script src="/home/js/appraisal/photoswipe.min.js"></script>
<script src="/home/js/appraisal/photoswipe-ui-default.min.js"></script>
<script>
    // 我来推荐接口 post url: "{:Url('Feedback/publish')}" data: {content:'内容'，images:[]}

    var type1;
    var app = localStorage.getItem('appNum')==null?1:localStorage.getItem('appNum');
    $('.headerTop>div').on("click",function(){
        $(this).addClass('active').siblings("div").removeClass("active");
        type1 = $(this).data('side');
        $('.appraisal').hide();
        $('#side'+type1).show();
        localStorage.setItem('appNum',type1);
        $(".tip,.loading").hide();
        app = localStorage.getItem('appNum');
        $(window ).scrollTop("0");
        loadScroll();
        console.log($('#side'+type1).find('li').length == 0)
        if($('#side'+type1).find('li').length == 0){
            $('.tip').hide();
        }else {
            $('.tip').show();
        }
    });
    // 初始化
    $('.headerTop>div').eq(app-1).click();

    var scrollNow = true;
    loadScroll();
    //上拉加载
    function loadScroll(){
        $(window ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('#side'+type1).find('li').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                if(app==1 && $('#side1').find('li').length>0){
                    $.ajax({
                        type:"post",
                        url:"{:Url('Feedback/indexmore')}",//我来推荐
                        data:{
                            length:len
                        },
                        beforeSend: function(XMLHttpRequest){
                            tip.hide();
                            loading.removeClass('hidden').show();
                        },
                        success:function(data){
                            loading.addClass('hidden');
                            tip.show();
                            if(data.code == 1){
                                addLists(data);
                                $('.appraisalSort li').each(function(){
                                    if($(this).find('.appText').height()>120){
                                        $(this).find('.appText').addClass('_height');
                                        $(this).find('.appshow').show();
                                    }
                                    if($(this).find('.appshow').css('display')=='none'){
                                        $(this).find('.appText').css('margin-bottom','2vh')
                                    }
                                    if($(this).find('.appImg figure').length==1){
                                        $(this).find('.appImg figure , .appImg img ,.appImg a').css({'width':'40vw','height':'40vw'})
                                    }
                                    if($(this).find('.appImg figure').length==4){
                                        $(this).find('.appImg figure , .appImg img ,.appImg a').css({'width':'25.33vw'})
                                    }
                                });
                                setTimeout(initPhotoSwipeFromDOM('.my-gallery'),200);
                                if(data.data.length >= 6){
                                    tip.text('上拉加载更多');
                                }else{
                                    tip.text('没有更多了');
                                    $(window ).off("scroll");
                                }
                            }else{
                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                            scrollNow = true;
                        }
                    })
                }
                else if(app==2 && $('#side2').find('li').length>0){
                    $.ajax({
                        type:"post",
                        url:"{:Url('Feedback/pioneermore')}",//典型引路
                        data:{
                            length:len
                        },
                        beforeSend: function(XMLHttpRequest){
                            tip.hide();
                            loading.removeClass('hidden').show();
                        },
                        success:function(data){
                            loading.addClass('hidden');
                            tip.show();
                            console.log(data);
                            if(data.code == 1){
                                addLists(data);
                                var dataLen =data.data.length;
                                if(data.data.length >= 6){
                                    tip.text('上拉加载更多');
                                }else{
                                    tip.text('没有更多了');
                                    $(window ).off("scroll");
                                }
                            }else{
                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                            scrollNow = true;
                        }
                    })
                }

            }
        })
    }
    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        console.log(data)
        if(app==1) {
            for (var j = 0; j < len; j++) {
                var list = lists[j];
                //var pid = $('.part div' ).eq(list.pid ).text();
                var obj = '';

                if (list.is_like == 0) {
                    obj = '<span class="isgood good" onclick="isGood(this,8,' + list.id + ')">' + list.likes + '</span>'
                } else {
                    obj = '<span class="isgood good_" onclick="isGood(this,8,' + list.id + ')">' + list.likes + '</span>'
                }
                var obj1 = '';
                for (var i = 0; i < list.images.length; i++) {
                    obj1 += '<figure class="fl"><a href="' + list.images[i] + '" data-size="800x800"><img data-original="' + list.images[i] + '" class="lazy"></a></figure>'
                }
                html += '<li>'
                        + '<div class="headerImg"><img data-original="' + list.header + '" class="lazy"></div>'
                        + '<div class="appraisalRight">'
                        + '<div class="appTop"><p class="appraisalName">' + list.username + '</p><p class="appraisalTime">' + list.time + '</p></div>'
                        + '<div class="appText">' + list.content + '</div>'
                        + '<p class="appshow">展开</p>'
                        + '<div class="appImg my-gallery clearfix" data-pswp-uid="'+list.id+'">'
                        + obj1
                        + '</div>'
                        + '<div class="note">'
                        + obj
                        + '</div>'
                        + '</div>'
                        + '</li>'
            }
            $('.appraisalSort').append(html);
        }else if (app == 2){
            for(var i = 0; i< len;i++){
                var list = lists[i];
                //var pid = $('.part div' ).eq(list.pid ).text();
                html +=
                        '<li>'
                        +'<a href="/home/feedback/pioneer/id/'+ list.id+'.html">'
                        +'<div class="appraisalUser_01">'
                        +'<img src="'+list.path+'">'
                        +'<div>'
                        +'<p>姓名：<span>'+list.name+'</span></p>'
                        +'<p>生日：<span>'+list.birthday+'</span></p>'
                        +'<p>职位：<span>'+list.position+'</span></p>'
                        +'</div>'
                        +'</div>'
                        +'<div class="appraisalUser_02">'+list.description+'</div>'
                        +'</a>'
                        +'</li>';
            }
            $('.appraisalUser').append(html);
        }
    }
    var Imgsrc='';
    var newarr = [];
    $('.appraisalSort li').each(function(){
        if($(this).find('.appText').height()>120){
            $(this).find('.appText').addClass('_height');
            $(this).find('.appshow').show();
        };
        if($(this).find('.appshow').css('display')=='none'){
            $(this).find('.appText').css('margin-bottom','2vh')
        };
        if($(this).find('.appImg figure').length==1){
            $(this).find('.appImg figure , .appImg img ,.appImg a').css({'width':'40vw','height':'40vw'})
        };
        if($(this).find('.appImg figure').length==4){
            $(this).find('.appImg figure , .appImg img ,.appImg a').css({'width':'25.33vw'})
        };
    });

    $('.appImg').each(function(){
        var _len = $(this).find('figure').length;
        for(var N=0;N<_len;N++){
            if(N>8){$(this).find('figure').eq(N).remove()}
        }
    });

    $('.appshow').on('click',function(){
        if($(this).html()=='展开'){
            $(this).html('收起');
            $(this).parent().find('.appText').removeClass('_height');
        }else {
            $(this).html('展开');
            $(this).parent().find('.appText').addClass('_height');
        }
    });
    function isGood(e,type,id){
        $.ajax({
            type:"post",
            url:"{:Url('Base/like')}",
            data:{
                type:type,
                aid:id,
            },
            success:function(data){
                var n = $(e).text();
                $(e).toggleClass('good' ).toggleClass('good_');
                $(e ).hasClass('good')?n--:n++;
                $(e ).text(n);
            }
        })
    }
    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });
</script>
<script type="text/javascript">
    var initPhotoSwipeFromDOM = function(gallerySelector) {

        // parse slide data (url, title, size ...) from DOM elements
        // (children of gallerySelector)
        var parseThumbnailElements = function(el) {
            var thumbElements = el.childNodes,
                    numNodes = thumbElements.length,
                    items = [],
                    figureEl,
                    linkEl,
                    size,
                    item;

            for (var i = 0; i < numNodes; i++) {

                figureEl = thumbElements[i];

                // include only element nodes
                if (figureEl.nodeType !== 1) {
                    continue;
                }

                linkEl = figureEl.children[0];

                size = linkEl.getAttribute('data-size').split('x');

                // create slide object
                item = {
                    src: linkEl.getAttribute('href'),
                    w: parseInt(size[0], 10),
                    h: parseInt(size[1], 10)
                };


                if (figureEl.children.length > 1) {
                    item.title = figureEl.children[1].innerHTML;
                }

                if (linkEl.children.length > 0) {
                    item.msrc = linkEl.children[0].getAttribute('src');
                }

                item.el = figureEl; // save link to element for getThumbBoundsFn
                items.push(item);
            }

            return items;
        };
        // find nearest parent element
        var closest = function closest(el, fn) {
            return el && (fn(el) ? el : closest(el.parentNode, fn));
        };

        // triggers when user clicks on thumbnail
        var onThumbnailsClick = function(e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;

            var eTarget = e.target || e.srcElement;

            // find root element of slide
            var clickedListItem = closest(eTarget, function(el) {
                return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
            });

            if (!clickedListItem) {
                return;
            }

            // find index of clicked item by looping through all child nodes
            // alternatively, you may define index via data- attribute
            var clickedGallery = clickedListItem.parentNode,
                    childNodes = clickedListItem.parentNode.childNodes,
                    numChildNodes = childNodes.length,
                    nodeIndex = 0,
                    index;

            for (var i = 0; i < numChildNodes; i++) {
                if (childNodes[i].nodeType !== 1) {
                    continue;
                }

                if (childNodes[i] === clickedListItem) {
                    index = nodeIndex;
                    break;
                }
                nodeIndex++;
            }



            if (index >= 0) {
                // open PhotoSwipe if valid index found
                openPhotoSwipe(index, clickedGallery);
            }
            return false;
        };
        var photoswipeParseHash = function() {
            var hash = window.location.hash.substring(1),
                    params = {};

            if (hash.length < 5) {
                return params;
            }

            var vars = hash.split('&');
            for (var i = 0; i < vars.length; i++) {
                if (!vars[i]) {
                    continue;
                }
                var pair = vars[i].split('=');
                if (pair.length < 2) {
                    continue;
                }
                params[pair[0]] = pair[1];
            }

            if (params.gid) {
                params.gid = parseInt(params.gid, 10);
            }

            return params;
        };

        var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
            var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    items;

            items = parseThumbnailElements(galleryElement);

            // define options (if needed)
            options = {
                // define gallery index (for URL)
                //点击图片关闭
                tapToClose: true,
                galleryUID: galleryElement.getAttribute('data-pswp-uid'),
                getThumbBoundsFn: function(index) {
                    // See Options -> getThumbBoundsFn section of documentation for more info
                    var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                            pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = thumbnail.getBoundingClientRect();

                    return {x: rect.left, y: rect.top + pageYScroll, w: rect.width};
                }

            };

            // PhotoSwipe opened from URL
            if (fromURL) {
                if (options.galleryPIDs) {
                    // parse real index when custom PIDs are used
                    // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                    for (var j = 0; j < items.length; j++) {
                        if (items[j].pid == index) {
                            options.index = j;
                            break;
                        }
                    }
                } else {
                    // in URL indexes start from 1
                    options.index = parseInt(index, 10) - 1;
                }
            } else {
                options.index = parseInt(index, 10);
            }

            // exit if index not found
            if (isNaN(options.index)) {
                return;
            }

            if (disableAnimation) {
                options.showAnimationDuration = 0;
            }

            // Pass data to PhotoSwipe and initialize it
            gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };

        // loop through all gallery elements and bind events
        var galleryElements = document.querySelectorAll(gallerySelector);

        for (var i = 0, l = galleryElements.length; i < l; i++) {
//            galleryElements[i].setAttribute('data-pswp-uid', i + 1);
            galleryElements[i].onclick = onThumbnailsClick;
        }

        var hashData = photoswipeParseHash();
        if (hashData.pid && hashData.gid) {
            openPhotoSwipe(hashData.pid, galleryElements[ hashData.gid - 1 ], true, true);
        }

//        $(".pswp").photoSwipe();
    };

    // execute above function
    initPhotoSwipeFromDOM('.my-gallery');




</script>
{/block}