{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.css">
<link rel="stylesheet" href="/static/framework7/weui.css">
<link rel="stylesheet" href="/home/css/review.css">
{/block}

{block name="body"}
<div class="views">
	<div class="list-block" id="list-block-company">
        <div style="margin-top:26.67vw;margin-left:calc(50% - 22.2vw)" id="wuxiaoxi">
            <img src="/home/images/nomessage.png" alt="" style="width:44.27vw;">
        </div>
		<ul>
			{volist name="list" id="vo"}
			<li class="swipeout">
				<div class="swipeout-content" onclick="jump({$vo.focus_main})">
					<img src="{$vo.front_cover|get_cover='path'}" alt="封面图片">
					<div class="list">
						<span class="title" style="font-size:1.34rem;width:90%;">{$vo.title}</span>
						<span class="sent_time">
							<span style="margin-right: 1.34vw;font-weight: bolder;">{$vo.type_name}</span>
							<span>发布人：{$vo.publisher}</span>
							<span>{$vo.create_time|time_format='Y-m-d'}</span>
						</span>
					</div>
					<div class="arrow">
						<img src="/home/images/rightArrow.png" alt="">
					</div>
				</div>
				<div class="swipeout-actions-right">
					<a class="green" onclick='dispose(this,{$vo.id},1)'>通&emsp;过</a>
					<a class="red" onclick='dispose(this,{$vo.id},-1)'>不通过</a>
				</div>
			</li>
			{/volist}
		</ul>
	</div>
</div>

<!--用户确认弹出框-->
<div class="weui_dialog_confirm" id="alert" style="display:none">
	<div class="weui_mask"></div>
	<div class="weui_dialog">
		<div class="head">
			<p>提醒</p>
			<div>确认当前操作吗？</div>
		</div>
		<div class="weui_dialog_ft">
			<a class="weui_btn_dialog red1 ok" id="ok">确认</a>
			<a class="weui_btn_dialog default " id="cancel1">取消</a>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>
//模块标题
$('title' ).text('新闻审核');
</script>
<script>
var myApp=new Framework7;
var $$=Dom7;
//    帮助打开界面
$('#help').click(function(){
	$('#page-content').css('height','100vh').css('visibility','visible');
	$('.views').css('overflow','hidden');
});
//    帮助关闭按钮
$('#close').click(function(){
	$('#page-content').css('height','0').css('visibility','hidden');
	$('.views').css('overflow','auto');
});
$('#navTop>a').click(function(){
	$('#navTop>a.active').removeClass('active');
	$('.list-block').hide();
	$(this).addClass('active');
	$($(this).attr('data-number')).show();
});
//提醒取消
$('#cancel1').click(function(){
	$('.weui_dialog_confirm').hide();
});
var ww = $('body').width();
if(ww<= 320){
	$('.arrow' ).remove();
}
function jump(id){
	var linkRegx = /^((https|http)?:\/\/)[^\s\/$]+/g;
	var group = window.location.href.match(linkRegx);
	location.href= group+'/home/review/detail/id/'+id+'.html';
}
function dispose(i,id,status){
	var me=i;//this保存
	$('#alert').show();
	$('#ok').unbind('click');
	$('#ok').one('click', function(){
		$.ajax({
			type: "post",
			url: "{:Url('Review/review')}",
			data: {id:id,status:status},
			dataType: "json",
			success: function(data){
				$('#alert').hide();
				$(me).parent().parent().hide();//当前点击的隐藏;
                history.go(0);
			}
		});

	})
}
var mySwiper = myApp.swiper('.swiper-container', {
	pagination:'.swiper-pagination'
});
//
if($("ul").find("li").length > 0){
    $('#wuxiaoxi').hide()
}
else{
    $('#wuxiaoxi').show()
}
</script>
{/block}