{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/application.css">
<title>事件申请</title>
{/block}
{block name="body"}
<div class="form">
    <div class="box">
        <img class="star" src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>事件名称 ：</span>
        <input type="text" placeholder="请输入事件名称"/>
    </div>
    <div class="box events">
        <img class="star" src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>事件类型 ：</span>
        <div class="event">
             <span class="chose">请选择事件类型</span>
             <img class="icon3" src="/home/images/lxyz/icon/icon3.png"  alt=""/>
             <ul class="nav">
                <li>妇女儿童与残疾人维权</li>
                <li>劳动就业及社会保障</li>
                <li>婚姻家庭与遗产纠纷</li>
                <li>交通事故与医患纠纷</li>
                <li>债权及损害赔偿</li>
                <li>网络交易与购物纠纷</li>
                <li>旅游消费与保险纠纷</li>
                <li>房地产与物业纠纷</li>
                <li>债权债务及合同纠纷</li>
                <li>刑事诉讼其他纠纷</li>
             </ul>
        </div>
    </div>
    <div class="box">
        <img class="star" src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>当事人 ：</span>
        <input type="text" placeholder="请输入当事人名称"/>
    </div>
    <div class="box">
        <img class="star"  src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>申请人 ：</span>
        <input type="text" placeholder="请输入申请人名称"/>
    </div>
    <div class="box">
        <img class="star"  src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>联系电话 ：</span>
        <input onkeyup="value=value.replace(/[^\d]/g,'') " placeholder="请输入联系电话"  onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
    </div>
    <div class="describe">
        <textarea name="content" id="text" placeholder="请对您的纠纷进行描述" maxlength="1000"></textarea>
        <div class="imgs clear">
            <div class="img fl hide"></div>
            <div class="img fl hide"></div>
            <div class="img fl hide"></div>
            <div class="img fl hide"></div>
            <div class="add">
                <div class="new">
                    <img class="newimg" src="/home/images/lxyz/icon/new.png"  alt=""/>
                </div>
            </div>
            <input type="file" class="hide" id="upimg" accept="image/*">
        </div>
        <p>请上传您的证据，（可为空，限4张）</p>
    </div>
    <div class="box last">
        <img class="star"  src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>选择调解员 :</span>
        <div class="med">
            <img class="image" src="/home/images/lxyz/icon/not.png"  alt=""/>
            <span class="name">芊芊</span>
            <span class="g">
                <img class="icon2"  src="/home/images/lxyz/icon/icon2.png"  alt=""/>
            </span>
        </div>
    </div>
    <div class="present">
        提交申请
    </div>
</div>
{/block}

{block name="script"}

<script>
    $('.events').on('click',function(e){
        e.stopPropagation();
        if($('.nav').css('display')=='block'){
            $('.icon3').css('transform','rotate(180deg)')
        }else{
            $('.icon3').css('transform','rotate(0)')
        }
//        $('.nav').fadeIn();
        $('.nav').fadeToggle("slow");
        $('body').css({position:' fixed', width:'100%'})
    })
    $('.nav li').on('click',function(e){
        e.stopPropagation();
        $(this).addClass('color').siblings().removeClass('color');
//        $('.nav').fadeOut();
        if($('.nav').css('display')=='block'){
            $('.icon3').css('transform','rotate(180deg)')
        }else{
            $('.icon3').css('transform','rotate(0)')
        }
        $('.nav').fadeToggle("slow");
        $('body').css({position:'relative'})
        var val=$(this).html();
        $('.chose').html(val);
    })
//    $('.form').off('click').on('click',function(e){
////        e.stopImmediatePropagation();
//        $('.nav').fadeOut();
//        $('body').css({position:'relative'})
//        $('.icon3').css('transform','rotate(0)')
//    })


    $('.add' ).on('click',function(){
        var imglen = $('.img img' ).length;
        var this_ = $(this );
        $('#upimg').click().off("change").on('change',function(){
            var img = $(this)[0].files[0];
            var oFReader = new FileReader();
            oFReader.readAsDataURL(img);
            oFReader.onloadend = function(oFRevent){
                var src = oFRevent.target.result;
                if(this_.hasClass('add')){
                    //图片添加
                    if(imglen >= 3){
                        $('.add' ).fadeOut();
                        $('.describe p').fadeOut();
                    }
                    $('.imgs .img').eq(imglen).removeClass('hide' )
                        .append('<img src='+src+' alt="图片" >');
                }else{
                    //图片修改
                    this_.find('img').remove();
                    this_.append('<img src='+src+' alt="图片">');
                }
//                    $('img').attr('src',src);
//                    $('.img').show();
            }
//                console.log(src)
//            var formData = new FormData();
//            formData.append("picture",img);
        });

    });

</script>
{/block}