{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/application.css">
<title>事件申请</title>
{/block}
{block name="body"}
<div class="form">
    <div class="box">
        <div class="ev">
            <img class="star" src="/home/images/lxyz/icon/star.png"  alt=""/>
            <span>事件名称 ：</span>
        </div>
        <input type="text" placeholder="请输入事件名称" size="28"/>
    </div>
    <div class="box events">
        <div class="ev">
            <img class="star" src="/home/images/lxyz/icon/star.png"  alt=""/>
            <span>事件类型 ：</span>
        </div>
        <div class="event">
             <span class="chose"> 请选择事件类型</span>
             <img class="icon3" src="/home/images/lxyz/icon/icon3.png"  alt=""/>
             <ul class="nav">
                <li>妇女儿童与残疾人维权</li>
                <li>劳动就业及社会保障</li>
                <li>婚姻家庭与遗产纠纷</li>
                <li>交通事故与医患纠纷</li>
                <li>债权及损害赔偿</li>
                <li>网络交易与购物纠纷</li>
                <li>旅游消费与保险纠纷</li>
                <li>房地产与物业纠纷</li>
                <li>债权债务及合同纠纷</li>
                <li>刑事诉讼其他纠纷</li>
             </ul>
        </div>
    </div>
    <div class="box">
        <div class="ev">
            <img class="star" src="/home/images/lxyz/icon/star.png"  alt=""/>
            <span>当事人 ：</span>
        </div>
        <input  type="text" placeholder="请输入当事人名称" size="28"/>
    </div>
    <div class="box">
        <div class="ev">
            <img class="star"  src="/home/images/lxyz/icon/star.png"  alt=""/>
            <span>申请人 ：</span>
        </div>
        <input type="text"  placeholder="请输入申请人名称" size="30"/>
    </div>
    <div class="box">
        <div class="ev">
            <img class="star"  src="/home/images/lxyz/icon/star.png"  alt=""/>
            <span>联系电话 ：</span>
        </div>
        <input onkeyup="value=value.replace(/[^\d]/g,'') " placeholder="请输入联系电话" size="28" style="text-indent: .5vw;"  onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
    </div>
    <div class="describe">
        <textarea name="content" id="text" placeholder="请对您的纠纷进行描述" maxlength="1000"></textarea>
        <div class="imgs clear">
            <div class="img fl hide"></div>
            <div class="img fl hide"></div>
            <div class="img fl hide"></div>
            <div class="img fl hide"></div>
            <div class="add">
                <div class="new">
                    <img class="newimg" src="/home/images/lxyz/icon/new.png"  alt=""/>
                </div>
            </div>
            <input type="file" class="hide" id="upimg" accept="image/*">
        </div>
        <p>请上传您的证据，（可为空，限4张）</p>
    </div>
    <div class="box last">
        <img class="star"  src="/home/images/lxyz/icon/star.png"  alt=""/>
        <span>选择调解员 :</span>
        <div class="med">
            <img class="image" src="/home/images/lxyz/icon/not.png"  alt=""/>
            <span class="name">芊芊</span>
            <span class="g">
                <img class="icon2"  src="/home/images/lxyz/icon/icon2.png"  alt=""/>
            </span>
        </div>
    </div>
    <div class="present">
        提交申请
    </div>
</div>
{/block}

{block name="script"}

<script>
$(function () {
    $('.events').on('click',function(e){
        e.stopPropagation();
        $('body').css({position:' fixed', width:'100%'})
        if($('.nav').css('display')=='none'){
            $('.icon3').css('transform','rotate(180deg)')
        }else{
            $('.icon3').css('transform','rotate(0)')
            $('body').css({position:'relative'})
        }
        $('.nav').stop().fadeToggle("slow");
    })
    $('.nav li').on('click',function(e){
        e.stopPropagation();
        $(this).addClass('color').siblings().removeClass('color');
//        $('.nav').fadeOut();
        if($('.nav').css('display')=='none'){
            $('.icon3').css('transform','rotate(180deg)')
        }else{
            $('.icon3').css('transform','rotate(0)')
        }
        $('.nav').stop().fadeToggle("slow");
        $('body').css({position:'relative'})
        var val=$(this).html();
        $('.chose').html(val);
    })
    $('.form').on('click',function(){
        $('.nav').stop().fadeOut();
        $('body').css({position:'relative'})
        if($('.nav').css('display')=='block') {
            $('.icon3').css('transform', 'rotate(0)');
        }
    })
})
    $('.new' ).on('click',function(){
        var imglen = $('.img .img1' ).length;
        var this_ = $(this );
        $('#upimg').click().off("change").on('change',function(){
            var img = $(this)[0].files[0];
            console.log($(this)[0].files[0].size)
            var size=$(this)[0].files[0].size;
            if(size>22000){
                var oFReader = new FileReader();
                oFReader.readAsDataURL(img);
                oFReader.onloadend = function(oFRevent) {
                    if(imglen >= 3){
                        $('.add' ).hide();
                    }
                    if(imglen ==0){
                        $('.describe p').html('点击任意图片删除最后一张');
                    }
                    var image = new Image()
                    console.log(image)
                    image.src = oFRevent.target.result;
                        // 创建一个 canvas 元素并获取其上下文
                    var canvas=document.createElement('canvas')
                    var ctx = canvas.getContext("2d");
                    canvas.width = $('.img').width();
                    canvas.height = $('.img').height();
                        // 绘制图片
                    ctx.drawImage(image, 0, 0, image.width, image.height, 0, 0, canvas.width, canvas.height)
                    var dataUrl = canvas.toDataURL('image/jpeg', 0.4);
                    $('.imgs .img').eq(imglen).removeClass('hide' )
                        .append('<img class="img1" src='+dataUrl+' alt="图片" >');
                }
//                alert('图片太大无法上传')
            }else{
                var oFReader = new FileReader();
                oFReader.readAsDataURL(img);
                oFReader.onloadend = function(oFRevent){
                    var src = oFRevent.target.result;
                    //图片添加
                    if(imglen >= 3){
                        $('.add' ).hide();
                        $('.describe p').hide();
                    }
                    $('.imgs .img').eq(imglen).removeClass('hide' )
                        .append('<img class="img1" src='+src+' alt="图片" >');
                }
            }
        });
        $('.imgs .img').on('click',function(){
            console.log($(this).index())
            var len =$('.imgs .img .img1').length;
            $(this).addClass('hide')
            $(this).parent().find('.img').eq(imglen).find('img').remove();
            if($('.imgs .img .img1').length <4){
                $('.add' ).show();
            }
        })

    });



    </script>
{/block}