{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/details.css">
<title>金牌调解</title>
{/block}
{block name="body"}
 <div class="chart">
      <div class="line"></div>
      <div class="lists">
          <div class="list">
              <div class="num">1</div>
              <p>已提交</p>
              <span>2017-12-22 09:30</span>
          </div>
          <div class="list">
              <div class="num">2</div>
              <p>待审核</p>
              <span>2017-12-22 09:30</span>
          </div>
          <div class="list">
              <div class="num">3</div>
              <p>调解员待确认</p>
              <span>2017-12-22 09:30</span>
          </div>
          <div class="list">
              <div class="num">4</div>
              <p>纠纷待处理</p>
              <span>2017-12-22 09:30</span>
          </div>
          <div class="list">
              <div class="num">5</div>
              <p>待评价</p>
              <span>2017-12-22 09:30</span>
          </div>
      </div>
     <div class="line"></div>
 </div>
<div class="form">
    <div class="box">
        事件名称 ：<span class="con">民事纠纷</span>
    </div>
    <div class="box">
        事件类型 ：<span class="con">劳动就业及社会保障</span>
    </div>
    <div class="box">
        当事人 ：<span class="con">刘小二</span>
    </div>
    <div class="box">
       联系电话 ：<span class="con">123-4567-8901</span>
    </div>
    <div class="box describe">
        <span class="con1">描述 ：</span><p class="con2">民事纠纷劳</p>
    </div>
    <div class="box">
        调解员 ：<img class="images" src="/home/images/lxyz/icon/not.png"  alt=""/>
        <span class="con">芊芊</span>
    </div>
</div>
<div class="remark">
    立即评价
</div>
{/block}

{block name="script"}

<script>

</script>
{/block}