{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/details.css">
<title>金牌调解</title>
{/block}
{block name="body"}
 <div class="chart">

 </div>
<div class="form">
    <div class="box">
        事件名称 ：<span>民事纠纷</span>
    </div>
    <div class="box">
        事件类型 ：<span>劳动就业及社会保障</span>
    </div>
    <div class="box">
        当事人 ：<span>刘小二</span>
    </div>
    <div class="box">
       联系电话 ：<span>123-4567-8901</span>
    </div>
    <div class="box">
        描述 ：<span>民事纠纷</span>
    </div>
    <div class="box">
        调解员 ：<span></span>
    </div>


</div>
{/block}

{block name="script"}

<script>

</script>
{/block}