{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/evaluate.css">
<title>情况反馈</title>
{/block}
{block name="body"}
<div class="head">
    <img class="icon fl" src="/home/images/lxyz/icon/default.png"  alt=""/>
    <div class="tit fl"><p>进出口贸易有限公司劳动纠纷1</p></div>
</div>
<div><p>您对本次调解结果是否满意？</p></div>
<div>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
</div>
<div><p>您对调解员的评价是？</p></div>
<div>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
    <img class="icon" src="/home/images/lxyz/m1.png"  alt=""/>
</div>
<textarea name="content" id="text" placeholder="请输入评论信息" maxlength="1000"></textarea>
<div>提交反馈</div>
{/block}

{block name="script"}

<script>


</script>
{/block}