{extend name="public/common"}

{block name="style"}
<!--<link rel="stylesheet" href="/home/css/mediation/evaluate.css">-->
<style>
    body{
        background: #fff;
    }
    .head{
        height:18.7vw;
        padding:4vw 4vw;
        /*overflow: hidden;*/
        margin-bottom:4vw;
    }
    .padding{
        height:4vw;
        background: #F5F5F5;
    }
    .icon{
        display: inline-block;
        width:10.7vw;
        height:100%;
    }
    .tit{
        width:77vw;
        height:100%;
        padding-left:4vw;
    }
    .tit p{
        font-size:.28rem;
        color:#333;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .con{
        width:100%;
        /*height:213.4vw;*/
        font-size: .3rem;
        color:#333;
        padding:4vw 4vw 0;
    }
    .yn{
        margin-bottom:4.8vw;
    }
    .yn1{
        margin-bottom:4vw;
    }
    .pic{
        width:100%;
        height:5.4vw;
        margin-bottom:6.5vw;
    }
    .pic img{
        display: inline-block;
        width:5.6vw;
        height:100%;
        margin-right:4vw;
    }
    .pic2{
        margin-bottom:7.1vw;
    }
    .code, .code1{
        margin-left:4vw;
        color:#999;
    }
    textarea{
        width:100%;
        height:48vw;
        background: #F5F5F5;
        padding:4vw 4vw;
        font-size:.3rem;
        color:#999;
    }
    .shake{
        display:none;
        color:#fff;
        position: fixed;
        left:50%;
        top:50%;
        margin-left:-20vw;
        margin-top:-13.4vw;
        width:40vw;
        height:26.7vw;
        background:rgba(0,0,0,.6);
        font-size: .3rem;
        text-align: center;
        -webkit-border-radius: 2.7vw;
        -moz-border-radius: 2.7vw;
        border-radius: 2.7vw;
    }
    .tupian{
        margin:5.4vw auto;
        width:7.4vw;
        height:7.4vw;
    }
    .icon3{
        width:100%;
        height:100%;
    }
    .bot{
        margin:5.4vw auto;
        width:92vw;
        height:13.4vw;
        background: #DD5D3A;
        border:1px solid #FE8B44;
        color:#fff;
        font-size: .3rem;
        box-sizing: border-box;
        text-align: center;
        line-height: 13.4vw;
    }
</style>
<title>情况反馈</title>
{/block}
{block name="body"}
<div class="head">
    <img class="icon fl" src="{$model['path']}"  alt=""/>
    <div class="tit fl"><p>{$model['title']}</p></div>
</div>
<div class="padding"></div>
<div class="con">
    <div class="yn"><p>您对本次调解结果是否满意？</p></div>
    <div class="pic pic1">
        <img class="icon1" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon1" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon1" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon1" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon1" src="/home/images/lxyz/m1.png"  alt=""/>
        <span class="code">0分</span>
    </div>
    <div class="yn yn1"><p>您对调解员的评价是？</p></div>
    <div class="pic pic2">
        <img class="icon2" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon2" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon2" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon2" src="/home/images/lxyz/m1.png"  alt=""/>
        <img class="icon2" src="/home/images/lxyz/m1.png"  alt=""/>
        <span class="code1">0分</span>
    </div>
</div>

<textarea name="content" id="text" placeholder="请输入评论信息" maxlength="1000"></textarea>
<!--<div class="shake">
    <div class="tupian">
        <img class="icon3" src="/home/images/lxyz/m3.png"  alt=""/>
    </div>
    <span>提交成功</span>
</div>-->
<div class="bot">提交反馈</div>


{/block}

{block name="script"}

<script>
$(function(){
    $('.pic1 .icon1').on('click',function(){
        var index=$(this).index();
        $('.pic1 .code').html(index+1+'分');
        for(var i=0;i<$('.pic1 .icon1').length; i++){
            $('.pic1 .icon1').eq(i).attr('src','/home/images/lxyz/m1.png')
        }
        for(var i=index;i>=0; i--){
            $('.pic1 .icon1').eq(i).attr('src','/home/images/lxyz/m2.png')
        }
    });
    $('.pic2 .icon2').on('click',function(){
        var index=$(this).index();
        $('.pic2 .code1').html(index+1+'分');
        for(var i=0;i<$('.pic2 .icon2').length; i++){
            $('.pic2 .icon2').eq(i).attr('src','/home/images/lxyz/m1.png')
        }
        for(var i=index;i>=0; i--){
            $('.pic2 .icon2').eq(i).attr('src','/home/images/lxyz/m2.png')
        }
    })
});
$(document).ready(function () {
    $('body').height($('body')[0].clientHeight);
});


    $('.bot').on('click',function(){
        var val=$('#text').val();
        var id= '{$id}';
        var val1=$('.code').html().split("分")[0];
        var val2=$('.code1').html().split("分")[0];
        if(val1!='0 分'&&val2!='0 分'&&val!=''){
            $.ajax({
                type: "post",
                url:"{:Url('Mediation/evaluate')}",
                data: {
                    satisfact:val1,
                    satisfact_mediator:val2,
                    feedback_user:val,
                    id:id
                },
                success: function(data){
                    console.log(data)
                    //成功后刷新页面
                    if(data.code == 1){
                        swal({
                            type: "success",
                            title: "",
                            text:"提交成功",
                            timer: 1500,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            window.location.href = '/home/mediation/index.html';
//                            window.location.href = "/home/mediation/yhdetails/id/" +id +".html";
                        },1500)

                    }else{
                        setTimeout(function(){
                            swal("操作失败","",'error')
                        },200);
                    }
                }
            })

        }else{
            swal({
                type: "error",
                title: "",
                text:"请对本次调解做出评价",
                timer: 1500,
                showConfirmButton: false
            });
        }


//        $.ajax({
//            type:"post",
////          url: "{:Url('Feedback/publish')}",
//            data:data,
//            success:function(data){
//                setTimeout(function(){
////              window.location.href = "{:Url('Feedback/index')}";
//                },800);
//            }
//        });

    })

</script>
{/block}