{extend name="public/common"}

{block name="style"}
<title>综合协调平台</title>
<link rel="stylesheet" href="/home/css/mediation/index.css">
<style>
     .list:active{
        background: #F3F2F7;
    }
     .mediator ul li .hui{
        background: #DDDDDD;
        color:#999;
        border-color:#DDDDDD;
    }
     #nomessage,#nomessage1,#nomessage2{
         width:26.6vw;
         height:26.6vw;
         margin: 10vw auto;
         /*display: none;*/
     }
     #nomessage img,#nomessage1 img,#nomessage2 img{
         width:100%;
         border: 0;
         vertical-align: top;
     }
</style>
{/block}
{block name="body"}
<!--顶部分类选项-->
<div class="top">
    <div class="active" data-side="1"><a href="javascript:;">部门简介</a></div>
    <div data-side="2"><a href="javascript:;">金牌调解</a></div>
    <div data-side="3"><a href="javascript:;">网上申请</a></div>
</div>
<!--主体切换-->
<!--部门简介-->
<div class="mediationContenr" id="side1">
    <!--banner-->
    <div class="banner"><img data-original="/home/images/banner/1.jpg" class="lazy"></div>

    <div class="department">
        <div class="departmentTop"><span style="color: #fff;">部门简介</span><img src="/home/images/icon/icon_01.png" alt=""></div>
        <div class="departmentText">
            <p>城市和农村按居民居住地区设立的居民委员会或者村民委员会是基层群众性自治组织。居民委员会、村民委员会设人民调解、治安保卫、公共卫生等委员会，办理本居住地区的公共事务和公益事业，调解民间纠纷，协助维护治安，并且向人民政府反映群众的意见、要求和提出建议。</p>
            <p>人民调解委员会是在基层人民政府和基层人民法院指导下，调解民间纠纷的群众性组织。</p>
        </div>
    </div>
    <div class="case">
        <div class="caseTop">
            <span>调解案例</span>
            <!--<a href="/home/mediation/list.html">更 多 <img src="/home/images/icon/icon_right.png" alt=""></a>-->
        </div>
        {notempty name="$list1"}
        <div class="caseSort">
            {volist name="list1" id="vo"}
            <a href="{:Url('Mediation/newdetail?id='.$vo.id)}">
                <div class="caseSort_01"><span></span>{$vo.title}</div>
                <div class="caseSort_02">{$vo.description}</div>
                <div class="caseSort_03">
                    <span>{$vo.publisher}</span><span>{$vo.create_time|time_format="Y-m-d"}</span></div></a>
            {/volist}
        </div>
        {else/}
        <div id="nomessage">
            <img src="/home/images/nomessage.png" alt="无消息">
        </div>
        {/notempty}
    </div>
</div>

<!--金牌调解-->
<div class="mediationContenr" id="side2">
    <!--banner-->
    <div class="banner"><img data-original="/home/images/banner/2.jpg" class="lazy"></div>
    <!--调解员-->
    {notempty name="$list2"}
    <div class="mediator">
        <ul>
            {volist name="list2" id="vo"}
            <li>
                <div class="userImg"><img src="{$vo.front_cover|get_cover='path'}" alt=""></div>
                <p class="name">{$vo.name}</p>
                <p class="num">{$vo.description}</p>
                {eq name="$user_tag" value="3"}
                <a href="{:Url('Mediation/application?id='.$vo.userid)}" class="liao">找{eq name="$vo.gender" value="1"}他{else/}她{/eq}调解</a>
                {else/}
                <a href="javascript:;" class="liao hui">找{eq name="$vo.gender" value="1"}他{else/}她{/eq}调解</a>
                {/eq}
                <a href="{:Url('Mediation/medcase?id='.$vo.userid)}" class="more">查看更多</a>
            </li>
            {/volist}
        </ul>
    </div>
    {else/}
    <div id="nomessage1">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>

<!--网上申请-->
<div class="mediationContenr" id="side3">
    <!--管理员网上申请-->
    {eq name="$user_tag" value="1"}
    <div class="apply Administrator line">
        <a href="{:Url('Mediation/listdetails?type=1')}" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/not.png"  alt=""/>
            <div class="fr1">
                审核不通过 <span>({$count_noapprove})</span>
            </div>
        </a>
        <a href="{:Url('Mediation/listdetails?type=2')}" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/verify.png"  alt=""/>
            <div class="fr1">
                调解员待确认 <span>({$count_check})</span>
            </div>
        </a>
        <a href="{:Url('Mediation/listdetails?type=3')}" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/message.png"  alt=""/>
            <div class="fr1">
                纠纷待处理 <span>({$count_confirm})</span>
            </div>
        </a>
        <a href="{:Url('Mediation/listdetails?type=4')}" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/complete.png"  alt=""/>
            <div class="fr1">
                已完成 <span>({$count_done})</span>
            </div>
        </a>
        <!--<div class="newimg">-->
            <!--<img class="new" src="/home/images/lxyz/icon/new.png"  alt=""/>-->
        <!--</div>-->
        <!--<span class="creation">新建申请</span>-->
    </div>
    {/eq}

    <!--调解员网上申请-->
    {eq name="$user_tag" value="2"}
    <div class="apply mediator1 line">
        <a href="{:Url('Mediation/listdetails?type=2')}" class="list">
            <img class="medimg" src="/home/images/lxyz/icon/verify.png"  alt=""/>
            <div class="fr1">
                调解员待确认 <span>({$count_check})</span>
            </div>
        </a>
        <a href="{:Url('Mediation/listdetails?type=3')}" class="list">
            <img class="medimg" src="/home/images/lxyz/icon/message.png"  alt=""/>
            <div class="fr1">
                纠纷待处理 <span>({$count_confirm})</span>
            </div>
        </a>
        <a href="{:Url('Mediation/listdetails?type=4')}" class="list">
            <img class="medimg" src="/home/images/lxyz/icon/complete.png"  alt=""/>
            <div class="fr1">
                已完成 <span>({$count_done})</span>
            </div>
        </a>
    </div>
    {/eq}

    <!--用户网上申请-->
    {eq name="$user_tag" value="3"}
    <div class="apply user">
        {notempty name="$list3"}
        {volist name="list3" id="vo"}
        <div style="position: relative;" class="lists">
            <a href="{:Url('Mediation/yhdetails?id='.$vo.id)}" class="list">
                <img class="userimg lazy" data-original="{$vo.path}"  alt="" />
                <div class="fr1">
                    <p>{$vo.title}</p>
                    <div class="bt">
                        <div class="time">{$vo.create_time|time_format="Y-m-d"}</div>
                        <span class="status {$vo.status_color}" >{$vo.status_text}</span>
                    </div>
                </div>
            </a>
            {eq name="$vo.status" value="4"}
            <div  class="evaluate" onclick="window.location.href = '/home/mediation/evaluate/id/{$vo.id}.html'">去评价</div>
            {/eq}
        </div>
        {/volist}
        {else/}
        <div id="nomessage2">
            <img src="/home/images/nomessage.png" alt="无消息">
        </div>
        {/notempty}
        <a href='/home/mediation/application'class="share">
            <img class="shareimg" src="/home/images/lxyz/icon/share.png"  alt=""/>
        </a>
    </div>
    {/eq}
</div>

<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<script>
var med = localStorage.getItem('medNum')==null?1:localStorage.getItem('medNum');
var scrollNow = true;
$('.top>div').on("click",function(){
    $(this).addClass('active').siblings("div").removeClass("active");
    var side = $(this).data('side');
    $('#side'+side).show().siblings(".mediationContenr").hide();
    localStorage.setItem('medNum',side);
    med = side;
    loadScroll();
    $(".tip").hide();
    $(".loading").hide();
    scrollNow = true;
});
// 初始化
$('.top>div').eq(med-1).click();

    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.caseSort a').length;
            var len1=$('.user .lists').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                if(med == 1){
                    $.ajax({
                        type: "post",
                        url: "{:Url('Mediation/indexmore')}",
                        data: {
                            length: len,
                        },
                        beforeSend: function (XMLHttpRequest) {
                            tip.hide();
                            loading.removeClass('hidden').show();
                        },
                        success: function (data) {
                            loading.addClass('hidden');
                            tip.show();
                            if (data.code == 1) {
                                addLists(data, med);
                                var dataLen = data.data.length;
                                if (data.data.length >= 6) {
                                    tip.text('上拉加载更多');
                                } else {
                                    tip.text('没有更多了');
                                    $(window).off("scroll");
                                }
                            } else {
                                tip.text('没有更多了');
                                $(window).off("scroll");
                            }
                            scrollNow = true;
                        }
                    })
                }else if(med==3){
                    $.ajax({
                        type: "post",
                        url: "{:Url('Mediation/mediationmore')}",
                        data: {
                            length: len1,
                        },
                        beforeSend: function (XMLHttpRequest) {
                            tip.hide();
                            loading.removeClass('hidden');
                        },
                        success: function (data) {
                            loading.addClass('hidden').show();
                            tip.show();
                            if (data.code == 1) {
                                addLists(data, med);
                                var dataLen = data.data.length;
                                if (data.data.length >= 6) {
                                    tip.text('上拉加载更多');
                                } else {
                                    tip.text('没有更多了');
                                    $(window).off("scroll");
                                }
                            } else {
                                tip.text('没有更多了');
                                $(window).off("scroll");
                            }
                            scrollNow = true;
                        }
                    })
                }
            }

        })
    }
    function addLists(data,t){
        var html = '';
        var len = data.data.length;
        var lists = data.data;
            if(t == 1){
                for(var i=0;i<len;i++){
                    html +='<a href="/home/mediation/newdetail/id/'+lists[i].id+'.html">'
                        +'<div class="caseSort_01"><span></span>'+lists[i].title+'</div>'
                        +'<div class="caseSort_02">'+lists[i].description+'</div>'
                        +' <div class="caseSort_03">'
                        +'<span>'+lists[i].publisher+'</span><span>'+lists[i].time+'</span></div></a>'

                }
                $('.caseSort').append(html);
            }else if(t==3){
                for(var i=0;i<len;i++){
                    if(lists[i].status_text=='待评价'){
                        html +='<div style="position: relative;" class="lists">'
                            +'<a href="/home/Mediation/yhdetails/id/'+lists[i].id+'.html" class="list">'
                            +'<img class="userimg lazy" data-original="'+lists[i].path+'"  alt="" />'
                            +'<div class="fr1"><p>'+lists[i].title+'</p><div class="bt">'
                            +'<div class="time">'+lists[i].time+'</div><span class="status  '+lists[i].status_color+'" >'+lists[i].status_text+'</span>'
                            +'</div></div></a><div  class="evaluate" onclick="window.location.href = \'/home/mediation/evaluate/id/' +
                                lists[i].id +
                            '.html\'">去评价</div></div>'
                    }else{
                        html +='<div style="position: relative;" class="lists">'
                            +'<a href="/home/Mediation/yhdetails/id/'+lists[i].id+'.html" class="list">'
                            +'<img class="userimg lazy" data-original="'+lists[i].path+'"  alt="" />'
                            +'<div class="fr1"><p>'+lists[i].title+'</p><div class="bt">'
                            +'<div class="time">'+lists[i].time+'</div><span class="status '+lists[i].status_color+'" >'+lists[i].status_text+'</span>'
                            +'</div></div></a></div>'
                    }


                }
                $('.share').before(html);
            }
    }


    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });




</script>
{/block}