{extend name="public/common"}

{block name="style"}
<title>部门简介</title>
<link rel="stylesheet" href="/home/css/mediation/index.css">
<style>
     .list:active{
        background: #F3F2F7;
    }
</style>
{/block}
{block name="body"}
<!--顶部分类选项-->
<div class="top">
    <div class="active" data-side="1">部门简介</div>
    <div data-side="2">金牌调解</div>
    <div data-side="3">网上申请</div>
</div>
<!--主体切换-->
<div class="mediationContenr" id="side1">
    <!--banner-->
    <div class="banner"><img data-original="/home/images/banner/1.jpg" class="lazy"></div>
    <!--部门简介-->
    <div class="department">
        <div class="departmentTop"><span style="color: #fff;">部门简介</span><img src="/home/images/icon/icon_01.png" alt=""></div>
        <div class="departmentText">
            <p>城市和农村按居民居住地区设立的居民委员会或者村民委员会是基层群众性自治组织。居民委员会、村民委员会设人民调解、治安保卫、公共卫生等委员会，办理本居住地区的公共事务和公益事业，调解民间纠纷，协助维护治安，并且向人民政府反映群众的意见、要求和提出建议。</p>
            <p>人民调解委员会是在基层人民政府和基层人民法院指导下，调解民间纠纷的群众性组织。</p>
        </div>
    </div>
    <div class="case">
        <div class="caseTop">
            <span>案例调解</span>
            <a href="#">更 多 <img src="/home/images/icon/icon_right.png" alt=""></a>
        </div>
        <div class="caseSort">
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题</div><div class="caseSort_02">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综村找问题山</div><div class="caseSort_02">连日作人员走遍全镇11五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题</div><div class="caseSort_02">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题</div><div class="caseSort_02">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题</div><div class="caseSort_02">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题</div><div class="caseSort_02">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
            <a href="#"><div class="caseSort_01"><span></span>山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题山下湖镇综治办主动进村找问题</div><div class="caseSort_02">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</div><div class="caseSort_03"><span>珍珠小镇</span><span>2017-12-21</span></div></a>
        </div>
    </div>
</div>
<div class="mediationContenr" id="side2">
    <!--banner-->
    <div class="banner"><img data-original="/home/images/banner/2.jpg" class="lazy"></div>
    <!--调解员-->
    <div class="mediator">
        <ul>
            <li>
                <div class="userImg"><img src="/home/images/icon/icon_10.png" alt=""></div>
                <p class="name">芊芊</p>
                <p class="num">已调解案例　<span>26</span>　起</p>
                <a href="/home/mediation/application" class="liao">找他调解</a>
                <a href="/home/mediation/medcase.html" class="more">查看更多</a>
            </li>
            <li>
                <div class="userImg"><img src="/home/images/icon/icon_10.png" alt=""></div>
                <p class="name">芊芊</p>
                <p class="num">已调解案例　<span>26</span>　起</p>
                <a href="/home/mediation/application" class="liao">找他调解</a>
                <a href="/home/mediation/medcase.html" class="more">查看更多</a>
            </li>
            <li>
                <div class="userImg"><img src="/home/images/icon/icon_10.png" alt=""></div>
                <p class="name">芊芊</p>
                <p class="num">已调解案例　<span>26</span>　起</p>
                <a href="/home/mediation/application" class="liao">找他调解</a>
                <a href="/home/mediation/medcase.html" class="more">查看更多</a>
            </li>
            <li>
                <div class="userImg"><img src="/home/images/icon/icon_10.png" alt=""></div>
                <p class="name">芊芊</p>
                <p class="num">已调解案例　<span>26</span>　起</p>
                <a href="/home/mediation/application" class="liao">找他调解</a>
                <a href="/home/mediation/medcase.html" class="more">查看更多</a>
            </li>
            <li>
                <div class="userImg"><img src="/home/images/icon/icon_10.png" alt=""></div>
                <p class="name">芊芊</p>
                <p class="num">已调解案例　<span>26</span>　起</p>
                <a href="/home/mediation/application" class="liao">找他调解</a>
                <a href="/home/mediation/medcase.html" class="more">查看更多</a>
            </li>
        </ul>
    </div>
</div>
<div class="mediationContenr" id="side3">
    <!--管理员网上申请-->
    <div class="apply Administrator line">
        <a href="#" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/not.png"  alt=""/>
            <div class="fr1">
                审核不通过 <span>(2)</span>
            </div>
        </a>
        <a href="#" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/verify.png"  alt=""/>
            <div class="fr1">
                调解员待确认 <span>(2)</span>
            </div>
        </a>
        <a href="#" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/message.png"  alt=""/>
            <div class="fr1">
                纠纷待处理 <span>(1)</span>
            </div>
        </a>
        <a href="#" class="list">
            <img class="adminimg" src="/home/images/lxyz/icon/complete.png"  alt=""/>
            <div class="fr1">
                已完成 <span>(2)</span>
            </div>
        </a>
        <!--<div class="newimg">-->
            <!--<img class="new" src="/home/images/lxyz/icon/new.png"  alt=""/>-->
        <!--</div>-->
        <!--<span class="creation">新建申请</span>-->
    </div>

    <!--调解员网上申请-->
    <div class="apply mediator1 line">
        <a href="#" class="list">
            <img class="medimg" src="/home/images/lxyz/icon/verify.png"  alt=""/>
            <div class="fr1">
                调解员待确认 <span>(2)</span>
            </div>
        </a>
        <a href="#" class="list">
            <img class="medimg" src="/home/images/lxyz/icon/message.png"  alt=""/>
            <div class="fr1">
                纠纷待处理 <span>(1)</span>
            </div>
        </a>
        <a href="#" class="list">
            <img class="medimg" src="/home/images/lxyz/icon/complete.png"  alt=""/>
            <div class="fr1">
                已完成 <span>(2)</span>
            </div>
        </a>
    </div>

    <!--用户网上申请-->
    <div class="apply user">
        <a href="/home/mediation/details.html" class="list">
            <img class="userimg lazy" data-original="/home/images/lxyz/icon/default.png"  alt="" />
            <div class="fr1">
                <p>进出口贸易有限公司劳动纠纷1进出口贸易有限公司劳动纠纷1进出口贸易有限公司劳动纠纷1进出口贸易有限公司劳动纠纷1</p>
                <div class="bt">
                    <div class="time">2017-12-22</div>
                    <span class="status wait" >待审核</span>
                </div>
            </div>
        </a>
        <a href="/home/mediation/details.html" class="list">
            <img class="userimg lazy" data-original="/home/images/lxyz/icon/default.png"  alt="" />
            <div class="fr1">
                <p>进出口贸易有限公司劳动纠纷1</p>
                <div class="bt">
                    <div class="time">2017-12-22</div>
                    <span class="status not">审核不通过</span>
                </div>
            </div>
        </a>
        <a href="/home/mediation/details.html" class="list">
            <img class="userimg lazy" data-original="/home/images/lxyz/icon/default.png"  alt="" />
            <div class="fr1">
                <p>进出口贸易有限公司劳动纠纷1</p>
                <div class="bt">
                    <div class="time">2017-12-22</div>
                    <span class="status verify">调解员待确认</span>
                </div>
            </div>
        </a>
        <a href="/home/mediation/details.html" class="list">
            <img class="userimg lazy" data-original="/home/images/lxyz/icon/default.png"  alt="" />
            <div class="fr1">
                <p>进出口贸易有限公司劳动纠纷1</p>
                <div class="bt">
                    <div class="time">2017-12-22</div>
                    <span class="status verify">调解员待确认</span>
                </div>
            </div>
        </a>
        <a href="/home/mediation/details.html" class="list val">
            <img class="userimg lazy" data-original="/home/images/lxyz/icon/default.png"  alt=""/>
            <div class="fr1">
                <p>进出口贸易有限公司劳动纠纷1</p>
                <div class="bt">
                    <div class="time">2017-12-22</div>
                    <span class="status appraise" >待评价</span>
                </div>
            </div>
            <a href="#" id="evaluate">去评价</a>
        </a>
        <a href="/home/mediation/details.html" class="list">
            <img class="userimg lazy" data-original="/home/images/lxyz/icon/default.png"  alt="" />
            <div class="fr1">
                <p>进出口贸易有限公司劳动纠纷1</p>
                <div class="bt">
                    <div class="time">2017-12-22</div>
                    <span class="status complete" >已完成</span>
                </div>
            </div>
        </a>
        <a href='/home/mediation/application'class="share">
            <img class="shareimg" src="/home/images/lxyz/icon/share.png"  alt=""/>
        </a>
    </div>
</div>

<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<script>
//    alert($(window).width())
var med = localStorage.getItem('medNum')==null?1:localStorage.getItem('medNum');
    for(var i=0;i<$('.top>div').length;i++){
        $('.top>div')[i].onclick = function(){
            $('.top>div').removeClass('active');
            $(this).addClass('active');
            var side = $(this).data('side');
            $('.mediationContenr').hide();
            $('#side'+side).show();
            localStorage.setItem('medNum',side);
        }
    }
$('.top>div').removeClass('active');
$('.top>div').eq(med-1).addClass('active');
$('.subject').hide();
$('#side'+med).show();
    var scrollNow = true;
    loadScroll()
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.caseSort a').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end && scrollNow){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url: "{:Url('Notice/indexmore')}",
                    data:{
                        type:type,
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data)
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addLists(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length >= 2){
                                tip.text('上拉加载更多');
                            } else {
                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addLists(data,t){
        var html = '';
        var len = data.data.length;
        var lists = data.data;
        if(t == 1){
            for(var i=0;i<len;i++){
                if(lists[i].description == null){
                    lists[i].description = ''
                }
                html +='<a href="/home/notice/detail/id/'+lists[i].id+'.html" class="list clear">'
                    +'<div class="fr right">'
                    +'<div class="title limit_" style="position: relative;padding-left: 4vw;"><span></span><span style="display: block;min-height: 6vh;">'+lists[i].title+'</span></div>'
                    +'<div class="labels">'+lists[i].description+'</div>'
                    +'<div class="clear time"><span class="fl">'+lists[i].publisher+'</span><span class="fr" style="color: #999;">'+lists[i].time+'</span></div>'
                    +'</div>'
                    +'</div>'
                    +'</a>'
            }
            $('.notices').eq(t-1).find('.volunteer').append(html);
        }else {
            for(var j=0;j<len;j++){
                if(lists[j].description == null){
                    lists[j].description = ''
                }
                html +='<a href="/home/notice/detail/id/'+lists[j].id+'.html" class="list clear">'
                    +'<div class="fr right">'
                    +'<div class="title limit_" style="position: relative;padding-left: 4vw;"><span></span><span style="display: block;min-height: 6vh;">'+lists[j].title+'</span></div>'
                    +'<div class="labels" style="display: none;">'+lists[j].description+'</div>'
                    +'<div class="clear time"><span class="fl">'+lists[j].publisher+'</span><span class="fr" style="color: #999;">'+lists[j].time+'</span></div>'
                    +'</div>'
                    +'</div>'
                    +'</a>'
            }
            $('.notices').eq(t-1).find('.volunteer').append(html);
        }
    }

    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });



</script>
{/block}