{extend name="public/common"}

{block name="style"}
<title>网上申请</title>
<link rel="stylesheet" href="/home/css/mediation/index.css">
<style>
    .list:active{
        background: #F3F2F7;
    }
    .user .list{
        height:16.5vh;
    }
    #nomessage{
        width:26.6vw;
        height:26.6vw;
        margin: 50% auto;
        display: none;
    }
    #nomessage img{
        width:100%;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
    <!--用户网上申请-->
    <div class="apply user">
        <div id="nomessage">
            <img src="/home/images/nomessage.png" alt="无消息">
        </div>
        {volist name="list" id="vo"}
        <!--<div style="position: relative;" class="userlist">-->
            <a href="{:Url('Mediation/yhdetails?id='.$vo.id)}" class="list">
                <img class="userimg lazy" data-original="{$vo.path}"  alt="" />
                <div class="fr1">
                    <p>{$vo.title}</p>
                    <div class="bt">
                        <div class="time">{$vo.create_time|time_format="Y-m-d"}</div>
                    </div>
                </div>
            </a>
        <!--</div>-->
        {/volist}
    </div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}
{block name="script"}
<script>
    function check(){
        if($('.apply').find(".list").length == 0){
            $('#nomessage').show();
        }
    }
    check();
    var scrollNow = true;
    loadScroll();
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.userlist').length;
            var type={$type};
            var tip = $(".tip");
            var loading = $('.loading');
                if(dh == end && scrollNow){
                    scrollNow = false;
                    $.ajax({
                        type: "post",
                        url: "{:Url('Mediation/mediationmore')}",
                        data: {
                            length:len,
                            type:type,
                        },
                        beforeSend: function (XMLHttpRequest) {
                            tip.hide();
                            loading.removeClass('hidden').show();
                        },
                        success: function (data) {
                            console.log(data)
                            loading.addClass('hidden');
                            tip.show();
                            if (data.code == 1) {
                                addLists(data);
                                var dataLen = data.data.length;
                                if (data.data.length >= 6) {
                                    tip.text('上拉加载更多');
                                } else {
                                    tip.text('没有更多了');
                                    $(window).off("scroll");
                                }
                            } else {
                                tip.text('没有更多了');
                                $(window).off("scroll");
                            }
                            scrollNow = true;
                        }
                    })
                }
        })
    }
    function addLists(data,t){
        var html = '';
        var len = data.data.length;
        var lists = data.data;
            for(var i=0;i<len;i++){
                html +=
                     '<a href="/home/mediation/yhdetails/id/'+lists[i].id+'.html" class="list">'
                    +'<img class="userimg lazy" data-original="'+lists[i].path+'" src="/home/images/loading.jpg"  alt="" />'
                    +'<div class="fr1">'
                    +'<p>'+lists[i].title+'</p>'
                    +'<div class="bt">'
                    +'<div class="time">'+lists[i].time+'</div></div></div></a>'

            }
            $('.user').append(html);
    }

    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });



</script>
{/block}