{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/medcase.css">
<title>金牌调解</title>
{/block}
{block name="body"}
<div class="head">
    <div class="htop">
        <img class="hfl" src="/home/images/lxyz/icon/default.png"  alt="" />
        <div class="hfr">
            <div class="row1">
                <span>姓名：</span>
                <span>张三</span>
            </div>
            <div class="row1">
                <span>生日：</span>
                <span>1973-09-06</span>
            </div>
            <div class="row1">
                <span>职位：</span>
                <span>调解员</span>
            </div>
            <div class="row1">
                <span>已调解案例：</span>
                <span class="red">19</span>
                起
            </div>
        </div>
    </div>
    <div class="hbottom">
        口号：我就是来自马栏山马栏镇马栏村马栏坡的马小姐。大家可以叫我山寨马!
    </div>
</div>
<div class="lists">
    <div class="tit">
        <img class="icon" src="/home/images/lxyz/icon/default.png"  alt="" />
        <span class="case">调解案例</span>
    </div>
    <a href="/home/mediation/newdetail.html" class="list">
        <p class="title">山下湖镇综治办主动进村找问题</p>
        <p class="line">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</p>
        <span class="site">珍珠小镇</span>
        <span class="time">2017-12-21</span>
    </a>
    <a href="/home/mediation/newdetail.html" class="list">
        <p class="title">山下湖镇综治办主动进村找问题</p>
        <p class="line">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</p>
        <span class="site">珍珠小镇</span>
        <span class="time">2017-12-21</span>
    </a>
    <a href="/home/mediation/newdetail.html"  class="list">
        <p class="title">山下湖镇综治办主动进村找问题</p>
        <p class="line">连日来，山下湖镇综治办工作人员走遍全镇11个行政村，协助调解村内矛盾纠纷，为“五水共治”、新农</p>
        <span class="site">珍珠小镇</span>
        <span class="time">2017-12-21</span>
    </a>
<!--<div class="tip"></div>-->
<!--<div class="loading hidden">-->
    <!--<div class="typing_loader"></div>-->
<!--</div>-->

{/block}

{block name="script"}

<script>

</script>
{/block}