{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/medcase.css">
<title>金牌调解</title>
<style>
    #nomessage{
        width:26.6vw;
        height:26.6vw;
        margin: 10% auto;
    }
    #nomessage img{
        width:100%;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
<div class="head">
    <div class="htop">
        <div class="hfl">
            <!--<img  src="/home/images/lxyz/icon/default.png"  alt="" />-->
            <img  src="{$model.front_cover|get_cover='path'}"  alt="" />
        </div>
        <div class="hfr">
            <div class="row1" style="padding:1.65vh 0;">
                <!--<span>姓名：</span>-->
                <span>{$model['name']}</span>
            </div>
            <div >
                <p class="kouhao">{$model['description']}</p>
            </div>

            <!--<div class="row1">-->
                <!--<span>生日：</span>-->
                <!--<span>{$model['birthday']}</span>-->
            <!--</div>-->
            <!--<div class="row1">-->
                <!--<span>职位：</span>-->
                <!--<span>{$model['position']}</span>-->
            <!--</div>-->
            <!--<div class="row1">-->
                <!--<span>已调解案例：</span>-->
                <!--<span class="red">{$model['num']}</span> 起-->

            <!--</div>-->
        </div>
    </div>
    <!--<div class="hbottom">-->
        <!--口号：{$model['description']}-->
    <!--</div>-->
</div>
<ul class="people">
    <li><div class="zuo fl">出生年月</div><div class="you fr">{$model['birthday']}</div></li>
    <li><div class="zuo fl">政治面貌</div><div class="you fr">{$model['politics']}</div></li>
    <li><div class="zuo fl">学历</div><div class="you fr">{$model['education']}</div></li>
    <li><div class="zuo fl">工作简历</div><div class="you fr">{$model['content']}</div></li>
</ul>
<div class="lists">
    <div class="tit">
        <img class="icon" src="/home/images/lxyz/icon/de.png"  alt="" />
        <span class="case">调解案例</span>
    </div>
    {notempty name="$list"}
    {volist name="list" id="vo"}
    <a href="{:Url('Mediation/newdetail?id='.$vo.id)}" class="list">
        <p class="title">{$vo.title}</p>
        <p class="line">{$vo.description}</p>
        <span class="site">{$vo.publisher}</span>
        <span class="time">{$vo.create_time|time_format="Y-m-d"}</span>
    </a>
    {/volist}
    {else/}
    <div id="nomessage">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}

{block name="script"}
<script>
    var scrollNow = false;
    loadScroll();
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('.list').length;
            var uid={$uid};
            var tip = $(".tip");
            var loading = $('.loading');
            // 初始化判断是否需要加载
            if (len >= 5) {
                scrollNow = true;
            }
                if(dh == end && scrollNow){
                    scrollNow = false;
                    $.ajax({
                        type:"post",
                        url: "{:Url('Mediation/indexmore')}",
                        data:{
                            length:len,
                            uid:uid,
                        },
                        beforeSend: function(XMLHttpRequest){
                            tip.hide();
                            loading.toggleClass('hidden');
                        },
                        success:function(data){
                            console.log(data)
                            loading.toggleClass('hidden');
                            tip.show();
                            if(data.code == 1){
                                addLists(data);
                                var dataLen =data.data.length;
                                if(data.data.length >= 6){
                                    tip.text('上拉加载更多');
                                } else {
                                    tip.text('没有更多了');
                                    $(window ).off("scroll");
                                }
                            }else{
                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                            scrollNow = true;
                        }
                    })
                }
        })
    }
    function addLists(data){
        var html = '';
        var len = data.data.length;
        var lists = data.data;
            for(var i=0;i<len;i++){
                html +='<a href="/home/mediation/newdetail/id/'+lists[i].id+'.html" class="list">'
                    +'<p class="title">'+lists[i].title+'</p>'
                    +'<p class="line">'+lists[i].description+'</p>'
                    +'<span class="site">'+lists[i].publisher+'</span>'
                    +'<span class="time">'+lists[i].time+'</span></a>'

            }
            $('.lists').append(html);
    }
</script>
{/block}