{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/movedetail.css">
<link rel="stylesheet" href="/static/sweetalert/sweetalert1.css">
<link rel="stylesheet" href="/home/css/common/comment.css">
<script src="/static/sweetalert/sweetalert1.min.js"></script>
<title>红色电影</title>
<style>
    .sweet-alert.show-input textarea {
        font-size: .28rem;
        padding: 1.6vw;
        line-height: .36rem;
    }
</style>
{/block}
{block name="body"}
<div class="article all">
    <div class="title limit_"><p>浙江诸暨山下湖“珍珠小镇”深度挖掘美丽经济浙江诸暨山下湖“珍珠小镇”深度挖掘美丽经济</p></div>
    <div class="note clear">
        <span class="fl">珍珠小镇</span>
        <span class="fr">2017-17-15</span>
    </div>
    <div class="content">
        <div class="uecontent">
            主体文字
        </div>
    </div>
</div>
{/block}
{block name="script"}
{/block}