{extend name="public/common"}

{block name="style"}
<title>不受理原因</title>
<style>
    body {background: #eee;}
    .Upload {width:100vw;padding: 4vw;background: #fff;}
    .Upload textarea {font-size: .3rem;height:3.5rem;resize: none;width:100%;text-align: justify;}
    #btn {
        position: fixed;
        bottom:0;
        left:0;
        width:100vw;
        height:.8rem;
        text-align: center;
        color: #fff;
        font-size: .32rem;
        line-height: .8rem;
        background: #FE8B44;
    }
</style>
{/block}
{block name="body"}
<div class="Upload">
    <textarea  placeholder="请您填写不受理原因"></textarea>
</div>
<div id="btn">提交原因</div>
{/block}
{block name="script"}
<script>
    $('#btn').on('click',function(){
        var val=$('.Upload textarea').val();
        var id='{$id}';
        if(val!=''){
            swal({
                    title: "",
                    text:'确定提交吗？',
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                    confirmButtonText:'确定',
                    cancelButtonText:'取消'
                },
                function(isConfirm){
                    if (isConfirm) {
                        $.ajax({
                            type: "post",
                            url:"{:Url('Mediation/check')}",
                            data: {
                                id:id,
                                status : 0,
                                no_approve:val,
                            },
                            success: function(data){
                                console.log(data)
                                //成功后刷新页面
                                if(data.code == 1){
                                        setTimeout(function(){
                                            history.go(-2);
                                        }, 1500);
                                }else{
                                    setTimeout(function(){
                                        swal("操作失败","",'error')
                                    },200);
                                }
                            }
                        })

                    } else {

                    }
                });

        }else{
            swal("请您填写不受理原因")
        }
    })
</script>
{/block}