{extend name="public/common"}

{block name="style"}
<title>意见反馈</title>
<style>
    body {background: #eee;}
    .Upload {width:100vw;padding: 4vw;background: #fff;}
    .Upload textarea {font-size: .3rem;height:3.5rem;resize: none;width:100%;text-align: justify;}
    #btn {
        position: fixed;
        bottom:0;
        left:0;
        width:100vw;
        height:.8rem;
        text-align: center;
        color: #fff;
        font-size: .32rem;
        line-height: .8rem;
        background: #FE8B44;
    }
</style>
{/block}
{block name="body"}
    <div class="Upload">
        <textarea name="content" placeholder="请您对协调中遇到的问题进行反馈"></textarea>
    </div>
<div id="btn">反馈提交</div>
{/block}
{block name="script"}
<script>

    $('#btn').on('click',function(){
        var id= {$id};
        var content=$("textarea[name='content']").val();
        console.log(content)
        if(content==''){
            alert('请您对协调中遇到的问题进行反馈')
        }else{
            swal({
                    title: ' ',
                    text: '我已完成编辑，马上发送！',
                    type: 'success',
                    showCancelButton: true,
                    confirmButtonText:'确定',
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                },
                function(){
                    swal({
                        title: ' ',
                        text: '发送中...',
                        type: 'success',
                        timer:1500
                    });
                    setTimeout(function () {
                        $.ajax({
                            type:"post",
                            url: "{:Url('Mediation/opinion')}",
                            data: {
                                feedback_mediator:content,
                                id: id,
                            },
                            success:function(data){
                                if (data.code == 1) {
                                    window.location.replace("/home/mediation/listdetails/type/3.html");
                                }
                            }
                        });
                    },1500)
                }
            );
        }
    })
</script>
{/block}