{extend name="public/common"}

{block name="style"}
<title>意见反馈</title>
<style>
    body {background: #eee;}
    .Upload {width:100vw;padding: 4vw;background: #fff;}
    .Upload textarea {font-size: .3rem;height:3.5rem;resize: none;width:100%;text-align: justify;}
    #btn {
        position: fixed;
        bottom:0;
        left:0;
        width:100vw;
        height:.8rem;
        text-align: center;
        color: #fff;
        font-size: .32rem;
        line-height: .8rem;
        background: #FE8B44;
    }
</style>
{/block}
{block name="body"}
    <div class="Upload">
        <textarea name="content" placeholder="请您对协调中遇到的问题进行反馈"></textarea>
    </div>
<div id="btn">反馈提交</div>
{/block}
{block name="script"}
<script>

    $('#btn').on('click',function(){
        var id= {$id};
        var content=$("textarea[name='content']").val();
        console.log(content)
        if(content==''){
            alert('请您对协调中遇到的问题进行反馈')
        }else{
            swal({
                    title: "确定提交吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(){
                    $(".sweet-alert .sa-confirm-button-container").css("display","none");
                    swal({
                        title: ' ',
                        text: '发送中...',
                        type: 'success',
                        timer:1500
                    });
                    setTimeout(function () {
                        $.ajax({
                            type:"post",
                            url: "{:Url('Mediation/opinion')}",
                            data: {
                                feedback_mediator:content,
                                id: id,
                            },
                            success:function(data){
                                if (data.code == 1) {
                                    history.go(-1);
                                }
                            }
                        });
                    },1500)
                }
//                function(isConfirm){
//                    if (isConfirm) {
//                        $.ajax({
//                            type: "post",
//                            url: "{:Url('Mediation/opinion')}",
//                            data: {
//                                feedback_mediator:content,
//                                id: id,
//                            },
//                            success: function (data) {
//                                console.log(data)
//                                //成功后刷新页面
//                                if (data.code == 1) {
//                                    swal({
//                                        title: "提交成功",
//                                        timer: 1500,
//                                        showConfirmButton: false
//                                    });
//                                    history.go(-1);
//                                } else {
//                                    setTimeout(function () {
//                                        swal("操作失败", "", 'error')
//                                    }, 200);
//                                }
//                            }
//                        })
//                    } else {
//                        swal("取消！",
//                            "error");
//                    }
//                }
            );
        }

//                setTimeout(function(){
//                    history.go(-1);
//                }, 2000)

    })
</script>
{/block}