{extend name="public/common"}

{block name="style"}

<link rel="stylesheet" href="/home/css/service/photoswipe.css"/>
<link rel="stylesheet" href="/home/css/service/default-skin.css"/>
<link rel="stylesheet" href="/home/css/mediation/details.css">
<title>{$title}</title>
<style>
    a:active{
        background: #fff;
        color:red;
    }
    #all {
        width: 100vw;
        text-align: center;
        font-size: .3rem;
        color: #FE8B44;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1rem;
        line-height: 1rem;
        background: #fff;
        z-index: 999;
        display: none;
    }
    #all:before {
        content: '';
        background:url(/home/images/icon_more.png)no-repeat ;
        width:.3rem;
        height:.3rem;
        position: absolute;
        top:50%;
        margin-top: -.15rem;
        right:32%;
        background-size: .3rem .3rem;
    }
    .quan{
        display: none;
        width: 100%;
        text-align: center;
        font-size: .3rem;
        color: #FE8B44;
    }
    .q{
        width: .3rem;
        height: .3rem;
        vertical-align: middle;
    }
    .shadow{
        z-index: 9999;
        display:none;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background: rgba(0,0,0,.5);
    }
    .user {position: relative;width:100vw;margin: auto;background: #fff;}
    .user li {width:100%;padding: 2.25vh 4vw;height:13.5vh;border-bottom: 1px solid #d1d1d1;position: relative;}
    .user li:last-child {border-bottom: transparent;}
    .user li img {float:left;width:1.2rem;height:1.2rem;}
    .userSort {margin-left: 1.5rem;position: relative;height:1.2rem;}
    .userSort p:first-child {color: #333;font-size: .3rem;position: absolute;top:0;}
    .userSort p:last-child {color: #999;font-size: .26rem;position: absolute;bottom:0;}

    .user a {
        display: block;
        position: absolute;
        top: 50%;
        right: 4vw;
        width: 24vw;
        height: .6rem;
        border: 1px solid #FE8B44;
        color: #FE8B44;
        background: rgba(254, 139, 68, .2);
        border-radius: .4rem;
        text-align: center;
        line-height: .6rem;
        font-size: .3rem;
        margin-top: -.3rem;
    }

</style>
{/block}
{block name="body"}
 <div class="chart" style="position: relative">
      <div class="lists">
          {volist name="response" id="vo"}
          <div class="list {eq name='$vo.check' value='1'}active{/eq}">
              <div class="num gray">{$vo.num}</div>
              <div class="state">{$vo.status_text}</div>
              {notempty name="$vo.d_time"}
              <p class="posleft">
                  {$vo.d_time}<br>
                  <span>{$vo.s_time}</span>
              </p>
              {/notempty}
              {eq name="$vo.num" value="4"}
              {notempty name="$model.feedback_mediator"}
              <p class="direc">
                  情况反馈：{$model.feedback_mediator}
              </p>
              {/notempty}
              {/eq}
              {eq name="$vo.num" value="5"}
              {notempty name="$model.satisfact"}
              <p class="direc">
                  本次协调满意度：{$model.satisfact}分<br>
                  对调解员满意度：{$model.satisfact_mediator}分<br>
                  {notempty name="$model.feedback_user"}
                  问题反馈：{$model.feedback_user}
                  {/notempty}
              </p>
              {/notempty}
              {/eq}
          </div>
          {/volist}
          <div id="hr01"></div>
          <!--<div class="hr02"></div>-->
      </div>
     <div id="all">查看全部信息</div>
 </div>
<div class="form">
    <div class="box">
        <span class="describe-title">事件名称 :</span><p class="describe-t">{$model.title}</p>
        <!--事件名称 ：<span class="con">{$model.title}</span>-->
    </div>
    <div class="box">
        当事人 ：<span class="con">{$model.parties}</span>
    </div>
    <div class="box">
       联系电话 ：<span class="con">{$model.mobile}</span>
    </div>
    <div class="box describe">
        <span class="describe-sp">描述 ：</span>
        <div class="describe-p">
            {$model.content}
        </div>
        <div class="quan">
            查看全部信息
            <img class="q" src="/home/images/icon_more.png"/>
        </div>
        {notempty name="$images"}
        <div class="imgs">
            {volist name="$images" id="img"}
            <figure><a href="{$img}" data-size="800x800"><img data-original="{$img}" class="lazy"></a></figure>
            {/volist}
        </div>
        {/notempty}
    </div>
    {eq name="$user_tag" value="1"}
    {eq name="$model.status" value="1"}
    <div class="box high">
      <!--管理员可选择-->
        <div class="xuan1">
            调解员 ：<span class="last_ts">请选择调解员</span>
        </div>
        <div class="xuan2 hidden">
            调解员 ：<img class="images" src="{$mediator_path}"  alt=""/>
            <span class="con name">{$model.mediator}</span>
        </div>
    </div>
    {else/}
    <div class="box">
        <!--已选好-->
        <div class="ding">
            调解员 ：<img class="images" src="{$mediator_path}"  alt=""/>
            <span class="con">{$model.mediator}</span>
        </div>
    </div>
    {/eq}
    {else/}
    <div class="box">
        <!--已选好-->
        <div class="ding">
            调解员 ：<img class="images" src="{$mediator_path}"  alt=""/>
            <span class="con">{$model.mediator}</span>
        </div>
    </div>
    {/eq}
</div>

<!--<div class="fixed"></div>-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<div class="shadow">
    <div class="user">
        <ul>
            {volist name="list" id="vo"}
            <li>
                <span class="user_hide" hidden>{$vo.userid}</span>
                <img src="{$vo.front_cover|get_cover='path'}">
                <div class="userSort">
                    <p class="na">{$vo.name}</p>
                    <p class="pro">{$vo.description}</p>
                </div>
                <a href="#">找{eq name="$vo.gender" value="1"}他{else/}她{/eq}调解</a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
{eq name="$user_tag" value="3"}
{eq name="$model.status" value="4"}
<a href="{:Url('Mediation/evaluate?id='.$id)}" class="remark">
    立即评价
</a>
{/eq}
{/eq}
{eq name="$user_tag" value="2"}
    {eq name="$model.status" value="2"}
    <a href="#" class="remark1">确认</a>
    {/eq}
    {eq name="$model.status" value="3"}
    <a class="remark2" href="{:Url('Mediation/opinion?id='.$id)}">处理反馈</a>
    {/eq}
{/eq}
{eq name="$user_tag" value="1"}
{eq name="$model.status" value="1"}
<div class="bot">
    <span class="fle">审核通过</span>
    <span class="fri" onclick="go({$id})">审核不通过</span>
</div>
{/eq}
{/eq}
{/block}

{block name="script"}
<script src="/home/js/appraisal/photoswipe.min.js"></script>
<script src="/home/js/appraisal/photoswipe-ui-default.min.js"></script>
<script>
    if($(window).width()>=768){
        $('.form').css('margin-bottom','9vh')
    }

//    点击选择调解员
    $('.high').on('click',function(){
        $('.shadow').fadeIn();
    });
    $('.shadow').on('click',function(e){
        e.preventDefault();
        $('.shadow').fadeOut();
    });
//    调解员
    $('.user li').each(function(){
        $(this).find('a').on('click',function(e){
            e.preventDefault();
            var src=$(this).parent().find('img').attr('src');
            var name=$(this).parent().find('.na').html();
            $(".xuan1").hide();
            $('.images').attr('src',src);
            $('.name').html(name);
            $(".xuan2").show();
            setTimeout(function(){
                $('.shadow').fadeOut()
            },800);
            id = $(this).siblings(".user_hide").html();
        })
    });

//    不同操作按钮
    $('.lists .state').each(function(){
        if($(this).html()=='待审核') {
            $('.bot').css('display','block');
        };
        if($(this).html()=='已审核') {
            $('.remark1').css('display','block');
        };
        if($(this).html()=='调解员待确认') {
            $('.remark1').css('display','block');
        };
        if($(this).html()=='调解员已确认') {
            $('.remark1').css('display','none');
            $('.remark2').css('display','block')
        };
        if($(this).html()=='待评价') {
            $('.remark').css('display','block')
        };
    });

//    确认按钮
    $('.remark1').on('click',function(){
        var id= {$id};
        $('.lists .state').each(function(){
            if($(this).html()=='调解员待确认') {
                $(this).parent().addClass('active');
                $.ajax({
                    type: "post",
                    url:"{:Url('Mediation/confirm')}",
                    data: {
                        id:id,
                    },
                    success: function(data){
                        console.log(data)
                        //成功后刷新页面
                        if(data.code == 1){
                            $('.remark1').css('display','none');
                            history.go(0);
                        }else{
                            setTimeout(function(){
                                swal("操作失败","",'error')
                            },200);
                        }
                    }
                })

            };

        });
    });

//    审核通过按钮
    $('.fle').on('click',function () {
        var id='{$id}';
        $.ajax({
            type: "post",
            url:"{:Url('Mediation/check')}",
            data: {
                id:id,
                status : 1,
                mediatorid:1
            },
            success: function(data){
                console.log(data)
                //成功后刷新页面
                if(data.code == 1){
                      history.go(0);
                }else{
                    setTimeout(function(){
                        swal("操作失败","",'error')
                    },200);
                }
            }
        })
    });

//    审核不通过跳转
    function go(id) {
        window.location.href='/home/mediation/noapprove/id/'+id+'.html'
    }

//    流程图
    var h = $('.lists').height();
    var num = 0;
    var p=parseFloat($('.list').eq(0).css('padding-bottom'));
    var s=parseFloat($('.state').eq(0).css('margin-bottom'));
    var last=$('.list').eq(num-1).height();
    var all=$('#all').height();
    var n=$('.num').eq(0).height();
    var l=$('.list').eq(0).height();
    var ht=l+n+all+p+s-1;
    $('#hr01').css('height',l+p+'px');

    //    添加状态
    $('.list').each(function(){
        if($(this).hasClass('active')){
            $(this).append('<div class="hr02"></div>');
        }
        if($(this).next().hasClass('active')){
            $(this).find('.hr02').css('height',$(this).height()+'px')
        }
    });

    for(var i=0;i<$('.list').length;i++){
        if(i=$('.list').length){
           num = i;
           console.log(num)
        };
        if(num ==2){
            $('.chart').css({'height':ht+'px','overflow':'hidden'});
        }else if(num >3){
            if($('.list').eq(1).hasClass('active')){
                $('.list').eq(1).find('.hr02').remove();
                $('.chart').css({'height':ht+'px','overflow':'hidden'});
                $('#all').show();
            }else{
                $('.chart').css({'height':ht+'px','overflow':'hidden'});
                $('#all').show();
            }
        }

    }

//    流程图查看全部
    $('#all').on('click',function(){
        if($(window).width()>1024){
            if($('.list').eq(1).hasClass('active')){
                $('.list').eq(1).append('<div class="hr02"></div>');
                $('.list').eq(1).find('.hr02').css('height',$(this).height()+'px')
                $('.chart').css({'height':'initial','overflow':'initial'});
                $('#hr01').css('height',h-last-p-s+'px')
                $('#all').hide();
            }else{
                $('.chart').css({'height':'initial','overflow':'initial'});
                $('#hr01').css('height',h-last-p+'px')
                $('#all').hide();
            }
        }else{
            if($('.list').eq(1).hasClass('active')){
                $('.list').eq(1).append('<div class="hr02"></div>');
                $('.list').eq(1).find('.hr02').css('height',$(this).height()+'px')
                $('.chart').css({'height':'initial','overflow':'initial'});
                $('#hr01').css('height',h-last-p+'px')
                $('#all').hide();
            }else{
                $('.chart').css({'height':'initial','overflow':'initial'});
                $('#hr01').css('height',h-last-p+'px')
                $('#all').hide();
            }

        }

    });


    //    描述查看全部
    var hp=$('.describe-p').height();
    if($(window).width()>=1024){
        if($('.describe-p').height()>200){
            $('.describe-p').css({'height':'12vh','overflow':'hidden','margin-bottom':'0'});
            $('.quan').fadeIn();
        }
    }else{
        if($('.describe-p').height()>85){
            $('.describe-p').css({'height':'11.4vh','overflow':'hidden','margin-bottom':'0'});
            $('.quan').fadeIn();
        }
    }
    $('.quan').on('click',function(){
        $('.describe-p').css({'height':'initial','overflow':'initial'});
        $('.quan').hide();
    })

</script>

<script type="text/javascript">
    var initPhotoSwipeFromDOM = function(gallerySelector) {

        // parse slide data (url, title, size ...) from DOM elements
        // (children of gallerySelector)
        var parseThumbnailElements = function(el) {
            var thumbElements = el.childNodes,
                    numNodes = thumbElements.length,
                    items = [],
                    figureEl,
                    linkEl,
                    size,
                    item;

            for (var i = 0; i < numNodes; i++) {

                figureEl = thumbElements[i];

                // include only element nodes
                if (figureEl.nodeType !== 1) {
                    continue;
                }

                linkEl = figureEl.children[0];

                size = linkEl.getAttribute('data-size').split('x');

                // create slide object
                item = {
                    src: linkEl.getAttribute('href'),
                    w: parseInt(size[0], 10),
                    h: parseInt(size[1], 10)
                };


                if (figureEl.children.length > 1) {
                    item.title = figureEl.children[1].innerHTML;
                }

                if (linkEl.children.length > 0) {
                    item.msrc = linkEl.children[0].getAttribute('src');
                }

                item.el = figureEl; // save link to element for getThumbBoundsFn
                items.push(item);
            }

            return items;
        };
        // find nearest parent element
        var closest = function closest(el, fn) {
            return el && (fn(el) ? el : closest(el.parentNode, fn));
        };

        // triggers when user clicks on thumbnail
        var onThumbnailsClick = function(e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;

            var eTarget = e.target || e.srcElement;

            // find root element of slide
            var clickedListItem = closest(eTarget, function(el) {
                return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
            });

            if (!clickedListItem) {
                return;
            }

            // find index of clicked item by looping through all child nodes
            // alternatively, you may define index via data- attribute
            var clickedGallery = clickedListItem.parentNode,
                    childNodes = clickedListItem.parentNode.childNodes,
                    numChildNodes = childNodes.length,
                    nodeIndex = 0,
                    index;

            for (var i = 0; i < numChildNodes; i++) {
                if (childNodes[i].nodeType !== 1) {
                    continue;
                }

                if (childNodes[i] === clickedListItem) {
                    index = nodeIndex;
                    break;
                }
                nodeIndex++;
            }



            if (index >= 0) {
                // open PhotoSwipe if valid index found
                openPhotoSwipe(index, clickedGallery);
            }
            return false;
        };
        var photoswipeParseHash = function() {
            var hash = window.location.hash.substring(1),
                    params = {};

            if (hash.length < 5) {
                return params;
            }

            var vars = hash.split('&');
            for (var i = 0; i < vars.length; i++) {
                if (!vars[i]) {
                    continue;
                }
                var pair = vars[i].split('=');
                if (pair.length < 2) {
                    continue;
                }
                params[pair[0]] = pair[1];
            }

            if (params.gid) {
                params.gid = parseInt(params.gid, 10);
            }

            return params;
        };

        var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
            var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    items;

            items = parseThumbnailElements(galleryElement);

            // define options (if needed)
            options = {
                // define gallery index (for URL)
                galleryUID: galleryElement.getAttribute('data-pswp-uid'),
                getThumbBoundsFn: function(index) {
                    // See Options -> getThumbBoundsFn section of documentation for more info
                    var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                            pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = thumbnail.getBoundingClientRect();

                    return {x: rect.left, y: rect.top + pageYScroll, w: rect.width};
                }

            };

            // PhotoSwipe opened from URL
            if (fromURL) {
                if (options.galleryPIDs) {
                    // parse real index when custom PIDs are used
                    // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                    for (var j = 0; j < items.length; j++) {
                        if (items[j].pid == index) {
                            options.index = j;
                            break;
                        }
                    }
                } else {
                    // in URL indexes start from 1
                    options.index = parseInt(index, 10) - 1;
                }
            } else {
                options.index = parseInt(index, 10);
            }

            // exit if index not found
            if (isNaN(options.index)) {
                return;
            }

            if (disableAnimation) {
                options.showAnimationDuration = 0;
            }

            // Pass data to PhotoSwipe and initialize it
            gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };

        // loop through all gallery elements and bind events
        var galleryElements = document.querySelectorAll(gallerySelector);

        for (var i = 0, l = galleryElements.length; i < l; i++) {
            galleryElements[i].setAttribute('data-pswp-uid', i + 1);
            galleryElements[i].onclick = onThumbnailsClick;
        }

        var hashData = photoswipeParseHash();
        if (hashData.pid && hashData.gid) {
            openPhotoSwipe(hashData.pid, galleryElements[ hashData.gid - 1 ], true, true);
        }
    };

    // execute above function
    initPhotoSwipeFromDOM('.my-gallery');



</script>

{/block}