{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/mediation/details.css">
<title>{$title}</title>
<style>
    a:active{
        background: #fff;
        color:red;
    }
    #all {
        width: 100vw;
        text-align: center;
        font-size: .3rem;
        color: #FE8B44;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1rem;
        line-height: 1rem;
        background: #fff;
        z-index: 9999;
        display: none;
    }
    #all:before {
        content: '';
        background:url(/home/images/icon_more.png)no-repeat ;
        width:.3rem;
        height:.3rem;
        position: absolute;
        top:50%;
        margin-top: -.15rem;
        right:32%;
        background-size: .3rem .3rem;
    }
</style>
{/block}
{block name="body"}
 <div class="chart" style="position: relative">
      <div class="lists">
          {volist name="response" id="vo"}
          <div class="list {eq name='$vo.check' value='1'}active{/eq}">
              <div class="num gray">{$vo.num}</div>
              <div class="state">{$vo.status_text}</div>
              {notempty name="$vo.d_time"}
              <p class="posleft">
                  {$vo.d_time}<br>
                  <span>{$vo.s_time}</span>
              </p>
              {/notempty}
              {eq name="$vo.num" value="4"}
              {notempty name="$model.feedback_mediator"}
              <p class="direc">
                  情况反馈：{$model.feedback_mediator}
              </p>
              {/notempty}
              {/eq}
              {eq name="$vo.num" value="5"}
              {notempty name="$model.satisfact"}
              <p class="direc">
                  本次协调满意度：{$model.satisfact}分<br>
                  对调解员满意度：{$model.satisfact_mediator}分<br>
                  {notempty name="$model.feedback_user"}
                  问题反馈：{$model.feedback_user}
                  {/notempty}
              </p>
              {/notempty}
              {/eq}
          </div>
          {/volist}
          <div id="hr01"></div>
          <!--<div class="hr02"></div>-->
      </div>
     <div id="all">查看全部信息</div>
 </div>
<div class="form">
    <div class="box">
        <span class="describe-title">事件名称 :</span><p class="describe-t">{$model.title}</p>
        <!--事件名称 ：<span class="con">{$model.title}</span>-->
    </div>
    <div class="box">
        当事人 ：<span class="con">{$model.parties}</span>
    </div>
    <div class="box">
       联系电话 ：<span class="con">{$model.mobile}</span>
    </div>
    <div class="box describe">
        <span class="describe-sp">描述 ：</span>
        <div class="describe-p">
            {$model.content}
        </div>
        <div class="imgs">
            <figure><a href="javascript:;" data-size="800x800"><img src="/home/images/banner/1.jpg" alt=""></a></figure>
            <figure><a href="javascript:;" data-size="800x800"><img src="/home/images/banner/1.jpg" alt=""></a></figure>
            <figure><a href="javascript:;" data-size="800x800"><img src="/home/images/banner/1.jpg" alt=""></a></figure>
            <figure><a href="javascript:;" data-size="800x800"><img src="/home/images/banner/1.jpg" alt=""></a></figure>
        </div>
    </div>
    <div class="box high">
        调解员 ：<img class="images" src="/home/images/lxyz/icon/not.png"  alt=""/>
        <span class="con">{$model.mediator}</span>
    </div>
</div>
{eq name="$user_tag" value="3"}
{eq name="$model.status" value="4"}
<a href="{:Url('Mediation/evaluate?id='.$id)}" class="remark">
    立即评价
</a>
{/eq}
{/eq}
{eq name="$user_tag" value="2"}
    {eq name="$model.status" value="2"}
    <a href="#" class="remark1">确认</a>
    {/eq}
    {eq name="$model.status" value="3"}
    <a class="remark2" href="{:Url('Mediation/opinion?id='.$id)}">处理反馈</a>
    {/eq}
{/eq}
{eq name="$user_tag" value="1"}
{eq name="$model.status" value="1"}
<div class="bot">
    <span class="fle">审核通过</span>
    <span class="fri" onclick="go({$id})">审核不通过</span>
</div>
{/eq}
{/eq}
{/block}

{block name="script"}

<script>
    if($(window).width()>=768){
        $('.form').css('margin-bottom','9vh')
    }
    $('.lists .state').each(function(){
        if($(this).html()=='待审核') {
            $('.bot').css('display','block');
        };
        if($(this).html()=='已审核') {
            $('.remark1').css('display','block');
        };
        if($(this).html()=='调解员待确认') {
            console.log($(this).html()=='调解员待确认');
            $('.remark1').css('display','block');
            console.log($('.remark1'));
        };
        if($(this).html()=='调解员已确认') {
            $('.remark1').css('display','none');
            $('.remark2').css('display','block')
        };
        if($(this).html()=='待评价') {
            $('.remark').css('display','block')
        };


    });
    $('.remark1').on('click',function(){
        var id= {$id};
        $('.lists .state').each(function(){
            if($(this).html()=='调解员待确认') {
                $(this).parent().addClass('active');
                $.ajax({
                    type: "post",
                    url:"{:Url('Mediation/confirm')}",
                    data: {
                        id:id,
                    },
                    success: function(data){
                        console.log(data)
                        //成功后刷新页面
                        if(data.code == 1){
                            $('.remark1').css('display','none');
                            history.go(0);
                        }else{
                            setTimeout(function(){
                                swal("操作失败","",'error')
                            },200);
                        }
                    }
                })

            };

        });
    })
    $('.fle').on('click',function () {
        var id='{$id}';
        $.ajax({
            type: "post",
            url:"{:Url('Mediation/check')}",
            data: {
                id:id,
                status : 1,
                mediatorid:1
            },
            success: function(data){
                console.log(data)
                //成功后刷新页面
                if(data.code == 1){
                      history.go(0);
                }else{
                    setTimeout(function(){
                        swal("操作失败","",'error')
                    },200);
                }
            }
        })
    });
    function go(id) {
        window.location.href='/home/mediation/noapprove/id/'+id+'.html'
    }
    var h = $('.lists').height();
    var num = 0;
    var p=parseFloat($('.list').eq(0).css('padding-bottom'))
    var s=parseFloat($('.state').eq(0).css('margin-bottom'))
    var ht=$('.list').eq(0).height()+$('.num').eq(0).height()+$('#all').height()+p+s-1;
    for(var i=0;i<$('.list').length;i++){
        if(i=$('.list').length){
           num = i;
        };
        if(i>3){
            $('.chart').css({'height':ht+'px','overflow':'hidden'});
            $('#all').show();
        }
    }
    if($(window).width()>=768){
        for(var i=0;i<$('.list').length;i++){
            if(i=$('.list').length){
                num = i;
            };
            if(i>3){
                var ht=$('.list').eq(0).height()+$('.num').eq(0).height()+$('#all').height()+p+s-3;
                $('.chart').css({'height':ht+'px','overflow':'hidden'});
                $('#all').show();
            }
        }
    }
    var s = $('.list').eq(num-1).height();
//    $('.list').eq(num-1).find('.hr02').remove()
    $('#hr01').css('height',h-s-10);
    if($(window).width()>1068){
        for(var i=0;i<$('.list').length;i++){
            if(i=$('.list').length){
                num = i;
            };
            if(i=2){
                $('#hr01').css('height',h-s-15);

            }
            if(i>3){
                $('#hr01').css('height',h-s-25);
            }
        }
    }
    $('.list').each(function(){
        if($(this).hasClass('active')){
            $(this).append('<div class="hr02"></div>');
        }
        if($(this).next().hasClass('active')){
            $(this).find('.hr02').css('height',$(this).height()+p)
        }
    })
//    var lastH = $('.list').eq(num-2).find('.hr02').height()*0.8;
//    $('.list').eq(num-2).find('.hr02').css('height',lastH);
//    $('.list').eq(num-1).find('.hr02').remove();
    $('#all').on('click',function(){
        $('.chart').css({'height':'initial','overflow':'initial'});
        $('#all').hide();
    })

</script>
{/block}