{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure.css">
{/block}

{block name="body"}

<div class="table">
	<div class="thead clear">
		<div class="th fl party">党组织名称</div>
		<div class="th fl position">党内职位</div>
		<div class="th fl name">姓名</div>
	</div>
	<!--一组-->
	<div class="tbody">
		<div class="tb fl party">
			<span>凫村党工委</span>
		</div>
		<div class="tb fl position">
			<span>书记</span>
			<span>副书记</span>
			<span>委员</span>
		</div>
		<div class="tb fl name">
			<span>尹达文</span>
			<span>尹柱荣</span>
			<span>尹金海</span>
		</div>
	</div>
	<!--/一组-->
</div>
{/block}

{block name="script"}
<script>
$('title' ).text('组织架构');
$('.tbody' ).each(function(){
	var this_ = this;
	var h = $(this ).find('.position' ).height();
	var h_ = $(this ).find('.party>span' ).height();
	$(this ).find('.party' ).height(h);
	$(this ).find('.party>span').css('margin-top',h/2-h_/2+'px');

});
$(function(){

});
</script>
{/block}