{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/service/organization.css">
<title>组织概况</title>
<style>
    #nomessage{
        width:26.6vw;
        height:26.6vw;
        margin: 10vw auto;
        /*display: none;*/
    }
    #nomessage img{
        width:100%;
        border: 0;
        vertical-align: top;
    }
</style>
{/block}
{block name="body"}
<div class="vr">
	<img data-original="/home/images/lxyz/icon_016.png" class="lazy">
	<!--<div class="vrText" id="isVR">-->
	<!--<img src="/home/images/lxyz/icon_015.png">-->
	<!--<p>点击进入全景展示</p>-->
	<!--</div>-->
	<div class="vrText" id="noVR">
		<img src="/home/images/lxyz/icon_014.png">
		<p>全景拍摄中....</p>
	</div>
</div>
<div class="user">
	<div class="userTop">
		<img class="clearfix" src="/home/images/lxyz/icon_017.png"><p class="bu">{$departmentName}</p>
	</div>
    {notempty name="$modelAll"}
	<div class="userSort">
		<ul>
			{volist name="modelAll" id="vo"}
			<li>
				<div class="userleft">{$vo.surname}</div>
				<div class="userright">
					<p class="userright_01">{$vo.name}</p>
					<p class="userright_02">{notempty name="$vo.position"}{$vo.position}{else/}暂无职务{/notempty}</p>
				</div>
			</li>
			{/volist}
		</ul>
	</div>
    {else/}
    <div id="nomessage">
        <img src="/home/images/nomessage.png" alt="无消息">
    </div>
    {/notempty}
</div>
{/block}

{block name="script"}

<script>
    var url = document.referrer;
    if (url.indexOf(31) > 0) {

    }else {

    }
    $("img.lazy").lazyload({
        placeholder: "/home/images/loading.jpg",
        effect: "fadeIn",
        threshold : 500
    });
    $(document).scroll(function() {
        $("img.lazy").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });

    for(var j=0;j<$('.userSort .userleft').length;j++){
        $('.userSort .userleft').eq(j).css('background',getColor())
    }
    //定义一个函数，实现随机生成十六进制颜色值
    function getColor(){
        //定义字符串变量colorValue存放可以构成十六进制颜色值的值
        var colorValue="0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f";
        //以","为分隔符，将colorValue字符串分割为字符数组["0","1",...,"f"]
        var colorArray = colorValue.split(",");
        var color="#";//定义一个存放十六进制颜色值的字符串变量，先将#存放进去
        //使用for循环语句生成剩余的六位十六进制值
        for(var i=0;i<6;i++){
            //colorArray[Math.floor(Math.random()*16)]随机取出
            // 由16个元素组成的colorArray的某一个值，然后将其加在color中，
            //字符串相加后，得出的仍是字符串
            color+=colorArray[Math.floor(Math.random()*16)];
        }
        return color;
    }
</script>
{/block}